[2018-03-19 10:03] volframka commented on #1850
Ok...
My English is not very good, but I'll try to explain.

Our company use the Oracle DataBase.
We have about 10,000 different stored procedures.
Most of them return cursors. In various combinations. It can be 3 refractors, or 1 refcoursor and anything else (int, string, etc).
We decided to switch to PostgreSQL. (little by little)
Would like to do this with minimal code changes.
Stored procedure

[2018-03-19 10:10] roji commented on #1850
OK, I understand better.

Is it possible for you to change your stored procedures to return tables instead of refcursors? This is the way it is (usually) done in PostgreSQL, and aside from being simpler it has a perf advantage (refcursors require an extra database roundtrip to get the actual results). If you can change your stored procedures, then it is likely that you don't need to change your C#

[2018-03-19 10:49] volframka commented on #1850
I can't impose a restriction on other developers.
My 5 functions should always work:
ExecuteReader return IDataReader
FillDataTable return DataTable
FillDataSet return DataSet

ExecuteScalar and ExecuteNonQuery (There are no problems with them.)

I used the code  from #1785.
[code]

I use my PostgreDataReader, because I hide the opening of a transaction.

This code is good, but it does not conside

[2018-03-19 10:59] roji commented on #1850
Is it possible for you to rewrite your functions to return columns directly ('RETURNS TABLE') instead of a refcursor?

[2018-03-19 11:09] volframka commented on #1850
I will talk with colleagues and answer.

[2018-03-19 13:45] volframka commented on #1850
We will recommend using RETURNS TABLE.
But we need to support only one case:
[code]
I thought it could be solved like this:
[code]

But I have an error:
Message: Commands with multiple queries cannot have out parameters

[2018-03-19 14:43] roji commented on #1479
Am simply going to do the current recommended best practice (https://github.com/aspnet/Universe/issues/131#issuecomment-363269268):
* Include the PDB in the main nupkg
* Use SourceLink to link to github

[2018-03-19 15:06] FlorianRainer commented on #1810
@roji thanks for your feedback and i realy agree with your opinion to find the "source" of the problem and not finding workarounds to avoid it. Maybe someday i have the time to digg deeper, but for now its not possible, not for my personal preference its more a time management problem...

how ever, to answer your 3 points:

* preparing too many statements: i don't think this is a problem, if there

[2018-03-19 15:30] roji commented on #1810
That's perfectly reasonable.

Again, I find it really hard to believe the PostgreSQL leaks memory (because that's what we're talking about) as a result of normal usage, even if you're touching/updating massive amounts of data. This would be a serious issue that many applications would run into, I'd really have to see a repro in order to believe it...

I'm in the process of releasing preview1, so i

[2018-03-19 15:43] roji commented on #1850
That's great, I really think it will simplify everything and also optimize things a little.

As for returning multiple refcursors, try returning them as a resultset rather than using OUT parameters:

[code]

[2018-03-19 16:03] ajcvickers commented on #1483
@divega @anpete @AndriySvyryd  Interesting perf discussion here on ambient transaction enlistment.

[2018-03-19 17:21] roji commented on #1483
@ajcvickers @divega @anpete @AndriySvyryd it would be good to hear your input on this

[2018-03-19 18:42] AndriySvyryd commented on #1483
I agree with @fredericDelaporte. Enlisting should be opt-out. In my mind usability comes before performance.

EF currently doesn't have a way to opt-out of ambient transaction checks and the perf benefit should be considerable to even add that option. Because inevitably it will get into a "Top 10 hacks to make EF faster" list and used without full understanding of the implications.

[2018-03-19 19:01] dmitry-a-morozov commented on #1696
Looks great !
How do I migrate from ``PostgisGeometry`` type?
My understanding it's considered legacy now.

[2018-03-19 19:08] divega commented on #1483
@roji While I am not able to find any documentation that points that ADO.NET providers should auto-enlist by default, this has had me a bit concerned for a while.

When you are using a provider that doesn't support System.Transactions (or that doesn't enlist by default), the calls to System.Transactions APIs become no-op. You would need to write a test that rolls back changes made to the database

[2018-03-19 19:10] GHosaPhat commented on #939
I think I may have an idea of what was causing the issue in my environment, and it has to do with a less-than-optimal setup for my code.  I'm running a rather long-running loop in which I execute multiple statements against the database.  The "problem" seems to be that, every time I execute a statement, I close the connection to the PostgreSQL database, which forces it to reopen the connection for

[2018-03-19 19:17] roji commented on #1696
@dmitry-a-morozov we're heading there, but not yet... #1816, which will provide PostGIS support with NetTopologySuite, is still in progress and hasn't been released yet.

[2018-03-19 19:25] roji commented on #1483
Thanks for your inputs, I'll switch enlisting to on by default and document the performance aspects.

[2018-03-19 19:35] #1483 closed

[2018-03-19 20:17] YohDeadfall commented on #1787
Should we support short (legacy) CRS names? PostGIS support that via setting `options` of `ST_AsGeoJSON` to 2 ([docs](http://www.postgis.org/docs/ST_AsGeoJSON.html)).

[From the obsolete specification](http://geojson.org/geojson-spec.html#named-crs):

[From RFC 7946, GeoJSON](https://tools.ietf.org/html/rfc7946#section-4):

So the RFC says that a CRS shouldn't be specified at all. It's for backwar

[2018-03-19 20:17] johnfedak commented on #1646
How does the new Commit() work if the copy is run from w/in a transaction.

i.e. what happens if you Commit() the import but Rollback() the transaction?

[2018-03-19 20:45] roji commented on #1483
Related pull requests:

* https://github.com/aspnet/DataAccessPerformance/pull/35
* https://github.com/aspnet/benchmarks/pull/419

[2018-03-19 21:29] roji commented on #1646
@johnfedak, is the COPY operation is performed inside a transaction it's part of that transaction. So if you call `Commit()` on the `NpgsqlBinaryImporter` and then `Rollback()` on the transaction, the import will be rolled back.

So having a method named `Commit()` on `NpgsqlBinaryImporter` is obviously bad naming... We can change it to `Complete()`, which doesn't imply that changes are actually c

[2018-03-19 21:34] roji commented on #1787
I really don't know anything about this... If it's zero effort to implement this, then why not. Otherwise I'd skip if it's really legacy backwards compat.

[2018-03-19 21:40] johnfedak commented on #1646
Thanks for the quick response.  Complete() does seem like it will cause less confusion.

[2018-03-19 21:53] roji commented on #1646
Renamed, thanks for pointing this out.

Does anyone have any thoughts [on my comment above](https://github.com/npgsql/npgsql/issues/1646#issuecomment-372282722)?

[2018-03-19 22:19] roji commented on #939
@GHosaPhat thanks for posting back with the additional details.

I assume from your answer that you've disabled connection pooling? Unless you specify `Pooling=false` in the connection string, when you close an NpgsqlConnection it doesn't actually gets closed, but rather gets stored internally in a pool. When you next call `Open()` on a connection with the same connection string, that idle connect

[2018-03-20 00:47] YohDeadfall commented on #1787
Added it too for compatibility with the `ST_AsGeoJSON` function.

[2018-03-20 01:00] YohDeadfall commented on #1787
@roji please add PostGIS and plugins labels, and remove up for grabs.

[2018-03-20 08:08] volframka commented on #1850
Mmm...
How can I get the result in this case?
Stored Procedure:
[code]

My ExecuteReader:
[code]

My test function:
[code]
When called: reader.GetOrdina
Error: 'Field not found in row: int'

If I delete this string:
When called: reader.Read() - return null;

[2018-03-20 09:23] Smp-xmedicus commented on #1809
I have closed mono/mono#7569, due to the comments above.

[2018-03-20 09:24] roji commented on #1850
The function with `RETURNS TABLE (rout refcursor, rout2 refcursor)` returns a single database row with two columns, both of them refcursors. In C# you now have to fetch the results of each refcursor with FETCH, just as you did before in [this example](https://github.com/npgsql/npgsql/issues/1850#issuecomment-374216363).

[2018-03-20 09:30] volframka commented on #1850
In the beginning, I did so.
When called: reader.Read() - return null;
And I can not get the name of the cursor.
I can't FETCH...

[2018-03-20 09:34] roji commented on #1809
@madsjohnsen I looked through `DoReadMessage()` in the master branch (3.2.7), and I don't see how it could return null, *unless* `readingNotifications` is set to true (which it isn't in the case of `ReadExpecting()`, executed from `Prepare()`). Am I missing something? `DoReadMessage()` is never supposed to return null (there's `Debug.Assert()` for that at the end, with the only exception being if

[2018-03-20 09:37] roji commented on #1850
`reader.Read()` is returning null because... your function isn't returning anything... `OPEN rout FOR SELECT int FROM test` doesn't return the refcursor from the function... You need to use `RETURN` for that.

Please read [the documentation](https://www.postgresql.org/docs/current/static/sql-createfunction.html) and understand how functions work.

[2018-03-20 09:38] roji commented on #1787
@YohDeadfall done

[2018-03-20 10:17] volframka commented on #1850
OK! I will study this.

But I have a doubt:
In this case.
When I call any FETCH ALL...
I will not get an error?
Message: Commands with multiple queries cannot have out parameters.

[2018-03-20 10:24] roji commented on #1850
No. You have to do `FETCH ALL` *twice* - once for each refcursor. So you first read the two refcursors and close the first reader, then you execute two new commands, one to do `FETCH ALL` on the first cursor, and one to do `FETCH ALL` on the second cursor.

[2018-03-20 13:10] YohDeadfall commented on #1803
@roji This is a bug because of:

https://github.com/npgsql/npgsql/blob/5a07635d992d393735d51793ac8e6f6036cabf30/src/Npgsql/TypeHandlers/DateTimeHandlers/TimestampHandler.cs#L76-L77

It's a `timestamp without time zone`. Therefore, the kind should be`Unspecified` and no conversions should be performed. If you agree I'll take care of this.

[2018-03-20 13:21] YohDeadfall commented on #1808
@roji Assign it to me after finishing with GeoJSON. It's a popular package and therefore should be supported without conversions. Also please mark the issue as PostGIS.

[2018-03-20 13:37] roji commented on #1816
@YohDeadfall FYI I don't think we need to wait for https://github.com/NetTopologySuite/NetTopologySuite/pull/221 to be merged before merging this into Npgsql, in case we'll be be updating the dependency on NTS as it matures.

[2018-03-20 13:39] YohDeadfall commented on #1816
Agree. Will add `Ignore` to tests.

[2018-03-20 13:43] roji commented on #1808
I don't know how popular Microsoft.Spatial is for *database* interaction, a part of me wants to wait until someone actually requests the plugin. But if you really feel like doing this I won't stand in your way...

[2018-03-20 13:50] YohDeadfall commented on #1808
Let's publish it and see what happens. Collected statistics will help us and Microsoft to take future decisions. It isn't hard to write a plugin since I have an experience and can use the GeoJSON plugin codebase. If nobody wants it then we just drop support. Not a big deal.

[2018-03-20 14:33] GHosaPhat commented on #939
@roji - Per our conversation, I'm continuing the thread with additional information here.  I'll try to provide as much detail as possible so anyone that comes across this thread has some decent resources to work with.

I *did* have the connection pooling explicitly disabled in the connection string at one time, but not currently.  It was one of a few settings I was toying with while troubleshootin

[2018-03-20 14:43] roji commented on #1808
OK, sounds good.

[2018-03-20 16:39] roji commented on #1803
@YohDeadfall can you explain exactly what you mean? The code you show indeed takes an NpgsqlDateTime with Kind=Unspecified and calls `ToDateTime()` on it, where do you see any conversions being performed?

[2018-03-20 17:15] YohDeadfall commented on #1803
It's a mind frapping, though that it's `DateTime.ToLocalTime()`, do not mind.

[2018-03-20 17:30] roji commented on #1803
No problem, these date/time timezone issues are really bad. Do you want to investigate this issue?

[2018-03-20 18:06] dmitry-a-morozov opened #1857 "Consider type forwarding for NpgsqlTypes.PostgisGeometry in v4.*"
To smooth out migration from v3.* to v4.* consider using type forwarding for `NpgsqlTypes.PostgisGeometry`.

https://docs.microsoft.com/en-us/dotnet/framework/app-domains/type-forwarding-in-the-common-language-runtime
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.typeforwardedtoattribute?view=netstandard-2.0

Disclaimer:
I never used this technique personally because

[2018-03-20 18:26] roji commented on #1857
Do you think this is useful considering that users will have to install the nuget anyway? I'm used to type references when they transparently facilitate the transition, but that's not going to be possible here...

[2018-03-20 18:30] YohDeadfall commented on #1857
It will not work without having PostGIS handler libraries in the main package.

[2018-03-20 18:42] dmitry-a-morozov commented on #1857
@roji Does compiler give a warning that assembly `Npgsql.LegacyPostgis` is not installed if there type forwarding defined in `Npgsql`? If so it's certainly useful.
This is only suggestion anyway. Feel free to close it.

[2018-03-20 18:45] dmitry-a-morozov commented on #1857
@YohDeadfall Having PostGIS  handler is orthogonal issue.
Even when `Npgsql.LegacyPostgis` is referenced but handler is not configured it fails anyway, right?

[2018-03-20 19:12] YohDeadfall commented on #1857
The idea of `TypeForwardedToAttribute` is to move a type to a different assembly without having an exception at runtime. It allows to use moved types without recompiling your assemblies.

Yes. It's not possible to use the handler without mapping.

[2018-03-20 20:15] YohDeadfall commented on #1803
Npgsql transfers the first parameter value as `timestamptz` which is converted later to `timestamp` by PostgreSQL. It's a source of the problem:

https://github.com/npgsql/npgsql/blob/5a07635d992d393735d51793ac8e6f6036cabf30/src/Npgsql/TypeMapping/ConnectorTypeMapper.cs#L137-L149

@roji I think the behavior should be changed to not take into account the date time kind at least for the `DateTime` t

[2018-03-21 14:45] volframka commented on #1850
@roji
This does not suit us....
After all the thinking, there is one more question:
Why 'RETURNS TABLE' more efficient than refcursor?

[2018-03-22 15:59] JSzut opened #1861 "UWP error NUTC3054 when release build try"
Trying to make a release build I got such an error:
`Error: NUTC3054:The generic parameters are too complex. This may be an indication of infinite generic expansion which is not currently supported while loading type 'NpgsqlTypes.NpgsqlRange`1<NpgsqlTypes.NpgsqlRange`1<NpgsqlTypes.NpgsqlRange`1<NpgsqlTypes.NpgsqlRange`1<NpgsqlTypes.NpgsqlRange`1<NpgsqlTypes.NpgsqlRange`1<NpgsqlTypes.NpgsqlRange`1<

[2018-03-22 16:11] YohDeadfall commented on #1861
It's not a Npgsql error. As Dave Smits [commented](https://stackoverflow.com/questions/49431460/uwp-npgsql-error-nutc3054-the-generic-parameters-are-too-complex#comment85865404_49431460) on Stack Overflow, you should file the bug to Microsoft.

[2018-03-22 16:12] JSzut commented on #1861
Thanks a lot.

[2018-03-23 11:20] AuthorProxy commented on #1504
Maybe should comment on docs that you shouldn't use http://www.npgsql.org/doc/logging.html because you already have default `Microsoft.AspNetCore` and `Microsoft.Extensions.Logging`

[2018-03-23 15:51] roji commented on #1504
@AuthorProxy how do you mean? As this issue and the docs state, Npgsql requires a `INpgsqlLoggingProvider` as in Npgsql 3.1 to log anywhere (NLog or otherwise), `Microsoft.Extensions.Logging` is not supported.

[2018-03-24 07:36] higuchi-daisuke opened #1862 "Some regression tests are failed when I use latest source code (dev branch)"
Hi,
On my environment, some tests are failed when I use current **dev branch**.
For example SystemTransactionTests.TwoConsecutiveConnections.

### Steps to reproduce
Run SystemTransactionTests.TwoConsecutiveConnections by using dev branch.

### The issue
Specifically, second Assert.That of TwoConsecutiveConnections is failed and error popup is appeared.

        public void TwoConsecutiveConnectio

[2018-03-24 21:30] YohDeadfall commented on #1861
The C5 project also faced that issue two years ago. So you can contact @MattWhilden because he knows about the problem and probably worked on it.

[2018-03-26 03:40] tedypranolo opened #1865 "Question: How to implement NpgsqlTypeHandler that converts between int4 and CLR Enums"
I want to map
[code]
to
[code]
So I created a modified Int32Handler
[code]
I was trying to read an output parameter which has the type of ```public.food[]```. And it was failing because npgsql tried to set `int` into `Food.ClassId`.

On this line
https://github.com/npgsql/npgsql/blob/9de21a0c12b58c6765e1f7f5292d5b0e09e83d10/src/Npgsql/TypeHandlers/UnmappedCompositeHandler.cs#L100
I verified that `

[2018-03-26 06:04] roji commented on #1865
I should write some docs on the extensibility API.

if what you want to do is to write and read your CLR enum type as int, then your handler should extend `NpgsqlTypeHandler<Classification>`, not `int`. Internally it would read and write it's to the buffer, but from your applications it would accept and return your enum type. You would basically copy paste the internet handler and add the appropri

[2018-03-26 06:17] tedypranolo commented on #1865
This seems to suggest that we can only have one handler per PgTypeName, which is `int4` in this case
https://github.com/npgsql/npgsql/blob/fc6f5303d603ef086cf1781ebdbc9c1dc20c1ec7/src/Npgsql/TypeMapping/TypeMapperBase.cs#L40-L46
So if I implement NpgsqlTypeHandler<Classification> and add its mapping, it would be the only int4 handler. I wouldn't be able to use NpgsqlTypeHandler<SomeOtherEnum> with

[2018-03-26 08:07] roji commented on #1865
Apologies, you're correct that the way I proposed above would "hijack" the PG int type and not allow you to handle regular intervals.

If you go back to your original attempt which was actually more correct... It should work fine if you use `GetFieldValue<Classification>` rather then `ReadAsObject`.

In a nutshell, the ADO.NET API allows you to read a column *as* a certain CLR type via `GetFieldVa

[2018-03-26 13:33] BStramke opened #1866 "Requests with NpgsqlCommand Parameters fail with Mono 4.6.2 and Npgsql v3.2.7 (and v4.0.0) - Works with Npgsql v3.2.6"
### Quick Summary:

Npgsql v3.2.7: Requests with NpgsqlCommands fail with Mono 4.6.2. Interestingly they work without using Parameters. They also work on Windows 10.

**_BUT: With Npgsql v3.2.6 it works!_**

### Steps to reproduce

This is my Example Program.cs:
[code]

### The issue
Requests with NpgsqlCommands don't work with Mono.

Full Exception Details / Console Output:
[code]

### Further te

[2018-03-27 14:08] roji commented on #1861
Closing as non-Npgsql-related, will reopen if there's any indication to the contrary.

[2018-03-27 14:08] #1861 closed

[2018-03-27 20:43] divega opened #1867 "NpgsqlParameter should implement IDbDataParameter"
Npgsql has the same problem as MySqlConnector and that SqlClient 4.3.0 had: it is not possible to use the provider-agnostic interface to set Precision and Scale:

[code]

The full story is very long and somewhat unfortunate: https://github.com/dotnet/corefx/issues/23899. But our hands are tied.

The good news is that you can apply [the same solution that MySqlConnector used](https://github.com/mys

[2018-03-27 20:58] YohDeadfall commented on #1867
I'll fix it tomorrow, but don't know when @roji will be able to merge it. Thanks for reporting!

[2018-03-27 21:15] roji commented on #1867
I understand the issue.

Please note that I intend to drop support for .NET 4.5, because it's reached end-of-life and because it's starting to limit us in terms of API (see https://github.com/npgsql/npgsql/commit/45e33ecef21f75f51a625c7b919a50da3ed8e920#r28219577). But we'd want to backport this to Npgsql 3.2 anyway, so @YohDeadfall if you submit a PR today/tomorrow include the .NET 4.5 support fo

[2018-03-28 07:05] roji opened #1868 "Refactor WriteStream out of NetTopologySuite plugin"
To NpgsqlWriteBuffer, similar to what `NpgsqlReadBuffer.GetStream()` returns for reading.

See https://github.com/npgsql/npgsql/pull/1840/#discussion_r173635329

[2018-03-28 07:10] roji commented on #1816
Merged #1840 (thanks @YohDeadfall), but keeping this issue open to track:

* Merging of https://github.com/NetTopologySuite/NetTopologySuite/pull/221
* Tracking RTM of NTS 1.15.0 and updating dependencies on the Npgsql side

[2018-03-28 10:14] roji commented on #1850
I'm not sure why, in https://github.com/npgsql/npgsql/issues/1850#issuecomment-374216363 you already have a wrapper that sends `FETCH ALL` if the returned datatype is `refcursor` - why not two?

Because `RETURNS TABLE` just returns the data. Returning a refcursor means that your application has to read the refcursor, and then send a `FETCH ALL` to get the data. That's two database round-trips inst

[2018-03-28 12:31] #1867 closed

[2018-03-28 12:46] roji commented on #1867
Thanks @YohDeadfall, merged and backported to 3.2.8.

[2018-03-28 13:38] KlausHolzapfel opened #1870 "Exception with parsing connection string on Japanese Windows Server 2008 r2"
### Steps to reproduce

I have a simple connection string:
        _private static string strConnection = "Server=localhost;Port=5432;Database=dbname;Username=user1;Password=mypass;Persist Security Info=True";_

an use it to connect with:

[code]

### The issue

This works on all computer I tested so far, but throws an exception on a Windows Server 2008 R2 machine.

Exception message:
Stack trace:

[2018-03-28 15:38] roji commented on #1870
Actually, it would seem that the .NET version is partial, and could mean .NET Framework 4.0, 4.5 or other version. Can you please report the full version that you have installed?

[2018-03-29 03:09] DaManJ commented on #1427
@EvilSakray Wow, yes, this is also my problem.
I am using latest VSIX extension 3.2.7 with VS2017.
When my project is built, and I try to open the .edmx file for viewing, I receive the "Could not load EntityFramework5.Npgsql assembly, is it installed?"  error.
However, if I clear my project, I can open it. Thanks for this workaround.

[2018-03-29 07:01] roji commented on #1427
Thanks for posting the info. Closing as this seems to be a VS cleanup issue rather than anything that needs to be fixed in the VSIX itself.

[2018-03-29 07:01] #1427 closed

[2018-03-29 07:23] nerai opened #1871 "How to do a multirow insert?"
Hello,

I would like to insert several rows in a batch into a table in a single command. I do not want to use COPY, and I do not want to add a separate "INSERT ..." line of text for each row.

I found a statement saying this should be supported starting in npqsql 3, but there seems to be no documentation of this feature at all. How could this be done?

Also thank you for this nice library :+1:

[2018-03-29 07:41] roji commented on #1871
Batching is done simply by sending multiple SQL statements in your CommandText - the entire command, including all its statements, gets sent together as a batch (`INSERT ...; INSERT ...`). In addition, if the INSERT statements in the batch are identical (and therefore also parameterized), you can benefit from statement preparation as well.

Your options for multiple inserts are:

1. COPY (definite

[2018-03-29 07:41] #1871 closed

[2018-03-29 08:55] EkoMcCloud commented on #1427
Personally I faced this problem no matter the configuration. Even after multiple relaunch/cleanup.
I gave up and I'm currently migrating the project to dotnetcore 2.0, since edmx files disappeared that shouldn't be an issue to me anymore.
However i'm still not able to visualize data from the db explorer (error 42P01). I'm wondering if there are missing quotes in the requests built (my schema name

[2018-03-29 10:11] nerai commented on #1871
Thank you for this quick response!

I will consider COPY in the future, but for now, I would like to understand how to go without it - partially because it seems less agnostic and brings a (few) restrictions with it, partially because I am just curious how to do it without.

I am specifically looking for how to do 3) in your list of options. If I were writing the parameters into the command string

[2018-03-29 16:04] collegeman opened #1872 "Why no build for 3.1.10?"
I'm trying to get Microsoft BI connected to our data warehouse in Heroku. I'm getting an error about the cert not being able to be accepted. I see that there are options in the 3.1.10 release of the provider (connector?) that allow for some control over this, but there's no built version of it in the release and I don't have the tools to be able to do the build.

Any chance someone can post a buil

[2018-03-29 23:03] kspeakman opened #1874 "F# records cannot be mapped as composite types"
MapComposite has a default constructor restriction. F# records have no default constructors. They are generated with a full constructor with all properties. I am only using composite types as **query input**, so (I think) I could use records with no problem if this restriction was lifted.

I understand that this restriction is so you can construct and set properties when users `SELECT` composite t

[2018-03-30 07:05] roji commented on #1874
@kspeakman thanks for this, I'm interested in better supporting F# (even though I'm a total beginner).

I'll try to work on this if I find any spare time, looking for the constructors shouldn't be too hard.

[2018-03-30 16:11] weweilep commented on #1188
Any update on this?  Seems like this should be a core functionality.

[2018-03-30 21:51] nerai commented on #1871
Thank you for your detailed answer, that was very nice. I understand it better now :+1:

[2018-03-31 11:28] amanjoud opened #1875 "Power BI - PostgreSQL npgsql connection error - An error happened while reading data from the provider: 'Column is null'"
Hi Team,

    When trying to connect to PostgreSQL DB using MS Power BI or Excel Power Query we got the following error:

Unable to connect
We encountered an error while trying to connect.
Details: "An error happened while reading data from the provider: 'Column is null'

![image](https://user-images.githubusercontent.com/33253625/38162752-6fb7c90e-34e7-11e8-91f7-5c88e3b24961.png)

[code]

### Fur

[2018-03-31 12:30] roji commented on #1875
I don't really know much about Power BI or Excel Power Query, but obviously someone is trying to read a value from a column that happens to be null (i.e. a method such as `NpgsqlDataReader.GetIn32()` was called on a null column). I can't really help you any further than that because that's an issue for those products...

Try posting a question on stackoverflow, you may have better luck there...

A

[2018-03-31 12:30] #1875 closed

[2018-03-31 23:36] tedypranolo commented on #1865
Sorry, I haven't had a chance to test this out. But what I'm doing in my real project is calling a function that returns multiple resultsets as output parameters (all array of table composites. Ex: Food[], Order[], Person[]) which I retrieve with `ExecuteScalar()`.
[code]
So I'm not using GetFieldValue<T> directly. Everything is handled automatically by UmappedCompositeHandler. I was originally ho

[2018-04-01 05:03] roji commented on #1865
Overriding/overriding UnmappedCompositeHandler isn't possible (at least the way things are right now) - there's some special handling for that inside Npgsql, this comes from the very nature of it handling unmapped types...

However, your approach of replacing the integer type handler to also read/write your enums *should* work, as long as you set up your handler before anything else happens. If it

[2018-04-01 05:14] roji commented on #971
SSL compression has been [deprecated as insecure](http://www.postgresql-archive.org/disable-SSL-compression-td6010072.html), and there's a conversation about implementing compression inside the protocol regardless of SSL, including possibly better compression algorithms. Closing this.

[2018-04-01 05:14] #971 closed

[2018-04-01 05:18] roji commented on #1033
The current state of affairs:
* SSL compression seems to be completely off the table (#971)
* The RDS issue (which wasn't related to RDS at all) is fixed (#576)
* Redshift doesn't do renegotiation (#1482)
* Mono's SslStream implementation has been fixed
* I know .NET Core's SslStream has gotten a lot of attention at Microsoft and should perform much better than it used to.

So for 4.0 it will no l

[2018-04-01 09:01] tedypranolo commented on #1865
While I was creating the test, I just realized the problem is not setting `int` to an `SomeEnum` property (Which turns out works by default).  But setting `int` to `Nullable<SomeEnum>`.

The reason I'm not using PostgreSQL enums is because the actual C# enum has some specific integer values.

Here's the test code, I added this to `Npgsql.Tests.Types.CompositeTypes.cs`.
[code]

[2018-04-01 14:34] roji opened #1876 "Support nullable fields on composite types"
Support for reading nullable scalars has been added to NpgsqlDataReader (#1728), but nullable fields on composite types aren't supported yet. Look at this for both mapped and unmapped.

[2018-04-01 14:40] roji commented on #1865
Ah, that makes sense. Support for reading nullables has actually been added (#1728), but that's only for reading nullable nullable scalars directly from NpgsqlDataReader, so it won't help you. I've just opened #1876 to track that.

I see, and you absolutely want the C# numeric values to be stored in PostgreSQL, is that it? That would indeed be a good reason to store ints in the database rather tha

[2018-04-01 15:07] tedypranolo commented on #1865
Unfortunately, the C# enum  is an existing data I have no control of. My current workaround works well enough, so I will wait for #1876. Thank you very much for the help.

[2018-04-01 17:52] anttirt opened #1877 "New API for notification handling"
As discussed earlier on gitter, I'd like to suggest an alternate design for the current `Notification` event and `Wait` / `WaitAsync` system, as the current is API difficult to understand and work with.

In particular, my proposal would be to add an internal notification queue member (perhaps as simple as a `System.Collections.Generic.Queue<Tuple<string, string>>`) to `NpgsqlConnection`, into whic

[2018-04-01 19:47] roji commented on #1865
Understood, thanks for the extra details.

[2018-04-02 04:30] roji commented on #1877
Some questions:

* What would you do with the current event API? Would you leave both active at the same time? Is every notification dispatched both via the event and into the proposed internal queue? If you leave both you have two APIs for the same thing, with the potential of people getting confused and doing the wrong thing, etc.
* I agree with you that having an unbounded queue would be a bad

[2018-04-02 10:26] anttirt commented on #1877
A custom `add` handler for the `Notification` event could throw an exception if the user has opted in to the queue behavior, and the `DequeueNotification` methods could throw an exception if the user hasn't. This would give an immediate signal of API misuse.

The queue *should* be an unbounded queue, which is only cleared when the `NpgsqlConnection` object's `Dispose` is called. The problem only e

[2018-04-03 22:05] YohDeadfall commented on #1876
Mine.

[2018-04-05 11:20] thefringeninja opened #1879 "Upgrading to 4.0.0-preview1 Breaks Composite Type Mapping"
### Steps to reproduce

My project files can be found here:
https://github.com/thefringeninja/SqlStreamStore/tree/e8823711f76770080aca7855d40b4fd4fcbaf38b

Most of the tests fail. You'll need docker to run the tests properly, but the tests should take care of installing and starting the docker image.

### The issue

Trying to roll forward to the latest nuget but that broke the composite type mappi

[2018-04-05 12:38] YohDeadfall commented on #685
How many connections are opened by a superuser? It's not secure. Therefore, I think it would be rarely used. Maybe messages should be translated on the client side?

[2018-04-05 13:36] anon17 commented on #1633
Running under mono 5.10 gives a more descriptive error message:
[code]
But I can't find a way to install System.Runtime, libmono-system-runtime4.0-cil installs System.Runtime.Remoting.

[2018-04-05 13:39] mikkeljohnsen commented on #1633
I believe my problem was that I missed the "..../mono/4.5/Facades/" DLL files on Windows. Do you have them installed.

[2018-04-05 14:15] anon17 commented on #1633
I don't, I extracted them from the mac package. I put System.Runtime.dll and System.Threading.Tasks.dll facades into the application folder and it runs successfully on mono 5.10.

[2018-04-06 12:27] kulkarniyoges commented on #1543
Hello, did anyone able to connect to Netezza using npgsql provider?

[2018-04-06 14:13] naigsa opened #1880 "Saving entities with ef6 and Npgsql 4.0"
### Before submitting

Error when saving new entity.

### Steps to reproduce
Context
[code]
Table created using automigration with entity:

[code]

Create new entity, attach to context and save

### The issue
Excpetion on SaveAsync():

[code]

### Further technical details

Net Framework: 4.6.1
EntityFramework: 6.2.0
Npgsql version: 4.0.0-preview1
PostgreSQL version: 9.6.1
Operating system: window

[2018-04-07 08:00] roji commented on #1880
Original SO: https://stackoverflow.com/questions/49692809/npgsq-4-0-with-entity-framework-6

[2018-04-07 13:12] roji opened #1881 "Proper behavior for NpgsqlParameter.Size"
Originally raised in https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/357

@ajcvickers @divega I've taken a look and there's a behavioral difference between SQL Client and Npgsql (at the ADO.NET level): when `DbParameter.Size` is set, Npgsql will silently truncate whereas SQL Client will throw (`String or binary data would be truncated`).

I usually tried to make Npgsql behav

[2018-04-07 15:02] roji commented on #1543
Am going to close this issue, as no information has been provided.

I'm interested in providing support to non-PostgreSQL databases, but I need people to help out with that - report errors etc.

[2018-04-07 15:02] #1543 closed

[2018-04-07 15:10] roji commented on #685
@YohDeadfall can you provide more information? Why would this not be secure, it's just a field in the startup packet which Npgsql sends to PostgreSQL when first connecting. PostgreSQL makes sure that it's a valid locale string, so I don't see any security implication. I also don't understand what superuser has to do with this.

[2018-04-07 15:38] roji commented on #1879
Is `foo.new_stream_message` a composite type created with `CREATE TYPE`, or via `CREATE TABLE`? If it's the latter, you'll have to set `Load Table Composites=true` on your connection string (documented in the [release notes](http://www.npgsql.org/doc/release-notes/4.0.html)).

Otherwise I'll need some more information - [in the Npgsql tests](https://github.com/npgsql/npgsql/blob/9de21a0c12b58c6765

[2018-04-07 15:47] YohDeadfall commented on #685
I've read documentation about `lc_messages` from a wrong section,  from client connection defaults which says that the value affects server logs. Therefore, it can be changed by a super user only. So everything's okay now.

[2018-04-07 15:52] roji commented on #685
OK no problem.

[2018-04-07 21:47] YohDeadfall commented on #1803
@roji It's a breaking change and a bug. I would like to hear your opinion on that problem and others too.

Npgsql sends a `DateTime` as-is, but when the value has the UTC kind then the type is deduced as `timestamptz`. On the server side the value is converted to a `timestamp` using the server time zone. If the issue would be fixed, there will be another issue with storing `timestamptz` values whi

[2018-04-07 22:54] ajcvickers commented on #1881
@roji @divaga Looks like the docs are incorrect. I'll follow up on it.

[2018-04-08 01:13] sa13m opened #1882 "MapComposite error Npgsql 3.2.2"
VS2017, .NET 4.5, Npgsql 3.2.2, EntityFramework6.Npgsql 3.1.1

The issue
[code]
[code]
When performing command.ExecuteScalar() receive an exception:
System.Exception: 'PostgreSQL composite type public.history contains field rowid which could not match any on CLR type History'

Further technical details
Npgsql version: 3.2.2
PostgreSQL version: 9.5
Operating system: Windows 10

[2018-04-08 09:02] roji opened #1883 "Make pool provider-independent"
Npgsql now contains a lock-free ADO.NET pool implementation which was reviewed and checked, and is hopefully stable. It would be good to be able to share this with other providers (e.g. @bgrainger doing MySqlConnector), so that this difficult and delicate component doesn't have to be duplicated/rewritten every time.

This could be a first step towards https://github.com/dotnet/corefx/issues/26714.

[2018-04-08 09:44] roji commented on #1881
@ajcvickers @divega sorry, when writing the above I think I was a little confused. Npgsql and SQL Client do in fact seem to have the same behavior.

First, when trying to insert into a `varchar(x)` column, the database will of course enforce that the provided string isn't larger than `x`.

The interesting question is what happens when you set `DbParameter.Size` - and I've verified that both client

[2018-04-08 10:10] roji commented on #1882
First, the code above doesn't make use of Entity Framework at all (it's mentioned at the top), it's ADO.NET-only (which is fine).

Second, Npgsql does name translation for converting CLR property names (`Id`) to PostgreSQL columns (`id`). The default name translation is snake case, which translates CLR `RowId` to PostgreSQL `row_id`. You're likely missing the underscore in your PostgreSQL table fi

[2018-04-08 10:10] #1882 closed

[2018-04-08 10:31] roji commented on #1841
Turns out writing `NpgsqlDbType.Unknown` was important after all - for EF6 (and possibly others). As this isn't that important, reverted in 829bbbf4497e3c29815d7178d45618e012276100 (fixes #1880).

[2018-04-08 10:31] roji commented on #1880
Fixed this for 4.0.0-preview2, thanks for raising.

[2018-04-08 10:31] #1880 closed

[2018-04-08 10:50] naigsa commented on #1880
Will this version be posted on Nigget.org?

[2018-04-08 10:57] roji commented on #1880
Yes, just like 4.0.0-preview1

[2018-04-08 10:57] roji commented on #1872
Closing as no answer was provided, will reopen upon request.

[2018-04-08 10:57] #1872 closed

[2018-04-08 10:58] naigsa commented on #1880
Ok, thanks.

[2018-04-08 12:57] sa13m commented on #1882
Postgresql table:
[code]

[2018-04-08 16:30] tmenier commented on #1803
I'm not a PostgreSQL expert by any means, but I can confirm this is problematic with my [AsyncPoco](/tmenier/AsyncPoco) tests. I upgraded Npgsql from 2.x to 3.x (yes, long overdue), and now tests that insert a date with `DateTimeKind.Utc` are failing; they are always coming back as local time on SELECT. For column types, I have tried specifying `timestamp`, `timestamp with time zone`, and `timesta

[2018-04-09 11:42] roji commented on #1879
Are you creating the composite type (i.e. issuing the `CREATE TYPE`) from the same application instance trying to use it? If so that makes sense: the first time Npgsql connects to a given database (connection string) it loads the types and caches them for later connections. However, this would affect you in 3.2 and did not change for 4.0.

Can you please double-check to make sure there isn't a reg

[2018-04-09 12:15] thefringeninja commented on #1879
This for sure works with 3.2.7 without needing to call `ReloadTypes` before
`MapComposite`. You can see for yourself if you look at the code here:
https://github.com/thefringeninja/SqlStreamStore/commit/0cc3216378d174bc1896475e840ad63f4eaa719c
(this is before the commit that updates to the latest Npgsql) and run the
tests in SqlStreamStore.Postgres.Tests. You will need docker installed for
it to w

[2018-04-09 18:36] NinoFloris commented on #1815
Who wouldn't use the async paths these days?
We don't do anything special in this case though so I'd expect something as crucial and 'trivial' like a timeout to trigger.

As to the willingness, it seems there is still zero movement on implementing timeouts for async sockets, and the cancellation issue linked states the work has been moved to future as 2.1 is too ambitious.

Why not implement the `

[2018-04-09 20:44] roji commented on #1879
@thefringeninja any chance you can put together a small repro that shows the regression, without any docker or specific code from your library? I have very little time at the moment to dive into your repo and understand what's going on... Ideally this would be the minimal code required to show what works in 3.2 but fails in 4.0.

Thanks for your help, there's a lot going on at the moment.

[2018-04-09 21:10] roji commented on #1815
Mainly because I know of no .NET async API which does this internally... Users can always do this themselves - it's totally trivial to add a `WithTimeout()` extension method to Task which does exactly this. In fact, Npgsql [even has this extension method internally](https://github.com/npgsql/npgsql/blob/146b7ad7774533ff0798ed653d5ff75f27f9abc4/src/Npgsql/TaskExtensions.cs#L20)...

[2018-04-10 03:17] JayeshDAVE opened #1884 "Power BI Data Source Connection Issue"
Hello:
After Installing Npgsql-3.2.7 on my Window server 2012 and when i open my Power Bi to connect with Postgres Server (9.6). I encounter following error as shown below.

Please let me know if issue is with this version or i have uninstall 3.2.7 & install older version?

Please let me know the solution.

Thanks
Jay

Details: "An error happened while reading data from the provider: 'Npgsql.Tls.C

[2018-04-10 11:06] roji commented on #1884
Your server certificate seems invalid, so Npgsql is refusing to connect.  Either get a proper certificate or set `Trust Server Certificate=true` in your connection string, [see the docs](http://www.npgsql.org/doc/security.html#encryption-ssltls).

[2018-04-10 11:06] #1884 closed

[2018-04-10 16:13] JayeshDAVE commented on #1884
Hello Shay:

Thanks for your reply. my Postgresql server is on AWS, so not sure how to setup this cert?

Thanks

Regards

Jay DAVE

________________________________
From: Shay Rojansky <notifications@github.com>
Sent: Tuesday, April 10, 2018 6:06 AM
To: npgsql/npgsql
Cc: Jayesh DAVE; Author
Subject: Re: [npgsql/npgsql] Power BI Data Source Connection Issue (#1884)

Your server certificate seems in

[2018-04-10 16:47] virth commented on #1321
@roji I just stumbled across this issue while trying to set up a cockroachdb with the npgsql provider. It seems to work just fine, even with ef core migrations. I think this issue can be closed.

I will continue developing on my dotnet core app against cockroachdb and would open a new issue, if I would find any problems.

[2018-04-10 19:00] roji commented on #1884
You'll have to check the Amazon docs for configuration of RDS - I don't really know much about it.

[2018-04-10 19:00] roji commented on #1321
@virth, thanks for you feedback - I'll close this. Any feedback you have on using CockroachDB with Npgsql would be greatly appreciated.

[2018-04-10 19:00] #1321 closed

[2018-04-10 20:38] YohDeadfall commented on #1803
Exactly...

Okay, it also makes sense, but it causes problems to other users. Therefore, I think keep the current behavior, but make it optional. This will allow all users to have the logic they want and migrate without drastic changes. We can add a new flag to the connection string which turns mapping `DateTime` using the `Kind` property. What do you think about that?

[2018-04-11 03:50] warcha opened #1886 "Legacy PG type names are returned from GetSchema"
Cannot execute a parameterised query in the Querybuilder window.

When running the following Query in the QueryBuilder window against table TAB4 where P1 is an integer and P2 is a double:
_SELECT  P1, P2
FROM   TAB4
WHERE (P1 BETWEEN @PARAM1 AND @PARAM2)_

The following error is returned:
_Error Message: 42883: operator does not exist: integer >= text_

It looks like the issue is the DbType of the

[2018-04-11 11:56] flidr opened #1887 "Cannot get proper localized error in PostgresException.Message"
Hello,
I've changed postgresql.conf to read lc_messages = 'fr_FR.UTF-8'.
When I try to open NpgsqlConnection with wrong password I got an exception with message containing invalid characters, e.g. 3D000: la base de donn�es � g11e � n'existe pas
The database itself logs: la base de données « g11e » n'existe pas

Please advise if it is npgsql issue or postgresql setup issue, many thanks

Npgsql vers

[2018-04-11 12:37] YohDeadfall commented on #1876
What do you mean by "they aren't supported yet"? You have done that already (#1125). Probably you are talking about mapping a numeric value to a nullable `Enum`, right?

[2018-04-11 14:25] YohDeadfall commented on #1887
Looks like #1582 which isn't fixed yet.

[2018-04-11 14:41] flidr commented on #1887
ops, thanks

[2018-04-11 19:25] roji commented on #1881
Closing as there's nothing to be done here.

[2018-04-11 19:25] #1881 closed

[2018-04-11 19:32] roji commented on #1887
Closing as duplicate

[2018-04-11 19:32] #1887 closed

[2018-04-11 19:46] roji commented on #1876
@YohDeadfall fortunately you're here to remind me of this stuff :)

The reason for opening this issue was #1865, which I've just reopened and requires more investigation... feel free to take a look if you're interested (I'm definitely not going to have much time in the near future).

[2018-04-11 19:46] #1876 closed

[2018-04-11 20:09] roji commented on #1803
Does that mean that you find the current Nodatime plugin mapping strategy good? Because it still hasn't been released yet, and so it's easy to make any changes.

I really hate connections string flags. Every time there's a question about how Npgsql should behave, there's the temptation of having another flag allowing both behaviors. This complicates the driver, makes it a bit unpredictable (since

[2018-04-12 09:25] naigsa opened #1888 "Npgsql 4.0.0-preview2 with EntityFramework automigrtation"
### Before submitting

After upgarde npgsql from 3.2.7 to 4.0.0-preview2 automigrations in entity framework are not working.

### Steps to reproduce

Create two ef contexts with one migration table and with settings:
[code]

### The issue

i get error "column "ContextKey" of relation  "__MigrationHistory" already exists"

[code]

### Further technical details

Net Framework: 4.6.1
EntityFramework:

[2018-04-17 08:16] ashutoshkushawaha commented on #497
hello roji,
i have same issue, did you solve this problem. please share.

[2018-04-17 20:18] wndprc opened #1890 "adapter.FillSchema opens two connections to the database."
Hi,

The PostgreSQL database I'm connecting to limits the numbers of connections per user. In my code I use adapter.FillSchema and this method is opening two connections to the database.

### Steps to reproduce
To reproduce this issue create a connection string with MaxPoolSize=1 and then call adapter.FillSchema, the code stays waiting and on the debugger you can see that the connection pool has o

[2018-04-17 20:21] kspeakman opened #1891 "Accept UTF8 byte array as .NET type for Json/b"
If I use a zero-allocation JSON de/serializer like [utf8json](https://github.com/neuecc/Utf8Json/), it serializes straight to UTF8 bytes. I need to convert it back to a .NET string to pass it to Npgsql, then Npgsql turns back around and converts it back to UTF8 bytes before sending.

Would it possible to accept a byte array in addition to the currently accepted .NET types for json/b types?

_I dou

[2018-04-18 07:55] roji commented on #1890
What you say is correct - when getting the schema for a resultset, Npgsql will open a 2nd database connection in order to fetch the information it needs. This is done because the primary connection is busy: it has an active resultset and cannot send another query to fetch the schema.

This situation may not be ideal, but I don't see any other way to support resultset metadata - if you have any sug

[2018-04-18 08:01] roji commented on #1891
This feature makes sense, it could be done for all strings at the TextHandler level. Not sure I'll have time to work on this in the near future, though.

Note: the actual encoding of the json column probably depends on the PostgreSQL database encoding, [specified when creating the database](https://www.postgresql.org/docs/current/static/sql-createdatabase.html). This is UTF8 by default and is very

[2018-04-18 08:54] roji commented on #1888
This is a PostgreSQL error informing you that a column already exists, I can't really think of anything at the Npgsql ADO.NET layer that could trigger this (between 3.2.7 and 4.0.0)... All Npgsql does is send the SQL to PostgreSQL and read back the results.

Can you double-check this isn't an unrelated issue on your end somehow? If not, a wireshark comparison of the traffic between Npgsql and Post

[2018-04-18 14:05] kspeakman commented on #1891
I can work on a PR if you think it is a non-invasive / additive change.

[2018-04-18 14:09] wndprc commented on #1890
My scenario is a limited number of connections per user. If the limit was one connection the code simply won't be able to run. In my scenario I have five connections, but that means that I can run up to four concurrent threads, since each thread will for a small period of time open two connections, and that's risking a potential deadlock situation.
I downloaded the code and noticed that NpgSQL doe

[2018-04-18 14:55] naigsa commented on #1888
ok, i will investigate it and will write about issue.
But, i sure that is influence of npgsql 4, because I did the actions below:
upgrade npgsql 4 - i got above error,
downgrade package back - all works fine

[2018-04-18 15:31] roji commented on #1890
Unless I'm mistaken, `FillSchema()` simply calls `DbDataReader.GetSchemaTable()`, which is the method Npgsql overrides and where the second connection is opened.

Again, I understand the problem and I wish things could be different but I don't really see how. Again, according to your application it may be possible to load and cache the schema data upfront.

Note that `GetSchemaTable()` has two ver

[2018-04-18 15:31] #1890 closed

[2018-04-18 15:33] roji commented on #1891
Sure, you can give it a try - it should be a relatively local and easy change. Take a look at TextHandler and adding byte[] support to it.

[2018-04-18 15:34] kspeakman commented on #1891
Ok, I will work on it this weekend.

[2018-04-19 02:50] sezaru opened #1892 "Query with large WHERE clause causes timeout exception"
Note, I also posted it [here](https://github.com/aspnet/EntityFramework6/issues/525) since I was not sure if it is an EF or a NPGSQL issue.

I have a query that looks something like this:

    private static IQueryable<MultiframeModule> WhereAllFramesProperties(this IQueryable<MultiframeModule> query, ICollection<Frame> frames)
    {
        return frames.Aggregate(query, (q, frame) =>
        {

[2018-04-19 09:01] naigsa commented on #1888
i am created minimal project for show this issue [(https://nofile.io/f/YbafgxkZb5T/NpgsqlTest1.zip).](url) Solution has two porjects. One with npgsql3 and one with npgsql4. Both projects has identical logic. For start project create empty db and add uuid support:

SQl Command: CREATE EXTENSION IF NOT EXISTS "uuid-ossp"

Then invoke post method:

POST /entity HTTP/1.1
Host: localhost:62524
Content-

[2018-04-19 14:41] yuleyule66 opened #1893 "Instrument with DiagnosticSource"
Hello , Thanks for the grant work.

I'm working on APM-related work. Using diagnostics allows users to get more runtime event data, which is helpful for distributed tracking systems.

EntityFramewokCore has provided support for diagnostics, but if users do not use EF, it is difficult for them to obtain these event data, so is there any plan to provide some diagnostic event data at the driver level

[2018-04-19 22:59] nescada opened #1894 "Citext comparison not working properly in version 3.2.5"
After upgrading to the version npgsql 3.2.5 (from the 2.2.7 version) queries against citext columns started behaving as a normal text, this means that instead of ignoring the case as it was in the previous version it is checking if the value matches exactly the provided parameter value.

Apparently this behavior started in the version 3.0 remains as described in the 3.2.7 version.

### Code Sample

[2018-04-20 09:16] MrFabio commented on #1894
I have the same issue. The queries with `IN` are working as expected, but with `=` it does not.

[2018-04-20 20:57] lansdon2 commented on #1894
Ditto, our citext data types/columns don't query correctly in 3.x. I get the following exception with our existing code:
The field 'data' has a type currently unknown to Npgsql (OID 84143). You can retrieve it as a string by marking it as unknown, please see the FAQ.
In 2.x these columns would read as strings without a problem, and GetFieldType() says that it's a string type. But GetString() throw

[2018-04-21 19:26] roji commented on #1894
Here are some thoughts, but if you think there's more feel free to follow up @YohDeadfall.

@nescada tl;dr you should probably set your parameter's NpgsqlDbType to Citext. Here's why.

Unlike Npgsql 2.x, 3.x is a strongly-typed client which sends data types with parameter data. In your code above, the default datatype for strings is `text`, so you're executing something similar to the following:

[2018-04-21 20:06] YohDeadfall commented on #1894
@roji I`ll wait for answers and if @nescada and @lansdon confirm that it's not a bug, it would be worth to document that in the remarks section of `NpgsqlParameter`.

[2018-04-21 20:10] roji commented on #1894
OK. Yeah, the [parameters page](http://www.npgsql.org/doc/parameters.html) definitely needs work.

[2018-04-21 20:33] roji commented on #1893
This is definitely an important feature. Npgsql already has support for performance counters, but these are Windows-only (and only on .NET Framework), and don't cover what can be done with DiagnosticSource.

It's important to understand exactly what events SQL Client emits and align our implementation with that (adding extra events where necessary).

@yuleyule66 any chance you'd be interested in s

[2018-04-23 09:01] YohDeadfall commented on #1891
Even if work is in progress, you can open a pull request. So we will be able to track your changes and review them (: I'll help you, but a bit later.

[2018-04-23 09:09] YohDeadfall commented on #1892
[Original question](https://stackoverflow.com/questions/49910400/query-with-large-where-clause-causes-timeout-exception-in-ef6-with-npgsql) on Stack Overflow.

[2018-04-23 19:43] lansdon2 commented on #1894
NpgsqlConnection.ReloadTypes() seems to be helping my problem of reading citext fields. Thanks for the help!

[2018-04-23 21:24] roji commented on #1894
@lansdon2 great to hear.

@nescada:

I'm not sure I understand your question... In a sense you're right: as I wrote above, if you just send a string parameter without specifying its NpgsqlDbType, Npgsql will map that to the PostgreSQL `text` type, because that's the PostgreSQL type most fitting by default. Indeed, the `citext` datatype doesn't have a corresponding CLR type - there's no case-insens

[2018-04-23 21:24] #1894 closed

[2018-04-24 10:13] YohDeadfall commented on #1803
Related:

1. `timestamptz` should be read as `DateTimeOffset` with local timezone, not UTC #1076
2. Migrations `AddColumn` with `DateTime` type should generate `timestamp with timezone` (#1179)

[2018-04-24 20:26] GHosaPhat commented on #1397
As a follow-up to the StackOverflow question I posted a few days ago on this topic, and just for historical purposes, I would like to second this feature request.

I've been working on rebuilding, streamlining, and just generally cleaning up the code for a number of in-house applications I've inherited over the years.  As I'm working on these projects, it would be extremely helpful to be able to d

[2018-04-25 07:50] roji commented on #1397
@GHosaPhat and others, I don't think that implementing PostgreSQL dump/restore in pure .NET doesn't have any value - having to use pg_dump indeed creates its difficulties.

However, I don't see any added value for this (big and complex) feature to exist *within* Npgsql. It can just as well be written in a library which would use Npgsql to communicate to PostgreSQL, and which would exist as a separ

[2018-04-25 19:36] axman44k opened #1898 "Insert and select combination causes NpgsqlDataReader HasRows to be false"
### Steps to reproduce

[code]

### The issue

Perform a query with an INSERT statement following a SELECT after a semicolon (;) and even if you get a result  HasRows value is false even though a record is available.

[code]

### Further technical details

Npgsql version: 3.2.6 and 3.2.7 affected lower versions ok.
PostgreSQL version: 10.3
Operating system: Windows 10, Window Server 2016

Other de

[2018-04-26 10:23] vianeykurniawan opened #1899 "Npgsql ExecuteReader strange issue (does not use parameters when executing query)"
Hi guys,

I have a strange issue with npgsql executereader. I have query with 5 parameters that took so long
when executed (23 second) using npgsql executereader. But the actual effort when executing
the same query using pgadmin is only 200 miliseconds. I try to debug and doing some trial and
error. The strangers part is when i replace query parameters using actual value (hardcoded) and executing

[2018-04-26 10:27] YohDeadfall commented on #1899
Could you provide table definitions to run the query?

[2018-04-26 10:42] vianeykurniawan commented on #1899
I'm so sorry, i can't, because the database relation was created by my bussines analyst is too complex. But my simple question is, why when i run this query using pgadmin and the query response time is just fine (200 miliseconds ?. is there an issue with c# type casting or something inside npgsql ?

[2018-04-26 11:07] vianeykurniawan commented on #1899
This is my 3 tables,

[Tables.zip](https://github.com/npgsql/npgsql/files/1950828/Tables.zip)

Thank you.

[2018-04-27 02:15] vianeykurniawan commented on #1899
somebody help me please ?
Thx

[2018-04-27 06:09] roji commented on #1899
I'd really recommend comparing the wireshark captures between Npgsql and pgadmin - that's the best way forward. If your PostgreSQL is running on the same machine is pgadmin/npgsql and you're on Windows, then you need [npcap](https://nmap.org/npcap/).

[2018-04-27 08:10] #1898 closed

[2018-04-27 08:10] roji commented on #1898
Thanks for raising, this has been fixed for 3.2.8.

Note that the 4.0.0 preview versions didn't have this bug (because of a refactor).

[2018-04-27 10:53] vianeykurniawan commented on #1899
hi roji, thx for reply

OK i'll try yout sugest, my Npgsql running on windows machine for debugging same with pgadmin, but for deployment it would be Centos 7.  But, I will explain to you again about my issue. My query above had slow performance when executing using npgsql with c# variable as parameters for query filters. But if i changes the parameters with directly hardcoded the value within sql

[2018-04-27 11:16] roji opened #1900 "Switch to Span/Memory internally"
Since it seems like we'll release Npgsql 4.0 at the same time that .NET Core 2.1 comes out, it may be a good idea to use the opportunity the internally switch to Span/Memory - especially in the read/write buffers. At the very least, this will give us access to very optimized primitive reading/writing routines (float, double, int, endian conversion...), and might help in some other areas as well.

[2018-04-27 12:42] roji commented on #1900
Note that for this to be worth it:
* The same code should work on previous versions of .NET Core and on .NET Framework (no big ifdefing)
* It shouldn't cause a perf degradation in platforms other than .NET Core 2.1 (at least nothing significant)

[2018-04-27 12:43] #1188 closed

[2018-04-27 12:44] roji commented on #1188
Implemented this for 4.0 - the first character is decoded and returned, and any other characters are silently discarded. If the string is empty and exception is thrown.

[2018-04-27 17:41] #1899 closed

[2018-04-27 22:07] #1821 closed

[2018-04-27 22:12] roji commented on #1821
As usual, sorry for taking so long before reviewing. I merged #1859 and squashed into eb62d0a6ac61c9be351a1f4261ef111115984ddb.

Thanks @Brar for the contribution and also @YohDeadfall for the review!

[2018-04-28 08:35] dodyg opened #1902 "npgsql 3.2.7 error : "ArgumentOutOfRangeException: The UTC time represented when the offset is applied must be between year 0 and 10,000.""
I am using Postgres 10.3 on Windows 10. I am accessing the DB using LLBLGen 5.4 Beta which used npgsql driver.

[code]

The field `opening_time` and `closing_time` are mapped to `DateTimeOffset`.

[2018-04-28 22:03] #1816 closed

[2018-04-29 13:41] DylanFPS opened #1903 "Insert with parameters"
### Steps to reproduce

This is my parameterized INSERT query:

    INSERT INTO "TABLE1" (onultz_id, "NAME", "AGE") VALUES (@onultz_id, @NAME, @AGE)

To create a similar table, do the following query:

    CREATE TABLE "TABLE1" (
    onultz_id int,
    "NAME" text,
    "AGE" text)

### The issue
Upon execution of the command, I get an exception, but I also see that the query has been changed to th

[2018-04-29 14:36] roji commented on #1903
You need to post the C# code you're using to actually set up the parameters and send the command... PostgreSQL is quite clearly complaining that you're trying to put string data into an int column.

[2018-04-29 15:39] DylanFPS commented on #1903
This won't make much sense out of context
[code]
[code]

If you need me to post any more methods, please let me know.

[2018-04-29 19:27] marcelo-ni opened #1904 "pgsql exception: argument may not be null or empty"
Error occurs using Npgsql through LinqPad.Postgresql.Driver 0.3, against posgresql 9.4.12.
In the driver´s screen I set up the connection string as
Host=xxx.xxx.xxx.xxx;Port=5432;Database=xxxxxx;Username=postgres;Password=xxxxxxx;
In same screen, "Test connection" is successful, but when I try to connect the error brings up.
May be an issue from the LinqPad driver?
They claim "This driver has been

[2018-04-30 00:25] DoubleCouponDay opened #1905 "Keyword not supported: max auto prepare"
### Steps to reproduce
+ Import the Npgsql nuget package, version .
+ In a local debug environment, run the following snip:
[code]

### The issue
[code]

### Further technical details

Npgsql version: 3.1.2.0
PostgreSQL version: 10
Operating system: windows 10

Other details about my project setup: azure function

[2018-04-30 12:09] marcelo-ni commented on #1904
As said, I´m using Npgsql indirectly as part of LinqPad.Postgresql driver and, of course, this one in LinqPad.
I could not build myself the driver, so I downloaded from Git the "executable" version. So, I don´t know what exactly is embedded into.

[2018-04-30 14:49] roji opened #1906 "NetTopologySuite: can't write 3D point"
@YohDeadfall, it seems that writing a 3D point with the NTS plugin currently fails, simply add the following testcase:

[code]

Not sure whether this is in our plugin or NTS itself.

[2018-04-30 14:50] roji commented on #1906
BTW you may as well take a look at 4th-dimensional topology (XYZM, XYM) if you want... Not critical.

[2018-04-30 20:58] #1868 closed

[2018-04-30 22:36] YohDeadfall commented on #1906
It's because of their refactoring. I've pushed https://github.com/NetTopologySuite/NetTopologySuite.IO.PostGis/pull/2 to fix the issue.

[2018-05-02 13:42] YohDeadfall commented on #1892
It was answered on Stack Overflow. Not an issue of Npgsql.

[2018-05-02 13:42] #1892 closed

[2018-05-02 19:17] YohDeadfall commented on #1803
@roji I think it would be much better if that feature of Npgsql was documented and the current behavior stayed the same.

[2018-05-02 20:36] YohDeadfall commented on #1803
Yes, because we have other parameter related issues too (for example #1894). I think there should be something like [that](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-data-type-mappings).

[2018-05-02 20:40] roji commented on #1803
Well, we do have [this page](http://www.npgsql.org/doc/types/basic.html) and [this one specifically for date/time[(http://www.npgsql.org/doc/types/datetime.html). They do contain some inaccuracies (which we should fix) but do you think we need something else entirely?

[2018-05-02 20:54] YohDeadfall commented on #1803
Could we add a link into [Parameters](https://github.com/npgsql/npgsql/blob/dev/doc/parameters.md) and rename Types to Type Mappings? I think the problem here is that everyone thinks that Types is about Npgsql classes and not about parameters (me too).

[2018-05-02 21:05] roji commented on #1803
Sure, feel free to submit a PR with any improvements! The files are in the doc directory of this repo...

[2018-05-03 02:11] yuleyule66 commented on #1893
Hello @roji , my friend @liuhaoyang has submitted a PR for this feature, please check .   :)

[2018-05-03 14:19] #1802 closed

[2018-05-03 15:13] gsferreira opened #1912 "Save Points - Validate that they shouldn't start with a number"
When using Save Points, if you use a name generated with a Guid (for example) it can start with a Number and we will get the following error (for the Guid *27d3d12a-e285-497d-b4f2-c7dcaf9684e5*):

*"syntax error at or near "27""*

[2018-05-03 15:14] gsferreira commented on #1912
I'm working on a PR to solve this issue.

[2018-05-03 17:25] StillLearnin commented on #1903
I think that the issue is that `CreateParameter` doesn't take into account what data type you are inserting and treats them all as text.

`Parameters.Add` allows you to specify the type. If you do that I think it will work.

[2018-05-03 17:54] indy-singh opened #1914 "Session Statistics"
Hi,

We have recently enabled [SQL Server Statistics](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql/provider-statistics-for-sql-server) via NHibernate by accessing the underlying `System.Data.SqlClient.SqlConnection` on the `ISession`. And we were wondering if the same was possible with `Npgsql.NpgsqlConnection`? We have had a good root around the docs and in the debugger and w

[2018-05-03 18:03] DylanFPS commented on #1903
Hmmm ok, but it's weird how it works for MySQL and SQL Server?
Will try your suggestion in a bit

[2018-05-04 01:44] sathya1508 commented on #656
Hi I am getting below error - method not found void Npgsql.NpgsqlCommand set
![image](https://user-images.githubusercontent.com/37493599/39609905-265c0124-4f6a-11e8-8c20-c048e6b9b290.png)
i m using Entity framework 6 and Npgsql.EntityFramework version 2.2.7.0 and Npgsql 2.2.7.0
This happens when i am trying to create a ADO.NET Data Entity Model and generate code first from database. Thanks in adva

[2018-05-04 13:29] pawel1090 opened #1916 "[UWP] Socket error while trying to receive data"
Hello, I have a problem with reading data in my UWP app.

UWP App and VS Parameters:
VS version : 2017 Community 15.6.5
VS build : x86
Target version: Windows 10 Fall Creators Update (10.0; Build 16299)
Npgsql version: 3.2.7

Method:
[code]

Issue Description:
When I try to execute line 'adapter.Fill(ds);' i get an error:
[code]

It will be very helpful if You will give me any suggestions.
Best re

[2018-05-04 14:45] roji commented on #656
@sathya1508 there's likely some sort of version mismatch on your side. Can you confirm which version of the Npgsql MSI you have installed if at all (in the Windows add/remove programs), and also which version of the Npgsql Visual Studio extension (in Visual Studio's extension list).

[2018-05-04 14:47] roji commented on #1912
@gsferreira what would be the value of checking this in Npgsql, given that PostgreSQL already return an informative error message?

As a general rule, Npgsql makes no attempt to validate SQL or other things is sends to PostgreSQL - that's considered PostgreSQL responsibility.

[2018-05-04 14:51] YohDeadfall commented on #1758
Closing it since there is no answer to @roji's question.

[2018-05-04 14:51] #1758 closed

[2018-05-04 14:53] roji commented on #1903
@DylanFPS your code sample still doesn't show what you're actually putting in your parameter - the code `((SqlEngine) StorageManager.Instance.Engine).Connector.CreateParameter("onultz_id")` doesn't tell us much.

The best way forward is if you can reproduce the problematic behavior in a more minimal code sample outside of your application. If you manage to do that - great, you can post it here and

[2018-05-04 15:41] roji commented on #1914
Nothing like this is currently implemented.

Npgsql already has a [logging interface](http://www.npgsql.org/doc/logging.html), and instrumentation for DiagnosticListener is [in progress](https://github.com/npgsql/npgsql/pull/1910). Adding an additional statistics collection mechanism seems like it would be a bit too much - at the end of the day these mechanisms do have a price in terms of performa

[2018-05-04 15:42] roji commented on #1914
By the way, if and when DiagnosticListener support is added, query running times should be trivial to extract via that interface. It's also possible to extract quite a few stats from the PostgreSQL side (with proper configuration).

[2018-05-04 15:48] roji commented on #1916
As the error says, there's some sort of permission mechanism forbidding the application from making a network connection to your PostgreSQL server. Npgsql itself has nothing to do with this - it simply tries to establish a simple socket connection like any other network client.

It's likely that UWP has some sort of networking restriction mechanism, which is responsible for this. Take a look [at t

[2018-05-04 15:48] #1916 closed

[2018-05-04 17:58] indy-singh commented on #1914
Hi @roji,

Thanks for replying. Maybe I should have expanded more of why we are looking for this kind of functionality. We currently have real time monitoring of SQL Server statistics at the application tier. This is to spot issues as and when they happen on the application tier [1][2] instead of the problem occurring on the SQL Server and then our Infrastructure team notifying the developers.

Th

[2018-05-04 20:52] DylanFPS commented on #1903
This references no external classes.

[code]

[code]

[2018-05-04 21:38] StillLearnin commented on #1903
`onultz_id` is an `int` column. You can't use `NpgsqlDbType.Varchar` for the parameter type.

[2018-05-04 21:40] DylanFPS commented on #1903
It worked fine for the other engines, and I see no reason why it would cause the issue I'm having.

[2018-05-04 21:51] StillLearnin commented on #1903
This code may help you understand it...

[code]

[2018-05-04 21:54] StillLearnin commented on #1903
All the other "engines" might have silently parsed your `Varchar` and converted it to an `int` but that doesn't mean that this one should.

[2018-05-04 22:06] StillLearnin commented on #1912
Just my two cents:

1. [NpgsqlTransaction.cs](npgsql/src/Npgsql/NpgsqlTransaction.cs) already does some other validation of save point names. Why not this one?
2. Since the Guid is likely auto-generated and never seen by the operator, the PostgreSQL generated message is not as helpful as it could be since it doesn't contain a value that is recognized.

[2018-05-04 22:47] DylanFPS commented on #1903
I was stupid
I'm sorry
Thank you

[2018-05-04 22:47] #1903 closed

[2018-05-04 22:47] DylanFPS commented on #1903
(changing it to int worked)

[2018-05-04 22:55] roji commented on #1903
It's true that Npgsql tends to be more strict and strongly typed than some other providers, that frequently helps with performance and clear, predictable behavior.

[2018-05-05 02:25] StillLearnin commented on #1903
@DylanFPS I wouldn't call it stupid so much as I'd say "it was different from what you expected". Like the rest of us, you're still learnin...

[2018-05-05 12:42] roji commented on #1912
Well, the other validations seem to be for things which are a bit different - since the savepoint name is concatenated into the SQL statement, including a semicolon would break it in two and evaluate the 2nd half as an independent statement (classic SQL injection scenario). The usefulness of the whitespace/empty check is maybe a bit less clear, that's true.

I'm sure there are some other lexical c

[2018-05-05 13:01] StillLearnin commented on #1912
I'm satisfied with that logic.

[2018-05-05 13:05] StillLearnin opened #1917 "PostgresType Doesn't Express Precision/Scale"
For instance, `numeric(1000,2)` is simply expressed as `numeric`

[2018-05-05 13:16] roji commented on #1912
OK, thanks @StillLearnin. @gsferreira let me know your thoughts.

[2018-05-05 22:11] YohDeadfall commented on #732
@FlorianRainer Please open a pull request so it would be easier to review and track progress.

[2018-05-06 15:39] roji commented on #732
@FlorianRainer, I definitely think this features should be in Npgsql, and thanks for spending time on it. Just bear in mind that the 4.0 is right around the corner (the idea is to align it with the .NET Core/Entity Framework 2.1 release), and there's lots to do. So there's a good chance this will have to wait for a later release, unless we can quickly get a relatively simple and correct implementa

[2018-05-06 18:28] dhgoldman opened #1918 "Domains created using Npgsql cannot subsequently be retrieved by Npgsql"
Creating a domain through Npgsql, using that domain in a table, and subsequently attempting to retrieve reader-based schema information from Npgsql results in a KeyNotFoundException occurring. The error occurs during OID-based type look-up in DbColumnSchemaGenerator.LoadColumnDefinition. A test to reproduce the error is provided below:

[code]

[2018-05-06 18:52] roji commented on #1918
When you create PostgreSQL types, to use them in the same process you must then instruct Npgsql to reload all type definitions by calling `NpgsqlConnection.ReloadTypes()`. This is because Npgsql loads and caches all PostgreSQL types on the first connection to that database, and doesn't know about the newly-created type.

[2018-05-06 18:52] #1918 closed

[2018-05-06 22:41] indy-singh commented on #1914
Completely agree.

We are planning to solely focus on bytes received for now.

Yes, if our DBA/Infrastructure was within reach of a keyboard. But that still has the problem of tracing the query back up the application tier and finding the relevant code in question. One of the biggest wins we gained was the `SqlConnection` logging at the time and place in the code where the problematic query was ex

[2018-05-07 04:06] Brar commented on #1914
Did you already look at [auto_explain](https://www.postgresql.org/docs/current/static/auto-explain.html)?
It's among the most useful dba-tools I've ever seen for finding problematic queries (if duration is the problem) and IMO is completely underappreciated.

[2018-05-07 06:52] roji opened #1919 "Improvements to GetDataTypeName(), PostgresType.DisplayName and related"
* Return the standard, user-facing type names rather than the legacy names PostgreSQL uses internally (https://www.postgresql.org/docs/current/static/datatype.html#DATATYPE-TABLE). For example, we need to return `integer` rather than `int4`, and for arrays we need to return `text[]` rather than the internal `_text`. This should happen everywhere.
* Include facet information in `NpgsqlDataReader.Ge

[2018-05-07 08:17] gsferreira commented on #1912
Honestly I didn't know about that. Now that I think about that, I completely agree with @roji.

There's any contributor guidelines where we can write this? I think that would be nice to prevent others from doing the same thing.

[2018-05-07 12:53] devel0 opened #1920 "could not load Npgsql.TypeMappingAttribute"
**NOTE**: this problem regards cohexistance of npgsql ef core with npgsql base driver ; I posted here because the problem disappear if I use old 3.2.7 version instead of 4.0.0-preview2 of npgsql

### Steps to reproduce

- create a netcore webapi
- add reference to either npgsql ef core and npgsql
- create a dbcontext
- execute `dotnet ef migrations add migr1`

### Repro archive file

[archive.tar]

[2018-05-07 14:40] roji commented on #1920
At the moment, Npgsql.EntityFrameworkCore.PostgreSQL 2.0.2 works with Npgsql 3.2, whereas Npgsql.EntityFrameworkCore.PostgreSQL version 2.1 works with Npgsql 4.0.0. This is the expected behavior, if it causes severe issues I may look into enabling other versions to work together.

[2018-05-07 14:40] #1920 closed

[2018-05-07 15:11] #1466 closed

[2018-05-07 16:15] StillLearnin opened #1921 "NumericHandler Ignores Scale in Returned Value"
From @roji in a previous discussion in #1915 about whether or not `numeric(1000,2)` columns should pad returned decimals to 2 places:

At first I agreed with this until I experimented with the output of several commands in `psql`

`SELECT '1.2'::numeric(10,2);` produces `1.20` while Npgsql produces `1.2`
`SELECT '1.235'::numeric(10,2);` produces `1.24` while Npgsql produces `-1`

I think that to f

[2018-05-07 19:18] roji commented on #638
@catveport, putting `Server Compatibility Mode="NoTypeLoading"` is definitely the right way to go for Denodo, which seems to be incompatible with PostgreSQL's system catalogs.

The exception is Npgsql complaining that a string it received from Denodo contains a non-UTF8 character, which is what it expects by default. So:
* I don't know anything about Denodo, but try checking what encoding it uses

[2018-05-07 19:18] #638 closed

[2018-05-07 19:35] kspeakman commented on #1891
TextHandler changes are merged. (Yay! Thanks!)

Next step is implementing bytes with JsonbHandler. AFAICT, the only thing JsonbHandler really does is handle a protocol version before passing through to TextHandler: Prepends it on write, consumes it on read (only for string?), and accounts for it in length calculations.

Adding byte support is slightly more complicated because of the conflict betwe

[2018-05-07 20:29] indy-singh commented on #1914
I did some hunting around and it turns out there have been several attempts to get this into Postgres itself:-

- [stats for network traffic - WIP](https://www.postgresql.org/message-id/flat/CAHhq2wJXRqTMJXZwMAOdtQOkxSKxg_aMxxofhvCo%3DRGXvh0AUg%40mail.gmail.com)
- [Get bytes sent to client](https://www.postgresql.org/message-id/flat/4B2894E7.80407%40rsu.ru)

No, we must have missed that. It does l

[2018-05-09 02:43] QuanTran91 commented on #1902
You have declared: "closing_time time with time zone NOT NULL" => So it has to be DateTimeOffset (to support time zone) => Correct behavior. What is your concern about?

[2018-05-09 06:51] YohDeadfall commented on #1902
It's a bug. We have #1662 which fixes the issue, but requested changes should be done first.

[2018-05-09 07:53] roji opened #1922 "Implement PostgreSQL 11 SCRAM channel binding"
http://paquier.xyz/postgresql-2/postgres-11-scram-channel-binding/

The beta for PostgreSQL 11 is scheduled to be released on 2018-05-24.

@YohDeadfall does this tickle you in any way? :) I know .NET's SslStream has channel binding support, but I'm not sure how that interacts with our SCRAM support etc.

[2018-05-09 10:31] roji commented on #1917
Although we do need to fix some things, PostgresType will not express precision/scale.

PostgresType corresponds to an actual PostgreSQL type (a row in pg_type). The different facts (precision, scale, length) aren't part of the type, but in PostgreSQL are part of the "type modifier", which is an additional int encoding extra facet data about a type. The typmod is configured on a column and is also

[2018-05-09 10:31] #1917 closed

[2018-05-09 10:39] roji commented on #1921
@StillLearnin thanks for the added info and comments - we should have looked a bit further...

Obviously producing -1 in any case is a clear bug which has to be fixed.

However, I'm still not 100% convinced about the value of producing `1.20`. It's true that we should try to align to standard PostgreSQL behavior whenever it makes sense (psql in this case), but I have a hard to see the value of 1.2

[2018-05-09 18:50] FlorianRainer commented on #732
Hi @YohDeadfall and @roji

First sorry for the delay, i'm realy bussy atm, need to get things done.
I think like @roji says the 4.0 has priority and i'm already excited for the release of 4.0

But how ever, back to topic:
- About my Multiple ConnectionString Feature Branch and Pull request, this was a kind of experiment, maybe usable, working in my case but i think there are some decisionsto make,

[2018-05-09 19:00] Logerfo commented on #1921
@roji

I often use casting in a sql query to determine how many decimal places the column will have in a DataGridView. Because of this bug, a workaround is needed. I can apply a custom formatter to the DataGridViewColumn or convert the value to text in the query (and convert it again to use the value, if it's needed).

[2018-05-09 20:30] StillLearnin commented on #1921
In most of the programming projects I'm involved in, the developer is also the DBA. In these cases, the developer sets the scale because that is the way he/she wants it to be everywhere. It's extra work to have converters or display formats everywhere (including reports). This is especially disconcerting when you were used to using EF with Microsoft SQL Server and there it "just works".

On the ot

[2018-05-09 20:59] roji commented on #1921
Thanks for your inputs... @StillLearnin of course the idea is to make Npgsql as usable as possible, and as you say to agree on the best behavior.

As people here seem pretty clear on the desired behavior being 1.20, and since psql behaves in this way, I guess that's the way to go (@YohDeadfall any opinion here?). @StillLearnin, as you've submitted #1915 are you interested in making this fix as wel

[2018-05-09 21:15] StillLearnin commented on #1921
@roji sure, I'll work on it (including tests).

[2018-05-09 21:26] roji commented on #732
@FlorianRainer thanks for all the work, I'll read all the details in more detail tomorrow.

However, as @YohDeadfall suggested, to make it easier to review everything, rather than pointing us towards commits simply open a PR with all your work against the Npgsql dev branch. Github has some special code review tools for PRs, making it much better than annotating commits. I'll wait for that before s

[2018-05-09 21:31] YohDeadfall commented on #1891
The CoreFX Lab team works on `Utf8String`. Therefore, I think that reading/writing bytes using `TextHandler` and inherited classes is a temporary solution. When `Utf8String` goes to production, we will remove that hack or change the API to cast bytes to `Utf8String`/`Span<Utf8Char>`. So, probably it's okay for now, but with the following changes:

* `TextHandler` should explicitly implement `INpgs

[2018-05-09 21:40] YohDeadfall commented on #1921
It makes sense for data visualization as @StillLearnin already said, @roji, so I would like to see a PR (:

[2018-05-09 21:42] StillLearnin commented on #1904
I tried it here with LINQPad5 using LinqPad.Postgresql.Driver 0.3.0 connecting to Postgresql 9.6. I used the connection string format that @marcelo-ni provided. It works fine for me.

@marcelo-ni, can you try connecting to another database? Or try with Pg 9.6? At this point there is such a vast array of possible reasons for the problem that unless we can reproduce it locally or you can give us a s

[2018-05-09 21:47] indy-singh commented on #1914
@roji @Brar Is it possible to point me in the right direction as to whereabouts to make this change? I'm getting lost in an endless cycle here!

Thanks,
Indy

[2018-05-09 21:54] kspeakman commented on #1891
I tried 2nd point, but could not get it to compile for `INpgsqlTypeHandler<byte[]>.Read`. What I tried:

* add `virtual` keyword to explicit interface implementation in TextHandler (does not compile)
* `override` TextHandler's explicit interface implementation in JsonbHandler (does not compile)

A cursory search led me to believe that you [cannot override explicit interface implementations](https:

[2018-05-09 22:33] YohDeadfall commented on #1891
You can do it this way:
[code]

[2018-05-09 22:35] kspeakman commented on #1891
Oh yeah, that's what I did to get it working. But it adds another method to TextHandler.

[2018-05-09 22:46] YohDeadfall commented on #1891
Yes, but it's `internal`. You should do such a thing for `Write` and `ValidateAndGetLength` too.

[2018-05-09 22:46] kspeakman commented on #1891
Ok, will work on it this weekend.

[2018-05-09 23:01] warcha opened #1923 "Selecting a function with a column from a table in Query Builder not working"
Cannot execute a select statement in the Querybuilder window when the select statement contains a function call as well as a column from a table. The Querybuilder window parses the sql and inserts quotes around the function name.

With the following sql:

Select p0, current_catalog from table1

When the execute sql button is selected the query gets parsed into:
Select p0, "current_catalog" from ta

[2018-05-10 07:42] roji commented on #698
After another look, it seems that on the PostgreSQL side, the cube type only has text in/out and no binary (typreceive and typsend are null in pg_type). This means that at least for now, fully supporting them in Npgsql is impossible as Npgsql is a binary driver.

It's still possible to work with cube types by casting them to string in your SQL, and parsing that string yourself.

[2018-05-10 09:09] roji commented on #1914
What exactly are you asking for, statistics for bytes sent/received? If so, it seems best to do that in Npgsql{Read,Write}Buffer

[2018-05-10 15:48] Pierre-Henry-Dufetel commented on #424
![capture](https://user-images.githubusercontent.com/39164514/39878979-f9a84362-5479-11e8-82aa-ea4d33d25467.PNG)

I get the EF5 error again , I managed to get past this in order to Update Model From DB by adding EF5 dll in PrivateAssemblies but appears again ussing this script

[2018-05-10 17:13] StillLearnin commented on #1921
I don't know why, but after bringing my fork up to date with this repository, I couldn't reproduce the issues listed above. ☹️

So I just added tests to make sure they don't crop up again.

`SELECT '1.2345'::numeric(10,3)` produces `1.235`
`SELECT '1.2344'::numeric(10,3)` produces `1.234`
`SELECT '1.2'::numeric(10,3)` produces `1.200`

[2018-05-10 17:31] StillLearnin commented on #1921
Found a case that doesn't match though.
`SELECT '1'::numeric(10,2)` psql returns `1.00` but Npgsql returns `1`

So there is more work to do.

[2018-05-10 17:39] indy-singh commented on #1914
Yes - that's great, exactly what I was looking for.

Regards,
Indy

[2018-05-11 06:44] roji commented on #1921
Thank for all the work on this. Keep in mind that we don't have to provide 100% identical behavior to psql on this, as it's mostly a display issue - if you end up doing some very convoluted or which hurts perf, it's better to drop that approach. There's definitely value in mimicking psql and always provided the defined number of digits, but not at all cost...

Will wait until you submit a PR to re

[2018-05-11 08:41] kyanha commented on #1397
I actually have a need for something like this.  I need to dump a database after my test runs, so that I can compare it with what its state is supposed to be.  It would be a lot easier if I could do it purely from within .NET.

[2018-05-11 11:53] gary-holland opened #1926 "Regression (from 3.2.7 -> 4.0 rc1) mapping unsupported (Can't write CLR type System.UInt16 with handler type Int32Handler)"
Hi,

I am getting an error when running the following code in 4.0.0-rc1 (note, this code executes fine in 3.2.7):

[code]

The error stack I am getting is:
[code]

[2018-05-11 12:29] roji commented on #1926
This is intended. As the [release notes say](http://www.npgsql.org/doc/release-notes/4.0.html):

[2018-05-11 12:29] #1926 closed

[2018-05-11 12:29] roji commented on #1926
The intention is to have users do their conversions outside of Npgsql if they need to. This removes some of the implicit conversion magic happening outside of the user's view and improves performance.

[2018-05-11 18:29] roji commented on #1900
Some thoughts on this...

* One big blocking issue is the lack of BCL support for Span in anything except .NET Core 2.1. For example, I don't think it's possible to do UTF8 decoding from a `Span<byte>` in .NET Standard 2.0, which probably makes this whole thing a non-starter (unless we go into complicated ifdefs). But maybe I missed something on this.
* Seems like the first place to do Span is in

[2018-05-11 21:12] jward-2ndwatch opened #1927 "Redshift Error: Relation "pg_enum" does not exist"
When attempting to open a connection against AWS Redshift I get an exception.

### Example code

[code]

### Exception

[code]

### Further technical details

Npgsql version: 4.0.0-rc1
PostgreSQL version: AWS Redshift
Operating system: Windows 10

Other details about my project setup:
This issue doesn't occur in the stable 3.2.7 Npgsql release. I'm hoping to switch to 4.0.0 to gain the new `TcpKee

[2018-05-11 22:05] indy-singh commented on #1914
@roji That's our first go at the client side stats. Would appreciate any feedback or anything we've missed in our first attempt. We don't know the architecture as well as we'd like, so I'm expecting that we've missed something.

Cheers,
Indy

[2018-05-11 22:19] roji commented on #1914
@indy-singh can you please submit that commit as a PR? It's easier to review that way.

I can't promise a speedy review though, things are quite busy at the moment...

[2018-05-11 22:43] indy-singh commented on #1914
@roji Sure - done.

Ah, okay. I'll pause working on the client side stats until you guys are happy with the initial design.

Regards,
Indy

[2018-05-12 01:13] gary-holland commented on #1926
Thanks for the explanation Roji.

I've now performing the conversion myself, and my tests are now running once again with RC1.

Cheers,
Gary

[2018-05-12 09:58] #1927 closed

[2018-05-12 10:16] roji commented on #1927
Thanks for raising this, I've pushed a fix.

Can you please use version 4.0.0-ci.847 (available from the [MyGet unstable feed](https://www.myget.org/feed/npgsql-unstable/package/nuget/Npgsql)) and report if it's ok?

[2018-05-12 14:07] indy-singh commented on #1914
I'm not sure the initial design makes sense after reflecting on it. The only useful stat (that I'm aware of) that can be collected in `NpgsqlReadBuffer` is how many bytes were received, it makes no sense to have a dictionary that far down.

And if we get to the stage where we collect bytes sent in `NpgsqlWriteBuffer` again to my knowledge that is the only useful stat within that class; having yet

[2018-05-12 15:16] indy-singh commented on #1914
Bug: With the initial design and pooling turned on, the bytes received doesn't get reset when the connection gets returned to the pool.

[2018-05-12 17:51] roji opened #1929 "Name translation for unmapped (dynamic) composite"
Remaining work from #1746.

We support reading and writing unmapped PostgreSQL composite types as .NET dynamic, but we don't do name translation yet.

[2018-05-12 17:52] roji commented on #1746
Split off the remaining name translation work to #1929

[2018-05-12 17:52] #1746 closed

[2018-05-12 17:54] roji commented on #1727
This was partially implemented in https://github.com/roji/Npgsql/tree/one-pass, but the perf improvement were less than hoped. Perhaps revisit again in the future.

[2018-05-12 17:56] roji commented on #1646
We'll leave things as they are - the non-stream binary importer requires `Complete()`, but not the Stream-based text and raw binary importers.

[2018-05-12 17:56] #1646 closed

[2018-05-12 18:03] roji commented on #1730
Looking at this after a long time, your test passes on the latest dev branch without any errors (assuming the `pair` type is properly defined in PostgreSQL). I'm not longer sure if there really was an issue which was fixed in the meantime or something else.

Am going to close but it would be good if you could test this on the latest 4.0 package (see the [MyGet unstable feed](https://www.myget.org/

[2018-05-12 18:03] #1730 closed

[2018-05-12 18:13] roji commented on #443
@Brar and @YohDeadfall, I'm doing some triage to see what we still want to achieve for 4.0 - are you planning to work this in the near future, do you hope to merge something for the release? As we're pretty close (rc1 is out and rtm is probably going to happen around the end of the month), it might be better to punt this for later.

One note on the whole convertible logic which you were mentioning

[2018-05-12 18:18] roji commented on #1183
@Pat28 sorry for not reacting sooner to your comment.

I agree it's not ideal - I really would have preferred some way to connect synchronously (with a timeout) without having an exception a part of the control flow, but unfortunately that's how the .NET socket API is set up.

I still think that there's more value in providing truly synchronous connection behavior (without any sort of async operat

[2018-05-12 18:18] #1183 closed

[2018-05-12 20:12] Brar commented on #443
@roji actually it's almost done.
Rebasing has proven to be a little complicated due to the most recent changes in ArrayHandler so I'll have to do some manual merging but I think it's doable if you want to squeeze it into 4.0

[2018-05-13 13:50] roji commented on #1927
Sorry, 4.0.0-ci.847 specifically won't work, I had to fix another little problem - just grab the latest one from the unstable feed and that should work (please confirm).

[2018-05-13 16:14] indy-singh commented on #1914
Bug: When a pooled connection is constructed with stats enabled, any other session that re-use that connection will *always* collect stats regardless if the user enables stats or not. This is because we check for stats collection on construction of `NpgsqlReadBuffer` and `NpgsqlReadBuffer` only gets constructed once per connection. The inverse is also true; meaning that if the pooled connection wa

[2018-05-13 16:45] roji commented on #443
@Brar OK, let's see how it goes, we still have at least a couple more weeks until the release, even if my time is going to get much more limited soon (have another unrelated project coming up). Looking forward to seeing your PR.

[2018-05-13 21:21] khorvat opened #1930 "NpgsqlConnectionStringBuilder error - Couldn't set connectionidlelifetime"
Unable to connect to database with npgsql, once the npgsql tries to parse the connection string I get the below exception.

### The issue

Error that I get while parsing the connection string.

[code]

[code]

I have tried to remove the _connectionidlelifetime_ and then I just get same exception with different parameter as _NpgsqlConnectionStringBuilder_ can't read the connection string at all.

#

[2018-05-13 22:01] roji commented on #1930
You need to put spaces between the words - `Connection Idle Lifetime` not `ConnectionIdleLifetime`, same for `Max Pool Size` and others. Carefully read [the doc page](http://www.npgsql.org/doc/connection-string-parameters.html).

[2018-05-13 22:01] #1930 closed

[2018-05-14 05:36] roji commented on #1891
Guys, sorry for not participating in this conversation earlier.

The general direction seems fine. I'm a bit unsure why we need to have `TextHandler` implement `INpgsqlTypeHandler<byte[]>` (this change is already merged) - would it not have been possible to only have JsonHandler do that? Is there any special value in allowing users to write regular strings in binary (as opposed to json)? I'm not h

[2018-05-14 10:02] khorvat commented on #1930
I have checked out _NpgsqlConnectionStringBuilder_ source code and read the docs where you state the _Connection Idle Lifetime_ as proper parameter name, but I have older application installed on multiple servers that has _ConnectionIdleLifetime_ set and applications are working fine with 3.2.6 and _Npgsql_ can read the connection string properly. So I agree that _Connection Idle Lifetime_ should

[2018-05-14 10:02] Chi255 commented on #1846
Hi, I have encountered Npgsql.NpgsqlException (0x80004005) too!
It seem to be fixed by removing the connection parameter "Max Auto Prepare=5;".
I change Max Auto Prepare=0; and the Exception(0x80004005) wont appear.
http://www.npgsql.org/doc/connection-string-parameters.html
Maybe this bug is cause by the new feature in Npgsql 3.2?

this is my testing process:
I was testing the performance of C# c

[2018-05-14 11:10] roji commented on #1179
See discussion in #1803. Apart from documentation improvements this will not change - DateTimeOffset is the more natural counterpart to `timestamptz`, and DateTime maps to `timestamp` (without time zone).

[2018-05-14 11:10] #1179 closed

[2018-05-14 11:13] roji commented on #1803
@YohDeadfall, I've done some more thinking about this and I think it may be a good idea to break the current behavior and simplify things. Based on the discussion, here's a proposal:

# Timestamp without time zone

* By default DateTime is always sent as `timestamp`. No conversion is done. *This is a breaking change*.
* `timestamp` is read as a `DateTime` with `Kind=Unspecified`. Same behavior as

[2018-05-14 11:15] roji commented on #1846
@Chi255, it's great that you've managed to trigger this, but I need an actual sample program which reproduces the issue so I can fix it. Ideally, make a short Program.cs with your loop inside and post it here, and I'll investigate.

[2018-05-14 13:40] khorvat commented on #1930
Yes it was a bug inside our configuration, while configuring someone omitted the "public" part of "Initial Schema=public;" and invalid connection string was produced. We had "MaxPoolSize=5;" and invalid value was "MaxPoolSize=5ConnectionIdleLifetime;".

There are only two things that I suggest:

1. Inside _NpgsqlConnectionStringBuilder_ -> _this_ indexer consider adding _value_ (if not null) on th

[2018-05-14 14:39] jward-2ndwatch commented on #1927
@roji I tested with 4.0.0-ci.859 and confirmed it solves the problem. Thanks! 👍

[2018-05-14 15:40] roji commented on #1927
Great, thanks!

[2018-05-14 15:58] roji opened #1932 "Bring back case insensitivity for GetOrdinal()"
We removed case-insensitive column lookup because it was implemented inefficiently. However, it turn out that [this is a standard feature of ADO.NET](https://msdn.microsoft.com/en-us/library/system.data.idatarecord.getordinal(v=vs.110).aspx).

Bring this back, but implemented efficiently.

[2018-05-15 08:33] roji commented on #1932
Note: #1754 is the original issue which removed case sensitivity.

[2018-05-15 08:57] roji commented on #1754
Note: as case-insensitivity (and Kana-width-insensitivity) is the [documented required behavor](https://msdn.microsoft.com/en-us/library/system.data.idatarecord.getordinal(v=vs.110).aspx) of `GetOrdinal()`, bringing it back but in a more optimized form in #1932.

[2018-05-15 09:05] #1932 closed

[2018-05-15 11:28] roji commented on #1322
Note: the built-in Npgsql support types have been moved out to the plugin Npgsql.LegacyPlugin, and this issue is about enabling `geography` support for that.

`geography` support is also available for the new Npgsql.NetTopologySuite plugin which is more recommended.

[2018-05-15 11:29] StillLearnin commented on #1921
Fixed by #1925

[2018-05-15 11:29] #1921 closed

[2018-05-15 11:30] #1322 closed

[2018-05-15 13:30] suthrams opened #1933 "Parameter XXXX referenced in SQL but is an out-only parameter"
Here is the code snippet to repro the problem. We need to have the ability to have a sql batch of statements do some work and get something back in the out param.

1) Create a table with schema in the commented code
2) Add a connection string key to setup  a connection to postgres db
3) Run the sample console app

[code]

[2018-05-15 13:32] suthrams commented on #1933
Here is the code snippet to repro the problem. We need to have the ability to have a sql batch of statements do some work and get something back in the out param.

1) Create a table with schema in the commented code
2) Add a connection string key to setup  a connection to postgres db
3) Run the sample console app

using Npgsql;
using NpgsqlTypes;
using System;
using System.Configuration;
using Sys

[2018-05-16 07:00] realvictorprm commented on #1322
Wow. Thank you

[2018-05-16 07:50] msvprogs commented on #1830
I need to insert a large amount of data (approx. 1000 rows) as fast as possible, but with ON CONFLICT UPDATE checks, so bulk insert isn't applicable. It would be great to have possibility to execute these INSERT commands as a batch.

[2018-05-16 09:07] anon17 commented on #1633
Ah, found it, reference assemblies are installed by the [mono-devel](https://packages.ubuntu.com/xenial/devel/mono-devel) package

[2018-05-16 09:17] roji commented on #1830
@msvprogs you can definitely do that - simply concatenate all those INSERT statements into the same NpgsqlCommand.CommandText. For extra perf you can prepare the command before executing it, if the statements inside the command are identical (i.e. same parameterized SQL), that'll give you another nice perf bump.

[2018-05-16 11:44] #1787 closed

[2018-05-16 20:47] roji commented on #1932
@YohDeadfall the Travis failure turned out to be related to a .NET Core vs. .NET Framework (or at least mono) discrepancy, see https://github.com/dotnet/corefx/issues/12518.

The issue is specifically when comparing with both `CompareOptions.IgnoreWidth` and `CompareOptions.IgnoreCase` - Kana width isn't actually ignored in this scenario on .NET Core. If you remove the `IgnoreCase` it does ignore

[2018-05-16 21:10] roji commented on #1073
I think we'll punt this to a later release. It has become much less critical now that we support NetTopologySuite as the recommended way to map PostGIS types.

[2018-05-16 21:54] YohDeadfall commented on #1759
Full support of the feature is planned to .NET Core 2.2 (dotnet/corefx#25040).

[2018-05-17 11:02] roji commented on #1830
There's nothing necessarily wrong with batching 1000 INSERTs with 6000 parameters, have you given it a try? Any particular reason why it's problematic?

[2018-05-17 14:53] roji opened #1936 "Portable support for TCP keepalive"
Our current support for TCP keepalive is partial and platform-specific, involving special code for Linux/Windows.

It seems that .NET Core 2.2 will have portable support for TCP keepalive: https://github.com/dotnet/corefx/issues/25040. When that happens switch to using that API.

[2018-05-18 06:07] kathieeeeeeeeeeeeeeee commented on #1548
Npgsql.NpgsqlConnector.Connect(NpgsqlTimeout timeout)

[2018-05-18 07:02] roji commented on #1548
@kathieeeeeeeeeeeeeeee you need to provide more details on what you're trying to do and what error you're getting. Please open a new issue with all that rather than posting here.

[2018-05-18 07:02] msvprogs commented on #1830
@roji Yeah, it worked, thanks. But it still looks ridiculous to execute SQL statement with thousands of parameters :)

[2018-05-18 07:11] roji commented on #1830
@msvprogs I agree, https://github.com/dotnet/corefx/issues/3688 is about having a better standard API for batching in ADO.NET, but for now that's what we have.

Keeping this issue open to track implementation `NpgsqlDataAdapter.UpdateBatchSize`.

[2018-05-20 21:38] roji commented on #1803
Fixed via #1940 for 4.0.

[2018-05-20 21:38] #1803 closed

[2018-05-21 16:41] roji opened #1942 "Verify support for arrays of domains and domains of arrays"
These are being added to PostgreSQL 11

[2018-05-21 17:09] austindrenski opened #1943 "Determining if NpgsqlRange<T> is implicitly emptying"
Moved from: https://github.com/npgsql/npgsql/pull/1939#discussion_r189436481

[code]

@roji:

@austindrenski:

@roji:

[2018-05-21 17:59] austindrenski commented on #1943
@roji I think hardcoding discreteness makes sense for the built in range types. But to clarify, I wasn't suggesting a database lookup for the canonical functions.

Initially, I was playing around with the idea of an interface based approach, whereby user-defined range types are implemented as structs with some `INpgsqlRange` interface....but that gets complicated quickly. (This is where canonical

[2018-05-21 23:37] dmitry-a-morozov commented on #1874
@kspeakman Better way to handle it is to add [`[<CLIMutable>]`](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/core.climutableattribute-class-%5Bfsharp%5D) attribute annotation on record type.

[2018-05-21 23:42] kspeakman commented on #1874
@dmitry-a-morozov Actually, I rather view it as a far worse way to handle it. The resulting record is no longer immutable.

[2018-05-21 23:51] dmitry-a-morozov commented on #1874
F# compiler won't let you mutate it in F# code base. How will you do it?

[2018-05-21 23:53] kspeakman commented on #1874
It may not be passed only though F#.

[2018-05-22 00:04] dmitry-a-morozov commented on #1874
Glad to be helpful.
I agree it is not ideal way to handle the issue more like workaround.

[2018-05-22 01:17] pascalhaakmat opened #1944 "3.2.7 crashes Mono 5.0.12.226"
### Steps to reproduce

Some very simple code to write an entity to the database fails catastrophically:
[code]

This is simplified, but not much. I can provide a project file later.

The code is part of an ASP.NET MVC project with Npgsql 3.2.7 and EntityFramework 6.1.3.
I am using Mono 5.12.0.226 on Ubuntu 16.04 (LinuxMint 18.1) and MonoDevelop 7.3.3 (build 5).
PostgreSQL 9.3.16.

Npgsql 3.2.6 wo

[2018-05-22 05:31] roji commented on #1944
Your program output shows an assertion failure within mono itself, indicating a bug in mono. Can you please post this to the mono guys, including a full, minimal console program which runs the issue? Your code fragment above doesn't show what `User` is etc.

[2018-05-22 05:31] #1944 closed

[2018-05-22 05:33] roji commented on #1874
FWIW I do think the properly supporting F# record types is an important goal, it's just that there's too much going on for 4.0 (it should definitely get done for 4.1). I don't know enough about F# to comment about the above workaround though.

[2018-05-22 06:57] pascalhaakmat commented on #1944
Understood. I figured I would report it here because 3.2.6 does work, so perhaps a workaround is feasible? I have attached a minimal console project.
[Npgsql-SIGABRT.zip](https://github.com/npgsql/npgsql/files/2025295/Npgsql-SIGABRT.zip)

[2018-05-22 17:28] roji commented on #1943
This goes back to questions of replicating the PostgreSQL range behavior in the client, which as you know seems like a risk proposition to me, especially in light of the relatively limited value it brings to the table.

Shifting the discrete/continuous decision to the user could work. If we go down this route, I think there would still be a constructor without the discrete parameter, and which wou

[2018-05-22 17:32] roji commented on #1944
@pascalhaakmat sorry, I missed that 3.2.6 works well.

Unfortunately, with this kind of low-level runtime error, it's difficult to know exactly what triggered... It's possible to bisect by running your repro on every commit added by 3.2.7 on top of 3.2.6 (there aren't that many) - this would tell us exactly what change triggers the mono issue. This would also possibly allow us to narrow it down an

[2018-05-22 20:47] roji opened #1946 "Sign released nuget packages"
https://docs.microsoft.com/en-us/nuget/reference/signed-packages-reference#register-certificate-on-nugetorg

Investigate doing this in Appveyor.

When done, do for EFCore.PG as well.

[2018-05-23 06:10] #1919 closed

[2018-05-23 07:37] viveknuna opened #1947 "'NpgsqlDbContextOptionsBuilder' does not contain a definition for 'NodaTime'"
I cannot use NodaTime() in my code. Getting the below error.

**Code:**

[code]

NodaTime: 2.3.0
NodaTime.Serialization.JsonNet: 2.0.0
EF Core: 2.0.1
Npgsql: 3.2.7
Npgsql.EntityFrameworkCore.PostgreSQL: 2.0.2

[2018-05-23 07:38] pascalhaakmat commented on #1944
I bisected v3.2.6 through v3.2.7 and discovered that all of them are good :-)
I'm assuming that is because I used Mono to build the intermediate steps, and the Mono compiler doesn't emit code that Mono's own JIT doesn't understand. I don't have a setup to be able to cross-compile easily right now, so I guess this is really one for the Mono guys to fix. I suppose I can use the Mono-built v3.2.7 (th

[2018-05-23 07:58] khellang commented on #1947
It's not called `NodaTime`, it's called `UseNodaTime` 😄

[2018-05-23 08:58] viveknuna commented on #1947
Documentation is incorrect, it should be fixed.

[2018-05-23 09:32] roji commented on #1947
What exactly is incorrect [in the documentation](http://www.npgsql.org/efcore/mapping/nodatime.html)? It clearly says to use EF Core 2.1 and to call `UseNodaTime()`.

[2018-05-23 09:48] khellang commented on #1947
It says

Which should be

There's also an inconsistency with the documentation and code for the Npgsql type mapper extension method. See #1948

[2018-05-23 10:36] roji commented on #1944
OK, thanks for doing the legwork on this... The results aren't very surprising, this kind of low level big is usually quite "random"...

Can you please post a link here to the mono issue once you open it?

[2018-05-23 10:53] pascalhaakmat commented on #1944
Yup, already linked this issue to https://github.com/mono/mono/issues/8811.

[2018-05-23 12:47] #1947 closed

[2018-05-23 17:44] haritheone commented on #656
Hi, I tried the same as Sathya and ended up with same error.

Npgsql Visual Studio Extension - 3.2.7
![image](https://user-images.githubusercontent.com/39566826/40441399-88be2e34-5e86-11e8-98bb-b8e0b21eea4a.png)

Npgsql - 3.2.7
![image](https://user-images.githubusercontent.com/39566826/40441531-f588a9e0-5e86-11e8-8816-66f0c5c355f3.png)

[2018-05-24 21:33] abelykh0 opened #1950 "NullReferenceException in NpgsqlDataReader.GetColumnSchema"
### Steps to reproduce

[code]

### The issue
NpgsqlDataReader.GetColumnSchema should not throw NullReferenceException

Exception message:
Object reference not set to an instance of an object.

Stack trace:

[code]

### Further technical details

Npgsql version: 3.2.7.0
PostgreSQL version: 9.6.4
Operating system: Windows 7

Other details about my project setup:

[2018-05-25 12:34] roji commented on #1950
@abelykh0 in order to work on this I will need the database schema which triggers the error. Ideally you would narrow down which table or column is triggering it and post a minimal schema reproducing.

[2018-05-25 13:29] abelykh0 commented on #1950
Why do you need a database schema? The query doesn't use any tables.

[2018-05-25 13:29] abelykh0 commented on #1950
I think it only happens when there's no result.

[2018-05-25 16:53] abelykh0 commented on #1950
No only zero rows, but nothing at all. If you look at my code, the sql that I am running is "COMMIT" which has no output whatsoever. Any other .Net providers (such as SQL Server, Oracle, etc.) return an empty array instead of throwing. Thank you!

[2018-05-26 07:07] lahma opened #1951 "[4.0] Breaking change in row column name ordinal mapping case-sensitivity"
While investigating https://github.com/quartznet/quartznet/issues/626 I found out that there's a breaking change between 3.x and 4.x driver. Column index mapping is no longer case-insensitive.

### Steps to reproduce

// a bit pseudo
RowDescriptionMessage messsage = new RowDescriptionMessage();
message._nameIndex["trigger_name"] = 1;
// works
message.GetFieldIndex("trigger_name");
// throws
messag

[2018-05-26 22:35] ajensenwaud opened #1954 "Npsql fails to generate scaffold, but doesn't report what column / table it relates to"
Hi, I'm trying to get dotnet ef scaffold to run on an existing PostgreSQL database.

[code]

Below is the table ('clients') it seems to be struggling with:

[code]

Any ideas on how to fix this? Is it the composite unique index (clients_unique_lower_email_idx) it doesn't like?

[2018-05-27 04:48] MichaelBuen opened #1955 "UTC date is not sent as-is"
### Steps to reproduce

schedule field's type is timestamptz

.NET backing property is DateTime

### The issue

schedule field from NHibernate log: **2018-05-04T17:37:00.0000000Z**

schedule field from Postgres log: **'2018-05-04 17:37:00'**

### Further technical details

Npgsql version:
PostgreSQL version: PosgtreSQL 10.3
Operating system: macOS

### Effect on NHibernate:

User selected May 5, 2

[2018-05-27 06:07] #1950 closed

[2018-05-27 06:08] roji commented on #1950
Thanks for raising, fixed for 3.2.8 and 4.0.0.

[2018-05-27 06:14] roji commented on #1955
tl;dr Npgsql 4.0.0 probably implements the behavior you want (see #1940). If you could test 4.0.0-rc1 and confirm everything is OK, that would be great.

[2018-05-27 06:35] roji commented on #1954
This is an Entity Framework Core issue, which belongs in https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL. This repo is for Npgsql, the ADO.NET provider.

Regardless, this is a duplicate of https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/228. A workaround has been pushed for 4.0.0 and 3.2.8, you can try using a package [from the unstable feed](http://www.npgsq

[2018-05-27 06:35] #1954 closed

[2018-05-27 07:00] lahma commented on #1951
Thanks for the fast reply. I've tested against the unstable feed and integration test suite passes so we should be good.

[2018-05-27 07:28] roji commented on #1951
@lahma thanks for testing and confirming!

[2018-05-27 12:47] MichaelBuen commented on #1955
Tested on 4.0.0-rc1:

![image](https://user-images.githubusercontent.com/1811636/40586078-b6996952-61ee-11e8-9220-36ae8b7bac7a.png)

Same result:

![image](https://user-images.githubusercontent.com/1811636/40586097-02af3c0e-61ef-11e8-9cdf-8601d46ed690.png)

[2018-05-27 13:17] MichaelBuen commented on #1955
Tried testing Npgsql only, looks like it has correct behavior. It seems the error is on NHibernate's side.

![image](https://user-images.githubusercontent.com/1811636/40586306-1ea10984-61f3-11e8-972a-d4f9db218e8f.png)

![image](https://user-images.githubusercontent.com/1811636/40586320-412a344e-61f3-11e8-972f-07046905ca29.png)

[2018-05-27 13:49] roji commented on #1955
OK, I'm going to close this. If this turns out to be related to Npgsql please post back and we'll revisit.

[2018-05-27 13:49] #1955 closed

[2018-05-27 18:16] roji opened #1957 "Cloned parameter does not retain TrimmedName"
Triggers https://github.com/npgsql/EntityFramework6.Npgsql/issues/97

[2018-05-27 18:16] #1957 closed

[2018-05-27 18:33] roji commented on #656
@haritheone please try to upgrade to Npgsql 3.2.7 and to EntityFramework6.Npgsql 3.1.1 (note the package name change). The 2.x versions are ancient by now and aren't supported.

In addition, it can't be good for you to have those versions in your packages.config, but to have version 3.2.7 installed of the Npgsql Visual Studio extension.

[2018-05-29 04:37] roji commented on #448
Looking at this again, we would simply read/write [.NET's `BigInteger`](https://msdn.microsoft.com/en-us/library/system.numerics.biginteger(v=vs.110).aspx) rather than introduce an NpgsqlDecimal type.

[2018-05-29 06:13] YohDeadfall commented on #448
`BigInteger` doesn't support fractions, so I  prefer to implement a new type. It wouldn't be too hard for me.

[2018-05-29 08:34] hussyd commented on #1743
@rstander Is it a connection/query issue right? In my application there is a repository and it has DbOperation methods which create a new connection, open it, enlist to current transaction and close the connection when finished. In this scenario I become the same exception.

[2018-05-29 09:38] roji commented on #1743
@hussyd it depends if the current transaction to which you enlist already has another (durable) connection enlisted to it. The moment you have more than one (durable) connection, the transaction manager will automatically escalate to a distributed transaction, which involves a PostgreSQL prepared transaction.

So make sure you understand exactly how your application enlists connections to your tra

[2018-05-29 09:38] #1743 closed

[2018-05-29 14:46] AliAfsharii opened #1962 "Get status of connection pool in npgsql"
I use npgsql 3.2.6 in .net core 2. Is it possible to get status details of connection pool to see how many connection there are and how many of them are free. for example npgsql max pool size is 100 and there are 100 connection in it. when query postgresql can see there are 100 idle connection but how can we find how many of these 100 connection are free to use?

[2018-05-29 15:14] FernandoRibeiro42Q opened #1963 "Npgsql improperly sends multidimensional array to postgres function"
Hey everyone,

When sending a multidimensional array to a Postgres function I'm getting the following exception:
P0001: invalid input syntax for integer: "System.String[]"

It looks like the reason for this exception is because NpgSQL is improperly sending one of the function's parameters, in this case, the parameter is a two-dimensional array of strings.

Here's the method that throws this except

[2018-05-29 19:02] haritheone commented on #656
@Roji Im using VS2015 update 3 and facing issues with 3.x versions. Should I upgrade to VS 2017?

I did use 2.x version with following combination and the error has gone.

![image](https://user-images.githubusercontent.com/39566826/40679488-e1d7bc62-6348-11e8-9323-78b9bb158c45.png)

[2018-05-29 20:47] roji commented on #1962
* One way is to use [performance counters](http://www.npgsql.org/doc/performance.html#performance-counters), although that's only an option with .NET Framework on Windows.
* [Logging](http://www.npgsql.org/doc/logging.html) may provide some more info, although IIRC there isn't much insight into pool state because of perf reasons.
* If you can attach a debugger, then you can inspect the pool's inte

[2018-05-29 20:47] #1962 closed

[2018-05-29 21:13] roji commented on #1963
You code repro isn't very complete, specifically, it doesn't contain the actual SQL being executed, nor the schema of the table it's trying to access.

In any case, arrays of arrays (`string[][]`) aren't supported because PostgreSQL doesn't support jagged arrays. Trying to run the following code:

[code]
throws an exception with the message:

Multi-dimensional arrays, on the other hand, are suppor

[2018-05-29 21:13] #1963 closed

[2018-05-31 11:16] t0pd3v1c3 opened #1964 "Invalid attempt to call HasRows when reader is closed"
After executing ExecuteNonQuery() I get an error, it does not always.

[code]

Npgsql version: 4.0.0
PostgreSQL version: 9.5
Operating system: Windows 10

[2018-05-31 11:31] t0pd3v1c3 commented on #1964
I don't call HasRows. I'm calling simply ExecuteNonQuery().
HasRows called from Npgsql source (look exception trace):

[code]

[2018-05-31 11:35] wiktor-golonka opened #1965 "Support writing Nullable<T> in COPY binary importer"
### Steps to reproduce
[code]

### The issue
After updating npgsql to 4.0.0:
When type of `Value` is nullable decimal I'm getting an exception while using binary import.
`Value' = 627.99M.

[code]

### Further technical details

Npgsql version: 4.0.0
PostgreSQL version: 10
Operating system: W10 64bit

[2018-05-31 11:37] 2881099 opened #1966 "Enum/Composite"
"NpgsqlParameter" used to support "NpgsqlDbType.Array | NpgsqlDbType.Enum" or "NpgsqlDbType.Array | NpgsqlDbType.Composite".

How do we use arrays now?

[2018-05-31 11:40] 2881099 commented on #1966
"SpecificType" is hidden, no compatible version 3

[2018-05-31 12:37] roji commented on #1966
As mentioned in the [release notes](http://www.npgsql.org/doc/release-notes/4.0.html), `SpecificType` has been removed, see [the enum/composite docs for more info](http://www.npgsql.org/doc/types/enums_and_composites.html).

In a nutshell, if you've already mapped your composite type, simply stop setting NpgsqlDbType; Npgsql will automatically know from the value what needs to be sent. You also ha

[2018-05-31 12:37] #1966 closed

[2018-06-01 07:31] panost commented on #1707
In 4.0 I am still getting exceptions for hstore etc
Specifically in [Npgsql.TypeMapping.ConnectorTypeMapper.DoBindType](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/TypeMapping/ConnectorTypeMapper.cs#L287)

[2018-06-01 16:31] roji commented on #1707
Can you please open a separate new issue (as this one tracks work done for 4.0)? I guess I missed that one because I have extensions installed in my test database.

[2018-06-01 16:42] panost opened #1969 "Remove internal exceptions, during connection initialization"
### Steps to reproduce

Connect to a database that doesn't have any extensions installed

### The issue

Several exceptions occur in [ConnectorTypeMapper.DoBindType](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/TypeMapping/ConnectorTypeMapper.cs#L295) method

### Further technical details

Npgsql version: 4.0
PostgreSQL version: 10.0
Operating system: WINDOWS 10

[2018-06-02 05:39] Brar opened #1971 "TimeSpan auto-infers interval not time"
While our [documentation](https://github.com/npgsql/npgsql/blob/dev/doc/types/basic.md) suggests that a `TimeSpan` value auto-infers the PostgreSQL type `time` when applied to an untyped parameter it actually infers `interval`.

[code]

[2018-06-02 06:33] roji commented on #1971
Yeah, 3.0.0 briefly changed `TimeSpan` to map to `time`, but #854 changed this for 3.0.4 - we forgot to update the documentation. Can you submit a doc fix PR?

[2018-06-02 06:47] Brar commented on #1971
Certainly.
I would have already done it if I knew whether it was a documentation bug or a code bug.

[2018-06-02 06:47] #1971 closed

[2018-06-02 09:48] sa13m opened #1973 "function inout parameter and composite type"
VS2017, .NET 4.5, Npgsql 3.2.2

The issue

[code]

[code]

When performing cmd.ExecuteNonQuery() receive an exception:
System.InvalidCastException: 'Can't write type Test.Data.Entities.DocItem as an array of Test.Data.Entities.DocItem'

if using command.Parameters.AddWithValue("item", new DocItem()) it works, but I don't receive parameter back

Further technical details
Npgsql version: 3.2.2
Postg

[2018-06-02 20:38] sa13m commented on #1973
I have changed on NpgsqlTypes.NpgsqlDbType.Composite and System.InvalidCastException: 'When specifying NpgsqlDbType.Enum, SpecificType must be specified as well'

[2018-06-02 21:39] austindrenski commented on #1973
In version `3.2.2`, that exception is thrown by:

https://github.com/npgsql/npgsql/blob/1f044cec88b0f65e678b0c3d4f4478b787b0e9b4/src/Npgsql/TypeHandlerRegistry.cs#L527-L528

Meanwhile, `NpgsqlParameter.SpecificType` is documented as:

https://github.com/npgsql/npgsql/blob/1f044cec88b0f65e678b0c3d4f4478b787b0e9b4/src/Npgsql/NpgsqlParameter.cs#L525-L530

Try something along the lines of:

[code]

[2018-06-02 22:43] john2014 commented on #1932
Hi Roji, the 4.0 release notes still says it is case sensitive:

http://www.npgsql.org/doc/release-notes/4.0.html

[2018-06-03 11:43] sa13m commented on #1973
It works, but back result I receive only id(PK) not DocItem

[2018-06-03 12:27] Brar commented on #1943
@austindrenski wrote:

Is this really the case?
What makes it complicated?

@roji wrote:

With this in mind I was thinking about an Interface too.
We could provide a very efficient implementation for the six built-in range types and leave the (possibly complicated) implementation of special types (that are unpredictable for us) to users who think they really need it.

I was thinking of something l

[2018-06-03 12:28] Brar commented on #1943
@austindrenski wrote:

Is this really the case?
What makes it complicated?

@roji wrote:

With this in mind I was thinking about an Interface too.
We could provide a very efficient implementation for the six built-in range types and leave the (possibly complicated) implementation of special types (that are unpredictable for us) to users who think they really need it.

I was thinking of something l

[2018-06-03 12:47] roji commented on #1943
Regarding the interface idea, it works well for writing ranges to PostgreSQL, but what do you for reading, i.e. how does Npgsql know which concrete type to instantiate and return?

One option is to allow users to specify the concrete type simply by calling `reader.GetFieldValue<MyRangeType>(index)`, and assuming that MyRangeType implements the interface it will work (but the interface is read-only

[2018-06-03 13:38] Brar commented on #1943
We could require it to implement an additional interface  for setting values like
[code]

If users don't like to make those methods public they could still implement the interface explicitly.

This is what I was thinking of too.
But in this case it would just be a bare minimum implementation of the interface without any whistles and bells.

[2018-06-03 13:46] Brar commented on #1943
...and if this isn't enough for some user we still have the type handler hooks where it should be possible to do whatever you want.

[2018-06-03 13:49] roji commented on #1943
Considering that a concrete range implementation would typically be a struct, having mutators on the interface would make the struct mutable, which is a pretty bad idea IMHO.

Another consequence of the interface is that writing will almost surely involve boxing...

Guys, don't forget that nobody has ever actually complained about the range support, and that the main advantage of the user-defined

[2018-06-03 14:06] Brar commented on #1943
Both of this would only be true for the user defined range types where we expect close to zero usage.
I'm pretty sure that we can avoid boxing for the six built-in range types, make them immutable and even make them more efficient due to the stricter type constraints on our own implementation.

The reason I'm engaging here is that I just found out that the following simple test fails.
While this i

[2018-06-03 16:29] austindrenski commented on #1943
@roji wrote:

Very much agree. But what prevents us from using a reflection-based invocation of a matching constructor?
___
@roji wrote:

To be fair, I think of this as a chicken and egg problem. I have a few real world projects that could creatively use user-defined ranges, but avoid them because the ORM support is limited.
___
@Brar wrote:

While this is a problem we inherit from the PostgreSQL

[2018-06-03 17:38] austindrenski commented on #1973
Looking through the tests from `3.2.2`, I don't see any examples of an external parameter variable being updated with the result from an `INOUT`.

Instead the tests use the parameters within the command instance:

https://github.com/npgsql/npgsql/blob/1f044cec88b0f65e678b0c3d4f4478b787b0e9b4/test/Npgsql.Tests/CommandBuilderTests.cs#L35-L64

Do you see the updated value with this?

[code]

[2018-06-03 17:48] Brar commented on #1943
This is another option. Yet we don't have a way to enforce the presence of a certain constructor at compile time and reflection tends to be slow.

Anyways this would only be a problem for user defined range types which probably are a 0.01% case and most certainly not worth any headache.

I very much agree. I tend to use daterange and tsrange all the time but until now I've never let them map to an

[2018-06-03 20:50] austindrenski commented on #1943
I've opened #1974 to update `NpgsqlRange<T>` to use `ReadOnlySpan<char>` per some pre-`4.0.0` [discussion](https://github.com/npgsql/npgsql/pull/1939#pullrequestreview-121308396).

@Brar I've included your unit test as `Roundtrip_canonicalization_causes_issues`. The condition is flipped such that passing means the issue exists.

[2018-06-03 21:02] Brar commented on #1943
@austindrenski nice!

BTW I just found out that we also can't roundtrip an empty tstzrange with the current dev branch.
My guess is that it's due to #1940

[2018-06-03 21:05] austindrenski commented on #1943
@Brar Can you post a test?

[2018-06-03 22:14] Brar commented on #1943
My guess is that it's due to #1940

I take it back. It was a bug in my test.
Sorry for the noise!

[2018-06-03 23:20] sa13m commented on #1973
After cmd.ExecuteNonQuery(); cmd.Parameters[0].Value = id(PK) before cmd.Parameters[0].Value = new DocItem(). The example uses the int type is not composite. In which version npgsql does it work?

[2018-06-04 09:02] roji commented on #1943
A few more comments from me...

I'm pretty sure that we can avoid boxing for the six built-in range types, make them immutable and even make them more efficient due to the stricter type constraints on our own implementation.

I think it's good that we're concentrating on the built-in range types. As a general rule we shouldn't compromise on immutability nor on boxing here.

I understand that it ma

[2018-06-04 15:27] monty241 opened #1975 "Hidden 'A PostgreSQL type with the name hstore was not found in the database.' exception"
### Steps to reproduce

Upgrade from 3.2.7 to 4.0.0.
Run code.
New ArgumentException: A PostgreSQL type with the name hstore was not found in the database.
Call stack:

[code]

Additional information arriving straight after this:
[code]
And NotSupportedException:
[code]

Followed by:
[code]

After this the driver reports that it 'Opened connection to ...'

Are these messages of any relevance?

[2018-06-04 16:07] roji commented on #1975
Duplicate of #1969. You can safely ignore these errors, but they will be removed in the future to improve the debugging experience.

[2018-06-04 16:07] #1975 closed

[2018-06-04 20:47] haritheone commented on #656
Back to square one with same error.

Real challenge is that 'Npgsql.EntityFramework v2.2.7 (latest release) has dependency on npgsql v 2.2.7 (exactly 2.2.7). If I install later version of npgsql then Npgsql.EntityFramework fails. I am really stuck here. Can  anyone help me resolve this? I have also installed Visual Studio 2017

Package details
![image](https://user-images.githubusercontent.com/395

[2018-06-05 12:37] sa13m commented on #1973
Tried version 4.0.0 when mapping conn.TypeMapper.MapComposite<DocItem>("docitem") I receive an exception: System.ArgumentException: 'A PostgreSQL type with the name docitem was not found in the database'.  If set DataTypeName = "docitem" in NpgsqlParameter I receive an exception: System.NotSupportedException: 'Could not find PostgreSQL type docitem'.  Other than the table do I need to create the s

[2018-06-05 13:11] roji commented on #1973
Are you creating your database composite type (`docitem`) and trying to map it in the same running application? If so you will need to invoke `NpgsqlConnection.ReloadTypes()`: Npgsql caches all PostgreSQL types the first time it connects to a database, and must be told to reload them after you create your composite type.

If you're mapping your composite type (as is recommended), then you shouldn'

[2018-06-05 14:50] aenon83 opened #1976 "I can't open connections when app is running on a shared drive (Windows 10)"
Where I work we have a maped share folder where we put our compiled application to test it as a demo. Recently my computer updated to the latest Windows 10 update and we noticed that everyone that has Windows 10 throws an exception of invalid argument when trying to open a connection. Other coworkers that have Windows 7 can run it without problems. Furthermore if I copy those file to my Documents

[2018-06-05 15:57] roji commented on #1976
Unfortunately we can't really help you with such an old version of Npgsql - 2.0 is really ancient by now. Please try to upgrade to the recently-released 4.0.

Unless I'm mistaken in some old versions there was some interaction with CAS (Code Access Security) which may be somehow connected to this exception, but IIRC it was removed at some point so there's every chance you won't encounter this erro

[2018-06-05 15:57] #1976 closed

[2018-06-05 16:07] aenon83 commented on #1976
I tried it using the last nuget package (4.0.0) and throws the same error and I get the same exception with a different stack trace:

   en System.Net.Sockets.Socket..ctor(AddressFamily addressFamily, SocketType socketType, ProtocolType protocolType)
   en Npgsql.NpgsqlConnector.Connect(NpgsqlTimeout timeout)
   en Npgsql.NpgsqlConnector.<RawOpen>d__153.MoveNext()
--- Fin del seguimiento de la pil

[2018-06-05 16:11] roji commented on #1976
OK, so this is most probably some sort of security policy that prevents untrusted software (running from a network share) from opening a network connection (like a sandbox). This isn't related to Npgsql (which is nothing more than a network client), your best bet is to search in general about Windows security policies etc...

Sorry I can't help more but I really have no special knowledge in this k

[2018-06-05 16:14] aenon83 commented on #1976
Ok, thanks anyways

[2018-06-05 17:04] rwasef1830 commented on #1969
[code]

[2018-06-05 20:17] YohDeadfall opened #1977 "Numeric value does not fit in a System.Decimal"
Before upgrading to npgsql 4 the code inserted using npgsql a decimal value which now throws exceptions when being read.
This is the problematic column value: -15.272981383792788341206712480

---

/cc @guylando

[2018-06-06 05:47] #1969 closed

[2018-06-06 06:11] roji commented on #1969
Pushed a fix. @rwasef1830 and possibly others, can you please test 4.1.0-ci.1001 from [the unstable feed](http://www.npgsql.org/doc/#unstable-packages) and confirm that these first-chance exceptions are gone? If so I'll merge for the 4.0.1 release.

[2018-06-06 06:54] Brar commented on #1943
While this is possible I can hardly agree that it is a good Idea.
After all Npgsql is the data provider for PostgreSQL and should adhere to its standards wherever possible.
This is the principle of least surprise.
If some user doesn't know the behavior of discrete range types, the lesson to learn would be the same using Npgsql as it would be using the PostgreSQL backend.
If the user already knows

[2018-06-06 07:56] Brar commented on #1943
I've created a more complex test (that succeeds) to illustrate what I mean:

[code]

There's too many surprises in there for me even knowing all the details.

[2018-06-06 08:05] Brar commented on #1943
The lowest hanging fruit for minimizing surprise would actually be changing the upper bound default of our simplest constructor to the [defaults from PostgreSQL](https://www.postgresql.org/docs/current/static/rangetypes.html#RANGETYPES-CONSTRUCT) which would solve the `SimpleRoundTripProblem()` but not the `AdvancedRoundTripProblem()`.

This
[code]
would be changed to this

[code]

[2018-06-06 08:10] roji commented on #1943
I understand what you're saying @Brar, and I don't think the current behavior is an ideal situation. I do admit I'm less shocked than you are - firmly keeping in mind the fact that PostgreSQL normalizes, the above simply isn't that surprising to me - but of course it would be better if the client side were aware of it as well.

The best way forward here is probably to propose what you consider to

[2018-06-06 10:47] rwasef1830 commented on #1969
@roji warnings are gone with 4.1.0-ci.1001

[2018-06-06 11:59] roji commented on #1969
Thanks.

[2018-06-06 12:54] msneijders opened #1980 "Cannot read arrays of records"
### Steps to reproduce

[code]

### The issue
Getting the value of an Array of record throws an exception. I was expecting an object[] of object[] as a result (new object[] { new object[] { 1, 2, "a" }, new object[] { 1, 2, "a" } } for this example).

In my real-world scenario I try a query like:
[code]
My client code then desides how to aggregate and format and display the somePartialRecordsFromR

[2018-06-06 13:28] BStramke commented on #1866
Retested with NpgSQL 4.0.0 failed as well:

[code]

[2018-06-06 13:45] onsitemapping opened #1981 "spatial data types not serializing properly with JSON"
### Steps to reproduce

1. Create a Model with Polygon or MultiPolygon member added.
2. Create EF Migration and apply to database
3. Create API Controller based on Model.
4. Add Data
5. Execute API action.

### The issue

The data is returned incomplete.  Depending on the datatype it will either render the first characters in the string before it gets to the geometry fields.  If you add JsonIgnore

[2018-06-06 14:58] roji commented on #1866
Closing as a duplicate of #1944, see there for an attempted diagnosis and also for an issue opened with mono.

[2018-06-06 14:58] #1866 closed

[2018-06-06 15:04] roji commented on #1981
Please submit a minimal piece of code (model + insert + query code), just a simple console program (no ASP.NET please) that demonstrates what's not working as expected. It's specifically unclear how exactly JSON is related to the EF Core provider's spatial support and what the relevance of the `[JsonIgnore]` attribute is.

[2018-06-06 18:49] sa13m commented on #1973
I use EntityFramework 6 code first docitem is a entity and table in the database.
[code]
and exception: System.ArgumentException: 'A PostgreSQL type with the name docitem was not found in the database'. In version 3.2.2, the composite type mapping worked fine, but the function inout parameter did not return (wrote above)

[2018-06-06 21:10] #1977 closed

[2018-06-06 21:21] roji commented on #1973
@sa13m I don't exactly what's going on, because you're not posting full code. When executing the above code (`Open()`, `ReloadTypes()`, `MapComposite()`), does the `docitem` table already exist in the database? The exception is saying that it isn't - you may need to make sure EF6 creates the table first.

[2018-06-07 00:55] djnsu commented on #1981
I have the same problem when trying to produce json with [Produces("application/json")] in controller with EF Core. I think that I should produce json without EF and try to use pure Npgsql. Am i right?

Here what Postman replies.
Expected ',' instead of ' '
{"idStorage":"3274ef15-cfcb-4cfd-8353-def1924caacb","address":"StorageTestName01","location":{"coordinateSequence":{"dimension":3,"ordinates":

[2018-06-07 06:15] sa13m commented on #1973
The table is created in the database I do not create it when the application is started. I execute the function with ADO:
[code]

[2018-06-07 07:52] roji opened #1982 "Implement multiplexing"
To significantly increase perf under load, we may want to change the architecture of Npgsql to support multiplexing/pipelining. This issue is for having a high-level architectural discussion, here are some definitions to make sure everyone is on the same page:

* *Batching*. This refers to the ability of a program to use a specific driver API to send more than one SQL statement for execution. This

[2018-06-07 07:54] roji commented on #1982
/cc @bgrainger

[2018-06-07 08:14] benaadams commented on #1982
Pipelining works with the *Async model; however I think it would also break peoples assumptions (and maybe the contract) or ado.net; sort of treating the database client more like httpclient.
[code]
I doubt users would expect that would work; or even try it.

Multiplexing would bring the benefits of pipelining; plus more, but wouldn't require any changes to user code (apart from maybe opting in);

[2018-06-07 08:39] roji commented on #1982
I'm not 100% sure this wouldn't work with totally synchronous APIs as well: at the end of the day you'd (synchronously) write the protocol messages to the server, and then wait (instead of await) on something to get notified when your resultset has been buffered etc.

At least up to now I've been a bit zealous about providing 100% sync APIs alongside 100% async APIs in Npgsql, although we may cons

[2018-06-07 10:21] guylando commented on #1964
I am seeing this exception too in production logs once in a while.

[2018-06-07 11:45] YohDeadfall commented on #1982
I like the idea, but I think that it shouldn't change user code too. The reason of that restriction is that there are provider agnostic applications and ORM libraries. Inviting @NickCraver as representative of the last one.

Mix batching with multiplexing. This approach decreases the count of TCP packets sent to a server by a single command, but it doesn't block other statements in the batch from

[2018-06-07 13:28] onsitemapping commented on #1981
Here is a sample app.  It's .NET Core web app and the only way to really demonstrate the issue and significance of the [JsonIgnore] attribute.  Serialization wasn't an issue with the legacy PostGIS datatypes (i.e. PostgisPolygon).  I assume it's because the NetTopologySuite types are more complex.  I cloned the npgsql project, but not sure I have the knowledge to resolve the issue.

[TestApp.zip](

[2018-06-07 14:08] roji commented on #1982
At the moment I can't see any reason for this to necessitate any changes in user code - it should be possible to do this with the traditional ADO.NET API. You continue to call `NpgsqlConnection.Open()` (although it's basically a no-op), create commands and execute them as usual. The only exception is if your application relies on connection state (e.g. temporary tables, session parameters) but tha

[2018-06-07 14:35] cluedtke opened #1983 "Array of Composite Types: "You may be trying to mix types in a non-generic IList, or to write a jagged array""
#Hi! Looking to reap benefits from the new 4.0 update. We're running into an issue with composite types that previously worked in 3.2.6.

(I cloned the `dev` branch to debug locally) Here's what we're running into, [UnmappedCompositeHandler.cs#L329-L330](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql/TypeHandlers/UnmappedCompositeHandler.cs#L329-L330), `conn.Connector` is `null`:
![image](ht

[2018-06-07 14:39] NatElkins opened #1984 "Unable to open connection using AWS lambda and netcoreapp2.0"
### Steps to reproduce

The following code snippet times out:
[code]

### The issue
This snippet works fine on my machine, but times out on AWS Lambda, producing the following stack trace:

[code]

### Further technical details

Npgsql version: 4.0
PostgreSQL version: PostgreSQL 9.6.6
Operating system: AWS Lambda, but works on Ubuntu

Other details about my project setup:
This is deployed via AWS

[2018-06-07 14:57] NatElkins commented on #1984
I've also created a StackOverflow issue here: https://stackoverflow.com/questions/50744391/npgsql-with-netcoreapp2-0-on-aws-lambda-is-unable-to-connect-has-timeout-how

[2018-06-07 15:35] infraweavers commented on #1843
Hello,

We also have this problem that occurs from time-to-time; we only see it in production so we suspect that it's load-based. We're attempting to reproduce it at the moment, however judging from the stack trace, I'm contemplating if the problem could actually be in the .NET Framework.

We're running in 4.6.1 for most of our apps; what framework are you testing in @kurtschelfthout  ?

[2018-06-07 15:55] roji commented on #1981
Npgsql has nothing whatsoever to do with the JSON generation, `[JsonIgnore]` or anything of the sort.

Now, if you've switched from the legacy PostGIS types to the new NetTopologySuite types, it stands to reason that the JSON representation will change - they're very different types and represent spatial data in a different way.

What exactly are you asking? If you want the JSON generated from the

[2018-06-07 16:18] NatElkins commented on #1984
Security group related, not Npgsql-related.  Turns out when you set up an RDS instance the IP of the computer you set it up is whitelisted.  You have to go to the security group and add another rule for inbound connections (in my case, accepting any inbound connections).  Closing this one out!

[2018-06-07 16:18] #1984 closed

[2018-06-07 16:36] kurtschelfthout commented on #1843
We're using 4.7.1. I have tried to repro outside production, but so far have not been able to. Have not been able to devote as much time as I would want though.

Still seeing the problem in production.

[2018-06-08 01:01] onsitemapping commented on #1981
I appologize.  Like _djnsu_ stated, the returned json is incomplete.  As in the full array is never returned.  I fully understand that JSON generation and JsonIgnore has nothing to do with Npgsql, but since Npgsql is doing the object relationship mapping to the database then it seems to be the source of the issue.  I am also aware that the NetToploogySuite object will be different, but it shouldn'

[2018-06-08 01:11] onsitemapping commented on #1981
I can write a my own converter if you don't think Npgsql can do the heavy lifting, but it seems like it's going to cause folks a few headaches if you don't at least address the issue on your website.

[2018-06-08 07:27] infraweavers commented on #1843
Ah, well that's shafted my 'upgrade to 4.7.1 and everything will be fixed' strategy somewhat!

[2018-06-08 07:42] roji commented on #1843
@infraweavers and @kurtschelfthout, the best way forward here is to try to reproduce this in some sort of console program doing a tight loop or similar.

One more important note on this... this error only happens when opening a new *physical* connection. `NpgsqlConnection.Open()` typically only opens physical connections when the program first starts, and the program should soon be in a state wher

[2018-06-08 08:21] roji commented on #1983
I'll look into this (there definitely shouldn't be an NRE), but you probably want to map your composite type rather than use it unmapped. [As the docs say](http://www.npgsql.org/doc/types/enums_and_composites.html), mapping is the recommended way to do things, and umapped is mainly there for dynamic scenarios where you don't know your schema/type since advance.

[2018-06-08 09:28] sa13m commented on #1973
Load Table Composites it work, but back result in par1.Value I receive only id(PK) not DocItem as well  in 3.2.2

[2018-06-08 09:41] infraweavers commented on #1843
@roji That is what we've figured. We started seeing these errors happening when we enabled pruning on our connections which fits with that. We tried (yesterday) spinning up thousands of sequential connections in a console application with pooling disabled (so every `.Open()` creates a physical connection) and weren't able to reproduce it over 30 minutes or so, which is making me think it's more co

[2018-06-08 10:10] roji commented on #1843
OK, keep me informed. Another thought is to try out the newly-released 4.0, where the pool was completely rewritten. I still find it hard to believe there's a concurrency bug inside Npgsql provoking this, but nothing's impossible.

[2018-06-08 10:15] xhafan opened #1985 "Npgsql throws ‘Nested/Concurrent transactions aren't supported’ when using nhibernate with ambient transaction scope, with Rebus enlisted in the transaction scope"
Npgsql throws ‘Nested/Concurrent transactions aren't supported’ when using nhibernate with ambient transaction scope, with Rebus enlisted in the transaction scope. When Rebus is not enlisted in the transaction scope, it all works fine.

I investigated the issue, and discovered that nhibernate tries to generate table id using hilo generator outside the transaction scope, and Npgsql gives him an “id

[2018-06-08 10:33] jenspettersson opened #1986 "Two GetTextReader in same DataReader throws exception in 4.0.0 (not in 3.2.7)"
As the topic says, this behavior is only present in the `4.0.0` version and not in the `3.2.7` version.

### Steps to reproduce

Create a console application (.NET Core 2.1) with the following `.csproj`:

[code]

Test that all works, and then uncomment the 4.0.0 version and remove the 3.2.7 version and see what happens.

Run this program, edit the connection string so it runs on your machine. It w

[2018-06-08 11:02] roji commented on #1985
I don't know what Rebus is (and not so much about NHibernate either), but if I understand you correctly, you're saying that NHibernate attempts to begin a transaction (`NpgsqlConnection.BeginTransaction()`), but an ambient one is already in progress since someone else (Rebus?) started a TransactionScope.

I'm not sure what you expect from Npgsql on this - it seems like you have to investigate the

[2018-06-08 11:04] roji commented on #1986
This new limitation is [documented in the release notes](http://www.npgsql.org/doc/release-notes/4.0.html). Do you have a real-life use case where this would be justified?

[2018-06-08 11:07] roji commented on #462
This would be done as part of #1982 (pipelining) if we decide to go ahead with it.

[2018-06-08 11:08] roji commented on #424
Closing for age for mixing too many issues. Specific new issues can be opened again after testing on recent versions.

[2018-06-08 11:08] #424 closed

[2018-06-08 11:12] roji commented on #521
Closing again, there's not enough value in this and it would considerably slow down the build.

[2018-06-08 11:12] #521 closed

[2018-06-08 11:13] roji commented on #549
Closing for age, not sure if still relevant.

[2018-06-08 11:13] #549 closed

[2018-06-08 11:16] roji commented on #636
Closing for age, nobody's complained about this for a long time, probably because trust and CAS have been more or less obsoleted. Will consider reopening if there's a modern case for it.

[2018-06-08 11:16] #636 closed

[2018-06-08 11:18] roji commented on #680
Closing for age, it isn't clear if there's still an issue affecting anyone - `ConvertInfinityDateTime` exists as a connection string option. If there's still a problem, I'll reopen.

[2018-06-08 11:18] #680 closed

[2018-06-08 11:19] roji commented on #741
I think this should be resolved now that we have NodaTime support.

[2018-06-08 11:19] #741 closed

[2018-06-08 11:21] #834 closed

[2018-06-08 11:26] roji commented on #949
Closing for age, we've received no further complaints about this - it may have gone away in recent versions. If anyone encounters this again, please post back here with a code sample.

[2018-06-08 11:26] #949 closed

[2018-06-08 11:28] roji commented on #1028
Close for age, `Convert Infinity DateTime` should be the solution to this.

[2018-06-08 11:28] #1028 closed

[2018-06-08 11:29] roji commented on #1057
Not relevant as we're no longer generating async methods.

[2018-06-08 11:29] #1057 closed

[2018-06-08 11:31] roji commented on #1072
Closing for age and lack of interest; NpgsqlException already wraps system exceptions which allow users to understand what happened. If there's interest in anything else, I'll accept a PR and we can also discuss.

[2018-06-08 11:43] cluedtke commented on #1983
Sorry, I forgot to mention the mapping. Yes, we map the composite type globally by way of `GlobalTypeMapper`. The following line is in `Startup.cs` and is called well before any connections are made:
[code]

[2018-06-08 11:45] infraweavers commented on #1843
`OK, keep me informed. Another thought is to try out the newly-released 4.0, where the pool was completely rewritten`

We can definitely try that, but there's a bit of DLLHell to resolve before we can upgrade unfortunately

[2018-06-08 11:46] roji commented on #1073
To be clear, this issue is for adding 3D support for the LegacyPostgis plugin. I suspect interest is going to be quite low since we have NetTopologySuite support instead, but keeping open for now just in case.

[2018-06-08 11:47] roji commented on #1075
Closing for age and lack of interest.

[2018-06-08 11:47] #1075 closed

[2018-06-08 11:49] xhafan commented on #1985
NHibernate opens a connection 1) and starts a transaction (NpgsqlConnection.BeginTransaction()), which is enlisted into the transaction scope. Now NHibernate want to open another connection 2) which is not part of the transaction scope, but npgsql thinks that the connection 1) is idle, and gives it to nhibernate which calls again NpgsqlConnection.BeginTransaction() on it - hence the exception.

I'

[2018-06-08 11:52] roji commented on #1076
This was done in #1940 and released in 4.0.0.

[2018-06-08 11:52] #1076 closed

[2018-06-08 11:53] roji commented on #1106
Closing for age.

[2018-06-08 11:53] #1106 closed

[2018-06-08 12:04] roji commented on #1985
I'm confused... you can start a transaction *either* by enlisting to a transaction scope, *or* by calling `BeginTransaction()` - you can't do both... These are two different models for managing transactions. This alone should already trigger the "nested/concurrent transactions not supported" exception, regardless of your second connection. Make sure you understand exactly what's going on - who's s

[2018-06-08 12:05] roji commented on #1145
The Postgis types are legacy in 4.0, now that we have first-class support via NetTopologySuite, so this issue should be much less important.

Am going to close for now, although if there's interest I'll reopen (and possibly accept a PR).

[2018-06-08 12:06] #1145 closed

[2018-06-08 12:34] onsitemapping commented on #1808
If you want to make a portable way to work with spatial data, then you should look at leveraging Well Known Text (WKT).

https://en.wikipedia.org/wiki/Well-known_text.

The DbGeography type let's you read in the geography from text.  Example: DbGeography.FromText("POINT(0, 1)").  Converting WKT into the PostGIS geometry would make it more ubiquitous.

[2018-06-08 12:47] l1pton17 commented on #1983
has the same issue

[2018-06-08 13:38] roji commented on #1985
I'm sorry, but there's not enough clear information for me to understand what's going on... I realize NHibernate and Rebus are two 3rd-party components and you're not totally aware of their inner workings, but you're going to have to go a bit deeper. If you really think there's an Npgsql issue, then the best way forward is to reproduce it in a simple console app, without NHibernate or Rebus.

Once

[2018-06-08 14:14] NekoKoneko opened #1987 ""Can't infer NpgsqlDbType for type XXX" exception when trying to insert enum and MaxAutoPrepare != 0"
### The issue

The exception is raised when executing an insert command with an enum value as a parameter AND the MaxAutoPrepare connection parameter set to a non-zero value.

### Steps to reproduce

##### Postgres
`CREATE TYPE public.my_enum AS enum ('one', 'two');`
`CREATE TABLE public.t1 (e public.my_enum);`

##### C#
[code]
The command completes successfully four times, but fails on the fifth

[2018-06-08 14:33] pablocar80 commented on #1982
I see 2 huge benefits from pipelining: (1) easily migrate SQL Server applications that use MARS without redesign efforts, and (2) allow to write client code such that the output of a 2nd reader determines whether we should keep retrieving records on the 1st reader.

[2018-06-08 14:46] roji commented on #1982
@pablocar80,

That's true, although to be honest an issue tracking MARS (#462) has been around since forever and we haven't seen that many requests or votes. AFAIK SQL Server is one of the rare database drivers that provides MARS, so the portability problem exists with other drivers as well.

Also true, but that would mean that resultsets need to be buffered, so to a certain extent you're reading

[2018-06-08 15:26] wiktor-golonka commented on #1965
@roji:
I did check if it can be fixed by simple adding `INpgsqlSimpleTypeHandler`'s of nullable primitives to `NumericHandler` and it's working fine for me.

I changed the default `NumericHandler` definition from:
[code]
to:
[code]

Which also forced me to perform a slight changes in `NumericTests.cs`.

However, after this change, a few DataAdapterTests are failing because of the `Message: System.

[2018-06-08 15:32] onsitemapping commented on #1981
I'm not trying to bring you down.  I am grateful for what you've done.  All I'm suggesting is to update the documentation around the spatial types so end users know how to handle it.  There is no mention of the legacy plugin on the site (for EF Core) right now.

There actually wasn't an error returned, just invalid JSON.... maybe if I dug into the logs I would have found it.  I apologize for omitt

[2018-06-08 15:38] YohDeadfall commented on #1965
Then other type handlers must support `Nullable<T>` too. It would be much better to handle nullable types before a handler like it's done for reading (#1728).

[2018-06-08 15:40] roji commented on #1149
The documentation has been revised for the 4.0 release and should now be accurate.

[2018-06-08 15:40] #1149 closed

[2018-06-08 15:45] roji commented on #1255
Closing for age. If someone is still seeing this with recent versions, please try to reproduce the error or provide more info.

[2018-06-08 15:45] #1255 closed

[2018-06-08 15:46] roji commented on #1284
Can someone please confirm whether this issue still occurs on the recently-released Npgsql 4.0?

[2018-06-08 15:48] roji commented on #1293
Done a long time ago.

[2018-06-08 15:48] #1293 closed

[2018-06-08 15:51] roji commented on #1332
Closing for age and general lack of familiarity with SSIS.

[2018-06-08 15:51] #1332 closed

[2018-06-08 15:51] roji commented on #1335
Done long ago

[2018-06-08 15:51] #1335 closed

[2018-06-08 15:54] roji commented on #1342
This should work now that #1188 has been done, please post back if there are still issues.

[2018-06-08 15:54] #1342 closed

[2018-06-08 15:57] roji commented on #1347
Closing for age - this issue hasn't been reported since, will reopen upon request.

[2018-06-08 15:57] #1347 closed

[2018-06-08 16:00] roji commented on #1360
Looking at this again, there doesn't seem to be anything Npgsql can really do. Backend timeouts are still possible by manually setting `statement_timeout`, and should ensure that your query stops running on the server side. Will close for now but am open for discussing.

[2018-06-08 16:00] #1360 closed

[2018-06-08 16:01] roji commented on #1366
Closing for inactivity, but will reopen upon request.

[2018-06-08 16:01] #1366 closed

[2018-06-08 16:17] onsitemapping commented on #1808
In my experience, WKT is more ubiquitous than WKB.  Almost all GIS based scripts will read/write WKT but not all will read/write WKB.  So, if I'm writing a script to export a bunch of shapefiles from a GIS to a web-based service, then I'm most likely going to need to write it to WKT.  WKT can be stored in databases that don't have spatial support such as SQLite.

Either way, no worries.  I can get

[2018-06-08 16:36] pablocar80 commented on #1982
For (1) other databases have the same problem, definitely. For the low number of requests, this is a feature interesting only for people who aren't currently using Postgres, and those may be less likely to know about this forum and comment. I tried to look up how many people actually use MARS and haven't found any information, it may be a low number after all.

I forgot to point out for (2) that t

[2018-06-08 16:51] jenspettersson commented on #1986
Thanks for the reply, I missed it in the release notes. To answer your question about real-life use case, see the referenced issue.

[2018-06-08 17:21] siberianguy commented on #1983
We experience the same error message, trying to Copy an element that has a column with an array of composite types

[2018-06-08 17:30] roji commented on #1808
Just to note that SQLite does support spatial via SpatiaLite (an extension). Regardless you can always WKB where supported (which is pretty much all database with spatial support) and WKT otherwise. The advantage of using a .NET full-blown spatial library is that it can do serialization/deserialization in both formats etc.

[2018-06-08 17:33] roji commented on #1453
Closing for age and because a workaround was found.

[2018-06-08 17:33] #1453 closed

[2018-06-08 17:39] roji commented on #1986
OK, I understand. The main reason for removing this was to avoid managing a list of open streams/readers which would have to be closed when moving to another column - more allocations and management for a seemingly useless feature (or maybe not... :)).

Is there a specific reason why you can't close the first stream/reader before getting the 2nd one? Or just use one stream/reader and seek inside i

[2018-06-08 17:40] roji commented on #1983
OK, I'll take a look at this ASAP, but is it possible to get a full exception stack trace?

[2018-06-08 17:50] onsitemapping commented on #1808
For my apps, spatialite (especially on android) didn't ever perform well and I went to other libraries for reading the WKT from a text field.   I don't disagree that there are advantages to using a .NET full-blown spatial library.

[2018-06-08 17:54] roji commented on #1473
Fixed a long time ago.

[2018-06-08 17:54] #1473 closed

[2018-06-08 17:54] #1480 closed

[2018-06-08 17:55] roji commented on #1488
More or less did what I wanted to do.

[2018-06-08 17:55] #1488 closed

[2018-06-08 17:56] roji commented on #1484
Closing for age and inactivity, but will reopen if the issue occurs on recent Npgsql and more information is provided.

[2018-06-08 17:56] #1484 closed

[2018-06-08 17:56] cluedtke commented on #1983
@roji yep, here's mine:
[code]

[2018-06-08 23:44] djnsu commented on #1981
Roji you are doing brilliant job for all open-source community, this very cool and deserve a lot of respect. I wish someday i could make an impact for all of us as you are now doing.
p.s. Here what i found https://github.com/NetTopologySuite/NetTopologySuite.IO.GeoJSON

[2018-06-09 06:06] roji commented on #1631
Too much work for not enough value, closing.

[2018-06-09 06:06] #1631 closed

[2018-06-09 06:10] roji commented on #1506
Closing for age and the general difficulty of reproducing these VSIX issues...

[2018-06-09 06:10] #1506 closed

[2018-06-09 06:28] YohDeadfall commented on #1981
We also have the GeoJSON plugin which you can use too.

[2018-06-09 07:07] roji commented on #1516
Try to repro this, shouldn't have anything to do with Redshift specifically.

[2018-06-09 07:07] roji commented on #1519
Look into this.

[2018-06-09 07:08] roji commented on #1561
Unfortunately I don't have the time to look into this, if anyone can give it a try I'll be happy to help and support.

[2018-06-09 07:10] roji commented on #1562
Closing for age and inactivity, but will reopen if there's a need.

[2018-06-09 07:12] #1587 closed

[2018-06-09 07:38] roji commented on #1592
I don't really have time to dive into this, but implementing recovery (and therefore enlisting durably) is planned in #1378, and until then I don't think we'll be doing any change in how we enlist...

So am going to close this for now, but can reopen upon request.

[2018-06-09 07:38] #1592 closed

[2018-06-09 07:46] roji commented on #1600
Looking at this again, I don't think we're going to do anything about making `CommandTimeout` work for async operations. Timeouts for async aren't supported at the socket level, and [SqlClient doesn't honor `CommandTimeout` for async either](https://msdn.microsoft.com/en-us/library/system.data.sqlclient.sqlcommand.commandtimeout(v=vs.110).aspx).

[2018-06-09 07:46] #1600 closed

[2018-06-09 07:48] roji commented on #1601
Closing for age, and also because the default TLS implementation is now .NET's standard SslStream and not the internal TlsClientStream (so this problem is either fixed or doesn't concern Npgsql).

[2018-06-09 07:48] #1601 closed

[2018-06-09 07:52] roji commented on #1623
Sorry for not reacting to this, I'll try to take a look soon.

[2018-06-09 07:56] roji commented on #1625
Sorry for disappearing on this. How exactly is this issue different from #1592? If I understand everything correctly, this will all go away if and when Npgsql implements a durable resource manager (#1378)?

@fredericDelaporte, at least from [your comment](https://github.com/npgsql/npgsql/issues/1592#issuecomment-312653020) it would seem that the mono issue occurs because it's ignoring `EnlistDurin

[2018-06-09 07:58] roji commented on #1633
Closing as I couldn't reproduce the problem, and in any case it doesn't seem to be actually related to Npgsql.

[2018-06-09 07:58] #1633 closed

[2018-06-09 08:00] roji commented on #1638
Closing this as a dup of #1127. Doing any operation concurrently with close is currently unsupported and the behavior is undefined.

[2018-06-09 08:00] #1638 closed

[2018-06-09 08:03] roji commented on #1650
Agree with @ Andrzej-W - any leak here seems to be a result more of the test scenario and not as a result of any issue with Npgsql itself - no leaks have been reported and Npgsql is in wide production use. I'll reopen if a simpler demonstration of the problem is submitted - there's really no need for a massively concurrent system to demonstrate a leak, a simple loop should suffice.

[2018-06-09 08:03] #1650 closed

[2018-06-09 08:05] roji commented on #1667
Closing for age, since no repro has been submitted and in any case the issue may be gone.

[2018-06-09 08:05] #1667 closed

[2018-06-09 08:06] roji commented on #1670
Closing as the requested details have not been provided.

[2018-06-09 08:06] #1670 closed

[2018-06-09 08:08] roji commented on #1674
Sorry for not responding on this, I'll try to take a look in the coming weeks.

[2018-06-09 08:26] roji commented on #1713
Closing as additional detail hasn't been provided, and this is likely a dup of #1130.

[2018-06-09 08:26] #1713 closed

[2018-06-09 08:28] siberianguy commented on #1983
I reworked the code from Copy to preparied statements and it seems to provide a better error message:

Error itself is localised in Russian but basically it says it expected orderbookitem[] but got tradeitem[]. I'm pretty sure I provide correct values and there're no errors in mappings. It's super weird but it looks like npgsql somehow confuses different mappings

[2018-06-09 08:35] roji commented on #1720
Sorry for not answering sooner on this.

This isn't exactly true. If you happen to be batching (executing multiple statements via a single NpgsqlCommand), it's possible for the first query to go through successfully and for the network failure to occur as the second one is written. In this case you'll have a partially-executed batch.

In fact, this can even happen with a single statement, since ex

[2018-06-09 08:35] #1720 closed

[2018-06-09 08:37] roji commented on #1720
Regarding your question on keepalives, yes, they can help detect broken connections. Note that Npgsql supports application keepalives (sending `SELECT NULL` from time to time), which are more recommended, as well as TCP keepalives (which are a bit less universally supported across network equipment).

However, while keepalive of all sorts considerably reduce the risk of getting a broken connection

[2018-06-09 08:41] roji commented on #1745
Sorry for not answering sooner. I'm not aware of anything that can be done in Npgsql to improve the exception... the EndOfStreamException is thrown from the network layer, and all Npgsql is doing is throwing that (after wrapping it with an NpgsqlException).

Closing for now but will be happy to receive any suggestions or continue the conversation.

[2018-06-09 08:41] #1745 closed

[2018-06-09 08:45] roji commented on #1761
Sorry for not responding sooner on this... Any chance you could test this again on the newly-released Npgsql 4.0 and report? The connection pool has been completely rewritten...

[2018-06-09 08:45] monty241 commented on #1667
Correct, problem never seen again after adding npgsql logging. Apologies for not updating this issue.

[2018-06-09 08:48] roji commented on #1770
Closing as requested information was not provided and the issue is unclear.

[2018-06-09 08:48] #1770 closed

[2018-06-09 08:51] roji commented on #1775
Closing as no further response was provided, but can reopen upon request.

[2018-06-09 08:51] #1775 closed

[2018-06-09 08:54] roji commented on #1776
Closing as no further information has been provided.

[2018-06-09 08:58] roji commented on #1784
Sorry about not responding earlier.

The issue is very unclear... Use of the pgpass feature has nothing to do with Entity Framework, Code First or otherwise - it works at the lower-level ADO driver level. There may be some issue where an older version of Npgsql (ADO) is being used, before pgpass support was added.

Am going to close this as some time has passed, but if the problem is still there p

[2018-06-09 08:58] #1784 closed

[2018-06-09 09:03] roji commented on #1804
Closing as there doesn't seem to be any issue to be handled here.

[2018-06-09 09:03] #1804 closed

[2018-06-09 09:04] roji commented on #1808
Closing this issue as there doesn't seem to be much interest in Microsoft.Spatial at the moment, and we already have three other spatial plugin (NetTopologySuite, GeoJSON, LegacyPostGIS).

Can reopen upon request.

[2018-06-09 09:04] #1808 closed

[2018-06-09 09:10] roji commented on #1807
@t0pd3v1c3 I don't really know why Npgsql 3 is throwing exceptions where Npgsql 2 wasn't. But the exception you first posted in this issue is a network error coming from the socket level, and Npgsql is simply bubbling that up. It's conceivable that Npgsql 3 is doing something which triggers this, but I'm really not aware of anything and haven't received other complaints. In addition, if you're say

[2018-06-09 09:10] #1807 closed

[2018-06-09 09:12] roji commented on #1809
Am going to close this as the issue was probably already fixed in 4.0 due to refactoring. If the issue persists please post back and I'll reopen.

[2018-06-09 09:12] #1809 closed

[2018-06-09 09:16] roji commented on #1815
Closing as there doesn't seem to be anything actionable to be done.

[2018-06-09 09:16] #1815 closed

[2018-06-09 09:20] YohDeadfall commented on #1808
@roji I'm working on it (:

[2018-06-09 09:20] roji commented on #1818
Closing as some detail is missing. If you're still encountering the issue, please post a minimal console sample that just shows the issue with NpgsqlPolygon - no extra web/JSON stuff.

[2018-06-09 09:20] #1818 closed

[2018-06-09 09:22] #1823 closed, assigned to nobody

[2018-06-09 09:26] l1pton17 commented on #1983
i has a problem with composite type mapping. i registered composite type globally at application startup and got the same null reference exception:

`
System.Exception: While trying to write an array, one of its elements failed validation. You may be trying to mix types in a non-generic IList, or to write a jagged array. ---> System.NullReferenceException: Object reference not set to an instance o

[2018-06-09 09:35] roji commented on #1829
Sorry for not responding sooner.

If there's a bug in the BitStringHandler, then I'd definitely want to fix it - but I can't see how anything there would lock a thread... I'm going to close this for now, but it would be great if you could submit some sort of code sample which reproduces this, even it's not a reliable repro. Sometimes it's possible to spawn several threads which loop and eventually

[2018-06-09 09:35] #1829 closed

[2018-06-09 10:47] roji commented on #1838
Closing as there doesn't seem to be anything actionable here, aside from the TransactionScope concurrent rollback-on-timeout behavior which is already covered by #1611.

[2018-06-09 10:47] #1838 closed

[2018-06-09 10:49] roji commented on #1845
Closing as we think this issue is fixed, if a recent (post-3.2.6) version of Npgsql still exhibits this bug, please post back and we'll revisit.

[2018-06-09 10:49] #1845 closed

[2018-06-09 10:51] roji commented on #1846
Closing as required information hasn't been provided. In addition, this is likely some sort of problem in application code, so a code sample repro would be the best way forward if the issue persists.

[2018-06-09 10:51] #1846 closed

[2018-06-09 10:59] roji commented on #1851
@rwasef1830 looking at this issue again, note that the data dictionary is *always* populated by extra data that PostgreSQL. In the vast majority or errors that data isn't really important to understand the exception. So I'm not sure it's worth making the exception message longer for everyone. Note also that [the API documentation on PostgresException](http://www.npgsql.org/api/Npgsql.PostgresExcep

[2018-06-09 11:01] roji commented on #1857
Closing as this solution isn't really going to be possible as described above. We have good documentation on the change and on the new Npgsql.LegacyPostgis plugin, hopefully that should be enough.

[2018-06-09 11:01] #1857 closed

[2018-06-09 11:05] roji commented on #1865
Closing as there doesn't seem to be anything we should change in the Npgsql type handler model, but am open to suggestions and discussion.

[2018-06-09 11:05] #1865 closed

[2018-06-09 11:05] roji commented on #1870
Closing as the requested information hasn't been provided.

[2018-06-09 11:05] #1870 closed

[2018-06-09 11:08] rwasef1830 commented on #1851
@roji I still see the value of it (maybe even override ToString() to log the extra data after the stack trace) as Npgsql exception are very likely never shown to users, 99.9% of the time stowed away in a log file. Since most logging frameworks don't log or touch Data, most of the time information there is simply lost and it makes troubleshooting issues unnecessarily more difficult.

What I suggest

[2018-06-09 11:09] roji commented on #1879
Closing as a requested code sample hasn't been provided, and there doesn't seem to be an Npgsql issue to fix.

[2018-06-09 11:09] #1879 closed

[2018-06-09 11:11] roji commented on #1888
Can you please post the PostgreSQL statement logs for both runs, i.e. once with Npgsql 3.2 (successful) and once with the newly-released Npgsql 4.0 (failure)?

[2018-06-09 11:14] roji commented on #1500
Closing this issue in favor of #1893.

[2018-06-09 11:14] #1500 closed

[2018-06-09 11:15] roji commented on #1904
Closing as requested information was not provided.

[2018-06-09 11:15] #1904 closed

[2018-06-09 11:18] roji commented on #1933
@suthrams can you please provide a bit more information? Are you getting an exception, what is your expected result and what is the actual result?

[2018-06-09 11:59] roji commented on #1808
Sorry, as you've probably noticed I'm closing lots of all issues, relabeling and assigning milestones etc.

I honestly think we should wait for someone to request this plugin before going ahead and implementing it. I really don't think there's going to be any use.

[2018-06-09 12:02] roji commented on #1851
OK, assigned to the backlog. If you (or anyone else) wants to submit a PR I'll review.

[2018-06-09 13:05] naigsa commented on #1888
I checked the problem with version 4.0.0 and automigrations works fine.

[2018-06-09 13:50] roji commented on #1981
@onsitemapping there are GeoJSON and LegacyPostgis plugins only at the Npgsql ADO level for now (which is what this repo is about). At the EF Core, only NetTopologySuite is currently supported.

[2018-06-09 14:19] onsitemapping commented on #1981
My bad.  Wrong repo.  Do you have any plans to support the legacy Postgis types for EF Core?  The legacy types have fewer issues than what I'm experiencing and I would like to continue using version 2.1 of .NET Core.  I like the idea of NetTopologySuite being the main provider, but I'm spending too much time patching the holes it created when upgrading.

[2018-06-09 15:03] roji commented on #1981
It's not particularly difficult to add those plugins, but since NetTopologySuite support is already there I'd prefer to wait for users requests... Can you provide more details on what's giving you trouble with NetTopologySuite (aside from JSON serialization)?

[2018-06-09 17:33] YohDeadfall commented on #1965
I'm working on it. Only tests are remaining.

[2018-06-09 17:35] #1964 closed

[2018-06-09 17:41] roji commented on #1964
I've pushed a fix to this, to be released in 4.0.1. Can you please try out [the latest package in the stable feed](http://www.npgsql.org/doc/#unstable-packages) to test this?

Note that the bug that I fixed, was that if an exception was thrown while executing the command, the reader would call `HasRows`, which would throw a 2nd time because the reader had already been closed (because of the first

[2018-06-09 17:43] roji commented on #1965
Great, thanks.

[2018-06-09 17:56] fredericDelaporte commented on #1625
Well, the main point is to take note #1592 is not a Mono-only thing and should be checked and fixed for the .Net Framework, which may require a different handling than mono.

The issue was appearing only on Mono with NHIbernate and Npgsql at that time due to this discrepancy. But now NHIbernate implementation has changed, enlisting things a bit differently in a number of cases, and the overall set

[2018-06-09 21:51] l1pton17 commented on #1983
got fixed it by set PostgresType and calling WrapHandler in MappedCompositeHandler constructor

[2018-06-09 21:55] roji commented on #1625
@fredericDelaporte thanks for the added details, and also for the explanation on why enlisting on volatile could trigger this issue - I wasn't aware of that.

I still think the goal should be for proper durable enlisting in 4.1, and I intend to work on it.

[2018-06-10 10:06] roji commented on #1983
Can someone please submit a minimal code sample which triggers this issue?

[2018-06-10 11:01] roji commented on #1987
This issue actually exists for explicitly prepared statements with enum/composites as well, not just for auto-prepared.

[2018-06-10 15:12] #1983 closed

[2018-06-10 15:13] roji commented on #1983
Even though #1991 fixes this, I'd just like to understand the actual cause, so if someone could still provide a minimal code sample I'd be grateful.

[2018-06-11 08:36] roji commented on #1983
@cluedtke can you please post your minimal repro?

[2018-06-11 13:07] cluedtke commented on #1983
Sorry @roji, what I meant was that I'm working to create a minimal reprod.

[2018-06-11 13:17] SzymonPobiega commented on #1986
Hi @roji

I read the release notes and I think I am not certain of one thing and I would like to clarify: is it legal to open multiple stream readers for multiple columns sequentially? i.e. open a stream reader i.e. do something along these lines:

[code]

I am :100: for not supporting multiple *concurrent* text readers but multiple *sequential* readers are a nice feature when reading a table row

[2018-06-11 13:39] roji commented on #1986
@SzymonPobiega that's exactly write - it's totally fine to open reader on different columns (and even on the same column) as long as there isn't more than one open at the same time. If you see a different behavior that's a bug.

I'm going to close this issue since this is the intended behavior, but if too many people encounter issues with this new limitation we can reconsider.

[2018-06-11 13:43] jenspettersson commented on #1986
But I can't open a second text reader on a different column in two different `using(...)` when running 4.0.0:

[code]

Maybe I'm missing something?

[2018-06-11 14:06] xhafan commented on #1985
I fixed the issue - NHibernate closed the connection (NpgsqlConnection.Close()) when disposing the transaction scope, which released the connector (ConnectorPool.Release()) into the connector pool, then when disposing VolatileResourceManager (still within transaction scope dispose) it released the connector again into the connector pool, resulting in the same connector instance being twice in the

[2018-06-11 14:14] l1pton17 commented on #1983
@roji do you have any eta on when that fix will be released? We are waiting that fix to upgrade our platform on this, cause on 3.2.7 we run into problem when composite type can’t be mapped after some period (maybe reconnection but logs are empty about that) and we expect that new version will help us.

[2018-06-11 14:20] roji commented on #1986
Sorry, I misunderstood - this should definitely work. I'll take a look.

[2018-06-11 14:22] roji commented on #1983
4.0.1 will probably be released in the next couple of weeks, depending on the number and severity of the bugs that are reported.

[2018-06-11 14:25] roji commented on #1983
BTW I'm not aware of any issue mapping composite types on 3.2.7. In any case you're welcome to [try out the latest stable package](http://www.npgsql.org/doc/#unstable-packages) which contains the fix until 4.0.1 is released.

[2018-06-11 14:27] roji commented on #1985
@xhafan, the following doesn't make sense to me:

There's no way to have "the same connector instance twice in the pool" - if this is happening it's

[2018-06-11 15:22] madskristensen commented on #1845
@roji Got it. Thanks

[2018-06-11 15:47] onsitemapping commented on #1981
The trouble with only having NetTopologySuite support is if you're upgrading from 2.0 to 2.1 then you're going to need to update any routine you've made with the legacy spatial support.   It's not as simple as casting to the NTS types.

For example, let's say I have a file upload utility that reads a shapefile and converts it to the geometry to a PostgisPolygon type.  Without any type of backwards

[2018-06-11 17:12] roji commented on #1981
So just to be sure I'm not missing something, the concern is with maintaining backwards compatibility for existing code rather than any sort of issue with NetTopologySuite? I'm asking in order to know about NTS issues which are preventing adoption etc.

I did take a quick stab at a LegacyPostgis EF Core plugin, IIRC I dropped it because the legacy Npgsql PostGIS types don't know how to render them

[2018-06-11 19:23] xhafan commented on #1985
I run my app with sql server and I can see that by default NHibernate is closing the connection during transaction scope dispose, but sql client driver handles it without any issue.

Next, I tried to investigate why Rebus enlisting into transaction scope makes a difference, and I discovered this:
1) when rebus is not enlisted in the transaction scope, EnlistedTransaction is not null in NpgsqlConne

[2018-06-12 06:13] roji commented on #1981
Great, thanks for your answers and feel free to post about any issues and suggestions.

[2018-06-12 09:35] wiktor-golonka commented on #1965
@YohDeadfall : I can confirm that your fix works. Thanks!

[2018-06-12 15:30] roji commented on #1985
I'm afraid I don't really understand what this sentence means... Disposing a TransactionScope means finishing a transaction, either by committing it (if `Complete()` was called) or by rolling it back. No connection is supposed to be closed simply because a TransactionScope is disposed.

However, as I said above, if you happen to close a connection while it is still enlisted to a TransactionScope,

[2018-06-12 17:46] roji commented on #1900
I just figured out that the lack of BCL support probably won't block us. Although it isn't possible to do UTF8 decoding/encoding directly on spans in .NET Standard 2.0, it's possible to get a `byte*` out of the span and call the pointer-based overloads for UTF8 decoding/encoding. So this should be fine.

I'll be working on implementing this soon.

[2018-06-12 18:53] jenspettersson commented on #1986
Do you have an approximate ETA on the 4.0.1 release (if this issue is something that shall be fixed)? We updated a lot of services before we found this behaviour that can happen in some cases for us and now we've to make a decision to either downgrade or wait for 4.0.1.

[2018-06-12 20:37] xhafan commented on #1985
Well, I'm just stating what NHibernate does when a transaction scope is being disposed - it closes the connection. It does that for both npgsql and sql server. Why NHibernate does that is a question for it's developers.

Why can't you use my sample app? To replicate it in a simple console app, I would need to simulate what NHibernate does - closing the connection on transaction scope dispose - and

[2018-06-12 22:40] #1986 closed

[2018-06-12 22:55] roji commented on #1986
I've just pushed a fix to the bug. Can you please [install the latest nuget from the stable feed](http://www.npgsql.org/doc/#unstable-packages) to confirm that everything works?

You can also run on this prerelease version until 4.0.1 comes out (probably in a couple weeks), it contains only bug fixes and should be quite safe.

[2018-06-12 23:00] roji commented on #1985
I can use your sample app, but I'm just an open source developer working without pay, with little time, and tons of issues to work on. I don't know your application and I'm not familiar with either NHibernate or Rebus, so it would take me quite a bit of time. This is why I'm asking for your help to break down exactly what NHibernate and Rebus are doing to reproduce the error, by submitting a repro

[2018-06-12 23:23] roji commented on #1985
@fredericDelaporte you may interested (or capable of shedding some light here).

[2018-06-13 00:43] fredericDelaporte commented on #1985
@xhafan, you should read [this](http://nhibernate.info/doc/nhibernate-reference/transactions.html#transactions-scopes), especially the second and third bullet points.

With NHibernate 5.0 and above, this happen only if your scope is disposed after your session, while the "commit on transaction completion" support is enabled. (Previously this was happening on many other cases.) The support of this

[2018-06-13 05:47] jenspettersson commented on #1986
When you say:

you do mean the _unstable_ feed, right? I've installed `4.1.0-ci.1042` from the _unstable_ feed and everything works great, so we will be using that version for now. Thanks!

[2018-06-13 06:14] roji commented on #1986
Good to hear the fix works.

But if you read the section at the link I sent above, you'll see that there are two myget feeds: a stable one for the next patch release (4.0.1), and an unstable one for the next minor/major release (4.1.0). So even if there's isn't yet any risky development for 4.1.0 you're better off using the 4.0.1 package.

[2018-06-13 06:28] jenspettersson commented on #1986
Maybe it hasn't been fully indexed yet, because I can't find it (`4.0.1`) in https://www.myget.org/gallery/npgsql.

![image](https://user-images.githubusercontent.com/125493/41333630-ccc08c8c-6ee2-11e8-82db-9b3c616d52ec.png)

`3.2.8-ci-00963` from May 27th.

Or, maybe I'm still missing something... :)

[2018-06-13 07:03] YohDeadfall commented on #1936
The feature was added yesterday via dotnet/corefx#29963.

[2018-06-13 07:05] YohDeadfall commented on #1965
Good to hear that. Thanks for testing!

[2018-06-13 07:13] YohDeadfall commented on #1900
I'm also planning to work on buffers and handlers to eliminate getting parameter lengths, but will start to do it in July. I think to design buffers like `BufferWriter` and `BufferReader` in the CoreFX Lab repo. @roji take a look on these structs and other things in the repo.

[2018-06-13 07:18] YohDeadfall commented on #1853
@roji When do you plan to work on it? It would be great to have it before other changes.

[2018-06-13 14:06] iflight opened #1994 "Nullable<NpgsqlDate> not supported by current database provider."
After update to net core 2.1 and Npgsql.EntityFrameworkCore.PostgreSQL 2.1, EF throw exception:

And same problem with Nullable<NpgsqlDateTime>.

part of Model:

[code]
modelBuilder:

[code]
Connection:
[code]

Npgsql version: 4.0
Npgsql.EntityFrameworkCore.PostgreSQL 2.1
net core 2.1
PostgreSQL version: 9.6.6
Operating system: Win10

[2018-06-13 17:19] roji commented on #1900
@YohDeadfall thanks for the pointer, I'll take a closer look at the corefx lab repo.

For now I've concentrated on the simple type handlers, which simply receive a `ReadOnlySpan<byte>` for reading and `Span<byte>` for writing - this works quite well and improves the API considerably in my opinion.

The complex type API is of course a different matter, since type handlers need to be able to perform

[2018-06-13 17:40] roji commented on #1853
I looked at this a while back and hit some issues and abandoned it for 4.0. I do plan to revisit but probably not in the very near future, in any case I don't think it should block us for other stuff. Is there anything in particular you're planning to do that will be affected by this?

[2018-06-13 17:55] roji commented on #1994
There were many changes to the mapping system, and I see that mappings for the provider-specific types (e.g. `NpgsqlDate`) were accidentally dropped...

I'll fix this for 2.1.0, but do you have a special reason for using `NpgsqlDate` as opposed to `DateTime`? Because the latter is definitely preferable. Note also that in 2.1 you have the option of [using NodaTime](http://www.npgsql.org/efcore/mapp

[2018-06-13 17:56] roji commented on #1994
Oh, I just noticed this was posted on the wrong repo. Please move this issue to https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL.

[2018-06-13 17:56] #1994 closed

[2018-06-13 18:08] YohDeadfall commented on #1900
Making high performance API is a good idea, but we shouldn't forget about usability. Therefore, my thoughts on this are:

1. Use an array pool (already added to .NET) to rent memory for buffers.
2. Use chained memory blocks when a whole large row should be in memory.
3. Redesign the reader and writer to be `ref struct`s.
4. Add auto flush/ensure ability to them. There should be a private aggressiv

[2018-06-13 18:14] YohDeadfall commented on #1853
It's related to #1900.

[2018-06-13 20:29] roji commented on #1900
Good discussion. But before responding, there's one important thing I have to say.

I think that changing the type handler API to use Span is a great idea, but I don't expect it to significantly improve performance. Npgsql doesn't currently do any sort of slicing operation anywhere - it's already pretty much a zero-copy driver internally, in that values are simply read from a `byte[]` and returned

[2018-06-13 21:01] #1987 closed

[2018-06-14 00:59] MedAnd opened #1995 "Can't write CLR type Newtonsoft.Json.Linq.JObject with handler type JsonbHandler"
### The issue

Very similar to issue https://github.com/npgsql/npgsql/issues/1965

Upgraded to latest version of the driver and now when Dapper executes, calls to the following code for anonymous type mapping throw an exception:

`
var parameters = new
{
    content = new JsonbParameter(product.Content)
}
`

![image](https://user-images.githubusercontent.com/13365135/41385918-ea0bd780-6fc1-11e8-9c

[2018-06-14 04:50] jenspettersson commented on #1986
Sorry to bother you again, but I still can't find the `4.0.1` preview build at the [stable myget feed](https://www.myget.org/gallery/npgsql) or any of the other feeds as well.

[2018-06-14 05:15] roji commented on #1995
What exactly are you trying to put in `_value`? Is it a `Newtonsoft.Json.Linq.JObject`? If so, then this wasn't supported at all with 3.2.7... Are you trying to use [the new Newtonsoft.JSON plugin](http://www.npgsql.org/doc/types/jsonnet.html) introduced in 4.0? If so, are you sure you've set it up properly?

Please provide more details on exactly what you're trying to do, a full code sample would

[2018-06-14 05:17] roji commented on #1986
Yeah, there was a small config issue which prevented the packages from being uploaded properly to the stable feed. I can now see the 4.0.1 package appearing correctly, please try again.

[2018-06-14 06:18] roji commented on #1853
To be honest I don't think I'll have much time to work on it in the near future... If you'd like to take a stab at it go ahead, otherwise I suggest you continue with any work and disregard this planned refactor... We can always do it later after your changes.

[2018-06-14 07:58] roji commented on #1994
Replaced by https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/467

[2018-06-14 08:10] MedAnd commented on #1995
The following is working fine with 3.2.7 but not with 4.0.0.

![image](https://user-images.githubusercontent.com/13365135/41398808-e2fee1fa-6ffb-11e8-9be7-bb37d6ca5c36.png)

Did not try new [Json.NET Plugin](http://www.npgsql.org/doc/types/jsonnet.html) with my code and Npgsql 4.0.0 but will try that. Wondering if you can clarify:

_Out of the box, Npgsql allows reading and writing these types as

[2018-06-14 11:18] xhafan commented on #1985
@fredericDelaporte, thanks for the explanation. I'm already flushing the session manually before completing the transaction scope, without it it didn't work properly.

To make it work with Ngpsql, I had to set `transaction.use_connection_on_system_prepare` to false. But you are taking about setting `transaction.use_connection_on_system_events` to false. Is it the same thing we are talking about?

[2018-06-14 11:44] roji commented on #1995
OK, so it would seem that you had some sort of conversion happening at the Dapper level, with `ToString()` being called on JObject - that's definitely possible.

The error that you're seeing is Npgsql telling you that it was given a JObject, and it doesn't know what to do with it. This means that the conversion logic in Dapper isn't doing its job (otherwise Npgsql would see a string rather than a

[2018-06-14 11:44] #1995 closed

[2018-06-14 11:45] fredericDelaporte commented on #1985
My bad, `transaction.use_connection_on_system_events` is not the right name. Yes, it is transaction.use_connection_on_system_prepare`.

Yes.

[2018-06-14 11:53] xhafan commented on #1985
@fredericDelaporte, thanks for the confirmation. I think NHibernate [documentation ](http://nhibernate.info/doc/nhibernate-reference/transactions.html#transactions-scopes) should be updated to use `transaction.use_connection_on_system_prepare`.

@roji, this issue is really fixed for me. Thanks for spending time on it. If you need help to replicate the issue using my demo app, please ping me.

[2018-06-14 12:14] fredericDelaporte commented on #1985
I am already doing the PR for updating it, but this will likely be done as part of 5.2, so not before end of year.

If by this you mean "having the session flushed by scope completion without explicitly flushing it" does not work unless setting `transaction.use_connection_on_system_prepare` to `true` (so writing false by error), this is expected.

If instead you mean that scopes with Npgsl does no

[2018-06-14 13:20] YohDeadfall commented on #1853
Is it okay to delay the start by two weeks? I'll come back and write code for the design proposal below. It's very hard to write it from phone (:

[2018-06-14 13:59] xhafan commented on #1985
I just replicated this "didn't work properly" to understand what was happening when I was not manually flushing NHibernate session when within a transaction scope (so scope completion was flushing it). Npgsql was randomly crashing on 'Nested/Concurrent transactions aren't supported' (the same issue we discussing here). In an attempt to fix it, I accidentally tried to flush NHibernate session manua

[2018-06-14 15:44] roji commented on #1995
@MedAnd the perf question you're asking above isn't very clear... [All the Json.NET does](https://github.com/npgsql/npgsql/blob/dev/src/Npgsql.Json.NET/JsonbHandler.cs#L80) is call `JsonConvert.SerializeObject()` on the value you give it.

[2018-06-14 16:37] fredericDelaporte commented on #1985
Ok, thanks for having checked. So that looks like both cases are bound to having the session Npgsql connection closed from transaction completion events, which Npgsql does not seem to support (anymore at least, see later in this comment). And both cases are fixed by configuring NHibernate in order to not have a connection closed from transaction completion events. (A change which requires to manua

[2018-06-15 11:05] MedAnd commented on #1995
For example if my PostgreSQL function takes a parameter of type jsonb, is there a difference in performance if I pass (map) via Dapper / ADO.NET / Npgsql a CLR string type vs. use the Json.NET Type Plugin and pass (map) a JObject to PostgreSQL parameter of type jsonb?

In other words does the Json.NET Type Plugin do a ToString() on the JObject before sending to PostgreSQL or does it do something s

[2018-06-16 17:53] rwasef1830 commented on #1851
This was fixed by #1988.

[2018-06-16 17:53] #1851 closed

[2018-06-17 17:43] #1980 closed

[2018-06-17 17:54] austindrenski commented on #1943
@Brar I'll keep on it. This month's a bit stretched for me, but I should be able to make some headway by the end of July.

[2018-06-17 18:23] roji commented on #1623
I've just tried to reproduce this and couldn't. Any attempt to connect with a non-existing username correctly throws a `PostgresException` with the message `28P01: password authentication failed for user "bad_user"`. Trying to connect to a non-existing database throws with `3D000: database "bad_db" does not exist`.

Can you please test on the latest versions, and if you're still encountering an er

[2018-06-18 01:56] ashv88 opened #1998 "No Matches method on NpgsqlTsVector"
### Before submitting

This repo is for Npgsql ADO.NET issues only. Entity Framework issues belong in Npgsql.EntityFrameworkCore.PostgreSQL for EF Core, or EntityFramework6.Npgsql for EF 6.x.

### Steps to reproduce

Follow method 2 on http://www.npgsql.org/efcore/mapping/full-text-search.html#setting-up-and-querying-a-full-text-search-index-on-an-entity

### The issue
var context = new ProductDbC

[2018-06-18 06:48] ashv88 commented on #1998
Use v4 of npgsql and v2.1 of NPGSQL.EntityFramework.Postgres to resolve

[2018-06-18 06:48] #1998 closed

[2018-06-18 07:29] t0pd3v1c3 commented on #1964
I tested 4.0.1 within a week, there is no more error.
Now I see my old exceptions :)

[code]

[2018-06-18 08:39] pgrm commented on #1965
@roji why did you move this issue to milestone 4.1? I thought a fix is already prepared and working.

I know it's always difficult to do estimates, but do you expect that the fix will be still released this month, or until end of July? (just a rough ETA) - Thanks

[2018-06-18 09:48] roji commented on #1965
[As I wrote in #1993](https://github.com/npgsql/npgsql/pull/1993#issuecomment-397341301), writing nullables is a new feature for Npgsql rather than a bugfix, and it's also not completely trivial (touches some core aspects). In addition, it's really a convenience "sugar" feature more than anything else - there's nothing it provides that you can't do today by simply managing the nullable handling yo

[2018-06-18 09:48] roji commented on #1965
4.1 will definitely not be released by the end of July - it's probably a good several months away.

[2018-06-18 09:50] roji commented on #1964
OK, good to know that this issue is resolved.

I'm assuming that your (Russian) exception is some networking issue not really related to Npgsql? Otherwise you can open a different issue for that.

[2018-06-19 09:46] deviantdes opened #2001 "Call of procedure supported ? (postgres ver 11)"
Hi @roji  ,everyone, with regards to the new update of postgresSQL (ver 11). Procedures are now supported. Procedures can be created using the CREATE PROCEDURE command and executed using the CALL command.

[code]

Is the "CALL" supported right now ?

Currently i can only make it work by building a String as a command and then executing it.
e.g.

[code]

Please do let me know if there is a better w

[2018-06-19 12:08] roji commented on #2001
Creating a regular command with `CALL proc_name()` is perfectly fine for executing stored procedures - there's nothing else that's needed really.

The PostgreSQL protocol doesn't have any special provisions for calling functions or procedures. Even when you use `CommandType.StoredProcedure` for calling functions, all this does is make Npgsql construct a `SELECT func_name()` under the hood and send