[2015-02-16 15:30] franciscojunior commented on #163
It is done. As I don't have a redshift server, I tested it with the osx fingerprint `apple-darwin`  and it worked ok!

I'll add more commits to remove the code which add support for connection string parameter AmazonRedshift. In fact, I think I'll try the revert support of github. :)

But I think we can create a build right now in the build server so @khalidsalomao can give it a try.

[2015-02-16 15:36] mateusaubin commented on #163
Once the binaries are available I can try them out as well ;)

[2015-02-16 15:43] franciscojunior commented on #163
Hi, @griffoff. Thank you very much. Your words are very rewarding.

We thought about that in the past. Today the main differences are those startup problems (which we are fixing only for the 2.2 branch as the 3.0 branch won't have this problem) and EntityFramework support which uses a lot of sql features present only in postgresql 9.0 and above. Other than that, Npgsql can be used without many pro

[2015-02-16 15:44] franciscojunior commented on #163
I'm building them right now in our build server. :)

[2015-02-16 16:49] roji commented on #163
@griffoff, I agree with @Emill and @franciscojunior above - we're currently aware of very little incompatibilities with Redshift. If and when that changes a fork may make sense, but as @Emill said our next major version (3.0) will be even less Redshift-sensitive.

One more note: I've gotten in touch with AWS to see if they can help us out by donating a Redshift instance, and possibly even more. Th

[2015-02-16 17:50] franciscojunior commented on #447
Great!

Ok. Thanks for checking that!

[2015-02-16 17:51] franciscojunior commented on #163
That's excellent news! This will help us very much!

[2015-02-16 17:52] griffoff commented on #163
I'm all for pragmatism!  Your approach makes sense.  Thanks for the
response.

On 16 February 2015 at 11:49, Shay Rojansky <notifications@github.com>
wrote:

[2015-02-16 18:23] franciscojunior commented on #163
We are having some timeout issues when running tests, but I got binaries built:

For .net 4.5:
https://build.npgsql.org/repository/download/npgsql_net45/13984:id/Npgsql/bin/Release-net45/Npgsql.dll

For .net 4.0:
https://build.npgsql.org/repository/download/npgsql_net40/13983:id/Npgsql/bin/Release-net40/Npgsql.dll

For 3.5:
https://build.npgsql.org/repository/download/npgsql_net35/13970:id/Npgsql/

[2015-02-16 18:30] mateusaubin commented on #163
still getting exceptions on connection.Open() due to LC_MONETARY

[2015-02-16 18:33] franciscojunior commented on #163
Hmmmm, can you post the result of `select version()`, please?

I'm looking for the redshift fingerprint and if it is found, Npgsql shouldn't send the command.

[2015-02-16 18:39] mateusaubin commented on #163
trying to use "Redshift=True;" in the connectionstring results in a ArgumentException.

the unmodified connectionstring causes a NpgsqlException but still works fine with my forked code.

version is:

[2015-02-16 18:42] franciscojunior commented on #163
Hmmmmm, this is strange. Because I didn't remove the Redshift connection string parameter support.
Do you think it is possible that you are using Npgsql from GAC or some other version?

I'll check here to see if I did something wrong in the builds.

[2015-02-16 18:50] mateusaubin commented on #163
There's nothing related to Npgsql in my GAC, I'm referencing the dll directly.
I ran my test using _DbProviderFactories_ but now I've also run them by directly instantiating _NpgsqlConnection_ and got the same results.

Where can I find the code with your patches so I can build it locally?

[2015-02-16 19:02] franciscojunior commented on #163
You can find it here:
https://github.com/npgsql/npgsql/tree/2.2

And patch here:
https://github.com/npgsql/npgsql/pull/487

Thanks for testing.

[2015-02-16 19:41] mateusaubin commented on #163
I thing i've sorted it out.

the problem was:
* I hadn't set _AmazonRedshift=true;_
* [NpgsqlConnector](https://github.com/npgsql/npgsql/blob/a54809ba33d179ad32b089928e2ec2d1fc83449a/Npgsql/Npgsql/NpgsqlConnector.cs#L778) attempts to initialize the state sending a [NpgsqlStartpPacket](https://github.com/npgsql/npgsql/blob/a54809ba33d179ad32b089928e2ec2d1fc83449a/Npgsql/Npgsql/NpgsqlStartupPacket.c

[2015-02-16 20:10] franciscojunior commented on #163
Ahh, sorry about that. There are 2 ways of handling the problem of the lc_monetary. One was through the connection string parameter which is already committed in the 2.2 branch. The other one was checking the return value of select version(). I didn't remove the connection string parameter support yet. :( Sorry for not making this clear.

But on the other side, did it work to connect to Amazon red

[2015-02-16 23:53] mateusaubin commented on #163
Another side effect of this change is that money support is broken in Amazon redshift. Are you using this datatype in your projects?

Yes, it worked just fine.
Regarding the money datatype we haven't used it since it is explicitly unsupported by redshift, see [Unsupported PostgreSQL Data Types](http://docs.aws.amazon.com/redshift/latest/dg/c_unsupported-postgresql-datatypes.html) and [Data Types](

[2015-02-17 00:31] kenjiuno commented on #445
Hi.

Npgsql ddex extension can work with recent Npgsql such as 2.2.3.0/2.2.4.3.

So, if you get Npgsql from NuGet in order to develop your application, you can put Npgsql into GAC.

The procedures for development environment:
(1) Launch a "VS2012 x86 Native Tools Command Prompt"
(2) `gacutil /i  <your Npgsql.dll>`
(3) Edit machine.config with Administrator privileges. Especially check `Version=2.2

[2015-02-17 07:40] roji commented on #163
@franciscojunior, I'd implement SupportsSetLcMonetary as a check for server_version >= 8.1.0. Then I'd check this property in NpgsqlConnector.Open() and add LC_MONETARY='C' to sbInitQueries just like we currently do with SupportsExtraFloatDigits3.

[2015-02-17 08:40] roji commented on #347
Hi everyone.

I'd like to wrap up date/time handling in v3.0, and there are some non-trivial questions. I had a short discussion with @Emill, and here is what we came up with for now. This is far from final and the subject is pretty confusing, any feedback is really welcome!

##### Sending values to the database

.NET Value                 | PG type     | Action
---------------------------|-------

[2015-02-17 21:40] marrrcin commented on #445
After you advices I've successfuly deployed my app to Azure (I used Npgsql 2.2.4.3). Thanks!

[2015-02-17 22:10] Drewm4n commented on #445
It seems to work for me too, awesome job @kenjiuno !

[2015-02-18 09:07] and-se opened #488 "Null bytes in string raises: 08P01, 'invalid message format'"
Hello! As you know, PostgreSQL doesn't support null bytes in strings. For example, such query doesn't work:

If you try run this query in pgAdmin, you'll get:

But Nppgsql talks about it in another way:

Maybe Npgsql need to report more clear... A string with null bytes is a strange thing, but it can come from third-party components. In my case it was IFilter.

P.S.
Npgsql 2.2.4.3 and 2.2.3
Postgr

[2015-02-18 09:35] roji commented on #488
Thanks for raising this, I'll look into it.

[2015-02-18 09:36] roji commented on #488
There's a good chance that with the 3.0 move to 100% server-side parameter binding this goes away naturally.

[2015-02-18 10:35] roji commented on #488
Confirmed, in our master branch (v3.0) the correct behavior occurs. Added a test.

[2015-02-18 10:35] #488 closed

[2015-02-18 12:04] #435 closed

[2015-02-18 15:08] franciscojunior commented on #163
Done! Sorry for taking so long.

I just created a pull request with those changes. #489

I'll now revert the change which add the connection string parameter support.

[2015-02-18 15:26] roji commented on #163
Great! I've triggered the 2.2. build for your PR, hopefully it doesn't do any more slowdown issues.

[2015-02-18 15:47] franciscojunior commented on #163
I triggered the net 2.0 build just to make a test and the slowdown doesn't occur there.
But in the 487 it still occurs.
Right now I can see the builds happening in the 4 and a half minutes time frame. If we trigger the 487 pull request build, we can see that it occurs in the 17 minutes timeframe. :(

[2015-02-18 16:01] franciscojunior commented on #163
I just reverted the pull request which added amazon redshift connection string parameter. Github interface worked like a charm! :)

I'll rebase #489 with this new 2.2.

[2015-02-18 16:05] roji commented on #163
Great. I think we can forget about #487 and merge #489, that should do it.

[2015-02-18 16:12] franciscojunior commented on #163
Yes. There is only a missing line in #489 . I'm committing it now....

[2015-02-18 16:17] roji opened #491 "Replace NpgsqlNetworkStream with AppDomain.DomainUnload event"
We currently wrap the connector's socket in an NpgsqlNetworkStream, which (to my understanding) is there to send the Terminate message to the backend when the process shuts down. In other words, connectors that are in the pool need to be properly closed, otherwise the backend generates warnings. See [this issue](http://lists.pgfoundry.org/pipermail/npgsql-devel/2011-December/001183.html).

One pro

[2015-02-18 16:18] franciscojunior commented on #163
Done! Now #489 is 100%.

[2015-02-18 17:01] franciscojunior commented on #491
No, NpgsqlNetworkStream was created exactly for that purpose.
In the case of "it works at the moment, but theoretically could stop", it already stopped working on Mono since a lot of previous versions. When testing Npgsql in Mono, I receive the LOG: unexpected EOF on client connection error. I don't know if it is a bug in Mono or if it is by design. The case is that the NpgsqlNetworkStream finaliz

[2015-02-18 17:01] jbcooley commented on #491
On MSDN there is a note about AppDomain.DomainUnload that says, "This event is never raised in the default application domain."  The type of AppDomain used to run the app affects how useful this event is.  I've not tried to use this in a web app, but I know it doesn't work for desktop apps or windows services.

I believe we can expect the fields to be available and not garbage collected.  The prob

[2015-02-18 17:02] franciscojunior commented on #491
:(

[2015-02-18 17:43] franciscojunior commented on #163
All set!
@mateusaubin , @khalidsalomao you can download latest 2.2 binaries with latest amazon redshift support here: https://build.npgsql.org/viewLog.html?buildId=14051&tab=artifacts&buildTypeId=npgsql_All22

Please, give it a try and let us know if you find any issues. Thanks in advance.

[2015-02-18 18:19] roji commented on #491
Ah sorry, you're right @jbcooley - I was wrong on the specific event.

I think the proper event for this is [AppDomain.CurrentDomain.ProcessExit](https://msdn.microsoft.com/en-gb/library/system.appdomain.processexit.aspx). As far as I remember this is what everyone subscribes on for cleaning up resources.

[2015-02-18 19:22] franciscojunior commented on #491
Great! I think this would work as intended. Just one note from the documentation called my attention:
[code]
Which required permissions those would be?

[2015-02-18 22:43] jbcooley commented on #491
@roji, Will that work in a web app?  We may need a combination of the two
since an AppDomain may be unloaded without exiting the process.

[2015-02-19 07:08] matthewrwilton opened #492 "Exceptions trying to create DateTimeOffset with offsets that include seconds"
Hi

I am running into exceptions caused by npgsql trying to create DateTimeOffset instances that do not have whole minute offsets, which is a requirement of .NET. An example of where this is occurs is I have a DateTimeOffset.MinValue stored in a timestamptz column and postgres returns the timezone as +10:12:08, which npgsql tries to use as the offset causing the exception.

The changes suggested i

[2015-02-19 08:02] roji commented on #491
You may be right. It seems that for some reason there's a "split" between the default appdomain and other appdomains. For any regular desktop app etc., there's only the default appdomain, DomainUnloaded isn't fired as per the docs, and the only option is ProcessExit. For hosted scenarios which use non-default appdomains (e.g. IIS) you're right and the DomainUnload is the one to use.

So maybe doub

[2015-02-19 08:30] roji commented on #492
Thanks for reporting this @matthewrwilton.

I'm personally not sure I like the idea of Npgsql doing transparent rounding behind the scenes and returning values that aren't faithful to what PG has in its tables. The problem of PG types that cannot be represented by their "natural" .NET counterparts is common, and usually it's solved by going through the provider-specific NpgsqlTimestampTZ type, whi

[2015-02-19 11:47] kenjiuno commented on #445
Thanks for the report! @marrrcin @Drewm4n

[2015-02-19 12:16] roji commented on #400
I just came across this issue, sorry for not commenting earlier, it must have slipped through the cracks.

I've done a lot of rewriting around how ExecuteReader() happens for our next major version, v3.0. In the last implementation in master, unprepared commands will work in the way you want, since ExecuteQuery() must wait for certain messages to arrive from the server (e.g. row description). Prep

[2015-02-19 12:48] khalidsalomao commented on #163
Hi @franciscojunior, @roji ,

It worked! ;)

Tested several operations and all is fine!

Thanks guys!

[2015-02-19 14:31] roji commented on #163
Great. @franciscojunior, go ahead and merge #489 into 2.2. Then we can see if there's anything else we want to do for 2.2.5.

[2015-02-19 18:09] roji opened #493 "Several issues related to SSL/TLS"
This issue summarizes open questions on SSL, following conversations on gitter with @Emill and other existing issues.

1. Mono's SslStream implementation isn't amazing security-wise: lack of ciphers, perfect forward security, etc.
2. Mono's SslStream implementation does not support SSL renegotiation well, causing an IOException after a while (see #380).
3. The SslStream API (Microsoft or mono) doe

[2015-02-19 18:42] franciscojunior commented on #163
Done!

[2015-02-19 18:42] realityexists commented on #400
Good question! I've run into some bizarre cases where a query may initially time out no matter how long I wait, but the second time it runs in a reasonable time. Usually it runs OK the first time and this isn't reliably reproducible, so clearly something weird is going on. Perhaps Postgres creates a bad plan initially and then learns from its mistake!

[2015-02-19 18:58] franciscojunior commented on #493
My only concern about this option would be the added dependency.

+1

We already have a partial path for that: #453. I'll rebase it and add the runtime check for mono.

+1 That's the idea for release 3.0

[2015-02-19 21:06] roji opened #494 "Do client-side parameter truncation when NpgsqlParameter.Size is set"
Implement NpgsqlParameter.Size as described in https://msdn.microsoft.com/en-us/library/system.data.common.dbparameter.size(v=vs.110).aspx.

[2015-02-19 21:07] #494 closed

[2015-02-19 23:38] matthewrwilton commented on #492
Hi @roji

I tested NpgsqlDataReader.GetTimestampTZ(), but that does not work either. The underlying object is a DateTime (even though the column is a timestamptz), which cannot be cast to NpgsqlTimeStampTZ.

I'm actually running into the error via EntityFramework, with an entity that has a DateTimeOffset property. I did try to get working a few different ways including changing the property type t

[2015-02-20 01:48] smmansoor opened #495 "TransactionScope timeout does not work"
# Summary:

Transaction does not rollback if scope timeout has elapsed.
# Detailed description:

Consider the following sample. We declare the TransactionScope with scopeTimeOut.
When execute command and the time is over as specified in scopeTimeout. The transaction aborts but the command does not rollback.

---

using (TransactionScope scope = new TransactionScope(TransactionScopeOption.Required,

[2015-02-20 04:34] adraut commented on #372
The problem with setting up a timer for each connection is that a System.Threading.Timer executes on the thread pool.  So in the situation of a web server that might be making hundreds of connections a second and requires a max pool size upwards of 20, it's possible to start having resource issues with the thread pool.  The single thread to do the cleanup seems like the correct approach.

The sort

[2015-02-20 08:09] roji opened #496 "Support NpgsqlParameter.Precision and Scale for numeric"
As defined [here](https://msdn.microsoft.com/en-us/library/system.data.common.dbparameter.precision(v=vs.110).aspx) and [here](https://msdn.microsoft.com/en-us/library/system.data.common.dbparameter.precision(v=vs.110).aspx).

Note that the numeric type handler is currently implemented as a simple type handler, but the simple handler interface doesn't receive the NpgsqlParameter. However, PG's num

[2015-02-20 08:27] roji commented on #495
Thanks for raising this. We're aware of some issues with TransactionScope support. Unfortunately our current work on the next major version (v3.0) is already too huge to allow us to tackle that as well, so I was planning a serious pass over TransactionScope for v3.1.

After a very quick and incomplete review of your patch:
* Your patch appears to make a lot of changes not related to this specific

[2015-02-20 08:47] roji commented on #372
That sounds right to me.

Regarding the structure to be used... I reread through the above, understand the situation a bit better, and agree with you.

The motivation for stack logic is that we want recently-used connectors to be handed out first, otherwise the pool won't shrink as it should when there are excess connectors. However, we also need to somehow remove unused connectors from the bottom

[2015-02-20 21:42] jdcrutchley opened #497 "Error creating full database script after migrations run"
This only occurs if I've already run migrations and specify I want to create a full database creation script like so:

    Database-Update -Script -SourceMigration $InitialDatabase

The error generated is:

    object reference not set to an instance of an object

If I specify any other source migration besides $IntialDatabase it works properly.  Also, if I first revert all the way to zero then as

[2015-02-20 21:59] franciscojunior commented on #372
Giving a lot of reports we receive about timeouts while trying to get a connection from the pool,
I was thinking about adding a feature to track connection pool usage to give more information to users when they face a timeout while getting connection from the pool. I created a patch #311 a long time ago which adds the ability to log the stacktrace of the connection request.
In the past this mechan

[2015-02-21 09:49] roji opened #498 "HSTORE binary encoding"
Since we're now binary-only, we need to implement hstore binary encoding and an NpgsqlHstore type.

[2015-02-21 10:02] Emill commented on #498
Dictionary<string, string>?
Den 21 feb 2015 10:49 skrev "Shay Rojansky" <notifications@github.com>:

[2015-02-21 15:41] GaryK4 commented on #352
As stated before (godzail) 2.1.3 does not have this Issue. So it appears some change after this broke DateTime columns. ADO.NET did not change. I have to stick with 2.1.3 until this is fixed.
Thanks

[2015-02-21 17:38] roji commented on #498
Yeah, that's the way I ended up implementing it :) Will push very soon...

[2015-02-21 18:09] #498 closed

[2015-02-21 21:12] Emill commented on #493
Since this commit: https://github.com/postgres/postgres/commit/272923a0a6956187471df4f032eee06559520390, Microsoft's SslStream also breaks on renegotiation.

[2015-02-22 11:00] roji commented on #493
IMHO PostgreSQL should be aware that this breaks SslStream and possibly revert this change?

[2015-02-22 11:07] Emill commented on #493
I sent a mail to pgsql-hackers about that yesterday. Due to a bug in
openssl, jdbc renegotiation doesn't work currently either.
Den 22 feb 2015 12:00 skrev "Shay Rojansky" <notifications@github.com>:

[2015-02-22 14:01] GaryK4 opened #499 "Concurrency violation with NpgsqlDataAdapter"
I am getting this error in my test program.
Concurrency violation: the UpdateCommand affected 0 of the expected 1 records.

I also have a MySql database with the same schema and I do not get the error.
This appears to be a Npgsql.dll error. I tried (2) versions with the same result (2.1.3 and 2.2.3)
If I do a NpgsqlCommand SQL Update, it works.

partno is the primary key.

Public Sub update_record

[2015-02-22 22:21] adraut commented on #372
I have created pull #500 as a potential fix.

[2015-02-24 00:12] GaryK4 commented on #499
I found a workaround for the issue, but I don't understand why.
There is a field pl_status character(14), not null, Default 'Modified'::bpchar;
I changed it to varchar(14) and the problem went away!!

[2015-02-24 00:59] Emill commented on #493
Hi guys, I created a branch at https://github.com/Emill/Npgsql/tree/tls-client-stream containing my implementation. It should fix all the problems mentioned above...

It supports a quite comprehensive collection of cipher suites: https://github.com/Emill/Npgsql/blob/tls-client-stream/Npgsql/TlsClientStream/CipherSuiteInfo.cs, much more than I had thought of before I started this :)

It uses Micros

[2015-02-24 14:37] sgentile opened #501 "asp.net 5 - Mono ?"
Considering using this to run on Linux with asp.net 5.

I wanted to find out if npgsql would work with asp.net 5  - we would want to run this on Linux servers.

Has anyone run this with the latest asp.net 5 builds ?

http://weblogs.asp.net/scottgu/introducing-asp-net-5

[2015-02-24 14:40] sgentile commented on #501
and then there is this concern:
http://rob.conery.io/2014/02/05/using-entity-framework-6-with-postgresql/

ie. does it support migrations, etc... how is performance, etc... ?

[2015-02-24 17:05] mythz commented on #473
I've also started recently started hitting max pool connection limits (that just started after upgrading from v2.2.3 to the latest v2.2.4.3 tho might also be coincidental with an automatic update on AWS). When it happens again I'll revert back to v2.2.3 to see if it prevents the issue.

To help with troubleshooting, what's the best way to get stats about the Ng pool, e.g. size/open connections, et

[2015-02-24 19:12] franciscojunior commented on #493
That's awesome, @Emill ! You rock!
I'll give it a try and let you know.
Thank you very much for your contribution!

I think you should definitely create a project to host this gem. I'm sure a lot of people out there would like to use your tls library. Another option would be to contribute it to the .net core so everybody in the ms.net and mono platforms can use it. ;)

[2015-02-24 19:18] franciscojunior commented on #473
Hi, @mzabani and @mythz .

Unfortunately, we don't have any instrumentation in the connection pool to allow more information to be gather about it. :(
One possible step in this direction I've been working on is this patch #311 which you can add to the 2.2.x tree. It will allow you to log the stacktrace of all connection allocations when there is a timeout exception trying to get a pool from the co

[2015-02-24 19:29] mythz commented on #473
Hi @franciscojunior thx for the quick response! Yep making the internal `NpgsqlConnectorPool` public would help a lot, it would also be nice to have access to the `ClearAllPools()` and `ClearPool(NpgsqlConnection)` API's which we can try explicitly calling to see if it that provides temporary reprieve around the Max Limit exceptions as currently the only solution I can see atm is to restart the Ap

[2015-02-24 20:54] franciscojunior commented on #473
Hi, @mythz !

Fortunately for the case of `ClearAllPools` and `ClearPool(NpgsqlConnection)`, they are already available to you as static methods in NpgsqlConnection. Please, give it a try and let me know if it helps you.

[2015-02-24 21:27] mythz commented on #473
ok great thx, I've added a new service that will let me reset the connection pool remotely, will let you know if that resolves the issue next time it happens.

Would still be nice to be able to access the pool data structures so I can tell if they're leaking or not being properly released.

[2015-02-24 21:38] franciscojunior commented on #473
Em 24/02/2015 18:27, "Demis Bellot" <notifications@github.com> escreveu:

connection pool remotely, will let you know if that resolves the issue next
time it happens.

Great!

can tell if they're leaking or not being properly released.

Yes. I agree with you thst the npgsqlconnection pool is very opaque.  We
didn't add too much instrumentation capabilities to npgsql connection pool.

We will try t

[2015-02-24 21:57] mythz commented on #473
Great thx @franciscojunior, much appreciated!

IMO it would be a great stop-gap to make the internals public while you're investigating a better solution, then revert them back to being internal once you've formalized an official API you're happy with.

A quick and non-invasive way I use to provide some insight into library implementation is to provide public delegates that (if they're assigned) t

[2015-02-25 09:10] roji commented on #457
A [PR doing this has been merged](https://github.com/mono/mono/pull/1591) into mono master.

[2015-02-25 09:10] #457 closed

[2015-02-25 09:26] roji commented on #493
Wow @Emill, you really went ahead with it...! :)

I'll try to take a look soon (am a bit busy lately with other things). @franciscojunior's suggestion makes sense to me, about creating it as a separate project.

Unless I'm mistaken, there's no way to cover the different ciphers with tests, right? I mean, there's one test that connects with SSL, but actually testing different ciphers requires backe

[2015-02-25 09:33] Emill commented on #493
Correct. You must configure the server and set certificate. You can only
have one certificate at a time so you have to restart the server to change
cert. There can be both rsa, dsa and ecdsa certs. There is also the
possibility for client certificate requests, which you can set a CA cert
for in postgresql config.
Den 25 feb 2015 10:26 skrev "Shay Rojansky" <notifications@github.com>:

[2015-02-25 09:47] Emill commented on #493
I think it's easier to test it against a separate raw SslStream in server
mode where one can specify different certificates programmatically.
 Den 25 feb 2015 10:33 skrev "Emil Lenngren" <emil.lenngren@gmail.com>:

[2015-02-25 10:52] roji opened #502 "(Re-)implement COPY"
As part of 3.0 COPY IN/OUT has to be reimplemented. After looking into the current (2.2) implementation here are some problems:

* It uses exclusively text format, which is slower than binary and has more potential encoding/escaping issues (much like regular non-COPY data transfers). It should be possible to both read and write in binary.
* NpgsqlCopySerializer provides some functions for writing

[2015-02-25 11:44] roji opened #503 "UTF8 encoding should throw exception on invalid encoding"
Throughout Npgsql we sometimes use Encoding.UTF8, and sometimes use the static instance UTF8Encoding on the BackendEncoding class. Neither of these throws an exception for invalid encoding.

Switch to an instance of UTF8Encoding which throws an exception when this happens.

[2015-02-25 12:01] #503 closed

[2015-02-25 13:31] realityexists commented on #252
We've also been running into this issue (intermittently) using Npgsql 2.14.3. Strangely, it's only appeared recently, though we'd been using 2.14.3 for some time. Has anyone figured out a workaround for this bug?

[2015-02-25 13:38] mlb5000 commented on #252
@realityexists Yes we did, though it might actually be what is required rather than a workaround. In addition to the normal values in the connection string we had to add this:

```;POOLING=True;MINPOOLSIZE=10;Preload Reader=true```

[2015-02-25 13:44] realityexists commented on #252
Thanks. Which of those settings makes the difference, though - MinPoolSize or Preload Reader or both of them together somehow? If so, do you know how? (Pooling=true is the default according to the user guide.)

[2015-02-25 13:45] mlb5000 commented on #252
@realityexists I think it's `Preload Reader` that does it.

[2015-02-25 13:47] realityexists commented on #252
Ah, I was hoping you wouldn't say that, because I need to read some very large data sets (millions of rows), which are unlikely to work with Preload Reader=true. I suppose I could use a separate connection with Preload Reader=false for those queries and Preload Reader=true for everything else to minimise the risk of this error - would that work?

[2015-02-25 13:50] mlb5000 commented on #252
From the sounds of the above recommendations, yes, that should work. However we were using NpgSQL behind Entity Framework and so didn't have much control over the connection it decided to use (not that we tried all that hard to be honest). If you do have control then you should be able to do that.

[2015-02-25 15:18] realityexists commented on #252
Thanks again. I just realised: my code doesn't actually use NOTIFY/LISTEN. The closest it does is handle the NpgsqlConnection.Notice event. Would that be what's triggering the issue in my case? If so, I should be able to use NOTIFY instead of NOTICE on the server side and then I could LISTEN for that notification using a different connection, right? Would that work around the issue?

[2015-02-25 17:03] mythz commented on #473
Hi @franciscojunior

FYI I hit the max connection limit again and calling `NpgsqlConnection.ClearAllPools()` was able to resolve it on the remote server without needing to restart the AppDomain. So far it's happening every 1-2 days, I'll let it happen 1 more time before reverting to the earlier v2.2.3 to see if that resolves it.

[2015-02-25 19:30] franciscojunior commented on #493
Hi @Emill !

I just tried it here but I got a problem when connecting:
[code]

I even tried to add a check for null in this accessor and return 0 and then 8. After doing this change, I got this error:

[code]

I hope those stacktraces can be helpful.

[2015-02-25 19:41] Emill commented on #493
Hi. It seems you are using an old version of openssl that does not support
TLS 1.2 for your postgresql server?
TLS 1.2 was released in 2008 so I assumed most distros supported that ...
I think openssl supports tls 1.2 since openssl 1.0.1.

2015-02-25 20:30 GMT+01:00 Francisco Figueiredo Jr. <
notifications@github.com>:

[2015-02-25 19:45] franciscojunior commented on #473
That's an excellent suggestion, @mythz !

I'll give it a try and create a PR so we can test it.

[2015-02-25 19:47] franciscojunior commented on #473
Hmmmm, this makes me think that there may be some path in your code which isn't closing the connections after using them. Did you check that? If the connection isn't closed, it isn't returned to the pool.

[2015-02-25 19:51] franciscojunior commented on #493
I'm using openssl from osx.

Indeed, from this log I get when I use an old Npgsql.dll library which connects to the server, it seems to be using tlsv1:

[code]

This is the openssl version I'm using:
[code]

[2015-02-25 19:54] franciscojunior commented on #493
According to this post:
http://apple.stackexchange.com/questions/126830/how-to-upgrade-openssl-in-os-x

It seems the 0.9.8za is the official openssl version in osx which doesn't contain the heartbleed bug.

[2015-02-25 19:57] Emill commented on #493
Hmm. I have no idea why Apple bundle such an old version (0.9.8 was
released in 2005) in their OS...
Maybe I could make it TLS 1.0 compatible as well, I don't think there are
that big changes.

2015-02-25 20:54 GMT+01:00 Francisco Figueiredo Jr. <
notifications@github.com>:

[2015-02-25 20:04] franciscojunior commented on #493
According to this link: www.eweek.com/security/apple-os-x-10.10.2-bashes-bugs.html
latest apple update 10.10.2 (which I don't have. I'm still using 10.10), openssl is updated to 0.9.8zc.

Great! This will make it even better for osx users. :)

[2015-02-25 20:12] Emill commented on #493
I wonder however how many people there are running postgresql on their osx
computer *and* wants to use encrypted connection. Probably those people run
Npgsql over localhost anyway ...

2015-02-25 21:04 GMT+01:00 Francisco Figueiredo Jr. <
notifications@github.com>:

[2015-02-25 20:14] franciscojunior commented on #493
Good point! :)

I think you can leave it as it is for now. I'll test it now connecting from my windows vm.
I'll let you know how it works.

[2015-02-25 20:15] mythz commented on #473
@franciscojunior Yeah that's my first guess as well but AFAICT they're all being properly disposed (as part of the normal IOC lifecycle). Which is why it'd be nice to have some events I can tap into to find out if there's a matching release after each open connection in the NgPool and a way to get the number of active connections after each request to see if there are any specific requests where i

[2015-02-25 20:55] franciscojunior commented on #493
This is what I get when running on windows:
[code]

And this is what the server logs:

[code]

I even recreated the server certificate in the windows server thinking this could be the problem cause.

[2015-02-25 20:59] Emill commented on #493
Hmm.. Could you add this:

Console.Out.WriteLine(cipherSuite);

to TlsClientStream.cs line 735
to get what Cipher suite is used?

2015-02-25 21:55 GMT+01:00 Francisco Figueiredo Jr. <
notifications@github.com>:

[2015-02-25 21:13] franciscojunior commented on #493
[code]

Note that when I use the old version of Npgsql.dll which connects to the host, it also says it is using tlsv1. I don't know if this is relevant though. I hope it helps.

[2015-02-25 21:20] Emill commented on #493
Ahh.. Found the problem. I thought I had double-checked the cipher suite
definition list...
Try the latest pushed revision.

2015-02-25 22:13 GMT+01:00 Francisco Figueiredo Jr. <
notifications@github.com>:

[2015-02-25 21:44] franciscojunior commented on #493
Success!! :)

[code]

I also can confirm that the ssl renegotiation error doesn't occur.

You rock, @Emill !! :)

[2015-02-25 21:46] Emill commented on #493
Yeah, nice :)

2015-02-25 22:44 GMT+01:00 Francisco Figueiredo Jr. <
notifications@github.com>:

[2015-02-25 21:48] franciscojunior commented on #493
I remember when I was in my graduation course and EC were something theoretical and now, more than a decade and a half later, Npgsql is able to use it to cipher its communications... :)

[2015-02-26 11:05] borgdylan commented on #249
@aponnet I saw your branch but it does not include all the stuff. It does not modify the EF project at all.

[2015-02-26 13:25] hitsw opened #504 "Internal Error! Npgsql.NpgsqlReadyState during bulk load"
Hi, I'm attempting bulk load to Postgres (provider version is 2.2.4.3, NET 4.0) for a table of 1M records. It works up to 50000, then throws the following exception calling the NpgsqlCopySerializer.AddNumber:

System.InvalidOperationException was unhandled by user code
  HResult=-2146233079
  Message=Internal Error! Npgsql.NpgsqlReadyState
  Source=Npgsql
  StackTrace:
       at Npgsql.NpgsqlState

[2015-02-26 13:29] hitsw commented on #504
One more comment, the error above is thrown if I call the serializer.Flush only on every block of 1000 records. If I do it on every record, I get the following error:

Npgsql.NpgsqlException was unhandled
  HResult=-2147467259
  Message=ERROR: 57014: canceling statement due to statement timeout
  Source=Npgsql
  ErrorCode=-2147467259
  BaseMessage=canceling statement due to statement timeout
  Cod

[2015-02-26 13:32] hitsw commented on #504
Occasionally, I have also this error:

System.NotSupportedException: Cannot write to a BufferedStream while the read buffer is not empty if the underlying stream is not seekable. Ensure that the stream underlying this BufferedStream can seek or avoid interleaving read and write operations on this BufferedStream.
   at System.IO.BufferedStream.ClearReadBufferBeforeWrite()
   at System.IO.BufferedSt

[2015-02-26 16:33] sponnet commented on #249
There was a discussion where the EF changes should be committed - I have a
seperate folder with all the EF changes - but haven't included this in the
fork I made.

Furhtermore our devs have been iterating further on the code , trying to
integrate it with the master version of the npgsql code.
I will check what the status is and give some feedback tomorrow.

Stefaan

On Thu, Feb 26, 2015 at 12:05 P

[2015-02-26 16:37] borgdylan commented on #249
Thanks.

[2015-02-26 19:24] havard opened #505 "Command never gets garbage allocated if not disposed"
I have a scenario where a process runs in Azure for a long time, querying a database rather eagerly. I estimate the load to be 5-20 queries/second.

### The issue
After running for about 4 hours, the job consistently fails to connect to the database. The relevant exception and stack trace is given below:

    An exception of type Npgsql.NpgsqlException was thrown: Failed to establish a connection

[2015-02-26 20:35] Emill commented on #476
FYI:
Parameter status for Redshift:
[code]

Parameter status for a normal PostgreSQL db:
[code]

Redshift also doesn't support the "typarray" column which is used in TypeHandlerRegistry, since it is based on PostgreSQL 8.0 and that column was introduced in 8.3.

[2015-02-26 22:38] Emill commented on #493
It seems to be a bit more complicated to add support for TLS 1.0 than I
thought. TLS 1.0 uses the concatenation of an MD5-hash and a SHA1-hash when
verifying or signing data with RSA or DSA, but the .NET
RSACryptoServiceProvider and DSACryptoServiceProvider does not support
that. (I think it is a bit silly since the only thing it does with the hash
name provided is checking that the length of the

[2015-02-26 23:05] franciscojunior commented on #493
I've made some more tests with npgsql to check how the notifications
problem #270 is going with the current code.

I can confirm that current master npgsql code indeed fixes the problem.
Notifications are being properly handled.
I used the code in this old bug report:
http://pgfoundry.org/tracker/index.php?func=detail&aid=1011374&group_id=1000140&atid=590

I also could test if it is working in whe

[2015-02-27 10:14] ferrywlto opened #506 "Issue similiar to #479 exists in ASP.NET website project"
Using the same config values, with Npgsql 2.2.4.3, it works fine in Application project.

However when I repeat the same steps and config values in a website project, the issue of #479 occurs.

[2015-02-27 14:54] roji commented on #504
Thanks for reporting all these.

It so happens that I'm in the middle of rewriting COPY support for v3.0. I'll take care that the kind of issues you report above aren't reproduced in the new implementation (which will be quite different), but unfortunately this also means I can't really help you with your problems with the current v2.2 implementation...

For now the only thing I can recommend is t

[2015-02-27 17:09] franciscojunior commented on #473
Hi, @mythz !

I just created #507 PR which contains callbacks to new connector, release connector and close connector. I also added a version which receives a stacktrace of the calls. This may help you getting the source of the problem as you will be able to track each connector allocation.

Also note that I changed the name of the delegates, because they are in fact handling NpgsqlConnectors and

[2015-02-27 19:26] roji commented on #476
Thanks for this info @Emill... We'll need to find a workaround for typearray in TypeHandlerRegistry, I'll try to take a look...

[2015-02-27 21:29] havard commented on #505
I have analyzed memory dumps and found that the reason is indeed that NpgsqlConnection instances aren't being cleaned up properly.

Here is the relevant part of a heap view showing that the StateChangeEventHandler is not properly cleaned up, maintaining an indirect cyclic reference between the NpgsqlConnection and NpgsqlCommand objects.

![image](https://cloud.githubusercontent.com/assets/45829/64

[2015-02-27 21:52] mythz commented on #473
Hi @franciscojunior awesome thx, I've just deployed this version with logging of the new connector events enabled. I have just over 10,000 log entries (includes HTTP Request /pathinfo) out of those I see:

  - 892 CloseConnector Events
  - 892 NewConnector Events
  - 4002 ReleaseConnector Events

So there's appears to be a matching Close for reach NewConnector event. Just want to double-check if r

[2015-02-27 22:00] havard commented on #505
The Connection property setter on NpgsqlCommand takes care of adding/removing the relevant event handlers. It seems that cleanup is supposed to happen when NpgsqlCommand.Dispose() is called.

However, EF does not Dispose() DbCommand objects. This is documented several places, e.g. the triage notes for [EF issue 2306](https://entityframework.codeplex.com/workitem/2306) (scroll down and read the com

[2015-02-27 23:46] roji commented on #476
Another thing to check is the UNICODE server_encoding in Redshift, vs. UTF8 for normal PG...

[2015-02-27 23:48] roji commented on #476
Guys, any objection to releasing 2.2.5? We have the Redshift issue and another important fix. Anything else someone wants to do before we release?

[2015-02-27 23:51] roji commented on #505
Thanks for raising this and also for the detailed analysis... I'll try to take a look at this ASAP.

[2015-02-28 02:29] kenjiuno commented on #506
Hi.

Thanks for the report! I'll check about it.

What version of Visual Studio are you using? Vs2012/Vs2013 Pro?

[2015-02-28 04:13] ferrywlto commented on #506
Hi Kenjiuno,

I tried Visual Studio 2010 Professional and Visual Studio 2013 Community
but both doesn't work.

2015-02-28 10:29 GMT+08:00 kenjiuno <notifications@github.com>:

[2015-02-28 08:36] roji commented on #505
So I've taken a look.

NpgsqlCommand adds itself to the connection's StateChange event to know about the connection being closed. It needs to do this because part of closing involves deallocating all prepared statements, and prepared commands need to be aware of this (otherwise if the connection is re-opened and the command is executed, it will mistakenly use the prepared statement protocol).

Unf

[2015-02-28 10:15] chrishensel opened #508 "No support for "DataTable.PrimaryKey" in schema?"
Is it possible that the **DataTable.PrimaryKeys** property doesn't get utilized in Npgsql?

I need the information about what columns make up the primary key in a part of my application. However, it appears that both the **DataTable.PrimaryKeys** as well as the "IsKey" column in the schema table aren't filled. In fact, it seems that most properties in the schema table (like **IsIdentity** etc.) ar

[2015-02-28 12:14] franciscojunior commented on #473
Those release events are generated when the connection is returned to the pool. So, I expect this number to be considerable higher than the others.

Are you getting those close events (or at least most part of it) at the end of your logging? Because those close events should only be generated when the tcp connection to the server is really being closed. If you are using the pool, this should only

[2015-02-28 12:16] franciscojunior commented on #476
+1 for the 2.2.5 release.

[2015-02-28 12:23] franciscojunior commented on #508
Npgsql doesn't seem to support those properties.
Npgsql fills Columns collection only. https://github.com/npgsql/npgsql/blob/2.2/Npgsql/Npgsql/NpgsqlDataReader.cs#L496

We would need to work on those other collections, though.

[2015-02-28 13:49] roji commented on #476
I'd like to also take a look at #505 before releasing 2.2.5, let's wait a few more days...

[2015-02-28 17:35] roji commented on #493
Hey guys, sorry but I was out of the loop for a while...

@Emill, that's pretty amazing work. Here are some thoughts:

* I still think it's worth thinking hard before actually switching to an alternative SSL/TLS implementation. With Microsoft's SslStream entering into mono soon, the only actual issue we have is the lack of a DataAvailable-like feature, and that could actually be contributed to .NE

[2015-02-28 17:48] roji commented on #508
I'm not at all familiar with our SchemaTable support, but we do have [one test](https://github.com/npgsql/npgsql/blob/2.2/tests/DataReaderTests.cs#L680) that seems to check IsKey successfully, maybe that can help you do what you want. Please let us know if this works for you and/or if something still seems missing.

Having said that, we probably need to go over the SchemaTable implementation and m

[2015-02-28 18:18] franciscojunior commented on #493
Hi, @roji !

The only issue I see with that would be regarding the maintenance of the code. If later someone points out the code has an error or something like that, what would we do if @Emill isn't around? :)

On the other side, it would be very nice if sslstream could have something like the dataavailable feature. I don't know how easy this would be to implement in microsoft's sslstream and if t

[2015-02-28 18:38] Emill commented on #493
Actually I set up a copy here: https://github.com/Emill/TlsClientStream

Maybe @Emill can make its library work with tls1.1 ;) ;)

Ok, I'll add support for TLS 1.0 (OpenSSL implemented 1.1 and 1.2 at the same time).
Just have to do the RSA-math myself instead of using RSACryptoProvider.

[2015-02-28 19:23] franciscojunior commented on #473
Hi, @mythz !

I just made some changes as you suggested and added the ability to get the value of Available connectors and Busy connectors. Please, check it out and let me know if it works ok for you. I hope it helps.

[2015-02-28 21:00] mythz commented on #473
Hi @franciscojunior awesome thanks - I've just deployed the latest update and have updated the logging to include the available and busy counts.

No the Close events are happening routinely, not sure what's causing them I'm running on AWS RDS and am just calling dispose on the `IDbConnection` to dispose of the connection after I've finished using it for that request.

I used to use `MaxPoolSize=20

[2015-02-28 21:16] havard commented on #505
I haven't made a deep-dive through the code, but would a lazier approach be possible?

- A fresh command just prepares its statement when needed.
- If the connection changes on the command, cleanup prepared statements on the old connection and re-prepare on the new when needed.
- If the connection closes and reopens, a reprepare is needed, and should be detectable since the previous prepared state

[2015-03-01 06:58] roji commented on #505
But that is precisely the point: how do we know, client-side, when a given prepared command needs to be re-prepared? The problem here what happens with a prepared statement whose connection has been closed and reopened. As you correctly said, on the server-side the prepared statement will be automatically deallocated, but at the client-side it's still marked as prepared. So if the user attempts to

[2015-03-01 13:07] havard commented on #505
My reasoning assumes that PostgreSQL gives a specific error code for executions of prepared statements which aren't there. To Npgsql, this implies that the connection has changed, enabling Npgsql to make an attempt to re-prepare upon detecting that error.

[2015-03-01 13:21] roji commented on #505
Your reason is correct, and we would probably be able to identify that error. However, aside from being more expensive (because of the extra roundtrip) errors fail the current transaction in PostgreSQL, meaning that normal logic should never be based upon generating and intercepting an exception...

As you probably saw I wrote a fix which for some reason breaks on the build server, I'll investigat

[2015-03-01 13:31] havard commented on #505
Ah, the transaction failing didn't cross my mind.

Glad you found a good solution, looking forward to testing 2.2.5.

[2015-03-01 16:42] roji commented on #505
One more note... Actually comparing timestamps makes Npgsql dangerously sensitive to clock changes. But there's a much simpler/cleaner solution: simply increment a counter on NpgsqlConnection each time Open() is called. Copy the current value of this counter to the prepared NpgsqlCommand, and check if they're equal...

I'll amend the fix and make it work on the build server.

[2015-03-01 21:43] havard commented on #505
Great, good solution.

I also noticed that NpgsqlNetworkStream instances are lingering in the object heap. A fix I've tested that seems to work for me is setting BaseStream = null in NpgsqlConnector.Close().

[2015-03-01 22:54] Emill commented on #493
Ok, I have now implemented support for TLS 1.0 and 1.1 in my branch :)
@franciscojunior, could you try it out on Mac OS X?

[2015-03-02 00:34] mythz commented on #473
Providing a status update: Everything was running fine where it didn't look like there was any connection leaks with the busy peaking at 10-13 connections before coming back down to 2-5 in idle periods.

But I just got an unresponsive alert that the website wasn't responding. Unfortunately I couldn't access the logs as it appeared the entire service deadlocked and run out of threads since all requ

[2015-03-02 01:20] andrewwwooster opened #511 "Redshift connection fails with: database "postgres" does not exist"
I am trying to use Npgsql.EntityFramework with the Amazon Redshift database.
Following comments in issue #163 I downloaded a match to lc_monetary fix from here:
  https://build.npgsql.org/viewLog.html?buildId=14051&tab=artifacts&buildTypeId=npgsql_All22
I no longer get the  lc_monetary error, but I do get the following exception:
  Npgsql.NpgsqlException: FATAL: 3D000: database "postgres" does not

[2015-03-02 01:26] Emill commented on #511
Hi. I think this is the same as https://github.com/npgsql/npgsql/issues/278. Maybe @DavidKarlas has found some workaround?

[2015-03-02 02:35] franciscojunior commented on #493
Hi, @Emill !

Just tested it here and it gives me this error:
[code]

And this is what I get in the server logs:
[code]

I hope this information is useful.

[2015-03-02 02:40] franciscojunior commented on #511
Hi, @andrewwwooster !

Can you check if you have a database called template1 in your Amazon redshift server? "postgres" is the name of the database npgsql is trying to connect. This value is hardcoded because this database was supposed to exist in every postgresql server. It seems Redshift isn't the case.

@DavidKarlas , although you say here (https://github.com/npgsql/npgsql/issues/278#issuecomme

[2015-03-02 02:55] franciscojunior commented on #473
That's strange. Those Close calls should only appear when the connection is removed from the pool. Can you try to print a stacktrace when you receive the Close event so we can check where it is coming from? (The expected source would be the internal Npgsql timer which checks when the connector is idle and closed it.)

Ok. I think you should have a minpoolsize > 0, but it is ok if you want the pool

[2015-03-02 03:48] #505 closed

[2015-03-02 04:07] roji commented on #511
Good thing I just noticed this, I was about to release 2.2.5 but it would be good to solve this for that version.

It's really annoying not to have a Redshift instance to test on. @franciscojunior, your idea sounds good:  according to the [PostgreSQL Template Databases page](http://www.postgresql.org/docs/7.3/static/manage-ag-templatedbs.html) the template1 database exists all the way back to 7.3.

[2015-03-02 06:23] adraut commented on #372
I have created pull #512 as a potential fix.

[2015-03-02 06:46] mythz commented on #473
Hi @franciscojunior

Thanks for your feedback its most helpful! it looks like setting the `MinPoolSize>0` has helped to prevent the Close events as this what the logs looks like when `MinPoolSize=0`:

[code]

Basically it closes fairly frequently. I've included the StackTrace in the close event as suggested and it does look like it's always being closed by the NpgsqlConnectorPool Timer.

Once sett

[2015-03-02 07:00] DavidKarlas commented on #511
If @andrewwwooster confirms "template1" exist on RedShift, making this change makes sense...

Assumptions are root of most bugs :D, I just assumed "postgres" is always there...

Btw maybe this can be used to detect if database is "RedShift" or "real Postgres" at runtime.

[2015-03-02 07:30] Emill commented on #493
Hmm. It worked on all servers using tls 1.0 at least that I tested...
Could you possibly change at the top of the TlsClientStream.cs file change
the constant maximum supported tls version to TLSv1_0? But that would be
very strange if that works. I'll try to find a Macintosh to test on.
Den 2 mar 2015 03:35 skrev "Francisco Figueiredo Jr." <
notifications@github.com>:

[2015-03-02 09:21] skykiker opened #513 "Some design problems in current TransactionScope implemention"
Hi,all

In my view there's some design problems in current TransactionScope implemention.
I wish these problems will not appear in the future Npgsql V3.1 .

1)it's not needed to implement the IPromotableSinglePhaseNotification interface

Promotable Single Phase Enlistment(PSPE) is used to optimize performance for an "remote" durable resource.
## https://msdn.microsoft.com/en-us/library/ms229980.as

[2015-03-02 09:25] roji commented on #511
@DavidKarlas, it appears that this isn't a Redshift-specific issue, the postgresql database is there starting from PG 8.1 according to the docs.

AFAIK there isn't any truly Redshift-specific weirdness that Npgsql needs to care about, the only issues I'm aware of (like this one) are a result of the old PG version they forked from (8.0).

But that may change :)

@andrewwwooster, we'll wait for your

[2015-03-02 09:30] roji commented on #513
@skykiker, thanks for all this. There's a good chance you're right - I've been wanting to take a look at our ambient/distributed transaction support for a while now. There's no way we can handle this for 3.0 (too much is going on), but it's definitely a major goal for 3.1. I promise to take a serious look at all of the above.

[2015-03-02 14:25] kenjiuno commented on #506
Hi.

Maybe, you're targeting .NET Framework 4.0 instead of 4.5?

[2015-03-02 17:06] Tradioyes opened #514 "Bug with Point coordinates in scientific notation"
This bug is solved by the resolution of issue #437 in v3.0, but I did not see this bug reported before.

It is still present in (at least) v2.2.x, and causes a crash.

When a point coordinate is lower than 0.001ish (I don't know the exact point), there is an automatic switch to the scientific notation by Postgres. The insertion goes well, but the read from the db fails with a FormatException in Ex

[2015-03-02 19:17] Emill commented on #493
Hi again. I downloaded both the EnterpriseDB installer version of
PostgreSQL and Postgres.app, both seems to bundle a version of an ssl
library that supports TLS 1.2 (which works).
What bundling are you using?

2015-03-02 8:30 GMT+01:00 Emil Lenngren <emil.lenngren@gmail.com>:

[2015-03-02 19:25] friism commented on #249
@sponnet any news on your work?

[2015-03-02 19:31] Emill commented on #493
I also tried to compile from source, and it indeed used the system version of openssl then (that only supports TLS 1.0). However, it worked perfectly...
My OpenSSL version is 0.9.8y.

[2015-03-02 19:52] franciscojunior commented on #493
Hi, @Emill !

I compile from source downloading the source code from postgresql.org. I pass the option --with-ssl to ./configure when compiling.

I'll try again when I get back home and let you know what I get.
I'll double check that I'm using a correct Npgsql.dll assembly with your latest fixes.

[2015-03-02 21:31] roji commented on #511
OK, @Emill set up a test Redshift instance for us (thanks!), and I can confirm that it has the "template1" database.

I'll implement @franciscojunior suggestion and switch the "maintenance" database to template1, and then probably release 2.2.5

[2015-03-02 21:55] roji commented on #514
This seems to be a matter of fixing the regular expressions in NpgsqlTypeConvBackendToNative, I'll do this for 2.2.5.

[2015-03-02 21:57] Emill commented on #493
I found two other problems with how the ssl/tls stream is managed by Npgsql.

1. By registering a callback that validates server certificates to the ssl stream, the internal checks (certificate validity) are ignored but passed on to the callback. Now we simply return true if the user didn't specify any validation callback. (so there are totally two callbacks involved here, one in npgsql code and o

[2015-03-02 22:09] roji commented on #514
I've pushed a fix for this in 2.2, it's now building on the build server and will be released with 2.2.5.

However, please note that in 2.2 NpgsqlPoint is mistakenly parsed as a pair of Single values (it should be double, fixed in 3.0). Also, your assertion for complete equality to 0.00003 is too strict - floating point values should be compared with a tolerance value.

[2015-03-02 22:24] Tradioyes commented on #514
Sorry for the Equality comparison, I just did a quick test to show the stacktrace by editing the existing TestPoint.
I'll edit my version to support doubles until 3.0 comes out, thanks for the patch!

[2015-03-02 22:36] #511 closed

[2015-03-02 22:36] #514 closed

[2015-03-03 00:38] franciscojunior commented on #493
Hi, @Emill .
As I suspected, I did something wrong :) I had to clone your repository again and forgot to change to the tls-client-stream branch :)

I tested it here and it worked perfectly!
I also tested the synchronous notification and it worked ok too.

[2015-03-03 00:43] franciscojunior commented on #493
Agreed.

I think there is no problem with this inversion.

[2015-03-03 02:03] andrewwwooster opened #515 "Redshift query fails with: type "e" does not exist"
I am trying to use Npgsql.EntityFramework with the Amazon Redshift database.  I've gotten beyond #511 but hit a new error.  The following Entity Framework query:

            var drugCodes = dbContext.DrugCodes
                    .Where(d => d.ProductName == "V-CILLIN-K");

produces this sql:

  SELECT "Extent1"."CODE", "Extent1"."PRODUCT_NAME", "Extent1"."GENERIC_NAME" FROM "dbo"."DRUG_CODE" AS

[2015-03-03 02:09] andrewwwooster commented on #511
I totally agree that this project needs a Redshift test environment.  And it would make a lot of sense for Amazon to make one available.

Thanks @Emil for getting one setup.

It is possible to get a two month free trial environment here:
  http://aws.amazon.com/redshift/free-trial/

[2015-03-03 02:49] skykiker opened #516 "Problem about NpgsqlNetworkStream.Dispose()"
Hi

Now, the NpgsqlNetworkStream.Dispose() will call the NpgsqlConnector.Close() when the application forget to call NpgsqlConnection.close().
I think it is dangerous, because when NpgsqlNetworkStream.Dispose() is called by GC thread,the NpgsqlConnector object may had already been freed by GC. What's worse is that the OS socket handle maybe had been assigned to an new Connection object.In that cas

[2015-03-03 07:13] roji commented on #278
Note that the UsingPostgresDBConnection issue was fixed in #511

[2015-03-03 07:16] roji commented on #511
I actually contacted AWS and even got to a call with a sales representative, but nothing's come out of it. If anyone has any idea of who to contact for AWS open source let me know...

@Emill's test instance will work for now but it would be much better to have a permanent instance with a build agent running our test suite in continuous integration...

[2015-03-03 07:19] roji commented on #516
@skykiker, you're right: I've flagged this in issue #491 - see my comments there. The point of this class is to to enable clean shutdown of connections (i.e. sending TERMINATE to the backend), for connections that are still in the connection pool. It's not the user's responsibility here, since the connections are in the pool, so instead the pool needs to be notified when the process (or appdomain

[2015-03-03 07:19] #516 closed

[2015-03-03 15:13] ChenHuajun commented on #252
Hi i had make a reproduce test case for this bug. See  https://github.com/npgsql/npgsql/pull/517

As we known, BufferedStream can not be read and write at the same time indead.
Before write to BufferedStream, all data which had entered to the BufferedStream's buffer must had been read first.
Otherwise the invoke of BufferedStream.WriteXXX() will cause an NotSupportedException just as #252.
It's al

[2015-03-03 17:20] Emill commented on #252
The intention is to watch with DataAvailable property after each operation
to see if there is any pending notification and process it if so, so it
shouldn't be necessary to use double buffers...
Den 3 mar 2015 16:13 skrev "Chen Huajun" <notifications@github.com>:

[2015-03-03 21:48] Emill commented on #252
I fixed in master so it now drains the buffer correctly after a query.

[2015-03-04 03:05] skykiker commented on #516
@roji, i  thought NpgsqlNetworkStream is used for applications who forgot to call NpgsqlConnection.Close() (and Pooling=false). According the discuss in #491 i was wrong.

About other Dispose(),i only worry about ForwardsOnlyDataReader.Dispose() in Npgsql 2.2.3. But i found the ForwardsOnlyDataReader had been removed in the master branch.

        protected override void Dispose(bool disposing)

[2015-03-04 08:53] roji commented on #495
I'll try to look at this soon and include it in a 2.2 release.

[2015-03-04 09:25] sternm opened #518 "Transaction timed out even when the timeout option is not specified in the ctor"
When creating a transaction scope using the default constructor, a timeout exception is thrown if the transaction takes more than one minute.

    static void Main()
    {
      using (var scope = new TransactionScope())
      {
        System.Threading.Thread.Sleep(61000);
        scope.Complete();
      }
    }

The exception thrown is:
System.Transactions.TransactionAbortedException: The transa

[2015-03-04 13:28] agonzalezm commented on #460
I am facing this issue with postgres 9.2.5 and i cant upgrade postgres. I dont have migrations enabled it is when starting and going to createdb. Is this going to be fixed or is there a workaround?

[2015-03-04 14:49] roji commented on #515
@franciscojunior, can you take a look at this? This seems related to #10. The issue appears to come from around (here in 2.2)[https://github.com/npgsql/npgsql/blob/2.2/Npgsql.EntityFramework/SqlGenerators/VisitedExpression.cs#L218]. In #10 it's said that escaping should be added only if the backend is >8.0, but this doesn't seems to be the case.

In master [the corresponding code is here](https://

[2015-03-04 14:51] roji commented on #515
Maybe @magnitudo should join in on this as well.

My first reaction is that we should consider removing the E'' altogether and have standard SQL string behavior - but I don't know much about the problems that people had.

[2015-03-04 14:53] roji commented on #516
OK, great. Yeah, I noticed the problematic ForwardsOnlyDataReader.Dispose() as well but as you saw in master it's no longer there.

Let me know if you find other problems.

[2015-03-04 15:01] roji commented on #518
@sternm, after we discussed this offline I noticed that your code actually doesn't have anything to do with Npgsql. After some digging it turns out that the default TransactionScope constructor does exactly this: default timeout of 60 seconds. This seems like a very bad implicit option but it's a TransactionScope problem, not an Npgsql one...

http://blogs.msdn.com/b/dbrowne/archive/2010/06/03/usi

[2015-03-04 15:01] #518 closed

[2015-03-04 15:16] Emill commented on #515
The E syntax is well-defined but normal strings depend on
standard_conforming_strings. So E syntax is simpler for us to use since we
know it'll be correct. But that syntax was introduced in 8.1.

What we should do here is including a property in the Db manifest class
that sets the string encoding based on connection.
Den 4 mar 2015 15:51 skrev "Shay Rojansky" <notifications@github.com>:

[2015-03-04 15:22] roji commented on #495
@smmansoor, I tried to reproduce your issue and could not. But I may have an idea: does you connection string include the enlist=true parameter? Npgsql's current support requires that you include this parameter for connection opened inside the TransactionScope. If you didn't include this parameter, your connection is completely disconnected from the TransactionScope, and the rollback has no effect

[2015-03-04 16:24] roji commented on #515
But if I do EF with SqlClient, will \t be interpreted as tabs, contrary to standard SQL? If not we shouldn't be using E syntax either...

[2015-03-04 18:59] Emill commented on #515
Well, EF should escape the string literal so it contains exactly what the
user inserted after unescaping it.
Den 4 mar 2015 17:24 skrev "Shay Rojansky" <notifications@github.com>:

[2015-03-04 20:07] franciscojunior commented on #515
Hi, @roji !

When I started to play with lc_monetary  support patch (#489), I saw your comment talking about E'' issues (https://github.com/npgsql/npgsql/issues/163#issuecomment-53965447) and then I didn't worry about it. But from @mateusaubin's work, it seems some work regarding the E'' syntax handling is needed: https://github.com/npgsql/npgsql/commit/21a42b8ccc37ebc115f8aad984109f08218a27e6
In

[2015-03-04 20:13] franciscojunior commented on #515
From the code: https://github.com/npgsql/npgsql/blob/2.2/Npgsql/Npgsql/NpgsqlConnector.cs#L751 it seems that this support is checked against server version.
But in this line: https://github.com/npgsql/npgsql/blob/2.2/Npgsql/NpgsqlTypes/NpgsqlTypeInfoNative.cs#L214 It seems that this value is being ignored, as this method call is called without passing an options parameter: https://github.com/npgsq

[2015-03-04 20:21] franciscojunior commented on #515
It seems only the VisitedExpression is ignoring the options parameter. All other references from Non EF code, uses the Connector.NativeToBackendTypeConverterOptions property which will get the setting for E'' syntax support.

[2015-03-05 01:47] kaib84 opened #519 "Remove localization"
I really don't see any benefits in localizing Npgsql. Any developer can understand English anyway and if you are looking for help using Google, it would be even better to have English error messages because your chances to find a solution will be MUCH higher. And end users should not see error messages generated by a library like Npgsql... I think it's better to keep Npgsql as "lean" as possible.

[2015-03-05 01:57] kaib84 commented on #483
I think it would be better to just remove prepared statements from Npgsql and wait until PostgreSQL makes improvements in this area and provides something like "cross-connection" prepared statements.

Otherwise Npgsql will not execute DEALLOCATE for each new NpgsqlConnection and this may have some unexpected side effects if I understand it correctly...

[2015-03-05 07:47] roji commented on #519
See previous discussion in #279.

The question seems to be how likely Npgsql's exceptions messages (as opposed to PostgreSQL's) are to be shown to users. I'm not sure about this, but (contrary to what I said in #279) I tend to agree that most (all?) Npgsql exceptions are a result of a developer error, and therefore will/should not be shown to users. If this is actually the case it makes sense to r

[2015-03-05 07:56] roji commented on #483
I don't agree on this (see discussion in #434.

In many usage patterns, connection are long-lived: I create a connection to the database and use it for a long time. In these scenarios prepared statements, as implemented today, make a lot of sense. For short-lived scenarios (e.g. typical web) I agree that prepared statements don't currently make sense, but this issue is about solving that.

IMHO so

[2015-03-05 08:47] roji commented on #515
Guys, there's just one thing I don't understand...

Say I pass the string AB\tCD (5 chars) to EF. The code appears to:
1. Replace backslahes with double backslashes. The string is now AB\\tCD (6 chars)
2. Surround the string with E''. The string is now E'AB\\tCD' (9 chars)

But the whole point of E'' is to allow for escaping with backslash (contrary to the SQL standard). So why are we first escapi

[2015-03-05 09:35] Emill commented on #515
Because old postgresql versions don't follow the sql standard (back then
E-syntax didn't exist). For >= 8.1, there is the
standard_conforming_strings settings flag that specifies whether the
escaping rules should follow the sql standard or not. Since this flag
exists, escaping strings with non E-syntax must first carefully check the
standard_conforming_strings setting, and then apply the appropria

[2015-03-05 10:48] roji commented on #515
I'm sorry if I'm slow understanding this...

My question is why we need the escaping behavior in the first place, regardless of whether we get it with E-syntax or with standard_conforming_strings. Why don't we just take the user's string and stick it in a normal quoted string?

In other words, I'm asking what would break if we replace [this line](https://github.com/npgsql/npgsql/blob/master/Npgsql

[2015-03-05 10:58] Emill commented on #515
That would produce incorrect sql. You can see the Postgresql docs for
lexical steucture.

I'm sorry if I'm slow understanding this...

My question is why we need the escaping behavior in the first place,
regardless of whether we get it with E-syntax or with
standard_conforming_strings. Why don't we just take the user's string and
stick it in a normal quoted string?

In other words, I'm asking what

[2015-03-05 11:06] roji commented on #515
Can you explain why, exactly what incorrect SQL would be produced with which input?

[2015-03-05 11:14] Emill commented on #515
A single ' would fail with backends with standard_conforming_strings set to
true. Correct sql would be '''' but that produces '\''
Den 5 mar 2015 12:06 skrev "Shay Rojansky" <notifications@github.com>:

[2015-03-05 16:47] franciscojunior commented on #515
Hi guys!

I just create #520 which adds initial support for NativeToBackendTypeConverterOptions in entityframework code. More specifically to `ConstantExpression.WriteSql` method.

I used @Emill 's idea of using NpgsqlProviderManifest. I don't know if it is implemented in the most elegant way, but I could create and pass all the way down to the ConstantExpression type this value. I think it would

[2015-03-05 17:36] roji commented on #515
Sorry, I see that I made a mistake above, what I meant to write was:

[code]

But I think I (finally) understand the reason for E-syntax; the [docs for standard_conforming_strings](http://www.postgresql.org/docs/9.4/static/runtime-config-compatible.html#GUC-STANDARD-CONFORMING-STRINGS) says that the default was changed to "on" in 9.1. This means that by default non-E strings handle backslashes lit

[2015-03-05 18:02] franciscojunior commented on #515
I started the work with #520. But I think there are many other places where this change would need to be done. #520 only fixes the problem for the specific case of ConstantExpression. Maybe this is enough, but I don't have much experience with it to confirm that.

@jbcooley , do you have any suggestions about what we can do about that? Thanks in advance.

[2015-03-05 18:06] franciscojunior commented on #515
@roji , one more thing about EF and redshift. There is already a lot of code whose syntax uses new features of postgresql 9.1 and above. So, I think that even with this problem fixed, EF support on redshift will be very limited.
I think we can expect more bug reports with EntityFramework when used with redshift.

[2015-03-05 18:44] franciscojunior commented on #515
Hi, @andrewwwooster !

A new test version of Npgsql based on #520 is built here: https://build.npgsql.org/viewLog.html?buildId=14231&tab=artifacts&buildTypeId=npgsql_All22

Please, give it a try and let us know if it works for you.
Thanks in advance.

[2015-03-05 18:48] mythz commented on #473
Hi @franciscojunior

Wanted to share my findings. The `MinPoolSize=10` provided some reprieve before it started explicitly closing connections, but it didn't help with the connection leaks and started closing connections again after exceeding a busy count of 10 connections.

What helped me a lot in identifying connection leaks was capturing the StackTrace when opening a db connection in `NpgsqlCon

[2015-03-05 18:56] franciscojunior commented on #473
Excellent! This is the idea of #311 . And it indeed helped a user to find connection leaks problems. I think it is worth the addition.

Did you find the cause of your leaks?

Yes. That's a very good suggestion.

You are welcome! And thank you very much for your feedback! It was very helpful!

[2015-03-05 19:10] mythz commented on #473
So far it looks like I've caught the leaks as I was able to identify that in some requests `IDisposable`'s weren't being disposed of at the end of the request as they should've been. Disposing them earlier explicitly seems to be preventing leaks so far - so it's looking promising.

[2015-03-05 19:10] roji commented on #515
@franciscojunior, you're right - it will be an effort to make EF work on Redshift. But I think it's probably worthwhile to invest the effort here, a lot of people seem to want this. As long as it's little things like what we've encountered (lc_monetary, default database, E-syntax) I think it's OK, hopefully nothing really big/difficult will pop up.

Ideally we would be able to run the unit test su

[2015-03-05 19:13] roji opened #521 "Make unit tests run on Redshift"
We've been having several issues with running Npgsql on Redshift. It would be great to be able to run our unit tests on Redshift, this is currently impossible because of some unsupported types etc.

[2015-03-05 19:13] roji commented on #515
Opened #521 for running our tests on Redshift

[2015-03-05 19:15] Emill commented on #521
We can start with bringing back support for Postgresql 8.0 since Redshift
is very similar to it. There is also a specification exactly what differs
here:
http://docs.aws.amazon.com/redshift/latest/dg/c_redshift-and-postgres-sql.html
 Den 5 mar 2015 20:13 skrev "Shay Rojansky" <notifications@github.com>:

[2015-03-05 19:51] roji commented on #521
@Emill that's a good place to start.

I guess I'll start by trying to make our test suite initialize on Redshift, and flagging tests which rely on newer PostgreSQL (we already have the [MinPgVersion] attribute).

I wonder if at some point we'll run against an actual Redshift/PostgreSQL incompatibility (as opposed to problems because Redshift is based on PG 8.0). Hopefully not.

Once this work is d

[2015-03-05 20:40] roji commented on #521
One big annoyance: Redshift doesn't support auto-increment columns in the same way PostgreSQL does - no SERIAL database and no "CREATE SEQUENCE" command. Instead [they have a special IDENTITY column attribute](http://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_TABLE_NEW.html).

This means we're going to need an explicit IsRedshift() check, at least for test usage, which can be implemented via

[2015-03-05 21:07] franciscojunior commented on #515
Sure! I also think it is worthwhile. Just wanted to bring the attention for those future potential issues. At the same time, I think there is a lot users will be able to accomplish with current code. As long as users don't use those query constructions which aren't supported by redshift, they are ok. :)

Yeap! I agree totally with you.

[2015-03-05 23:56] franciscojunior commented on #515
I just created another PR #522 with an improved version of the support. I tested here and it worked very well. In my 9.4.1 test version, EF queries aren't E'' prefixed anymore. :)

(Before that patch, it was being prefixed because the default NativeToBackendTypeConverterOptions specified to not use conformant strings. Now, as the settings are obtained from the server, EF code can "see" that the se

[2015-03-06 00:03] franciscojunior commented on #473
That's excellent news!

Indeed, having access to the stacktrace of the allocations of connections in the pool is determining to check where the connections are being requested but not released.
I'm sure after those changes you won't have problems with connections stuck anymore :)

[2015-03-06 06:23] adraut commented on #508
I've created commit b7697382fb700fe3b91a460f44cfe9d42df235f8 that enhances the schema table a bit.  I added a couple notes for 2 of the schema columns because something could be determined to be placed into them, but they're not defined by PostgreSQL.  I've also added and corrected some tests.  They all pass and the data, other than IsReadOnly, was already being populated correctly.

@chrishensel

[2015-03-06 06:57] chrishensel commented on #508
Sounds sweet, I need to check it out at the weekend.

@adraut I am aware of how **PrimaryKeys** is supposed to work. Connected to **MS SQL Server**, I did the query just like I mentioned and it returned the PrimaryKeys in all scenarios (because I never had an issue there), as well as the **IsKey** etc. columns - which I don't need when I have the PrimaryKeys property filled.

[2015-03-06 13:26] adraut commented on #508
@chrishensel The PrimaryKeys property could not possibly contain the primary keys of the query because it must reference DataColumn(s) that exist in the DataTable.  The DataColumns in the DataTable are from the schema query, not the query in the DataReader.  Maybe you inspected a DataTable from a DataAdapter at some point?  The following should clear it up.  https://social.msdn.microsoft.com/forum

[2015-03-06 16:17] chrishensel commented on #508
@adraut Again, I unfortunately don't have the original code (for MS SQL) anymore which led me to open this issue. I just know that I inspected some **DataTable** and it happened to have the **PrimaryKey** property filled, and the same code with **Npgsql** did not.

But it doesn't matter anymore. I will test this with the next release of Npgsql. Thanks a lot so far :+1:

[2015-03-07 01:55] nonw commented on #519
PostgreSQL library used almost exclusively by websites and web services. Showing throwed error messages on a website/web service is the worst security practice ever. Hackers may gain access to table names, passwords and to other critical security-related information. For example, if I execute the following code using SQL injection, it will just display user password to me on the website:

DO $$BEG

[2015-03-07 02:26] franciscojunior commented on #519
Agreed! psql for example does that and shows me localized errors, as well as help messages in my system locale. Postgresql itself also does that.

I agree with you. I think localized exceptions may not be so much helpful adding more complexity than easing the life of developers. As the library as a whole is in english, I think it is natural to expect that exceptions raised by the library will be i

[2015-03-07 02:35] glenebob commented on #519
Hi all!

There are many exceptions that should be localized, so that an end user can
trouble shoot more easily. One example would be a failure to connect to the
backend due to some problem on the network. This is an error that an IT
administrator may see, not the developer.

.02

-Glen

On Fri, Mar 6, 2015 at 6:26 PM, Francisco Figueiredo Jr. <
notifications@github.com> wrote:

[2015-03-07 13:11] Emill commented on #519
Maybe my perspective is too narrow, but in which countries can't IT
administrators read English? So far far I've almost only seen translated
error messages in the Windows world and they are often less helpful than
the English ones since you can't google them unless you first try to
translate them back to English.
Den 7 mar 2015 03:35 skrev "Glen Parker" <notifications@github.com>:

[2015-03-07 14:45] andrewwwooster commented on #515
I tested #520 using buildId=14231.  Success!
Thanks all.

[2015-03-08 06:56] roji commented on #521
OK, the unit tests now initialize properly on Redshift, both 2.2 and master - a check for Redshift is done. The unsupported columns are created and the PK is created differently. This means we can now run unit tests (e.g. EF) on Redshift as well.

@Emill, note that I've also solved the typarray which you mentioned [here](https://github.com/npgsql/npgsql/issues/476#issuecomment-76265030). Instead o

[2015-03-08 12:59] roji commented on #508
@adraut, I'd like to go over your patch but can you please separate it out to a distinct PR? It seems that right now your commit is part of the same PR for the connection pool work (#512). Thanks.

[2015-03-09 08:56] roji commented on #471
@patearl, can you point me to a library that already targets .NET Core so we can see what it involves?

[2015-03-09 09:05] agonzalezm opened #523 "Constraint already exists"
I have long table names and i get this error when EF code first is creating two constraint relations for the same tables because EF FK is longer and i think npgsql shorten it:

ERROR: 42710: constraint "FK_public.VirtualMachineNetworks_public.VirtualMachineNetworkCo" for relation "VirtualMachineNetworks" already exists

Is there any workaround for this?

[2015-03-09 09:22] Emill commented on #523
Hmm, PostgreSQL has a maxlength of the datatype "name" (63 characters by
default) which you've hit...
Maybe there is a good way of shorten a name if it is too long.

2015-03-09 10:05 GMT+01:00 Alberto Gonzalez <notifications@github.com>:

[2015-03-09 12:52] flq opened #524 "Confusion with NpgsqlDbType and Range head vs. Nuget"
Hi,
I am trying to insert a daterange into a pqsql db and do not know how to specify the DbType for the parameter.

I've got the Nuget version __2.2.4.3__ running, which dates from __Feb 06__ - I saw in the code that the enum value for Range was committed __Jan 17__. Do you not get your Nuget sources from head or how does the process work on your side? Can I expect a Nuget with Range support anyti

[2015-03-09 14:15] roji commented on #524
Our work on PostgreSQL range is in master, which is for the next major version of Npgsql - v3.0. v3.0 is under heavy development (it's a huge rewrite) and isn't yet close to being stable. The current production version is 2.2, from which all our Nugets our built, there's no range support there yet.

I'd suggest that until v3.0 is released you bypass the problem by constructing your own SQL queries

[2015-03-09 14:15] #524 closed

[2015-03-09 14:27] flq commented on #524
okay, fair enough, thanks for the quick response!

[2015-03-09 18:17] patearl commented on #471
https://github.com/aspnet/EntityFramework or most of the other libraries under the aspnet folder. There's an interesting commit in the EF repo where they use dnxcore50 as the framework identifier.

[2015-03-09 20:52] rowanmiller commented on #249
@roji @franciscojunior @Emill - I'm part of the EF team and it sounds like you guys are the main gatekeepers of this provider. We'd love to talk about having an EF7 version of the npgsql provider be a key part of our 'EF7 on other platforms' story (since we've heard rumors most folks developing on Linux don't run SQL Server :smile:). If you are down with the idea... then perhaps we could follow up

[2015-03-09 21:46] franciscojunior commented on #249
Hi, @rowanmiller
That's awesome! We would be very glad to be part of the 'EF7 on other platforms' story!
I'll send you a message copying everyone involved so we can start talking about dates and etc.

Thank you for thinking about Npgsql.  :smile:

[2015-03-09 23:11] Emill commented on #515
Should be fixed by https://github.com/npgsql/npgsql/commit/93266fd2195a6ea2f294ee9206408f2ed5de7fb3

[2015-03-09 23:21] sponnet commented on #249
@rowanmiller @roji @franciscojunior @Emill : I posted the current EF7 driver that we have developed for vnext here : https://github.com/sponnet/npgsql-ef7
It contains a project with the EF7 code itself , which you should be able to re-use as is.
The other project is the updated npsgsql driver adapted to work with the EF7 implementation.
If you re-use this code , please add Digipolis as a contribut

[2015-03-09 23:34] friism commented on #249
@sponnet amazing, thanks for getting this up.

@rowanmiller @franciscojunior If you feel it's appropriate, I'd love to be on the EF7/Postgres thread. I work at Heroku and am very interested in testing support for out Postgres offering.

[2015-03-09 23:46] Emill commented on #249
Hi. Nice you made it compile.

Looked through it quickly. About the `@@ROWCOUNT`, the preferred way in postgresql to check the number of rows affected is to simply use the return value of https://msdn.microsoft.com/en-us/library/system.data.common.dbcommand.executenonquery(v=vs.110).aspx which internally gets its value from the complete tag of the response protocol message.

Another way might be t

[2015-03-10 00:56] sponnet commented on #249
@roji @Emill Can we collaborate the upcoming days to try to integrate this code into the main branch ? It would be nice to have it integrated into the main branch - and to have support for EF7.
We are going to need it in our future projects , if it's fully integrated we can start using the main npgsql driver instead of the fork we've made back then.
We'd be happy to contribute our further work in

[2015-03-10 01:40] josh-cooley commented on #249
@sponnet  Did you use starting code from the EF 7 code?  That looks like Apache 2.0 license.  I think it would be great to see Npgsql get EF7 support.  It appears the EF 7 code would have to retain the Apache 2.0 license, so we'd have to have a plan for that.

[2015-03-10 03:47] ChenHuajun opened #525 "Fail to upate TimeTZ type column via NpgsqlDataAdapter"
Hi

This is a bug report.
An error will occurs when try to upate TimeTZ type column via NpgsqlDataAdapter.
The following is my test using Npgsql2.2.3.

*Table definition & Data:*
CREATE TABLE tb10(  c1 integer NOT NULL primary key,  c2 time with time zone);
insert into tb10 values(1,now());

*Test app:*
[code]
*Result:*
[code]

BTW:
The test also fail when using Npgsql 2.0 and the Npgsql master co

[2015-03-10 03:51] adraut commented on #508
@roji, I've spent 2 hours trying to figure how to make it distinct PR and still can't figure it out, which why I linked a commit instead of a PR.  It wants to include all changes my fork has and I can't create a new branch now that it includes the connection pool changes.  @chrishensel says he figured out what he was doing so my interest level in doing anything else on this issue just about zero.

[2015-03-10 05:38] roji commented on #471
Thanks @patearl, I'll take a look at this. Hopefully it'll be easy to add .NET Core as an additional target of Npgsql.

[2015-03-10 07:53] Emill commented on #525
This is probably the same bug as others on the same topic, due to that
DataAdapter itself (ms code) temporarily sets an int value to the timetz we
thought shouldn't be possible (therefore invalid cast). This will be
changed in version 3.
 Den 10 mar 2015 04:47 skrev "Chen Huajun" <notifications@github.com>:

[2015-03-10 08:27] roji commented on #249
@sponnet thanks for making your code available. I'll try to take a look at it soon.

Regarding integration of your work into Npgsql... The simplest would be to commit your work as an additional project in the Npgsql solution, which already has two projects for pre-6.0 and 6.0 EF (say, Npgsql.EntityFramework7). We would then publish an Npgsql.EntityFramework7 nuget from that.

Another option is to

[2015-03-10 08:31] roji commented on #508
OK @adraut, don't worry about it :) I'll take a look and if needed will do the necessary git work to separate things.

Just in case you're interested git-wise, what you'd do is:
* Create a new branch (off of 2.2 or master)
* Cherry-pick your schema commit (git cherry-pick <sha1>). Your new branch now contains only the schema changes and none of the connection pool changes.
* Create a new PR based

[2015-03-10 09:41] roji commented on #515
@andrewwwooster, could you please test [the version with the latest fix](http://build.npgsql.org/viewLog.html?buildId=14271&tab=artifacts&buildTypeId=npgsql_All22) and confirm it's OK? After you do so we'll release 2.2.5.

[2015-03-10 12:20] roji commented on #249
One small issue: I noticed that your project uses the new ASP.NET kproj build file. I was wondering whether there's a necessary link between EF7 and the new ASP.NET features (kproj, .NET Core), or is it possible to simply build EF7 with VS2013 and a csproj.

[2015-03-10 12:23] borgdylan commented on #249
It would be better to have that build using the ASP.NET 5 build tooling i.e. using kpm.

[2015-03-10 14:20] sponnet commented on #249
I agree,
We use VS2015 here to develop and build our solution, but I suggest that we take the generic npgsql code and the EF7 specific code - and adapt it to a format that fits the npgsql project.
It is not a requirement to re-use the kproj for me.

[2015-03-10 15:32] borgdylan commented on #249
However, can the project.json be retained? Like that compatibility with kpm is maintained for who wants to build it that way.

[2015-03-10 17:45] rowanmiller commented on #249
EF7 targets the new aspnet50 and aspnetcore50 platforms (which have actually just changed to dnx451, dnx456, and dnxcore50 in the ASP.NET code base in the last couple of days). Currently the only way to target those platforms is using the new kproj/project.json system. In the EF code base we actually run parallel project types though, you can open the standard csproj based solution when developing

[2015-03-10 17:52] Emill commented on #249
Question: is there any specific reason EF now is under the "aspnet" github
project? I mean, is there any specific web-related things for EF 7?

2015-03-10 18:46 GMT+01:00 Rowan Miller <notifications@github.com>:

[2015-03-10 17:55] rowanmiller commented on #249
@Emill no that is purely an organizational thing, we happen to be in the same group that develops ASP.NET and we share a bunch of infrastructure, but EF7 is not specific to ASP.NET.

[2015-03-10 18:07] sponnet commented on #249
@rowanmiller We develop and build locally with VS2015, but we deploy on Ubuntu - that's why we have both the kproj and and the json config files. You could keep both.

Is there someone in this thread who wants to take a look into integrating our changes to the npgsql repo into the master branch ? I can help - but don't have the in depth knowledge of the npgsql project to do this in a qualitative w

[2015-03-10 19:01] realityexists commented on #400
Is there a fix, or at least workaround, for this that can be applied to version 2.2? We're still using 2.0.14.3 due to this issue, but are now also running into bug 252. I tried to backport Emill's fix for that to 2.0.14.3, but that seems like quite an uphill battle. So maybe fixing this and upgrading would be the easier path.

[2015-03-10 21:33] roji commented on #249
I'll try to take a look at this, hopefully tomorrow.

[2015-03-11 00:39] friism commented on #249
@sponnet can you provide more details on how to make your stuff build? I'm getting errors with VS2015 CTP6 using beta4 bits from the MyGet feed.

[2015-03-11 08:21] roji opened #526 "Integrate base EF7 support into master branch and build system"
Integrate @sponnet's EF7 provider from https://github.com/sponnet/npgsql-ef7 into our repository as a project alongside the older EntityFramework. As suggested by @rowanmiller, implement dual build systems: csproj for development and kproj/project.json for targeting the new ASP.NET 5 and ASP.NET 5 Core.

See #249 for more discussion

[2015-03-11 08:24] roji opened #527 "Integrate EF7 functional test suite"
EF7 has a functional test suite designed to be run on different databases, have these run with the Npgsql EF7 provider.

For now, disable running these tests in our build server to avoid build failure because of EF7.

[2015-03-11 08:26] roji commented on #249
@rowanmiller thanks for the build details, we'll follow the same dual system (both csproj and kproj/project.json), at least for now.

I've opened #526 I've opened #526 for integrating the EF7 work into Npgsql, and #527 for setting up the EF7 functional tests suite to run with it. I plan to work on these soon, probably today/tomorrow.

Let's keep this issue open to discuss high-level EF7-related th

[2015-03-11 12:07] borgdylan commented on #249
i am currently fixing @sponnet's code so that it will build using the bits from the EF dev branch.

[2015-03-11 12:16] roji commented on #249
OK @borgdylan, post here when you're done.

[2015-03-11 12:41] andrewwwooster commented on #515
I successfully tested buildId=14271.  Thanks.

[2015-03-11 12:49] borgdylan commented on #249
It will be a while as there are more than 50 errors to deal with.

[2015-03-11 12:58] roji commented on #249
OK, thanks. I'll look at the build integration and the unit tests in the meanwhile.

[2015-03-11 13:05] borgdylan commented on #249
my work is going https://github.com/borgdylan/npgsql-ef7/commits/master there.

[2015-03-11 13:07] #515 closed

[2015-03-11 13:08] roji commented on #495
Have you had any time to check this @smmansoor?

[2015-03-11 13:16] roji commented on #515
Great, thanks. I've just published 2.2.5.

[2015-03-11 13:35] sponnet commented on #526
fyi we built it against 1.0.0-beta4-11094 of the framework.

[2015-03-11 13:58] borgdylan commented on #526
currently porting to the latest APIs

[2015-03-11 16:43] nonw commented on #519
@Emill exactly what I say. English is not a native language in my country, but even here I never seen a single person who works in IT sector and cannot understand English.

[2015-03-11 17:26] rowanmiller commented on #526
FYI there was a rename of aspnet50 and aspnetcore50 in the last few days but there is no public release of VS 2015 yet that can open projects with these changes... so you won't want to upgrade to the very latest nightly builds.

If you want to upgrade to something that is pretty recent then you should be fine with beta4-12481 which was one of the last builds before the rename.

[2015-03-11 17:27] rowanmiller commented on #526
BTW this would also affect the csproj files too since you will need an updated version of NuGet that knows about the new platforms... and that isn't publically available yet.

[2015-03-11 17:32] borgdylan commented on #526
I updated the project.json files with the new TFMs and got the code to build.

[2015-03-11 18:48] rowanmiller commented on #526
Code will build from command line but you won't be able to open kproj's in VS. You also won't be able to install the produced NuGet packages in anything other than another project.json based project that is built from the command line.

If you're ok with those limitations then this will be fine.

[2015-03-11 20:50] sponnet commented on #526
@borgdylan nice !

[2015-03-11 20:56] roji commented on #526
Yep.

Am now working on integrating all this work into Npgsql as cleanly as possible, will try to push some stuff later today...

[2015-03-12 05:54] smmansoor commented on #495
Hi,

Sorry for not responding earlier. I moved away on some other stuff. I will
definitely have a go at it and will get back to you.

Thanks,
--Mansoor

On Thu, Mar 12, 2015 at 12:08 AM, Shay Rojansky <notifications@github.com>
wrote:

[2015-03-12 09:28] roji commented on #526
@borgdylan, your code doesn't build for me, but I may be doing things wrong. I run MSBuild.exe (the VS 14.0 version) inside EntityFramework.Npgsql, and get a bunch of errors. The first of which is "The type or namespace name 'RelationalDbContextOptions' could not be found".

Looking at the latest EntityFramework.Relational nuget (beta4-12549), the DLL indeed doesn't appear to have this type which

[2015-03-12 10:08] borgdylan commented on #526
You need to restore with kpm. Use the asp.net 5 tooling for now as VS support is broken.

[2015-03-12 10:10] borgdylan commented on #526
Also, the EF team broke my code again.

[2015-03-12 10:21] roji commented on #526
Ah :)

Maybe declare your dependency on a specific version for now, this way we won't break every time they move?

[2015-03-12 10:23] roji commented on #471
Am working on this in parallel to EF7 support (#249). Identified issues:

* [ ] We currently depend on Common.Logging, which doesn't have a .NET Core build. We're going to dump Common.Logging anyway as part of #279, so do that first.

[2015-03-12 10:47] roji commented on #519
Although I can see two sides to the discussion, I guess my vote goes to removing localization as well.

[2015-03-12 10:57] borgdylan commented on #526
Ok I updated my stuff. i will lock the deps then.

[2015-03-12 11:10] roji commented on #526
Thanks @borgdylan, it compiles now.

One question though: is locking versions through project.lock.json the recommended way to do this (as opposed to specifying a version in project.json)? I'm asking because the EF project has *.lock.json in .gitignore.

[2015-03-12 11:28] roji commented on #526
OK, just pushed a very first integration of EF7 into Npgsql's master branch. There's an Npgsql-aspnet.sln that references npgsql and the EF7 project, everything builds more or less as expected (except for async generation, which isn't yet integrated into the new build system).

@borgdylan, @sponnet, feel free to submit further work as PRs against the master branch. If the process is too heavy and

[2015-03-12 11:34] roji commented on #526
Another task: the new build system automatically passes compile symbols for the targeted framework (e.g. NET45). We have a manually-specified system in our csproj files, we need to align that system to the new one.

[2015-03-12 11:49] roji commented on #526
Task list:

* [ ] Integrate async generator into kproj process
* [ ] Create old-style csproj to compile EF7 for easier development
* [ ] Decide on assembly name and namespace (Npgsql.EntityFramework7 vs. EntityFramework.Npgsql)

[2015-03-12 12:26] borgdylan commented on #526
@roji you can write specific versions but the lockfile is just as good. Lockfiles are let out of git only when you do not want to impose specific versions on others.

[2015-03-12 12:28] borgdylan commented on #526
@roji you can specify custom defines per target framework if I'm not mistaken.

[2015-03-12 12:29] roji commented on #526
@borgdylan sure. What I'd like to do is to align the manually-defined csproj defines to the automatically-defined ones from kproj... It's no big deal.

[2015-03-12 14:57] roji commented on #527
@rowanmiller, @anpete, any suggestions on how to integrate with EntityFramework.Core.FunctionalTests? Should I just do a git submodule of EF, inside Npgsql or do you have something else in mind (e.g. a nuget for all tests to be used by EF providers)?

[2015-03-12 15:08] roji commented on #120
After some screwups we should probably look at this again. [GitVersion](https://github.com/ParticularLabs/GitVersion) is probably a good candidate.

[2015-03-12 17:00] Feneck91 opened #528 "EF Code First + Postgis : cannot use DbGeometry into Table : not suported edm type: Edm.Geometry (spatial database)"
Hello everybody, thanks for your Npgsql provider.

I use :
- EntityFramework 6.0.0.0
- Npgsql 2.2.5
- Npgsql.EntityFramework 2.2.5
- .Net Framework 4.0

I created a postgis database (spatial).

My application work well with Oracle using dotConnect provider (and of course an Oracle database).
I try to use Npgsql provider to access same database structure with entity framework Code First.

But when

[2015-03-12 18:32] anpete commented on #527
@roji Can you use a submodule for now? We want to eventually have a stand-alone provider test suite but likely won't have it for the V1 timeframe.

[2015-03-12 18:46] roji opened #529 "PostGIS support"
Implement type handlers for all PostGIS types.

See previous work (pre-v3.0) in #255.
See apparent EF issue in #528

[2015-03-12 18:47] roji commented on #528
I'm not very knowledgeable about spatial support, but I don't think Npgsql's support is very advanced - especially where EF is concerned.

I've opened an issue for PostGIS support at the Npgsql level (non-EntityFramework): #529.

[2015-03-12 18:48] roji commented on #527
@anpete Sure I'll do that for now. I'll let you know if I run into further test-related issues.

[2015-03-12 19:00] franciscojunior commented on #528
Npgsql doesn't support spatial datatypes natively ( you could use them by
sending the commands directly in the command text, though).
Npgsql EF also doesn't have support for spatial types.

On Thu, Mar 12, 2015 at 3:47 PM, Shay Rojansky <notifications@github.com>
wrote:

--
Regards,

Francisco Figueiredo Jr.
Npgsql Lead Developer
http://www.npgsql.org
http://gplus.to/franciscojunior
http://fxjr.bl

[2015-03-13 02:50] truongtho195 opened #530 "Get Data Slowly & not existed column with OpenErp database"
Hi!
I want to use OpenErp database in C# with Entity Framework 6, so i use npgsql provider to generate to EDMX file after that I use EF5.x DbContext Generator template to generate to DbContext & Entity file. I want reuse entity file for extension property and use code first for next times.
But when i retrieve data that is so slowly & throw exception "ERROR: 42703: column Alias1.res_users_id does n

[2015-03-13 04:39] agrigg opened #531 "Connection Timeout Error"
I'm using npgsql 2.2.5 (the latest version as of today) and I'm getting a bunch of connection timeout errors. The application will run fine, then hundreds of requests will get the following error:

	System.TimeoutException: Connection establishment timeout. Increase Timeout value in ConnectionString.

	System.Data.Entity.Core.EntityException: The underlying provider failed on Open. ---> Npgsql.Npg

[2015-03-13 06:28] roji commented on #531
This would seem to be an issue with your PostgreSQL database, or with the networking between it and your client app. You may be able to confirm this by trying to connect to your database externally while the timeout occurs (e.g. with psql), from the same machine as your .NET client. You can also track the server load and the PostgreSQL logs.

[2015-03-13 06:42] Feneck91 commented on #528
No way to add own data types (serialisation / deserialisation) by differents way (providers / factories) ?
Or I must use devart dotConnect again (already used for Oracle database).

[2015-03-13 06:59] roji commented on #528
Well, you would have to implement the PostGIS types (#529) within Npgsql (meaning the binary format sent and received for PostGIS types). We'd be glad to accept a PR for this but it isn't trivial.

Full PostGIS is definitely a goal for us, most of us are just too busy with other Npgsql tasks at the moment...

[2015-03-13 07:18] Feneck91 commented on #529
Hello.

I'm the poster of Issue 'See apparent EF issue in #528'

I need (if possible) that Npgsql support spatial datatypes natively with EF.

The Npgsql 3.0 version doesn't compile for .NET 4.0, is the only target will be 4.5 ?
Do you think @rossini-t job will be integrated into next release ?

@rossini-t You said : It will be great to have some feedback. Probably I can give feed back if you need

[2015-03-13 10:16] #502 closed

[2015-03-13 10:57] roji commented on #529
Hi @Feneck91.

The master branch currently doesn't compile on .NET 4.0 but this is definitely a temporary situation - .NET 4.0 will be supported.

@rossini-t's work was unfortunately done before we rewrote the whole type system for v3.0, so a lot will have to be redone.

[2015-03-13 12:00] roji commented on #483
Here's an implementation proposal, it seems quite trivial:

* Add IsPersistent flag on NpgsqlCommand to allow the user to indicate the prepared statement should persist across connections.
* Add a PersistentPreparedStatements dictionary on NpgsqlConnection, mapping query SQL to the backend identifier of the backend prepared statement, as well as its RowDescriptions
* When Prepare() is called on a

[2015-03-13 12:45] agrigg commented on #531
@roji Yes, we've verified that the database is fine and that the network is okay. The database server CPU and memory are pretty normal and other services can continue to connect fine. We did notice that running netstat that there were a lot of outbound ports in use and left in TIME_WAIT to the database server. Do we need to do anything to make sure those connections get closed properly or re-used

[2015-03-13 13:05] roji commented on #347
Replace NpgsqlTimeZone with TimeSpan

[2015-03-13 13:06] sponnet commented on #249
@friism @franciscojunior check the work of @borgdylan here : https://github.com/borgdylan/npgsql-ef7/commits/master - if there's anything you want to contribute to help out the integration , check that repo.
Very exited to see this happening !

[2015-03-13 13:31] franciscojunior commented on #483
I think this is a great plan!
+1

I would only add an option to specify that persistable flag in the connection string. This way the developer wouldn't need to code against an specific feature of Npgsql which could make her code more portable?
I know this may have the side effect of adding queries the user would want to use only once to the list, but I think that 90% of the queries would be ones t

[2015-03-13 13:40] franciscojunior commented on #531
Hi, @agrigg . You may want to check #473 for some discussions about getting information about used connections in the Npgsql Pool. You may want to check PR #507. you can apply to a source version of 2.2.5 and it will give you access to some internal information about Npgsql pool. We also have pre compiled binaries with this patch here: https://build.npgsql.org/viewLog.html?buildId=14111&tab=artifa

[2015-03-13 13:59] franciscojunior commented on #249
That's great, @sponnet ! @roji already integrated it to Npgsql repository.
This is really very exciting!
I'd like to thank you all for making this happen. You rock!

[2015-03-13 14:43] roji commented on #249
Yep, it's already in our master branch.

I'll be working on integrating the EF functional tests in the coming days, then we can get some idea of what works and what doesn't.

[2015-03-13 14:46] roji commented on #483
@franciscojunior, the connection string idea is not bad!

Regarding your question... The point is that the programmer always calls Prepare, but sometimes Prepare does nothing because the connection already has a prepared version of that SQL query. So when the pool returns connection B, it is completely blank (no prepared statements). And when the user calls Prepare() on it, actual preparation take

[2015-03-13 16:02] franciscojunior commented on #483
:)

Ok! I think I didn't explain myself very well. By "do we handle it like a new prepared statement" I meant exactly what you said. :)
Thanks for clarifying it :)

[2015-03-15 23:47] Emill commented on #511
As described here, http://stackoverflow.com/questions/28067056/unable-to-connect-to-heroku-postgres-from-a-net-application-npgsql, heroku does not provide access to the "postgres" db and neither to "template1". For the case for getting the server version (GetDbProviderManifestToken), there is no need to connect to another database than the user specified, so we could fix that quite easily.

[2015-03-16 02:08] andrewwwooster opened #533 "Quoted attribute/entity names result in "relation does not exist" error"
I am running PostgreSQL 9.4
I have defined an entity with the following attribute: [Table("DRUG_CODE", Schema="VOCAB")]

Npsql produces the following SQL:
  SELECT "GroupBy1"."A1" AS "C1" FROM (SELECT CAST (count(1) AS int4) AS "A1" FROM "VOCAB"."DRUG_CODE" AS "Extent1" WHERE E'V-CILLIN-K' = "Extent1"."PRODUCT_NAME") AS "GroupBy1";

This query fails with the following error:
  ERROR: relation "VOC

[2015-03-16 03:47] ChenHuajun commented on #252
Hi Emill，Your are right in theory. There is no problem if we ensure "the buffer had been drained correctly before any TCP send". But i don't known whether it is easy to implement in fact. Whether all patterns had been considered correctly. (As far as i known some query may contains more than once read/write TCP communication).
And we also must remember the rule "the buffer had been drained correct

[2015-03-16 06:15] roji opened #534 "GetDbProviderManifestToken fails on Heroku, no "postgres" database"
See https://github.com/npgsql/npgsql/issues/511#issuecomment-81296698

[2015-03-16 06:15] roji commented on #511
Sounds good @Emill, opened #534 for 2.2.6

[2015-03-16 06:34] roji commented on #533
Can you please check what exactly is the table name in the database (with \d)? Notice that above your show the [Table] attribute for DRUG_CODE, but the error is for DIAGNOSIS_CODE.

PostgreSQL automatically lower-cases column and table names unless they are double-quoted. It's likely that you have a mismatch between your actual schema/table name in the database and they one EF is trying to use.

[2015-03-16 07:06] DavidKarlas commented on #511
If it doesn't provide any database... How can we connect to it to create new database in EF?

[2015-03-16 07:12] Emill commented on #511
At least their free version is shared hosting with hundreds of dbs on the
same server. You have to create a db through their website (or maybe
through one of their tools).
Den 16 mar 2015 08:06 skrev "David Karlaš" <notifications@github.com>:

[2015-03-16 08:42] roji commented on #526
@rowanmiller, @borgdylan, am trying to create a VS2015 csproj, targeting .NET 4.6, for the Npgsql EF7 provider for easier development, and am having trouble getting the EF7 nuget to install.

To make it short, am on a totally blank csproj project, VS2015 CTP6 with Nuget extension 3.0.60225.100. Am trying to install EntityFramework 7.0.0-beta4-549 (or the latest, 12563), and the process fails on Mi

[2015-03-16 09:06] borgdylan commented on #526
There are reported issues with the NuGet v3 feed and VS CTP 6. You will have to disable the NuGet v3 feed and switch to v2. Also, the code uses a version of ASP.NET 5 for which no VS support exists as of now.

[2015-03-16 10:41] rossini-t commented on #529
Hi,
I will take a look on a 3.0 port as soon as I can.

[2015-03-16 10:43] roji commented on #529
Great, that would be wonderful.

Take a look at another type handler, such as Int32Handler, to start with. Note that all server communication is binary. Note also the difference between simple handlers and chunking handlers (small, fixed-length types vs. arbitrary-length types). Please post here if you need any help or pointers.

[2015-03-16 19:02] rowanmiller commented on #526
Yeah the issue is the new (renamed) dnx frameworks in the package. We need to get a new version of the NuGet client that can handle them. Don't have a timeframe on it yet but I'm hoping we can get it out soon.

[2015-03-16 23:44] oldsaltycrab commented on #472
This issue was caused by pg_bouncer not accepting the search_path parameter.  When set in ignore_startup_parameters, it stops being an issue.

[2015-03-16 23:44] #472 closed

[2015-03-17 01:06] andrewwwooster commented on #533
Sorry for the false alarm.  Problem was due to case mis-match.  I did not realize the npgsql assumed case sensitivity by using double-quoted column and table names.  Once I switched to my attributes to use lower case names all was ok.

[2015-03-17 01:06] #533 closed

[2015-03-17 02:14] dropyghost opened #535 "Visual Studio doesnt open EF wizards."
I have setting npgsql successfully before, but I'm trying to setup another PC and fail.

This time my PC is running windows 7 home edition instead of ultimate.

I did the setup Setup_Npgsql-2.2.3.0-r2-net45.exe
Then follow the instructions https://github.com/npgsql/npgsql/wiki/Visual-Studio-Design-Time-Support---DDEX-Provider

I have Vs2013 Update 2
Create a C# windows app
Add npgsql, npgsql entit

[2015-03-17 02:44] Emill commented on #535
Are you using the same version here as well, i.e. 2.2.3.0?
 Den 17 mar 2015 03:14 skrev "dropyghost" <notifications@github.com>:

[2015-03-17 02:59] adraut commented on #508
@roji, I finally had time to get my fork cleaned up so I could create proper branches and pull requests.  I sent a proper PR for this issue.  Thanks for the tips.

[2015-03-17 03:11] dropyghost commented on #535
Yes, I did the setup Setup_Npgsql-2.2.3.0-r2-net45.exe
from https://github.com/npgsql/Npgsql/issues/128

[2015-03-17 03:16] dropyghost commented on #535
Sorry, i realize you mean the Nuget package. I just install the last version I got there.
Npgsql and Npgsql EntityFramework say 2.2.5
EntityFramework say 6.13

[2015-03-17 05:22] roji commented on #508
Thanks!

[2015-03-17 08:31] azhozhin opened #538 "Npgsql.EntityFramework produces wrong index name"
in Npgsql.EntityFramework\NpgsqlMigrationSqlGenerator.cs code responsible for index name:
[code]
produces weird names such as
`Product_IX_ProductName` instead of  `IX_ProductName`

for migration:
[code]

[2015-03-17 08:54] Emill commented on #535
Hi. You need the same versions in both places due to a bug in Visual Studio.
 Den 17 mar 2015 04:16 skrev "dropyghost" <notifications@github.com>:

[2015-03-17 14:40] dropyghost commented on #535
@Emill Thanks for your comments
Sorry if my english is bad and doesnt understand properly. Because when you say "both" places sound looks like my two systems were connected and they arent.  But if you mean Npgsql and Npgsql Entity Framework they are same version, just a version higher than my other pc.

Now if what you mean is I need to downgrade to a previous version 2.2.3, I ask how I do that? I

[2015-03-17 15:11] franciscojunior commented on #535
Hi, @dropyghost !

Sorry for this problem with the versions. We still don't have a setup with the 2.2.5 version. I'll ask @kenjiuno to create one for us.

Meanwhile, you can install the 2.2.3 version from NuGet through the following command line:

I hope it helps.

[2015-03-17 16:41] dropyghost commented on #535
@franciscojunior  Yes works perfect,
have to add  Install-Package Npgsql.EntityFramework -Version 2.2.3  too.

Just one question in my project i couldnt replace the package even when i delete the references so i have to create a new one. For a future how I uninstall a package version?

And thanks for the help. Maybe we should update the Install tutorial to use the manual Package Manage Consola ins

[2015-03-17 17:38] franciscojunior commented on #535
Did you try to use the `Uninstall-Package` command in the package manager console?

You are welcome!
Yes, I think your suggestion is very good. I'll add this information there. Thank you!

[2015-03-17 17:48] franciscojunior commented on #535
Just made the change:

https://github.com/npgsql/npgsql/wiki/Visual-Studio-Design-Time-Support---DDEX-Provider#install-entityframework-6-npgsql-and-npgsqlentityframework-from-nuget

Please, check it out and let me know if it is ok.

[2015-03-17 17:53] Emill commented on #535
It is the version in gac (that VS uses) and the one referenced by the
project that must be the same. (don't know if npgsql and
npgsql.entityframework must be the same)
Den 17 mar 2015 18:48 skrev "Francisco Figueiredo Jr." <
notifications@github.com>:

[2015-03-17 18:14] dropyghost commented on #535
My guess is when Npgsql is upload to Nuget so is Ngsql.EntityFramework so should be the same version most of the time. So the issue is Nuget package need to match the GAC version.

Now I have a question, sorry if sound silly.
But why Nuguet packages doesnt install in the GAC?
Why we need to use an assambly installer and then download from Nuget?

Also I may give a few suggestion for the install do

[2015-03-17 18:22] franciscojunior commented on #535
Whooops, sorry about that. I'll fix it.

[2015-03-17 18:27] franciscojunior commented on #535
Done. I made the changes to reflect that the Npgsql in the project and in the GAC must be the same.

[2015-03-17 18:30] franciscojunior commented on #535
I think the idea is to be able to install self contained components which are independent of the system and or project. This way you can install a different version of the component in different projects if you wish.

The idea of the installer is to help you install Npgsql to GAC. In order to make Npgsql Design time support to work, there are some changes in the machine.config file which need to b

[2015-03-17 18:33] franciscojunior commented on #535
Although there is this open issue where @kenjiuno posts news about the installer, the official place to grab the installer is from our releases page only. So, I think there is no need to point users to the GAC issue to grab installers.

[2015-03-17 18:51] dropyghost commented on #535
Yes, I'm not really familiar with GAC installation so I'm very thankfull to @kenjiuno for his simple installer.

Is there a tutorial about how install those new releases manually?

That memory leak solve is 2.2.5 sound very important.

[2015-03-17 20:01] swimhiking opened #539 "Npgsql for Binary data type"
When I use Npgsql to insert data to PostgreSQL, I found difficult to insert Binary data; I use psql would similar like E'\\336\\255\\276\\357'::bytea ; in .NET it would similar like new byte[] { 185, 253, 177, 161, 51, 1 }. Any suggestion  to use Entity Framework for PostgreSQL in Binary data type? Thanks.

[2015-03-17 20:41] franciscojunior commented on #535
Yes. They are very useful! @kenjiuno did a great job creating them! :)

Yes. In the same tutorial:
https://github.com/npgsql/npgsql/wiki/Visual-Studio-Design-Time-Support---DDEX-Provider#how-to-check-if-npgsql-ddex-was-correctly-loaded

There you find the instructions about the changes you have to make in the machine.config file.

Then, you just need to install Npgsql.dll into GAC with the command

[2015-03-18 00:18] adraut commented on #531
@agrigg Could you provide the connection string you're using (minus sensitive info of course)?

[2015-03-18 00:21] agrigg commented on #531
@adraut It looks like this issue has resolved itself. We didn't change anything so maybe it was a network issue or something else. If it happens again I'll re-open this issue and provide more info. Thanks!

[2015-03-18 00:21] #531 closed

[2015-03-18 00:47] adraut commented on #538
@azhozhin What is wrong with the index name?  It is being generated inline with PostgreSQL's default index naming.

[2015-03-18 01:47] andrewwwooster opened #540 "Cannot find newly created temporary table"
I use Npgsql  ExecuteSqlCommand to create a temporary table named 'tmp' (ExecuteSqlCommand returns -1).  But when I immediately try to insert into the temporary table I get the following error
  relation "tmp" does not exist
This seems to indicate that the temporary table was not created.

When I execute the create temp table and insert using psql client all works fine.

        class MyDbContext

[2015-03-18 05:17] azhozhin commented on #538
I want to control by myself naming convention here using `IndexAttributeConvention` and
`ForeignKeyIndexConvention` but not be forced by Npgsql.EntityFramework.

There is SqlServerMigrationSqlGenerator implementation:
[code]

As a result I want index name like `IX_[Table]_[Column]`, using one of mentioned above conventions I can archive it.

[2015-03-18 09:36] Emill commented on #540
Hi. Why are you using entity framework to run raw sql queries? Anyway,
Entity framework opens and closes the connection for each query that you
run, so that is why your temporary table gets destroyed. To keep the
connection open, check out
https://msdn.microsoft.com/en-us/library/bb738582.aspx
Den 18 mar 2015 02:47 skrev "andrewwwooster" <notifications@github.com>:

[2015-03-18 10:04] mikkeljohnsen opened #541 "Error in timestamptz conversion"
I have a database (PostgreSQL) that sometime contains timestamptz like '0001-01-01 00:40:00+00:50:20' (coming from a SQLITE).

The timestamps are saved to the database with Npgsql but it's not able to read them again. The command line "pgsql" also accepts these timestamps.

I get this error in Npgsql.

Cannot cast from source type to destination type.
  at NpgsqlTypes.NpgsqlTimeStampTZ.op_Explicit

[2015-03-18 10:14] Emill commented on #541
In UTC, that means a time earlier than 0001-01-01 00:00:00 UTC, but .NET's
DateTime (unlike PostgreSQL) does not support times BC.
Instead of using reader.GetDateTime(int) you could use
reader.GetTimeStampTZ(int) which returns a NpgsqlTimeStampTZ which is a
type that can handle such dates.

2015-03-18 11:04 GMT+01:00 MIkkel Kruse Johnsen <notifications@github.com>:

[2015-03-18 10:16] Emill commented on #539
Hi. Could you please tell some more info?
If you are using Entity Framework, you should be able to specify a column as a byte[] type and use that directly.

[2015-03-18 10:42] tryhp3 opened #542 "DateTimeOffset LTE vs RawSql strange effects"
I think that TimeStampTZ <-> DateTimeOffset does not always work.

I have simple enttity:
[code]

When I call Linq To Entities (Find method) first, and next SQL this work ok (I think that there is a cache):
![bez tytulu](https://cloud.githubusercontent.com/assets/4246990/6706928/6502dbe2-cd62-11e4-8671-8886cfa08921.png)

When I call SQL first i have error:
![bez tytulu2](https://cloud.githubuserco

[2015-03-18 14:02] mikkeljohnsen commented on #541
Ok, I see.

I guess Npgsql should not handle this, since it my own fault.

Thanks.

[2015-03-18 14:02] #541 closed

[2015-03-18 14:20] swimhiking commented on #539
Yes, I can create a column as byte[] using EF, but when I try to insert data using configuration.cs in migration folder, for example:
          new department { name = "English",     budget = 350000, startdate = DateTime.Parse("2007-09-01"), rowversion=new byte[] { 185, 253, 177, 161, 51, 1 }
this won't work to insert data into  PostgreSQL by PM> update-database; above syntax is correct for .NET;

[2015-03-18 14:50] Emill commented on #539
Are you getting any error message or something?
 Den 18 mar 2015 15:20 skrev "swimhiking" <notifications@github.com>:

[2015-03-18 14:52] swimhiking commented on #539
Yes, I got an error message like: An error occurred while updating the entries. See the inner exception for details.
Detail like: System.Data.Entity.Infrastructure.DbUpdateException: An error occurred while updating the entries. See the inner exception for details. ---> System.Data.Entity.Core.UpdateException: An error occurred while updating the entries. See the inner exception for details. --->

[2015-03-18 16:15] dropyghost commented on #535
Hi again.

I check again the install instructions

There are only zip files with docs and dll there,
no exe or setup file.

![image](https://cloud.githubusercontent.com/assets/10077853/6712939/80c89368-cd61-11e4-807e-005223391c17.png)

i will try using the release zip file + gacutil and trying to make 2.2.5 work and let you know.

A few question for manual install:
1) Do I need gacutil all dll or

[2015-03-18 20:34] akrock opened #543 "GetSchema uses new connections instead of current"
The fact that GetSchema is creating a new connection instead re-using the current connection is causing some headaches due to a specific configuration that my company is attempting to use.

Our connections are being established with one user, and then using "SET ROLE" to elevate the user to a different role that has access to more tables. The issue comes into play because since a new connection is

[2015-03-18 22:18] mj1856 commented on #347
I'm a bit confused by the chart above.  `DateTimeOffset` doesn't have a `Kind`, and any mapping between `timestamptz` and `DateTimeOffset` should *preserve* the offset as-is.  It shouldn't do any conversions at all.

[2015-03-18 22:33] Emill commented on #347
True, DateTimeOffset doesn't have a Kind.

The name "timestamp with time zone" is very misleading. A better name would be "timestamp at utc" since the only thing the type stores is a timestamp (without time zone) assumed to be in utc. ("time with timezone" however stores both a time and a time zone). When a timestamptz is cast to Text, postgres converts it to the server's time zone and displays th

[2015-03-18 22:43] Emill commented on #347
Wouldn't it be better, when reading from server, if the timetz could be read as a DateTimeOffset (set date component to 0001-01-01 and take the time and time zone value)?

[2015-03-18 22:45] mj1856 commented on #347
Wow - I wasn't aware of that.   That's quite a "gotcha!"   I went back to [the docs](http://www.postgresql.org/docs/9.4/static/datatype-datetime.html) and found this is actually spelled out:

[2015-03-18 22:47] mj1856 commented on #347
@Emill  - I like that idea about `timetz` -> `DateTimeOffset`

[2015-03-18 22:59] Emill commented on #347
I have some proposed changes in **bold**.
I suggest DateTime with Kind = Unspecified should first locally be converted to UTC, since that is what postgres does when you cast a text value with unspecified time zone to a timestamptz.
I also added suggested default types to use when reader.GetValue(int column) is called.

##### Sending values to the database

.NET Value                 | PG type

[2015-03-18 23:14] mj1856 commented on #347
Is that last row a typo?

[2015-03-18 23:15] Emill commented on #347
Yes, updated ;)

[2015-03-18 23:18] mj1856 commented on #347
BTW - you guys might be interested to know that I'm working with some folks to try to get `Date` and `TimeOfDay` types added to .NET.  See [dotnet/corefx#700](https://github.com/dotnet/corefx/issues/700) and [mj1856/corefx-dateandtime](https://github.com/mj1856/corefx-dateandtime).

Of course, this won't affect anything you do now, but eventually it might mean a better mapping for `time` -> `TimeO

[2015-03-18 23:27] Emill commented on #347
Ah, that seems nice :)
Any idea for a type that would map good to "time with time zone"?

[2015-03-18 23:49] mj1856 commented on #347
That one's a kind of oddball.  I've seen it in types like [`OffsetTime` in Java 8](http://docs.oracle.com/javase/8/docs/api/java/time/OffsetTime.html), but I'm not really sure what a real-world use case is.

An offset is usually used to correlate an instant in time to a common reference, such as UTC.  Since offsets can change within a time zone due to daylight saving time, it's usually a necessity

[2015-03-19 00:07] Emill commented on #347
Yes, Postgresql compatible date / time types are implemented in our code
and can be retrieved with reader.GetProviderSpecificValue(), just like
SqlClient.

As you say, timetz is a quite disputed type since there is hard to find
good use cases because of the DST problems you mention.
 Den 19 mar 2015 00:49 skrev "Matt Johnson" <notifications@github.com>:

[2015-03-19 14:20] kenjiuno commented on #535
Hi.

Thanks for trying ddex and supporting it!

Sorry, it is my private work for building setups for now.

2.2.5 is ready! ... And it has experimental support for Vs2015 CTP5.

Setup_Npgsql-2.2.5.0-net40.exe
https://drive.google.com/file/d/0BzIsP2o582nbbk1wRkdLM0NxR28/view?usp=sharing
Setup_Npgsql-2.2.5.0-net45.exe
https://drive.google.com/file/d/0BzIsP2o582nbT0ZrTm9hRVVjRmc/view?usp=sharing

Npgs

[2015-03-19 14:38] roji commented on #347
Jumping in a bit late :)

Am pretty positive on most suggestions above (mapping timetz to DateTimeOffset, "implicit" conversion  between DateTime <-> time), except for the idea to treat DateTimeKind.Unspecified as Local... @emill, can you explain the logic here? The whole idea of Unspecified is that we know nothing about the timezone of the DateTime, so why convert it to UTC according to the local

[2015-03-19 14:46] Emill commented on #347
The reason to convert Unspecified to UTC would be that that is what
postgres does.
'2015-01-01 00:00:00'::timestamptz assumes the time is in local time.
I don't know what really is the best. But often unspecified time means that
the user simply used local time, at least I think so...

2015-03-19 15:38 GMT+01:00 Shay Rojansky <notifications@github.com>:

[2015-03-19 14:47] roji commented on #543
That's a pretty good question, I can't see any reason at all for this behavior. I checked SqlClient and trying to call GetSchema() while a reader is open fails, meaning that it doesn't open an additional connection.

@franciscojunior, any ideas why GetSchema() does this? If not I can change the behavior to use the current connection.

[2015-03-19 14:50] roji commented on #347
Hmm... I see the idea. I'm not convinced, but I'm not convinced by the other option either (which is to "assume" UTC by not doing anything).

It's really a crappy subject but like you said we have to make a decision... I guess I'll go your way then.

[2015-03-19 15:35] franciscojunior commented on #543
Hi, @roji !

When I started implement the GetSchema support in 2005 (https://github.com/npgsql/Npgsql1-From-CVS/commit/617081e939b38ba225de19650f5121cc11933e09) , I used a new NpgsqlConnection. I think I choose to create a new connection only to not have problems with the current NpgsqlConnection currently in use. So, there was no specific reason for it be like it is today :)

I think there wouldn

[2015-03-19 15:39] franciscojunior commented on #535
Thank you very much, @kenjiuno ! I just uploaded your installers to our Releases section. :)

[2015-03-19 16:03] roji commented on #543
OK, thanks @franciscojunior, I'll make the change.

[2015-03-19 16:09] #543 closed

[2015-03-19 16:11] roji commented on #543
Fixed and backported to 2.2

[2015-03-19 16:37] roji commented on #535
@kenjiuno, I promise that once we release v3.0 I'll work on integrating your EXE build into our build server. Thanks for all the manual work in the meantime!

[2015-03-19 16:39] #535 closed

[2015-03-19 19:10] ChewyGumball opened #544 "EF Redshift inserting creates SQL with unsupported RETURNING syntax"
Redshift does not support the "INSERT INTO ... VALUES ... RETURNING syntax. When trying to save changes to an Entity Framework DbSet, the SaveChanges() function throws a syntax error exception complaining about "RETURNING" because the sql generated uses the above syntax.

[2015-03-19 19:55] mj1856 commented on #347
I think it is ok, as it will also match the behavior of [`DateTime.ToUniversalTime()`](https://msdn.microsoft.com/en-us/library/system.datetime.touniversaltime.aspx) which says:

Kind | Results
----|----
`Utc` | No conversion is performed.
`Local` | The current `DateTime` object is converted to UTC.
`Unspecified` | The current `DateTime` object is assumed to be a local time, and the conversion is

[2015-03-19 22:47] dsenatore opened #545 "Can't generate Model from database"
I can't succeed in generating Model from Database in postgresql. I have already installed all nuget packages and registered the integration for visual studio; in fact, it works perfectly until I click the button Finish in the form Choose Your Data Connection. The error is visible in attached screenshot.
I'm using npgsql 2.2.5 and EF 6.1.3. The DB is Postgresql 9.4
Any help is appreciated, thank yo

[2015-03-20 00:47] kenjiuno commented on #545
Hi.

Thanks for reporting! I'll check about this.

[2015-03-20 06:08] roji commented on #347
@mj1856 the DateTimeToUniversalTime() behavior is a good argument, I'll implement it that way.

Two more notes:
* When a user writes a timetz as a TimeSpan, I propose to also treat it as local, i.e. send the local timezone to the database along with it. This will make the behavior consistent with DateTime (with kind=local or unspecified). When reading, the TimeSpan would again be adjusted to repre

[2015-03-20 06:51] roji commented on #347
Some points regarding timestamp/timestamptz (@Emill, continues our conversation)...

As discussed before, TimeStampTZ isn't really a different *type* (same storage, same logic...), so I removed it from Npgsql.

It makes sense to me to make NpgsqlTimestamp identical in every way to DateTime, after all it's only there because of the range/precision differences between the CLR type and the PG type. S

[2015-03-20 07:45] roji commented on #544
To fix this we'll have to use the currval function when the backend version is < 8.1... Hopefully there won't be too many of these bugs coming up.

[2015-03-20 08:14] roji commented on #347
@mj1856, but see the opposite assumption in  [`DateTime.ToLocalTime()`](https://msdn.microsoft.com/en-us/library/system.datetime.tolocaltime(v=vs.110).aspx)

```This instance of DateTime is assumed to be a UTC time, and the conversion is performed as if Kind were Utc.```

[2015-03-20 09:21] roji commented on #347
OK guys, I pushed a big commit that does most (all?) of what's discussed above.

As the subject is difficult I'd really appreciate a review on this, look especially at the tests (DateTimeTests.cs). I'm sure there are still a lot of end-cases and potential cleanup to be done but this work is a bit exhausting :)

Anyway, let me know what you think.

[2015-03-20 16:44] mj1856 commented on #347
Yes, `ToLocalTime` does the opposite with regard to `Unspecified`, but considering the directionality of the operation, I think the behavior from `ToUniversalTime` makes most sense.

Regarding your points about `timetz` <=> `TimeSpan`.   Without a date, the offset is somewhat arbitrary.  The best you could do is use the *current* offset, which of course can change due to DST.  However, you have to

[2015-03-21 08:12] roji opened #546 "Support mapping date/time types to NodaTime"
See discussion in #347. As NodaTime is widely used it may be useful to support mapping date/time types to it directly. This could be achieved with an extra project/nuget that somehow replaces the date/time type handlers, etc.

If you are interested in this feature, please vote for it here.

[2015-03-21 08:13] roji commented on #347
@mj1856 thanks for the comments, your input on this subject is really appreciated. I'd suggest looking less at Npgsql internals, and more at the acceptance tests (DateTimeTests) which should define the proper behavior.

Yeah, I agree about the problematic nature of `DateTimeKind.Local`, although perhaps less violently than you... At the end of the day, as long as programmers understand what is goi

[2015-03-21 08:34] roji commented on #519
Done in 031239c46c8024d3fa5f0e3867299115ce9921f0

[2015-03-21 08:34] #519 closed

[2015-03-21 14:14] andrewwwooster commented on #540
I did no realize that by default EF opens and closes the connection on each query.  Thanks for the reference.

As to why: I am using Entity Framework for my queries, but dropped out of EF to create temporary table as part of a performance optimization.

[2015-03-21 14:14] #540 closed

[2015-03-22 06:20] roji opened #548 "Support writing bytea from ArraySegment"
Done by @Emill for large object support in #547.

[2015-03-22 06:52] roji commented on #548
Oh sorry, already done by @Emill.

[2015-03-22 06:52] #548 closed

[2015-03-22 12:55] kenjiuno commented on #545
Hi.

I'm investigating this problem, but currently I have no good idea to solve your problem.

I have tested on PG 9.4, EF 6.1.3, Npgsql 2.2.5, Vs2013 Update 4. It could generate models. So, I think it will work if your problem is identified.

I think about 2 possible points to check:
(1) Database structure. There will be special case EF cannot analyze the db.
(2) Npgsql's problem. EF's working de

[2015-03-22 14:36] Emill commented on #545
It might also be helpful if you provided a sql dump of your table definitions.

[2015-03-22 14:39] Emill commented on #544
Redshift doesn't even support sequences...

[2015-03-22 14:47] Emill commented on #542
What is IRepository? It would be helpful if you could reduce the code so it only uses Entity Framework and Npgsql directly.

[2015-03-22 14:58] Emill commented on #492
This will work in v3 since the value transmitted from the server is already converted to UTC (binary encoding is always UTC).

[2015-03-22 15:44] JohannNutter opened #549 "Concurrency violation: the UpdateCommand affected 0 of the expected 1 records."
Getting this error on certain records.  Narrowed issue down to certain column types and values.  A single character (not varchar) or double precision with certain values causes the row to not be updated because the select statement cannot match the value in the DB.  The values get into the database under VB6 and ODBC, and the problem occurs under VS2008, VB, PG8.4, and npgsql.  The update statemen

[2015-03-22 15:46] JohannNutter commented on #549
Correction to previous, "the select statement" should be "the update statement"

[2015-03-22 17:25] roji commented on #544
Oh, you're right... Well there must be some way of getting the ID of the last inserted row? Maybe lastval or something?

[2015-03-22 17:38] roji commented on #492
Thanks for the feedback. It's true that at some point I'm a bit reluctant to go back and fix this on v2 when the v3 approach makes things much simpler... If it's not a huge issue for you to keep going with your own fork that would be great....

Thanks also for the feedback regarding the v3 mapping decision. FYI I just committed a big rework of the way dates and times are handled in v3, you may wan

[2015-03-22 20:55] Emill commented on #438
Any new opinions on this?
I think we can keep it since it might be a nice feature...

[2015-03-22 21:37] roji commented on #438
I guess we should keep (i.e. reimplement) this feature... I guess I'll get around to it at some later point...

[2015-03-22 21:42] roji commented on #544
Apparently there's no way to get the ID of the last inserted row (!?):

https://forums.aws.amazon.com/thread.jspa?messageID=449390&#449390
http://stackoverflow.com/questions/19428860/retrieve-inserted-identity-value-from-aws-redshift-via-jdbc

Not sure, it seems the only thing we can do is select row with the maximum ID? This is of course very problematic because a concurrent session may have inse

[2015-03-22 22:04] Emill commented on #544
Are ORMs really designed to be used with Redshift?
It seems Redshift is primarily designed for analytical purposes, as a competitor to Hadoop, BigData etc., and not really as a standard-purpose database.

[2015-03-22 23:44] roji commented on #544
After seeing the kind of missing features they have, I tend to agree... Maybe some people confuse it with AWS RDS and pick the wrong one...

In any case I'd be happy to support Redshift but in this case I really don't know what can be done?

[2015-03-22 23:58] roji commented on #493
@Emill pretty much finished this.

Keeping open since we want to move the setting of ssl_renegotiation_limit=0 to the startup packet, this way DISCARD ALL won't reset it to 512MB. This also has the performance advantage of eliminating an additional roundtrip on connection.

The only issue is older databases which don't support this parameter (e.g. redshift), meaning we have no choice but to go bac

[2015-03-23 00:00] roji commented on #380
After many discussions on this with @Emill, because of server-side (mostly?) implementation details we want to keep the disabling of renegotiation, and move it to the startup packet. Tracked in #493.

[2015-03-23 00:00] #380 closed

[2015-03-23 00:01] #347 closed

[2015-03-23 00:01] roji commented on #346
Discussion and further reworking continued in #347.

[2015-03-23 00:01] #346 closed

[2015-03-23 00:01] roji commented on #342
Done, see additional discussion in #347

[2015-03-23 00:01] #342 closed

[2015-03-23 00:03] roji commented on #308
Memory allocation and type handling has been totally redone for v3.0, and is now very close to zero-copy efficiency.

[2015-03-23 00:03] #308 closed

[2015-03-23 00:05] roji commented on #127
Done by @Emill  as part of #532

[2015-03-23 00:05] #127 closed

[2015-03-23 00:08] roji commented on #191
This is tested and working in v3.0 (nearing beta), we probably won't be investing the time to fix in v2.0.

[2015-03-23 00:08] #191 closed

[2015-03-23 00:10] roji commented on #125
No longer relevant in 3.0, we don't do any sort of casting.

[2015-03-23 00:10] #125 closed

[2015-03-23 00:12] roji commented on #203
Closing after almost a year of inactivity, please reopen if still relevant.

[2015-03-23 00:12] #203 closed

[2015-03-23 00:14] roji commented on #335
Seems like we've fixed this for v3.0...

[2015-03-23 00:14] #335 closed

[2015-03-23 00:21] roji commented on #426
We've solved this for many cases for v3.0, which is now nearing beta. As we haven't had further complaints about this I don't think we'll make the effort to fix this in v2.0, since that won't be very easy...

Thanks for raising this.

[2015-03-23 00:21] #426 closed

[2015-03-23 00:31] roji commented on #368
SqlClient allows you to assign a Stream, TextReader or XmlReader to a parameter's value, in which case data is read directly from there to the database.

https://msdn.microsoft.com/en-us/library/hh556234(v=vs.110).aspx

[2015-03-23 00:32] roji opened #550 "Write parameter from streams/readers"
SqlClient allows you to assign a Stream, TextReader or XmlReader to a parameter's value, in which case data is read directly from there to the database.

https://msdn.microsoft.com/en-us/library/hh556234(v=vs.110).aspx

[2015-03-23 00:34] roji commented on #368
Not sure whether GetXmlReader should do anything beyond calling [XmlReader.Create()](https://msdn.microsoft.com/en-us/library/756wd7zs(v=vs.110).aspx) on GetTextReader()...

[2015-03-23 00:54] Emill commented on #550
There is a problem if the user's stream stops working or throws an exception while we read from it. How should we then complete the packet? Should we complete it but not send the Execute message?

Also, we have to specify the length of the parameter, so the user must before explicitly set the correct size of the parameter and make sure that amount can be read from the stream. And what do we do wit

[2015-03-23 00:56] Emill commented on #550
The other way (from db to client) is easier. The only problem is that the backend still needs to buffer everything in RAM before it sends it.

[2015-03-23 08:58] dsenatore commented on #545
Thank you all. I've tried with another machine and I can confirm that everithing works correctly. There were only a little glitch: when i installed the package Npgsql.EntityFramework, the package manager faile to execute script to create the correct dbprovider in app.config.

File C:\Users\username\Documents\Visual Studio 2013\Projects\SRC\packages\Npgsql.EntityFramework.2.2.5\tools\install.ps1 ca

[2015-03-23 08:58] #545 closed

[2015-03-23 09:29] roji commented on #550
You may be right about these difficulties.

MSDN's Stream has a Length property for seekable streams, so for things like FileStream it can probably work without explicit setting. But for text streams you're right, there's doesn't seem to be a solution. Regarding the exception, it may be acceptable that if the stream throws an exception the connection is terminated (I wonder if SqlClient handles it

[2015-03-23 09:29] #550 closed

[2015-03-23 09:55] tryhp3 commented on #542
No problem:

[code]
![przechwytywanie](https://cloud.githubusercontent.com/assets/4246990/6777566/12c0195c-d14b-11e4-9d9b-ba568cbb33d0.PNG)

[2015-03-23 10:08] othulke opened #551 "NpgsqlDate: '-infinity'/'infinity' indistinguishable from '0001-01-01'/'9999-12-31'?"
Hi everbody,

I just stumbled across a problem when reading a table containing a date column holding both `9999-12-31` and `infinity` as values.
Within postgres I'm able to distinguish between these values:
`select '-infinity'::date = '0001-01-01'::date, 'infinity'::date = '9999-12-31'::date`
returns `false, false`

However, getting the results from the statement
`select 'infinity'::date, '9999-12

[2015-03-23 10:45] roji commented on #551
I was just working on this area for our next major version, v3. I did identify a similar issue for timestamps - apparently there's an issue also for dates.

Will look into this very soon, although it's unlikely we'll fix it for the current stable branch (v2).

[2015-03-23 14:05] ChewyGumball commented on #544
I do wonder why the id of the last row inserted is required in all cases. The only time I can think of is when there is an Identity (auto incrementing) column, but surely the unsupported features can be narrowed down from all inserts to just inserts with a column of this type.

Also, it seems like npgsql is trying to insert rows one at a time. For other databases this would probably be fine, but f

[2015-03-23 15:51] roji commented on #544
@ChewyGumball, you're right that this issue affects only inserts to table with a database-computed identity value.

However, and this relates to the ORM/Redshift question, database-computed identity values are an extremely common scenario. In fact, I don't know of any database in existence that doesn't support them, and the bizarre thing with Redshift is that database-computed identity values *are

[2015-03-23 23:12] roji commented on #493
Moved ssl_renegotiation_limit to the startup packet in de716befe45f2666b3961c3c6d07c70bbb273d22.

[2015-03-23 23:12] #493 closed

[2015-03-23 23:56] roji opened #552 "Prepend connection cleanup to next roundtrip"
Currently, when a pooled connection is closed we send a DISCARD ALL synchronously. This is an extra roundtrip, and blocks the user's thread in Close().

Instead, we can simply enqueue the DISCARD ALL to be sent after a new connection is opened with the connector, on the first message that gets sent to the server.

See #268, #381

[2015-03-23 23:57] roji commented on #268
Closing in favor of #552

[2015-03-24 07:32] deha opened #553 "Error while retrieving set of cursors"
I am trying to get setof 3 cursor from postgres function using npgsql driver as following:

c# code:

    using (NpgsqlConnection conn = (NpgsqlConnection)dbFactory.CreateConnection())
    using (NpgsqlCommand comm = (NpgsqlCommand)conn.CreateCommand())
    using (NpgsqlDataAdapter adapter = (NpgsqlDataAdapter)dbFactory.CreateDataAdapter())
    {

    comm.CommandText = "\"public\".func";
    comm

[2015-03-24 11:43] franciscojunior commented on #553
Are you surrounding  your code in a transaction? This cursor usage pattern
only works inside one.

I hope it helps.
 Em 24/03/2015 04:32, "deha" <notifications@github.com> escreveu:

[2015-03-24 13:58] kenjiuno commented on #352
Hi.

I have encountered this problem today. The latest Npgsql 2.2.5.0 thru NuGet package manager.

I'm using NpgsqlDataAdapter and NpgsqlCommandBuilder against DataTable.

[code]

SELECT, INSERT and DELETE are ok. UPDATE may be problem.

InvalidCastException is thrown if `cb.SetAllValues = false`. It won't occur on `cb.SetAllValues = true`.

[2015-03-24 15:01] kenjiuno commented on #352
This could get better result. But there is still another problem. I'll check about it.

[2015-03-24 15:23] kenjiuno commented on #352
Hi.

The workaround needs 2 fixes:

--
(1) Clear backendTypeInfo when DbType is set.
https://github.com/kenjiuno/Npgsql/commit/52aea8d326b83c3d3a02bf3e2e8d1244e626f701

This fix is for 2.2 branch.

The latest master branch of Npgsql is so much re-factored (for 3.0 development?) so that I cannot propose pr for it.

--
(2) e.Command.Parameters.Clear()

[code]

This worked for me. I need more tests f

[2015-03-24 15:36] #552 closed

[2015-03-24 22:42] oldsaltycrab opened #554 "Large string insert crashes with -1 size."
I'm at head on master (1476199df9624743da9f21f50e6d9c88320a5903).  I was curious about some of the more recent work you've done but encountered a couple of errors on the way that I thought you may be interested in.

I have a ```Text``` column in a table in my 9.3.6 database.  I'm trying to insert a large string (5690 characters) into that column using a parameterized insert.  As it's creating the

[2015-03-24 22:57] oldsaltycrab opened #555 "Unable to commit transaction after first connection"
I'm at head on master (1476199df9624743da9f21f50e6d9c88320a5903).  I was curious about some of the more recent work you've done but encountered a couple of errors on the way that I thought you may be interested in.

If I open two connections using the same connection string (open one, do nothing/anything, close it, open a second one), if the second connection opens a transaction, it will crash whe

[2015-03-24 23:08] Emill commented on #554
See
https://msdn.microsoft.com/en-us/library/system.data.common.dbparameter.size(v=vs.110).aspx

"The maximum size, in bytes, of the data within the column. The default
value is inferred from the parameter value."

As I see it, assigning -1 is definitely out of range.

Would it be better to swallow it and use the full length instead (I
actually changed byte[] to do that...)?

2015-03-24 23:42 GMT+

[2015-03-24 23:16] oldsaltycrab commented on #554
Is -1 supposed to mean unlimited in this case?  The NpgSql release we use in Production (2.2.5) doesn't have this problem, curious what would have changed to cause this.

I was going to try your suggestion locally but didn't understand the code enough to know all the repercussions.  I'll give that a shot for now.

[2015-03-24 23:25] Emill commented on #554
Try to change it to this. That will ignore a negative size parameter
and take the full size.

return parameter == null || parameter.Size <= 0 || parameter.Size >=
asString.Length
              ? Encoding.UTF8.GetByteCount(asString)
              : Encoding.UTF8.GetByteCount(asString.ToCharArray(), 0,
parameter.Size);

2015-03-25 0:16 GMT+01:00 oldsaltycrab <notifications@github.com>:

[2015-03-24 23:54] oldsaltycrab commented on #554
Thanks @Emill, that worked.

I also changed it in two other spots: ```TextHandler::PrepareWrite```

```_charLen = parameter == null ||parameter.Size <= 0 || parameter.Size >= _str.Length ? _str.Length : parameter.Size;```

and in ```NpgsqlBuffer::WriteStringSimple```:
```WritePosition += TextEncoding.GetBytes(s, 0, len <= 0 ? s.Length : len, _buf, WritePosition);```

[2015-03-25 07:53] roji commented on #554
IMHO our goal in this kind of edge case is to follow the SqlClient behavior, i.e. if it accepts negative values so should we. I'm not on my regular machine at the moment, can anyone run a test with SqlClient and confirm what happens?

[2015-03-25 09:01] roji commented on #555
Thanks for reporting this, it's great to have people actually testing v3.0.

I've identified where this comes from and will push a fix very soon.

[2015-03-25 09:11] deha commented on #553
Yes all operations are in transaction, are hidden in the CreateCommand extension.

[2015-03-25 09:43] #555 closed

[2015-03-25 09:44] roji commented on #555
@oldsaltycrab, I've pushed the fix. Please let me know if there's any issue.

Any further testing and feedback is really appreciated, v3 should be relatively stable at this point.

[2015-03-25 19:37] roji commented on #554
I tested and SqlClient indeed allows -1 (meaning entire length, like 0). Curiously other negative values cause an ArgumentException. Modifying Npgsql to behave the same way.

[2015-03-25 19:47] #554 closed

[2015-03-26 08:30] roji commented on #368
Am closing for now, if someone requests GetXmlReader() we'll look at it again.

[2015-03-26 08:30] #368 closed

[2015-03-26 09:46] #551 closed

[2015-03-26 09:47] roji commented on #551
Fixed in master.

In the meantime, since you're on v2.0, I suggest a workaround such as an additional bool column... Hopefully a beta of v3.0 isn't too far off now.

[2015-03-26 13:47] main-- opened #556 "Large inserts are really slow"
I'm using the latest (2.2.5) nuget package and I initially noticed this when inserting large (in the order of kilobytes) strings into the database: Npgsql is significantly (minutes vs seconds in my test) slower than MySQL.

But maybe PostgreSQL just doesn't handle huge strings in tables well, so I had a look at the large object store. I basically used the example from the wiki (instead of reading

[2015-03-26 15:15] roji commented on #556
Thanks for reporting this. Performance was one of the main reasons behind the rewrite we're currently doing for the next major version v3 (although what you're reporting is pretty extreme).

If it's not much trouble, could you try to compile Npgsql from our master branch and try the same performance test? If you run into any issues building let me know.

It would also be helpful to know exactly wh

[2015-03-26 17:09] CezarCretu commented on #556
Although this is probably a different scenario, it does fit the topic and I'm not sure that with the release of 3.0 nearing this is relevant any more, but I've run into severe performance issues when inserting large strings via ```NpgsqlCopySerializer```. The problem stemmed from the inefficient way escaping was performed, [spamming IndexOf](https://github.com/npgsql/npgsql/blob/85736b0fd364f04a76

[2015-03-26 17:12] main-- commented on #556
I just ran the large object test again on the current `master` and performance is pretty much the same:

[code]

Code:

[code]

[2015-03-27 00:11] oldsaltycrab opened #557 "-infinity no longer supported?"
At a relatively recent revision (4e728f1061e41e25e86089e2499452eac46de465), selecting a ```datetime``` column from a table which has a ```-infinity``` value throws an exception: ```Can't convert infinite timestamp values to DateTime```.

It's a very explicit exception, checking that the ```NpgsqlDateTime``` is finite, making me think that the support for ```-infinity``` is gone?  Did the +/- infin

[2015-03-27 07:45] roji commented on #557
@oldsaltycrab, I made this change very recently in e0ef04f7a423ae9346f41980a63713d45941cda6.

Yes, PostgreSQL timestamps infinity values used to be cast to DateTime.{Max,Min}Value, which is 9999-12-31 11:59:59. This is problematic because PostgreSQL timestamps can hold much larger values than that. Trying to cast a non-infinity timestamp which was bigger than DateTime.MaxValue resulted in an Inval

[2015-03-27 07:59] roji commented on #556
@main--, running your code on my machine against localhost gives me:

[code]

Which seems right... I'm not sure what could cause a 30-second delay like the one you're experiencing, but I don't think it's related to Npgsql. You're not going through any sort of connection pool (e.g. pgbouncer)?

[2015-03-27 08:00] roji commented on #556
@main--, running your code on my machine against localhost gives me:

[code]

Which seems right... I'm not sure what could cause a 30-second delay like the one you're experiencing, but I don't think it's related to Npgsql. You're not going through any sort of connection pool (e.g. pgbouncer)?

[2015-03-27 08:08] roji commented on #556
@CezarCretu, I've totally rewritten the COPY implementation for v3 precisely because of issues like the one you mentioned. The new implementation uses the binary COPY protocol format, which means there is no longer any kind of escaping going on. So in v3 importing and exporting should pretty much be as fast as possible.

You're welcome to give it a spin, I'd be very interested to know what your ex

[2015-03-27 09:03] CezarCretu commented on #556
I have tried the binary copy in v3 and from the few tests I did I've noticed that while performance was similar on string-heavy workloads with the modified text copy I posted above, in more favorable conditions (many rows containing only numbers and dates) there was a relatively large performance improvement (as much as 50% faster). So yeah, I'd say that the binary copy with v3 is definitely the w

[2015-03-27 10:52] #279 closed

[2015-03-27 10:53] roji commented on #279
@ChenHuajun, note that I've added the possibility to log the connector ID as you requested. Note that this isn't the same as the connection id (connectors are physical connections which are recycled by the connection pool). A connection ID is also useful, I'll try to implement at some point,

[2015-03-27 10:56] roji commented on #556
Thanks for the feedback @CezarCretu, that's definitely good news!

Note that you also have the possibility for text import/export, although in that case you're entirely responsible for proper formatting/encoding/escaping, Npgsql simply streams the text data to and from the server. So we're not dropping text COPY support either.

[2015-03-27 11:29] mikkeljohnsen commented on #279
CSC: error CS2001: Source file `Logging/NoOpLoggingProvider.cs' could not be found

The file is called "NoopLoggingProvider.cs" no capital "O", fails on UNIX

[2015-03-27 11:39] roji commented on #279
Fixed

[2015-03-27 13:14] buybackoff opened #558 "Entity framework migrations with Guid"
I am getting an error: function uuid_generate_v4() doesn't exist with Npgsql migrations (related to [this](https://github.com/DavidKarlas/Npgsql2/commit/9ff75aa5a132d8b9551476d4ed98e698d554390c), but cannot make it work with the latest NuGet package). When I downloaded the source, I couldn't build EF tests projects out of the box. Also I noticed that migrations tests are kind of small. So my quest

[2015-03-27 13:26] franciscojunior commented on #558
You have to install uuid extension in postgresql. It contains the
definition of this function.

As superuser permissions are required in order to install it, we omit the
automatic extension  installation as not every npgsql user would be able to
install it anyway. As long as you install it, it should work.

I hope it helps.
Em 27/03/2015 10:14, "Victor Baybekov" <notifications@github.com> escreveu

[2015-03-27 13:30] buybackoff commented on #558
I did run `CREATE EXTENSION '"uuid-ossp";` under root from pgAdmin. The returned message indicated success and I could call `SELECT uuid_generate_v4();` from pgAdmin, but not migrations from EF.
I am quite new to Postgres, what I am doing wrong?

[2015-03-27 16:23] jmwright commented on #242
Is there an example anywhere of how to use Hstore?

[2015-03-27 16:39] main-- commented on #556
Thanks a lot for your help. I previously ran these experiments in a VM, but on my host machine, the issue is gone. So it looks like this was just some VirtualBox quirk. Sorry for wasting your time.

[2015-03-27 16:39] #556 closed

[2015-03-27 17:24] Emill commented on #242
Hi. It is mapped as a Dictionary<string, string> so as long as you have configured the server for hstore support (see Postgresql docs), it should work out of the box work with the latest master branch.

[2015-03-27 17:52] franciscojunior commented on #558
Hi, @buybackoff .
Which error are you getting now after installing the extension?

Please, let's continue this discussion in our users group as it seems this question is about Npgsql usage and not Npgsql development itself.
Url of users groups is the following: https://groups.google.com/forum/#!forum/npgsql-help

Thanks in advance.

[2015-03-27 18:59] oldsaltycrab commented on #557
Is there a way to use NpgsqlDateTime for my timestamp columns without modifying the Npgsql code?  It looks like TimeStampHandler returns a DateTime by default.

I agree with what you're saying, it seems silly to chop off an infinite date at some arbitrary value because the type can't handle it.  It will have a big impact on existing data though.  I think personally, we would either try to have our

[2015-03-27 20:40] jmwright commented on #242
Thanks for the reply.

I keep getting an unexpected end of string error when I try the following.

The following dictionary is filled with key/value pairs.
[code]

[code]

PostgresDAL.CreateConnection is just the following.
[code]
Here's the exception I get.
[code]
Any thoughts on what I'm doing wrong?

[2015-03-28 05:50] buybackoff commented on #558
The same error about uuid_generate_v4 function that doesn't exist as if I didn't do anything. This question is about this software and the first part was specifically about its state of migration support and referred one of its projects that doesn't build out of the box. The issue is that Npgsql either doesn't work out of the box or is not documented enough. I would know how to use an ADO.NET conn

[2015-03-28 06:28] roji commented on #557
TimeStampHandler is a "TypeHandlerWithPsv", meaning it has its default, .NET CLR value (DateTime) but also a type-specific value, which you can get with [GetProviderSpecificValue](https://msdn.microsoft.com/en-us/library/system.data.common.dbdatareader.getproviderspecificvalue(v=vs.110).aspx), and which will return an NpgsqlDateTime instance. You can then decide to convert infinity values to DateT

[2015-03-28 06:29] roji commented on #556
Ah OK, no worries. I've also lost a lot of time in the past on performance issues that turned out to be VM-related... Let us know if you run in to any other trouble.

[2015-03-28 06:33] roji commented on #242
@jmwright, what version of Npgsql are you using?

[2015-03-28 12:04] jmwright commented on #242
@roji - 2.2.5 from NuGet

[2015-03-28 12:46] mikkeljohnsen opened #559 "Unsupported IsolationLevel: Unspecified"
I just started to use/test Npgsql 3.0 and is now using DbConnection (instead of IDbConnection). But I get this error when using Transactions:
------
Unsupported IsolationLevel: Unspecified
  at Npgsql.NpgsqlConnection.BeginTransaction (IsolationLevel level) [0x0006b] in /home/mkj/rpm/BUILD/npgsql-master/src/Npgsql/NpgsqlConnection.cs:579
  at Npgsql.NpgsqlConnection.BeginDbTransaction (IsolationLe

[2015-03-28 13:42] roji commented on #242
@jmwright in 2.2 we only support hstore as a text value, not as a dictionary of strings. So it's your responsibility to construct a valid hstore string from whatever data you have, and to parse the results.

In v3.0 (our master branch), our next major version, hstore is supported as a dictionary of string key-value pairs, like @Emill mentioned above. However, that version isn't stable yet, so for

[2015-03-28 13:52] roji commented on #559
Thanks for testing this and reporting. This is probably because of a change I made in v3.0 which is stricter testing transaction isolation levels. However, who exactly is passing IsolationLevel.Unspecified in your code? NpgsqlConnection's BeginTransaction() method uses ReadCommitted, so I'm assuming someone else in your code is responsible for creating transactions, and is explicitly doing so with

[2015-03-28 14:01] roji commented on #559
Never mind, I see the problem, will fix.

[2015-03-28 14:01] mikkeljohnsen commented on #559
The code is ex:

				using (IDbConnection conn = cm.CreateConnection ())
				{
					conn.Open ();

					using (IDbTransaction t = conn.BeginTransaction ())
					{
                                               ............
						t.Commit ();
					}
				}

But this is the Old way, and "cm.CreateConnection ()" is now returning a "DbConnection" and Not a "IDbConnection" as before.

The problem is now

[2015-03-28 14:03] roji commented on #559
Don't worry, my change bad. I'll be pushing a fix pretty soon.

[2015-03-28 14:12] #559 closed

[2015-03-28 14:12] roji commented on #559
Thanks again for reporting, let me know if everything is OK now.

[2015-03-28 14:16] mikkeljohnsen commented on #559
That worked thanks.

[2015-03-28 14:21] mikkeljohnsen opened #560 "Add option for returning timestamptz as local DateTime"
I have a problem with "infinity" and "-infinity" it throws an error:

I have made this patch:

<pre>
diff -Nur npgsql-master/src/Npgsql/NpgsqlTypes/NpgsqlDate.cs npgsql-master.orig/src/Npgsql/NpgsqlTypes/NpgsqlDate.cs
--- npgsql-master/src/Npgsql/NpgsqlTypes/NpgsqlDate.cs	2015-03-27 11:49:59.000000000 +0100
+++ npgsql-master.orig/src/Npgsql/NpgsqlTypes/NpgsqlDate.cs	2015-03-28 12:45:14.514781018 +

[2015-03-28 14:24] mikkeljohnsen commented on #560
I guess the error is, that now DateTime is cast to UTC on the client, but my database is converting to Europe/Copenhagen. But still it should work....

[2015-03-28 14:29] mikkeljohnsen commented on #560
Sorry, the date is written correctly to the DB, but all my "DateTime.MinValue" becomes:

"0001-01-01 00:00:00+00:50:20"

[2015-03-28 15:01] franciscojunior commented on #558
I see.

Which error are you getting when you try to build and run Npgsql EF tests? Note that you need to connect to postgresql when running the tests using an account which allows you to create a database, because Npgsql will create the EF tests database. I think that's may be the cause of your problem.

Regarding the uuid extension, it is strange that you are able to run in pgAdmin and it isn't a

[2015-03-28 15:15] franciscojunior commented on #557
I'm also no expert, so here is my $.02...

As a user of Npgsql, I would expect DateTime.MaxValue be a special value which would be mapped to an special value in the database and vice-versa.

On the other side, if the database has a value bigger than 9999-12-31, but it isn't the database special value infinity, I would expect that this value can't be expressed in DateTime and would then throw an ex

[2015-03-28 15:20] roji commented on #560
@mikkeljohnsen, the infinity problem is the same as the one reported in #557 (also see related issue #551, for dates). Please see that issue for the continued discussion.

Regarding the time shift, can you explain a bit more, preferably with a code sample? What exact type and value do you have in the database, and how exactly are you fetching it?

[2015-03-28 15:30] roji commented on #557
See same problem reported in #560.

@franciscojunior, what you say may make sense, I'm simply not sure. As a user I don't really have the same expectation, for DateTime.MaxValue to be a special database value. The way I (originally!) read the specs, PostgreSQL's infinity is a value that's larger than all other PostgreSQL *timestamps*;  the .NET DateTime's inability to represent values above 9999 i

[2015-03-28 15:37] mikkeljohnsen commented on #557
Yes, I think that what @franciscojunior said sound right (I know in all logic it don't make sense) but all programs/db using "-/+infinity" will break if this compromise is not made.

[2015-03-28 15:44] mikkeljohnsen commented on #560
I see from #551 that timestamptz is returned in UTC now. Before it was returned in the client (or maybe the server) timezone ?

Will this be the final decision, because I have a lot of changes to make then ?

[2015-03-28 15:52] mikkeljohnsen commented on #560
Then again I would think that the logic would be that the DateTime should be in the TimeZone that the client is connection with, is that not possible ?

[2015-03-28 15:53] jmwright commented on #242
OK, thanks. I'll switch to using a string.

[2015-03-28 16:02] roji commented on #560
Ah, that's interesting... We're currently [having a discussion](https://groups.google.com/forum/#!msg/npgsql-help/JfSL9d2bWp0/Z-5U2mLLKKcJ) with a user complaining about the previous (2.2) behavior, i.e. requesting that timestamptz be returned as a UTC.

There aren't really any final decisions, it's very hard to decide on the "right" behavior on this complicated subject :) See a very lengthy discu

[2015-03-28 16:23] mikkeljohnsen commented on #560
Yes it is complicated, I have had so much frustration over this. I have a database in Denmark with a danish customer and also a English customer, the server timezone is danish and the danish database is Europe/Copenhagen and the English is Europe/London. Now the headache is that I have one WebService connecting to both databases. I have made a lot of converting between timezones.

So on one hand I

[2015-03-28 16:30] Emill commented on #557
I'm not really sure on this one, but I think it would be strange that
0001-01-01 00:00:00 would be mapped to -inf and 9999-12-31 23:59:59 would
be mapped to +inf, since they are real representable dates.
If people really want to use -inf and +inf, they could use NpgsqlDateTime
that supports that...
On the other hand, it might be easier for users if -inf and +inf actually
were mapped to DateTime.Mi

[2015-03-28 16:37] mikkeljohnsen commented on #557
@Emill The problem with using NpgsqlDateTime is that then you can't abstract database, I use "DbConnection" so it could be either a "NpgsqlConnection" or "SqlConnection", so it is not so simple to just use NpgsqlDateTime.

But you are right that "0001-01-01 00:00:00" and "9999-12-31 23:59:59" should not be -inf and +inf, only the PostgreSQL "-infinity" and "infinity" should be mapped.

[2015-03-28 16:42] Emill commented on #557
But if you want to "abstract" the database to make it compatible with other
providers, you shouldn't use -inf and +inf (as well as values outside the
DateTime range), right? I mean, as far as I know, neither Sql Server nor
MySQL supports those "special" values.

2015-03-28 17:38 GMT+01:00 MIkkel Kruse Johnsen <notifications@github.com>:

[2015-03-28 17:12] mikkeljohnsen commented on #557
I wrote "But you are right that "0001-01-01 00:00:00" and "9999-12-31 23:59:59" should not be -inf and +inf, only the PostgreSQL "-infinity" and "infinity" should be mapped." That is not possible, I guess they need to be mapped to "-infinity" and "infinity" on Write to database, but if they are written like that they would automatically become Min/MaxValue in DateTime.

You are right about abstrac

[2015-03-28 18:06] mikkeljohnsen commented on #560
The problem with not converting back to Local is that the DateTime can't be round tripped. If I save one value it will be converted to UTC, but when I read it, it will not be converted back to Local

[2015-03-28 18:07] mikkeljohnsen commented on #560
Maybe we could make some Connection String value like "ZoneTimeKind=[UTC | Local]" ?

[2015-03-28 18:24] Emill commented on #560
That is actually I good idea I think with a connection string option that
declares DateTimeKind for timestamptz when reading from the database.
timestamptz can't be round tripped no matter how you do it, since the
server internally stores the value in UTC with no time zone information
(which is not what you think when you read the name "timestamp with time
zone"..)

2015-03-28 19:07 GMT+01:00 MIkk

[2015-03-29 07:15] roji commented on #557
For me this is a discussion mostly about breakage and backwards compatibility. If we didn't have an existing user base I'd definitely be against mapping infinity values to DateTime.{Max,Min}Value - I actually think most of us agree on this.

However... @Emill, you're right that if you want to abstract the database you shouldn't be using infinity values. The problem is that Npgsql 2.2 does that for

[2015-03-29 07:29] roji commented on #560
@mikkeljohnsen and @Emill, I don't know why switching to Kind=Local prevents roundtripping timestamptz; when writing a DateTime with Kind=Local, we convert to UTC and send that (this is already the behavior). When reading, we would convert the UTC to the machine's time zone and return  a DateTime with Kind=Local. In other words, we don't roundtrip the timezone (not possible), but as long as the re

[2015-03-29 08:56] mikkeljohnsen commented on #557
For me it would be a too big of a break, if there where no mapping to Min/MaxValue and I would have to patch the Npgsql code myself.

The problem with DateTime is that it can't be NULL and therefore I need a NULL value, which is Min/MaxValue. So I do "if (dt > DateTime.MinValue)" a lot of places in my code and that would all break. It's ok to break API that you will notice on compile, but this I w

[2015-03-29 09:03] mikkeljohnsen commented on #560
@roji I dont' see the reading being converted back to the machines timezone. That is what I would like it to do. I will test again.

[2015-03-29 09:34] mikkeljohnsen commented on #560
@roji I have just testet and the DateTime is in Kind=Utc. I wrote out the date and Kind with "Console.WriteLine" and it returned:

29-03-2015 10:00:00
Utc

[2015-03-29 09:47] mikkeljohnsen commented on #560
And also "DateTime.{Max,Min}Value are converted to UTC and should be converted to "infinity" and "-infinity". Should I try to make a patch, or do you prefer to change it yourself ?

[2015-03-29 10:24] mikkeljohnsen opened #561 "Not running async"
I can't get Npgsql 3.0 to run async. I have compiled the "Release-net45" and I have this code. (on Linux, Mono 3.12.1)

<pre>
Console.WriteLine ("Update Begin");
UpdateAsync ();
Console.WriteLine ("Update End");
</pre>

<pre>
		async void UpdateAsync ()
		{
					using (DbConnection conn = cm.CreateConnection ())
					{
						await conn.OpenAsync ();
						if (Disposed) return;

						Console.Write

[2015-03-29 10:25] roji commented on #557
@mikkeljohnsen, aren't you supposed to be using a nullable PostgreSQL column for you time stamp, and to check for null with DataReader.IsColumnNull()? That would seem to be the right way to deal with your situation.

But I understand if things are already coded in this way. Another way to deal with this in your code (assuming we decide not to map infinity to max/min value), instead of patching Npg

[2015-03-29 10:37] mikkeljohnsen commented on #557
@roji Maybe, but then I also have to make queries like "SELECT * FROM test WHERE date IS NULL OR date < '2015-01-01'" now I can just do "SELECT * FROM test WHERE date < '2015-01-01'" Since date is always a value "-infinity".

[2015-03-29 13:53] mikkeljohnsen commented on #561
I just added a WriteLine to this:

<pre>
#if NET45
        protected async override Task<DbDataReader> ExecuteDbDataReaderAsync(CommandBehavior behavior, CancellationToken cancellationToken)
        {
            cancellationToken.ThrowIfCancellationRequested();
            cancellationToken.Register(Cancel);
            try
            {
                Console.WriteLine ("ExecuteDbDataReaderAsyn

[2015-03-29 15:06] mikkeljohnsen commented on #561
Was an error in Mono

https://bugzilla.xamarin.com/show_bug.cgi?id=28522

[2015-03-29 15:06] #561 closed

[2015-03-29 16:33] mikkeljohnsen opened #562 "Exception Handling of Cancellation"
I have made the following patch to handle some extra exceptions. I don't understand the code so this is mostly a guess.

In the Dispose of "NpgsqlConnector.cs" a message i read and I would get:

<pre>
Object reference not set to an instance of an object
  at Npgsql.NpgsqlConnector+NotificationBlock.Dispose () [0x0003f] in /home/mkj/rpm/SOURCES/npgsql-master/src/Npgsql/NpgsqlConnector.cs:1192
  at

[2015-03-29 16:44] Emill commented on #562
Hej. Is this happening both on mono and .NET or only on mono? That code
cannot be commented out since it is important for notifications / notices.

[2015-03-29 17:58] mikkeljohnsen commented on #562
I don't use .Net, so I can't test that.

I know the Dispose part can't be committed and the other part of NpgsqlConnector.cs I'm not sure about.

The changes in NpgsqlDataReader.cs I would think is correct.

[2015-03-29 18:56] roji commented on #561
Good catch @mikkeljohnsen, note that the mono team also accepts pull requests at http://www.github.com/mono/mono, this is a bit better than a patch submit.

But much more importantly, v3 isn't yet ready for async. I spent a lot of time rewriting it for async, but the actual last steps of making sure it's async all the way haven't been done yet. I'm half-intentionally putting that off for now and w

[2015-03-29 19:01] roji commented on #562
I'll let @Emill respond on the notification/notice commenting.

However, regarding the throwing of TaskCanceledException which you've added, can you explain what led you to it? The async methods (e.g. ExecuteNonQueryAsync) already throw TaskCanceledException for cancellations, and it seems your change throws them for sync methods as well. I'm not sure that totally makes sense, since with the sync

[2015-03-29 19:13] Emill commented on #562
It would be nice if you could provide some example code that reproduces
that NullReferenceException.

[2015-03-29 19:17] roji commented on #560
@mikkeljohnsen, I think there was some confusion. The current behavior is that when a timestamptz value is requested as a DateTime, a UTC DateTime is returned. This is what your test shows. We're now discussing is about modifying it to return a local DateTime instead, but this hasn't been done yet.

Regarding your example with psql... What you're seeing is PostgreSQL converting the timestamptz to

[2015-03-29 19:27] Emill commented on #560
My proposal is to return a timestamptz as kind UTC but through a connection
string option make it possible to return it as kind Local instead. Then
everybody should be happy :)
Den 29 mar 2015 21:17 skrev "Shay Rojansky" <notifications@github.com>:

[2015-03-29 19:29] roji commented on #557
@mikkeljohnsen I understand what you're saying. If we do decide to keep the current behavior (throw exception when retrieving infinity values as DateTime), you'd have two options:
* Migrate your data by converting all negative infinity values to DateTime.MinValue. This would allow you to keep your code as is. This is clean but may be scary depending on your scenario (basically it's running `UPDATE

[2015-03-29 19:30] roji commented on #560
@Emill, why do you think it's important to return it as UTC in the first place? Where do you see a problem with always returning a local DateTime?

[2015-03-29 19:31] Emill commented on #557
... or we add a connection string option to keep the old behaviour.

2015-03-29 21:29 GMT+02:00 Shay Rojansky <notifications@github.com>:

[2015-03-29 19:35] roji commented on #557
Yeah, in this case that actually makes more sense to me...

[2015-03-29 19:39] Emill commented on #560
In my head the timestamptz is just a data type for storing a UTC timestamp.
That's the only reason. So I'd expect as a user to be able to insert a UTC
timestamp and get back a UTC timestamp.

To insert such a timestamp, DateTime.UtcNow should be used and it sounds
strange that we should convert it to local time when returning it to the
user. (Well of course DateTime.Now also works since it has the

[2015-03-29 19:48] roji commented on #560
I think there's a big difference between returning a date in the *server's* timezone (which makes no sense to me either) and returning a date in the *client's* timezone - so it's not accurate to say that postgresql does the same thing.

OK let's give this a day or two as well :) Maybe a parameter isn't such a bad idea...

[2015-03-29 20:12] franciscojunior commented on #560
I agree with picking the current 2.2 behavior.

As we've seen in other discussions, some want utc and other want local
timezone. Taking that in consideration I think we should document this
behavior so people know what to expect when playing with datetime. I also
wouldn't discard the possibility of using a connection string parameter as
@emill said. Although I don't have any issues with connection

[2015-03-29 22:17] #474 closed

[2015-03-29 22:20] roji commented on #270
@Emill, don't forget we still need to find a solution for SemaphoreSlim which is only available in .NET 4.5

[2015-03-29 22:23] roji commented on #330
AFAIK all exception-related issues are solved. There's still special thread-abort exception handling in the connection pool, we'll look at this in 3.1 when the rest of the connection pool will take place.

[2015-03-29 22:23] #330 closed

[2015-03-29 22:36] roji commented on #491
Another thought on this...

It's pretty easy to clean up idle connectors in the pool, but what should be done about connectors that are allocated to connections? There are two cases:
* Connectors that are actually in use when the shutdown event occurs (i.e. state=fetching,executing). It seems pretty clear we can't do much with these - we can't send a TERMINATE so the only option is to violently cl

[2015-03-29 22:54] jbcooley commented on #491
I agree. Anything managed by the user is the users responsibility to clean
up properly.
On Mar 29, 2015 5:36 PM, "Shay Rojansky" <notifications@github.com> wrote:

[2015-03-30 01:32] roji commented on #491
OK great, I'll implement this in the coming days.

[2015-03-30 04:16] YQuaresma commented on #479
Hi @kenjiuno,
I am trying to use VS2013 EDM using EF6.0 and Npgsql 2.2.5/2.2.4.3 with no success. The only way I can make it work is using EF5.0. I followed your article and I am still not getting any progress.

Thanks.

[2015-03-30 08:05] mikkeljohnsen commented on #561
I have made this pull request:

https://github.com/mono/mono/pull/1667

[2015-03-30 09:21] #491 closed

[2015-03-30 11:19] ManickaP opened #563 "The output byte buffer is too small to contain the encoded data"
I have a stored function accepting several input arrays of varchar, 2 of the strings may be up to 4000 characters and arrays contains from 100 - 1000 items and I'm getting this exception:

System.ArgumentException: The output byte buffer is too small to contain the encoded data, encoding 'Unicode (UTF-8)' fallback 'System.Text.EncoderExceptionFallback'.
Parameter name: bytes
   at System.Text.Enco

[2015-03-30 12:00] roji commented on #563
Thanks for reporting this @ManickaP, it's definitely a bug that shouldn't happen. Can you please post a repro for this so I can fix it?

[2015-03-30 12:39] kenjiuno commented on #479
Hi @YQuaresma

If you have only one option EF5.0 at EDM wizard, it seems that your project doesn't have assembly reference to EFv6.

You'll need to install `EntityFramework` (ver 6.x) from NuGet package manager.

[2015-03-30 12:48] ManickaP commented on #563
Don't known how to attach source file :(
Anyway, here's repro for C# code:

using System;
using System.Data;
using NpgsqlTypes;

namespace Npgsql
{
    class Program
    {
        static void Main(string[] args)
        {
            var x = new[]
            {
                "30.03.2015 13:41:19.678  Transfer     {___________________________} [011;011]-00000001_1CABF2DF  DispatchMessageRunner(10

[2015-03-30 13:55] kenjiuno commented on #479
Ok, I have written a trouble shooting guide. I hope it might help you.

https://github.com/kenjiuno/Npgsql/wiki/EDM-wizard-trouble-shooting-(Npgsql)

[2015-03-30 14:06] YQuaresma commented on #479
Hi @kenjiuno
Thanks for your reply. I decided to start from scratch and I removed all EntityFramework, npgsql libraries from my project, restarted the machine, followed your HOWTO even adding and checking the changes that on App.config and machine.config. I decided to build the solution before try to add tables in my EDM and it enabled the EF6 option. I really don't know if it was the clean up or

[2015-03-30 19:31] franciscojunior commented on #558
Hi, @buybackoff !

Are you creating the database from scratch? If so, you may be hitting this "select * from    uuid_generate_v4();" because you have to run the `create extension` in the database before the extension is available to you. If Npgsql is creating the database for you, according to this post answer (http://stackoverflow.com/a/11584751) you will need to  run the create extension in the

[2015-03-30 20:43] main-- opened #564 "Generating wrong SQL for JoinInto+GroupBy+Count"
I noticed this in a pretty large query (its query plan spans three screens), but managed to break it down to this example:

[code]

Obviously `Count1` should be equal to `Count2`, right?
But it's not:

[code]

In fact, `Count1` will always count the number of tuples within the surrounding group (by `foo.Name`) while `Count2` counts the associated `bars`, as I expect.

A look at the generated SQL c

[2015-03-30 21:26] roji commented on #563
Reproduced, this is definitely a (serious) bug, thanks for reporting.

[2015-03-30 23:09] roji commented on #563
@ManickaP, I've pushed a fix for this bug. Thanks again, this was a serious one.

Can you please test and let me know it's OK for you now?

[2015-03-30 23:11] roji commented on #560
OK, I guess let's keep the current behavior as default (UTC) and add a connection parameter for returning local instead... I'll do this...

[2015-03-30 23:31] Emill commented on #564
Hi. Could you clarify how the generated SQL confirms this?

I tried to generate slightly the same query with the context described in https://github.com/npgsql/npgsql/blob/master/test/Npgsql.EntityFramework.Tests/EntityFrameworkBasicTests.cs:

    from foo in context.Blogs
    join bar in context.Posts
    on foo.BlogId equals bar.BlogId into bars
    group new { Count1 = bars.Count(), Count2 = ba

[2015-03-31 08:13] ManickaP commented on #563
Retested, it works, thanks.

[2015-03-31 08:13] #563 closed

[2015-03-31 12:23] maxbundchen opened #565 "Can't create databases when a context is active"
In version 2.2.5 of Npgsql and Npgsql.EntityFramework, when a Entity Framework context is in use the PogstreSQL trows an error when a new database is being created: "ERROR: 55006: source database "template1" is being accessed by other users".

The versions of Npgsql 2.2.4.3 and older don't have this problem. The Entity Frameworks version 6.0.0 to 6.1.3 also don't have this problem with any older v

[2015-03-31 13:18] franciscojunior commented on #565
Hi, Max!

I think this is happening because we changed the database EF is using to
make some operations like database creation to template1 in 2.2.5. We used
postgres database before but we had reports of servers which didn't have
postgres database and was getting errors.

Would you mind open a bug report about that? I think we will need to check
why this connection isn't being closed.

Thanks for

[2015-03-31 13:48] roji commented on #565
Yes, as @franciscojunior says this seems to be a result of #511: we used to connect to the "postgres" database for database creation, but Redshift, heroku and old PostgreSQL versions don't have that database.

I can reproduce this easily when there is an unrelated connection to template1 *in addition* to the one being used to create a database. Is this happening (intentionally or not) in your appl

[2015-03-31 14:00] roji commented on #565
One more slightly unrelated thought...

When we currently create a database in EF, the template is implicitly template1. We should consider simply switching to template0 as our template (`CREATE DATABASE <name> TEMPLATE template0`). According to [the docs](http://www.postgresql.org/docs/9.0/static/sql-createdatabase.html):

It seems more correct for EF to start out with a clean database rather tha

[2015-03-31 14:22] maxbundchen commented on #565
So in Postgre you can't create a new database if there's a opened session to template1 (the same rule works if you open a session to template0 and another one try to create this database).

In my project, we have a master database and dynamic children databases. So we make some queries in the master database and create a new child database if required.

This problem looks like a big issue in share

[2015-03-31 14:33] main-- commented on #564
Indeed, the issue persists even in MS SQL mdf databases.

I'll file an issue against EntityFramework once their [issue creation](http://entityframework.codeplex.com/WorkItem/Create) is re-enabled. Thanks for your help.

[2015-03-31 14:33] #564 closed

[2015-03-31 15:50] Emill commented on #565
Let's make it configurable as pgAdmin does it. Add a connection string
parameter with the name. Then we are not restricted.

2015-03-31 16:22 GMT+02:00 Max André Bündchen <notifications@github.com>:

[2015-03-31 15:56] roji commented on #565
@maxbundchen, PG doesn't seem to allow connections to template0, it seems to be there only as a blank template for database creation.

@Emill, yeah, we can add a connection string parameter. But there also seems to be an issue with the connection to template1 (or whatever) not being closed... Maybe it's simply being pooled? If so it may make sense to disable pooling for database creation...

[2015-03-31 15:59] roji opened #566 "Allow user to specify template database in EF"
As discussed in #565:

When we currently create a database in EF, the template is implicitly template1. We should consider simply switching to template0 as our template (`CREATE DATABASE <name> TEMPLATE template0`). According to [the docs](http://www.postgresql.org/docs/9.0/static/sql-createdatabase.html):

It seems more correct for EF to start out with a clean database rather than one which may a

[2015-03-31 16:01] Emill commented on #565
I noticed that the entity framework tests also always take very long time
to set up. I think that is because during the database creation everything
is blocked until some pooled connection has timed out or something.

2015-03-31 17:56 GMT+02:00 Shay Rojansky <notifications@github.com>:

[2015-03-31 16:03] Emill commented on #566
Not sure about that. There should be a reason that template1 is the default
template database. Users inserting stuff to template1 should know what
they're doing.

2015-03-31 17:59 GMT+02:00 Shay Rojansky <notifications@github.com>:

[2015-03-31 16:14] roji commented on #566
I don't know, it seems that a fresh EF database shouldn't contain extra things, and the important point is that the user (currently) has no control over the template used when creating the database.

It may make more sense to add this as a configurable parameter rather than making template0 the default.

[2015-03-31 16:42] franciscojunior commented on #565
I think the problem really is connection pooling.
@maxbundchen , are you able to compile Npgsql? If so, would you mind to check if the following change would fix you problem?

In the `UsingPostgresDBConnection` method, just change it to:
[code]

Note, I only added the line which sets the pooling to false in the connection builder used to open the connection. I think this will fix your problem.

Pl

[2015-03-31 17:06] franciscojunior commented on #565
This is what I got when running EF tests...

With current code (where pooling = true), when I run the `CreateBloggingContext` test I get:
[code]
After the test is finished, I still got the template1 database listed as being used, as expected because of the pool.

With the pooling = false, I got:

[code]

No template1 in use.

[2015-03-31 18:21] maxbundchen commented on #565
@franciscojunior with the current source code of Npgsql I got this error in the first attempt to connect to a database using a simple ExecuteScalar(), so I could not check if your change solved the original problem at this point. I will try to deal with this new exception to see if everthing is ok.

System.NullReferenceException
   em Npgsql.NpgsqlCommand.CreateMessagesNonPrepared(CommandBehavior

[2015-03-31 18:45] roji commented on #565
@maxbundchen, I'd be very interested in fixing this error. Any way you can send some code that reproduces it? If not at least the exact commit you're working on so I know what the line numbers refer to?

[2015-03-31 19:11] maxbundchen commented on #565
@roji I got the master branch and compile it directly withint my project using Debug-net45EF6 (only Npgsql and Npgsql.EntityFramework assemblies).

The problem apparently is that the _connector is not initialized at "parseMessage = _connector.ParseMessage;". Hop this could help you.

            // My code that generated the exception at ExecuteScalar()
            using (var conn = new NpgsqlConn

[2015-03-31 19:23] maxbundchen commented on #566
@roji, what do you think about the Database.SetInitializer(null)? In that case I think Npgsql.EntityFramework should not even try to connect to server or any template as it currently does in version 2.2.5. At least it could be a performance improvement.

[2015-03-31 21:18] franciscojunior commented on #565
Hi, @roji !

I could reproduce the problem in our test suite. The issue seems that @maxbundchen is creating the NpgsqlCommand object **before** opening the connection.

This simple tests shows the problem:
[code]

I hope it helps.

[2015-03-31 21:37] franciscojunior commented on #565
This is the patch I used to fix this problem:

[code]

But I don't know if it is a good idea to keep checking the connector whenever we need to execute a query. I think the performance hurts a little bit. But I also don't know if we have space to check anywhere else.

Another option would be to listen to connection open events and get the connector when the connection is open. But I remember we ha

[2015-03-31 21:39] franciscojunior commented on #565
@maxbundchen , this is far from ideal, but could you please try exchange the lines you use to create the command and the one to open the connection? This way you can test the template1 fix.
Or you could also apply this other patch in your local build and check if everything works ok.

Thanks in advance.

[2015-03-31 21:41] franciscojunior commented on #565
Hmmmmmm, I just noticed that github terminal broke my copy paste... :( Sorry for that.

[2015-04-01 00:08] djherbis commented on #446
Any updates on this? This is a real problem. I have no way of detecting when my notifications are working or not.

[2015-04-01 01:28] maxbundchen commented on #565
@franciscojunior, both of your changes works fine! Really nice!
The bad news is that I found another possible break from previous version, but I will try to be sure before post it. For this one we are done. Thank you all for the quick responses and support!

[2015-04-01 05:30] 613038475 opened #567 "npgsql-entityframework enable-migration failed"
Version:
Npgsql 2.2.5
Npgsql.EntityFramework 2.2.5
EntityFramework 6.1.3

Error:
Unable to determine the provider name for provider factory of type 'Npgsql.NpgsqlFactory'. Make sure that the ADO.NET provider is installed or registered in the application config.

App.config
http://pastebin.com/mgtBNj7T
Web.config
http://pastebin.com/WJfTN8Mv

I'm sure Npgsql.dll and Npgsql.EntityFramework.dll is ex

[2015-04-01 05:53] 613038475 commented on #567
resolved, default project should set to the project contains web.config

[2015-04-01 05:53] #567 closed

[2015-04-01 09:01] roji commented on #446
Sorry for not answering sooner. I assume you're both talking about unexpected server/network crashes, and not cases where the server is shut down cleanly, can you confirm?

If so, this is a basic networking problem, out-of-the-box TCP doesn't do any sort of keepalives ([this article by Steven Cleary](http://blog.stephencleary.com/2009/05/detection-of-half-open-dropped.html) is pretty informative).

[2015-04-01 09:24] buybackoff commented on #558
[Here is](https://github.com/buybackoff/Ractor.CLR/tree/master/tests/Ractor.Persistence.Tests.Postgres) the test project that fails with a clean install of Postgres 9.4 on Windows 8.1 (with the uuid extension created via pgAdmin). The same tests work with MySQL.

I am creating the database from scratch. The main point of my referenced project is to be able to update or recreate schema very easily

[2015-04-01 11:12] roji commented on #565
@franciscojunior, @maxbundchen, I just pushed a fix (and a surprisingly big refactor) around this problem. @franciscojunior, thanks for finding it out and proposing a fix! I ended up doing something similar to what you proposed, I don't think an extra check when executing is a performance problem (anything that isn't actual networking, copying arbitrary amounts of data, etc. should be OK).

The pa

[2015-04-01 11:13] roji commented on #565
One note - I only fixed the "assign closed connection to command" bug in master, not in 2.2.

[2015-04-01 11:52] roji commented on #446
Additional comment: searching and asking around, it seems that TCP keepalive might not be reliable/supported enough to base a real solution on. In other words, we may need to do something like SELECT 1.

[2015-04-01 12:52] djherbis commented on #446
My case involves TCP connections being reaped (possibly for inactivity), I don't control the server I'm connecting to. Since the server didn't crash, new queries using a new connection succeed, however the notifications just wait forever on the dead connection.

[2015-04-01 13:54] roji commented on #471
I've just pushed some (extremely) partial work on .NET Core support. Several problematic parts of Npgsql have been disabled with `#if DNXCORE50`, there are still quite a few serious missing things I'm not sure what to do about.

It may be a bit early to be doing this, I'm not sure.

@rowanmiller, in case you or anyone on your team is interested in this.

[2015-04-01 14:02] main-- commented on #564
EntityFramework issue created: https://entityframework.codeplex.com/workitem/2725

[2015-04-01 18:34] roji commented on #527
FYI, functional testsuites AsNoTracking and BuiltInDataTypes pass.

[2015-04-01 23:16] rowanmiller commented on #471
@roji I'll get you contact details for someone you can bug with "How do I do this on CoreCLR?" questions.

[2015-04-01 23:18] rowanmiller commented on #471
BTW CoreCLR support isn't super important at this stage from my perspective. We are most interested in folks having Postgresql available for Mac/Linux development and CoreCLR isn't really available there yet (so targeting 4.5.1 and using Mono is what we are most interested in).

[2015-04-02 07:08] sponnet commented on #527
Nice work Shay!

On Wed, Apr 1, 2015 at 8:34 PM, Shay Rojansky <notifications@github.com>
wrote:

[2015-04-02 07:43] roji commented on #471
@rowanmiller no problem, it's more of a side-project for me at the moment, out of curiosity. I can get you guys a list of blocking and non-blocking issues/problems I ran into while trying to compile Npgsql.

[2015-04-02 13:37] franciscojunior commented on #565
Excellent, @roji !

About the connection pool in the template1 database usage patch, do you think it is ok to commit to master branch? If so, I can commit it to both master and 2.2 branch.

[2015-04-02 14:19] franciscojunior commented on #565
@roji , I think we got a regression in the Bug1010788UpdateRowSource test. The symptoms are the same: _connector is null. :( Here is the stack trace:

[code]

I'm trying to check what is going on. If I find anything I'll let you know.

[2015-04-02 15:06] rowanmiller commented on #471
@roji a list sounds good, then I can get answers/recommendations for you.

[2015-04-02 15:12] franciscojunior commented on #491
Hi, @roji !

Regarding this DomainUnload and Process.Exit handlers, I noticed that at least on Mono, you have to give some time for the event handlers to run, or else, you won't get the connections cleanly closed.

I made some tests on Mono and the connectors were just cleanly closed if I add a `Thread.Sleep(3)` before calling the `ConnectorPoolMgr.ClearAllPools()`. It is strange that if I add the

[2015-04-02 16:19] roji commented on #491
Thanks for testing this on mono @franciscojunior! That's a pretty strange situation, I tested this on ms.net and it seemed OK without any sleep.

But if 3 milliseconds of sleep solve the issue for mono I don't see why not, go ahead and commit it (maybe add a commit explaining it because it's very strange)...

[2015-04-02 16:46] roji commented on #471
Here you go @rowanmiller. I know about http://packagesearch.azurewebsites.net/, the below was stuff I couldn't deal with in an obvious way. The non-blocking stuff is simply commented out at the moment and doesn't harm core Npgsql functionality.

### Blocking
* Stream.Close, Socket.Close
* System.Timers.{Timer,ElapsedEventArgs}
* Type.{IsEnum,IsInstanceOfType,IsGenericType,GetCustomAttributes,Invok

[2015-04-02 19:46] franciscojunior commented on #491
Done. I added an explanation pointing to this issue as well.

[2015-04-02 21:37] franciscojunior commented on #558
In the case of uuid support, you need superuser privileges in order to run it. When @DavidKarlas were adding uuid support, we talked about that and decided that this would be handled by the developer.

The template1 database is available by default in the postgresql server. You can connect to it just like you connect to any other database. You should be able to connect to it through pgadmin sql.

[2015-04-03 12:53] tkren opened #569 "NpgsqlDataReader.GetByte always throws InvalidCastException"
In Npgsql 2.2.5, every call to `NpgsqlDataReader.GetByte(Int32 i)` ends up in `InvalidCastException` (`Specified cast is not valid`). An example is the following program:

[code]

The SQL statement received by Postgres is `SELECT ((127)::int2)`, so `b` is of type `Int16`, which is the smallest possible integer type in PG.  So this gives an expected limitation.  The question is whether `GetByte` co

[2015-04-03 14:22] roji commented on #569
@tkren, in our next major version, v3, .NET byte is already mapped to PostgreSQL `smallint` - exactly what you proposed. We updated v2.2 mostly with bugfixes now, rather than new features, so you'll have to be patient or try out v3...