[2020-08-18 07:54] #3112 closed

[2020-08-18 08:18] roji commented on #3113
@XzMitsui please submit a runnable code sample so we understand what you're trying to do.

[2020-08-18 08:33] roji commented on #2437
If I'm understanding correctly, plumbing the cancellation token into NpgsqlReadBuffer.Ensure would (for now) only be for the purposes of replication cancellation, right? Regular command execution would continue as today, wiring up the cancellation token to trigger a PostgreSQL server cancellation instead?

@YohDeadfall I'm not sure about saving the token as state variable (on NpgsqlReadBuffer?)...

[2020-08-18 08:35] XzMitsui commented on #3113
@roji Later, I tested and connected to many database servers and found that the problem should be on that server. Because the password is incorrect when I connect to other databases, the login fails. Please tell me, is there any configuration file on the client or server that can be set to log in regardless of the correctness of the password?

[2020-08-18 08:45] YohDeadfall commented on #2437
Async enumerators is a good example of storing the passed token as a part of a state machine.

[2020-08-18 09:09] XzMitsui commented on #3113
@roji @YohDeadfall Okay, I found the instructions in the pg_hba.conf file on the Internet. It seems that the settings here can ignore password login. This is amazing, some databases don’t seem to have this feature.Thank you both for your reply :)

[2020-08-18 09:09] #3113 closed

[2020-08-18 15:34] roji commented on #2437
@YohDeadfall the point with async enumerators is that the same cancellation token applies to the entire enumeration (or enumerator). When you do ExecuteReader, the cancellation token is only valid for that call - once it completes it isn't valid (other async calls on the returned reader accept other tokens).

[2020-08-18 18:02] #1922 closed

[2020-08-18 18:20] Brar commented on #2437
I'd prefer to stick with the common `CancellationToken cancellationToken = default` method argument.
It is pretty much standard across .NET and as a simple-minded person I hate global state.

Not necessarily. It depends, whether we already agree on the way forward.

[2020-08-18 23:46] Zaid-Ajaj opened #3115 "Unable to detect parameter nullability when using DeriveParameters"
### Description

Using the function `NpgsqlCommandBuilder.DeriveParameters`, I am unable to detect which parameters are nullable and which aren't. I am extending my [SQL static code analyzer in F#](https://github.com/Zaid-Ajaj/Npgsql.FSharp.Analyzer) for which I was hoping to implement proper parameter nullability detection

### Steps to reproduce

I have already setup a [project to reproduce the

[2020-08-19 02:04] Nessitro commented on #1445
I also got the "The provider did not return a ProviderManifestToken string" but usually nothing shows

[2020-08-19 12:10] YohDeadfall commented on #3115
It's a limitation of the PostgreSQL. When `DeriveParameters` is invoked the driver sends to messages to the server: `Parse` and `Describe`. As the result the driver gets `ParseComplete` followed by `ParameterDescription`. The last one contains type identifiers only as you can see in [the documentation](https://www.postgresql.org/docs/current/protocol-message-formats.html), so there is no way for u

[2020-08-19 12:10] #3115 closed

[2020-08-19 12:50] Zaid-Ajaj commented on #3115
Hi @YohDeadfall, huge thanks for taking a look at this issue, really appreciate it :pray: It is a pity that we cannot know the nullability of parameters 😞 but it is good to know the the problem is in postgres itself. I think I will try to write a SQL parser and combine that information with definitions of schemas in the database.

I already use `NpgsqlDataReader.GetColumnSchema` and it works great

[2020-08-19 13:17] Brar commented on #3115
This is probably waaaays more work than you would anticipate.

Anyways, if you succeed with this, please let me know.

[2020-08-19 13:23] Zaid-Ajaj commented on #3115
@Brar I know I might have sounded too casual about the problem. It will be a huge amount of work but again, I don't need to cover the entire language such as creating functions or altering tables. For my use-case I need to parse queries only so I will start with simple queries and expand the parser as I go :smile:

[2020-08-19 18:51] vonzshik commented on #1567
Hello, @roji, is anyone working on this one?

[2020-08-19 20:19] Brar commented on #1830
It turns out that this issue notoriously drops off the list when I prioritize my work (pretty much a legacy API, a lot of work, rarely requested), so I've unassigned myself.

[2020-08-20 12:06] roji commented on #1567
@vonzshik nope - although I think @Brar is doing some timeout-related work in his logical replication branch, so this may not be the perfect time (@Brar can you confirm?).

Otherwise feel free to work on this, but it may be a good idea to discuss exactly what we want to do before starting  implementation, and to consider the discussion in #2437 (this issue actually seems to be a dup of that one).

[2020-08-20 12:07] roji commented on #1830
Sure thing @Brar, I really don't think there's a lot of value in implementing this.

[2020-08-20 12:31] roji commented on #3115
@Zaid-Ajaj I'd just like to second @Brar's statement above... Attempting to write a full parser for the PostgreSQL dialect of SQL seems like a huge project just in order to find out parameter nullability. I'd really carefully consider this before diving into it...

Note that I don't think it's possible to infer parameter nullability solely by looking at the SQL. For example, don't you need to know

[2020-08-20 12:33] YohDeadfall commented on #3115
@roji, there is some progress on it actually and all information how to get data about nullability already in hands of @Zaid-Ajaj (: Check the linked issue.

[2020-08-20 14:45] vonzshik commented on #1567
So, as an example:
1. We have 30 seconds as a ` CommandTimeout`
2. 5 seconds before client timeout, we contact PG to cancel query
3. If we are successful, we should throw a timeout exception (without breaking connection)
4. On closing connection, it returns to the pool to be reused
5. If we are not successful with cancellation within 5 seconds, we should get a timeout exception from socket (cancel

[2020-08-20 14:55] roji commented on #1567
@vonzshik yes, that more or less corresponds to what I had in mind. Some open questions:

Should we contact PG to cancel query after 25 seconds (as you suggest), or after 30? I think after 30 is better, with the Command Timeout setting being a *lower* bound rather than an upper bound. It would be surprising (and probably more ncorrect) if the user specifies 30 seconds, but their query gets cancell

[2020-08-20 16:07] Brar commented on #1567
I consider timeouts and cancellation as related but not identical concepts.
While timeouts are probably the most common reason to trigger cancellation, it might also happen as a reaction to a GUI event (e. g. a user clicking a button to abort a long running query).
So to me #2437 is a more general thing about cancellation whereas this is more about timeouts that cause a cancellation.
While the act

[2020-08-26 10:06] fishcodelib opened #3116 "Reader type-related methods not working with AllResultTypesAreUnknown"
I think the result is not correct in this test case "https://github.com/npgsql/npgsql/tree/dev/test/Npgsql.Tests/ReaderTests.cs"

[code]

The original issue link:
https://github.com/npgsql/npgsql/issues/794

Npgsql version: 3.x~5.x
PostgreSQL version: All
Operating system: Win10

[2020-08-26 10:22] YohDeadfall commented on #3116
From the documentation:

https://github.com/npgsql/npgsql/blob/6740134173fe7281f9b03c715eee8a4b6cea454d/src/Npgsql/NpgsqlCommand.cs#L241-L246

Therefore, the runtime type should be `string`, but the PostgreSQL type is `integer`.

Closing the issue since all works as expected. If you have further questions don't hesitate to ask them.

[2020-08-26 10:22] #3116 closed

[2020-08-27 20:23] pikausp commented on #2834
Before this is implemented, building on top of the solution provided here https://github.com/npgsql/npgsql/issues/1721#issuecomment-606956448, I believe it's desirable to check the CN on the certificate matches the target host. The full snippet I'm currently using for completeness

[code]

I can successfully connect to my AWS RDS instance, but in order for the certificate to be verified successful

[2020-08-29 10:55] Bouke commented on #3018
@roji the problem is that there isn’t an extension point in Asp.Net which I can use to set a logger before Glimpse triggers the code in the factory. This static design of the driver’s logging infrastructure is blocking me from adopting it.

[2020-08-29 16:02] romanov-is-here opened #3117 "Preparing a statement with an error may cause "prepared statement "_p1" does not exist""
### The issue

Preparing a statement with an error may leave `PreparedStatementManager` in a wrong state which can cause `PostgresException : 26000: prepared statement "_p1" does not exist`.

### Steps to reproduce

[code]

### Further technical details

Npgsql version: 4.1.4
PostgreSQL version: 12.3
Operating system: Windows 10

Other details about my project setup:

[2020-08-29 17:14] roji commented on #3018
@Bouke how so? ASP.NET applications have a Main method just like any other program, where you can set up your logging.

Npgsql is an ADO.NET provider, and as such has no knowledge or interaction of dependency injection.

[2020-08-30 19:30] roji commented on #2834
Npgsql intentionally doesn't do anything special with certificates - it's just built on top of the standard .NET SslStream, and allows the user to provide the relevant callbacks. What you describe above doesn't sound like a security issue - in order to be able to validate a remote certificate, you must provide the root CA certificate etc. (or have it installed on your machine).

[2020-08-30 22:42] pikausp commented on #2834
@roji I didn't mean to say the current behavior is a security issue. I just wanted to ask whether the snippet I posted can be considered secure/proper verification of the received certificate.

[2020-08-31 13:34] mm3141 commented on #3106
I can still reproduce this for 28f11d51c79b169bf9c63f64b59ecf92b16f3d15 using the code above. Difference between that code and the added test is the number of iterations of the `for` loop (10 vs. 100)

[2020-08-31 21:07] roji commented on #3106
Confirmed, thanks for reporting. I'll look at this again.

[2020-08-31 22:08] roji commented on #2842
Note: this is being reverted (see discussion in https://github.com/dotnet/runtime/issues/509).

[2020-08-31 22:31] roji opened #3120 "Annotate for nullability matching System.Data"
Most nullability annotations for System.Data are present in .NET SDK 5.0.0-preview8, so we can now properly match them in Npgsql.

[2020-09-01 19:55] #3120 closed

[2020-09-02 06:19] vonzshik commented on #2913
Hello @YohDeadfall, I've managed to identify the issue. It's kind of similar to the one I've described here #2964.

There are 2 requirements:
1. When executing `Reader`, use `CommandBehavior.CloseConnection`.
2. Use queries with multiple statement (not really a requirement, but it make it easier).

So, it follows like this:
1. First query fails with error from PG, so connection is not broken.
http

[2020-09-03 08:55] lixfelix123 commented on #1506
For VB 2017
Just go to Your vb installer and repair
enjoy...

[2020-09-03 12:46] willdean commented on #2439
Is a fix for the mixed BCL +  Nodatime scenario going to make it into 5.0?

[2020-09-03 12:49] YohDeadfall commented on #2439
Unfortunately, I don't have enough time to a very large work on the type handling system, but we could think about allowing the plugin to handle BCL types. What do you think, @roji?

[2020-09-03 15:18] Bouke commented on #3018
The stack trace I included shows how Asp.Net, Glimpse and NpgsqlLogManager interact. Glimpse has hooked onto the IIS pipeline and is executed way before my "Main" method (`Application_Start`) is called. Glimpse does this so it can replace all configured factories with a proxied variant. The act of wrapping the factory is by calling `System.Data.Common.DbProviderFactories.GetFactory(...)` which in

[2020-09-04 07:46] davidroth commented on #2439
@YohDeadfall Would "handling BCL Types in the plugin" be much less effort to implement and could theoretically be implemented in the 5.0 timeframe?

Since the current limitation requires users[ to implement dirty workarounds](https://github.com/npgsql/efcore.pg/issues/747#issuecomment-582892403) and also has [notable performance impact](https://github.com/npgsql/efcore.pg/issues/747#issuecomment-5

[2020-09-04 07:49] YohDeadfall commented on #2439
It would and probably should be done for now.

[2020-09-04 08:15] roji commented on #2439
Putting BCL date/time support into the Nodatime plugin is one possible way to (temporarily) deal with this, it may be possible to build cleaner support into the core instead (especially now that we know that @YohDeadfall's type handler redo is pushed out out of 5.0). Although I'd much rather do this cleanly, I do have a pretty huge amount of work at the moment.

@davidroth are you interested in su

[2020-09-04 11:36] davidroth commented on #2439
@roji  Sure, you can expect a pull request for this. I already have a prototype running. Looks promising so far ^^

[2020-09-04 16:09] #3068 closed

[2020-09-05 15:45] davidroth commented on #2439
MR created: https://github.com/npgsql/npgsql/pull/3124

[2020-09-06 09:01] roji opened #3125 "Implement proper error handling for Unprepare"
As for Prepare

[2020-09-06 10:06] vonzshik commented on #1567
@roji ping, in case you have some time to continue discussion. Or maybe I should take a look at some other issues (for example, #2282, #1810) for now?

[2020-09-06 10:06] roji commented on #1567
Am just writing a response here :)

[2020-09-06 10:31] roji commented on #1567
Sorry for disappearing for a while, had to deal with some personal issues. Although this issue is about timeouts, I'll try to summarize things as I see them for both timeouts and cancellation, as they're somewhat related.

User-triggered cancellation seems to be the simpler case (this is tracked by #2437).

* Both DbCommand.Cancel (sync) and the cancellation token (async) trigger PostgreSQL server

[2020-09-06 13:42] Brar commented on #1567
Agreed.

Agreed.
Also if somebody really uses very heavy queries that should definitely stop after some time, even in case of a network partition, there's nothing stopping them from issuing a `SET statement_timeout TO 123;` before the actual query.

Yes absolutely. My replication work will build on top of (async) cancellation so it would be good for my work to even do the cancellation part first.

[2020-09-06 15:52] roji commented on #2913
@vonzshik thanks for looking into this! That's very helpful.

[2020-09-06 16:05] roji commented on #1567
That's a very good point, and another argument why we don't need to do this in the driver. I've added it to the analysis above.

[2020-09-06 16:08] roji commented on #1567
@vonzshik let's see what @YohDeadfall thinks, but I think we have a good consensus - unless something new comes from @YohDeadfall I think you can start implementation. You don't have to do both the timeout and cancellation in the same PR (in fact it's always better to split things to smaller chunks for easier reviewing).

[2020-09-06 16:11] YohDeadfall commented on #1567
Am okay with everything said by @roji and @Brar. There is no third opinion.

[2020-09-06 16:12] roji commented on #2437
See overall discussion on cancellation and timeout: https://github.com/npgsql/npgsql/issues/1567#issuecomment-687751049

[2020-09-06 16:13] roji commented on #2437
It is pretty much standard across .NET and as a simple-minded person I hate global state.

I also agree with this because I'm also a simple-minded person :smile:

[2020-09-06 16:14] YohDeadfall commented on #2437
FYI, already supported the idea in the new type handlers which hope will publish soon.

[2020-09-07 12:51] Konstantin73lat opened #3127 "Using NpgSql in VS2019 in OLAP projects"
Hello!
I try to use Npgsql PostgreSQL Integration (vsix) in VisualStudio 2019 "Analysis Services Multidimentional project".
I added Npgsql.vsix (v. 4.1.3.1) in the VS via "Extentions Manager".
I can browse Postrgesql tables and see a data in VS2019 Server Explorer.
I can add a PostgreSQL datasource and add a table to datasource view from a PostgreSQL database.
Then I see a message:
Error 42601: Sy

[2020-09-07 21:39] roji commented on #3127
The square bracket points towards some configuration issue with SQL Server (where quotes use square brackets instead of double quotes).

As a general rule, the Visual Studio support for non-SQL Server database is limited, mainly because the VS data API (DDEX) is extremely old and was not designed for other databases. You should be able to achieve everything you need with Npgsql directly, without a

[2020-09-08 09:50] roji opened #3128 "Make VSIX build again"

[2020-09-08 10:01] roji commented on #2439
Reopening and putting this on the backlog, as #3124 doesn't actually fix the underlying problem.

[2020-09-08 10:04] roji opened #3129 "Make MSI build again"

[2020-09-08 14:59] narayan2018 commented on #2081
@roji
Could you please help with code calling postgres stored procedure from c#. I have used Ngsql library, it worked for function call but not for stored procedure call.

My stored procedure return ref cursor as output.

[2020-09-08 15:05] vonzshik opened #3132 "Make an exception for a timeout of a sync query the same way as for an async one"
Per request from #3130

Right now, if `ReadBuffer` fails with a timeout for a sync query, we get `NpgsqlException` with an inner exception as `IOException` with another inner exception as `SocketException`. And after that, you have to check `SocketErrorCode` of `SocketException` on a correct code (and don't forget about bug in `Mono`, where it throws `SocketException` with the wrong error).

I thi

[2020-09-08 15:09] roji commented on #3132
FWIW I wonder if the mono bug is still there, this may be a leftover from a long time ago (we don't run the tests on mono in CI)

[2020-09-08 15:10] roji commented on #2081
@narayan2018 please open a new issue with a code sample and the stored procedure definition.

[2020-09-08 15:21] vonzshik commented on #3132
So you're saying we might have a bug with the timeouts for sync queries

[2020-09-08 16:16] roji commented on #1810
A new PR is out for this, based on @FlorianRainer's excellent previous work - this should make it for the upcoming 5.0 release.

[2020-09-08 16:23] roji commented on #1520
For everyone following this issue, @Brar is now in the advanced stages of a PR for this, I'm confident that 5.0 will include great support for logical replication. Thanks for all your patience around this.

[2020-09-08 17:24] narayan2018 commented on #2081
@roji Thank you quick response.

your above suggestion **CALL proc(...), CommandType.StoredProcedure doesn't really do anything special.** solved my issue.

[2020-09-09 09:54] oktayari opened #3134 "full text search variable config performance issue"
Hi,
When I use reg-config "string" config parameter as static it works fine and fast
if I set a variable for config parameter , it works but too slow

the ef .net core linq query is;

slow;
var config = "tr";
                var tsquery = await _context.Paragraphs.Where(x =>
                EF.Functions.ToTsVector(config, x.ContentText)
                .Matches(EF.Functions.PlainToTsQuery(config,

[2020-09-09 09:57] YohDeadfall commented on #3134
You have already opened the same issue in the EF repo. Please don't maker duplicates and read the template text describing how to and where open issues.

[2020-09-09 09:57] #3134 closed

[2020-09-09 11:24] roji opened #3135 "Check the status of the mono timeout exception"
We currently have a [small hack](https://github.com/npgsql/npgsql/blob/801638e30cdcea7e38cdc3df5701d8a171bd3bce/src/Npgsql/NpgsqlReadBuffer.cs#L204) for identifying (synchronous) timeout exceptions, since mono used to set SocketError.WouldBlock instead of SocketError.TimedOut (see #1330). It's been a while, we should test and see if the situation has changed.

[2020-09-09 11:24] roji commented on #3132
Yeah, although it would affect only a pretty narrow scenario (timeout during synchronous NpgsqlConnection.Wait), opened #3135 to track.

This is making me think of this: https://github.com/npgsql/npgsql/issues/1330#issuecomment-254722930 :rofl:

[2020-09-09 12:15] #3117 closed

[2020-09-09 12:23] oktayari commented on #3134
I could not be sure to set the issue in EF Repo or npgsql repo ..

[2020-09-09 16:06] vonzshik commented on #3132
It seems, it's still [there](https://github.com/mono/mono/issues/17198) and wouldn't be fixed.

[2020-09-10 23:29] sehcheese commented on #933
From @roji's comment above:

@roji So if I call `await connection.OpenAsync()` and then `connection.State != ConnectionState.Open`, what should I do? Call `await connection.OpenAsync()` again? I guess our code is responsible for the retry policy and implementation?

[2020-09-11 18:34] rastreus opened #3138 "HA Primary/Secondary ConnectionString"
I am needing to create a connectionString using a Postgres uri with the following format:

```postgresql://user:pass@host:port,user:pass@host:port,user:pass@host:port/dbname?connect_timeout=5&target_session_attrs=read-write&sslmode=disable```

I am under the impression that there is no way to use that uri through Npgsql.

After looking into open issues and pull requests, it looks like @mintsoft ha

[2020-09-11 18:48] roji commented on #933
@sehcheese first, connection.State does not necessarily reflect the actual state of the connection - if you check it and see ConnectionState.Open, it's entirely possible that trying to execute an operation will fail. In general, we can only know that a connection is broken by executing an operation on it and that operation failing.

Even if you were to check connection.State and got ConnectionStat

[2020-09-12 07:38] roji commented on #3138
Duplicate of #732

[2020-09-12 07:39] roji commented on #3138
@rastreus the issue tracking the feature is #732, and the PR hasn't yet gotten to the point where it can be merged. But thanks for drawing my attention to this again - I'll do my best to work with @mintsoft to get this in for 5.0, although time is drawing short.

[2020-09-12 07:39] #3138 closed

[2020-09-12 07:49] vonzshik opened #3140 "Handle timeouts for NpgsqlConnector.DoWaitAsync()"
As we now have timeouts for async queries (#607), `NpgsqlConnector.DoWaitAsync()` should handle timeouts just like `NpgsqlConnector.Wait` does.

[2020-09-12 08:44] #3132 closed

[2020-09-12 15:54] indy-singh commented on #2999
I mean the driver supports logging out parameters, the same argument can be made there?

Right, this before would be opt-in and by default would no-op.

Sure, feature creep is an issue. But that applies to everything.

This would be a seam for diagnostics, specifically in the context of monitoring and observability from within the application tier.

It's especially important for us as we have grow

[2020-09-12 16:25] roji commented on #2999
It could, but logging is a universal concept implemented by almost all libraries.

Rereading the above, this hook seems like it can only be useful with the way you manage your logging. Specifically on the below:

You have an "ambient" (static) facility for getting the current request name, which is by no means a standard thing (ASP.NET does not work this way). In normal scenarios, if Npgsql calls

[2020-09-12 18:07] roji commented on #3018
OK, here's a thought... I think it makes sense to simply remove the logging from NpgsqlFactory - it is used there only for a really insignificant debug-level message. If that's removed, then just getting the DbProviderFactory would no longer instantiate a logger, and so Glimpse would no longer freeze the logging manager. Unless I'm mistaken, this would fix your problem.

Does that sound good?

[2020-09-13 10:48] krispetkov opened #3144 "Profiling in Visual Studio 2019"
Hello everyone,

I have a quick question related to the profiling/analyzing the query count and the query performance in Visual Studio 2019. When I try to use the integrated [Database tool](https://docs.microsoft.com/en-us/visualstudio/profiling/analyze-database?view=vs-2019) in Visual Studio it seems that no profiling can be done. The profiling process is running but when I terminate the executio

[2020-09-13 12:56] roji commented on #3144
Duplicate of #1893

[2020-09-13 12:58] roji commented on #3144
Unless I'm mistaken, this depends on implementing a DiagnosticSource which is what VS reads. However, it's still unclear to me whether the VS support is somehow hardcoded to SqlClient. There are also some issues with the way SqlClient implements DiagnosticSource - we may end up wanting to go another way, in which case we'd be incompatible with the VS tool (this should certainly figure in our consi

[2020-09-13 12:58] #3144 closed

[2020-09-13 13:02] KrisPetkov commented on #3144
Thank you @roji I will subscribe to the pointed issue and keep track the conversation there.

[2020-09-13 13:57] roji commented on #3132
@vonzshik that issue seems to discuss the text message in the exception, which is quite different from a bad SocketErrorCode...

In any case, the bug is still there - I've reproduced it and filed https://github.com/mono/mono/issues/20381 to track.

[2020-09-13 15:57] #3018 closed

[2020-09-13 16:32] indy-singh commented on #2999
I think it's pretty clear that this debate is going nowhere constructive. It's essentially a _no_; I get that. It's your driver, and you are protective over it, and you have to think about the broad user base. If push comes to shove we can always fork it.

Regards,
Indy

[2020-09-13 16:32] #2999 closed

[2020-09-13 18:59] roji commented on #2999
@indy-singh thanks for understanding. The main point for me is that this is useful in your very particular, specific application and the way it works. I understand why you're asking it, but as you say we have to think about the broad user base, and this feature simply wouldn't be usable in the general case because of the lack of context.

[2020-09-14 16:45] dvdvorle commented on #1785
Would love for this to be included in the next version. We're also debating migrating a very large legacy Oracle project which additionally uses a lot of DataSets, filling them up with DataAdapters. Npgsql currently doesn't seem to make it easy to inject this behavior (NpgsqlCommand is sealed), so having it built-in would be a great boon.

[2020-09-15 12:10] mphelt opened #3147 "Problem with NpgsqlLogManager.Provider assignment"
This was already mentioned in  #1505 but closed without fix.

The following code doesn't work:
`
if (!(NpgsqlLogManager.Provider is PostgresLoggingProvider provider))
    NpgsqlLogManager.Provider = new PostgresLoggingProvider();
`
with the exception of:
`The logging provider must be set before any Npgsql action is taken`
while this one does:
`NpgsqlLogManager.Provider = new PostgresLoggingProvide

[2020-09-15 20:54] mhosman commented on #2891
I have this issue. Today I tryed to migrate from .NET Core 3.x to 5.x. and when I try to apply a migration I get  "42P01: relation ... does not exist"

[2020-09-16 07:05] MedAnd commented on #1520
@roji - shame I'm no longer working with PostgreSQL 😎 but awesome for the community!

[2020-09-16 18:19] Bouke commented on #3018
That sounds excellent. Thank you!

[2020-09-17 11:40] roji commented on #2891
@mhosman this issue is specifically when createing and using the table in the same command (and also could not be reproduced). "relation does not exist" can occur in many other scenarios. As written in https://github.com/dotnet/efcore/issues/22565, can you please put together a small, clean repro with steps so we can investigate, and post on https://github.com/dotnet/efcore/issues/22565?

[2020-09-17 11:47] roji commented on #3147
Yes, this is intentional. Various components inside Npgsql read from the Provider property when statically setting up. At that point the logging configuration is "frozen" as these components will not read the property again; if the property is set after this point, the Npgsql components would no longer be aware of the change. This is why the setter throws if the getter was called.

You'll have to

[2020-09-17 11:47] #3147 closed

[2020-09-17 13:47] roji commented on #1146
@vonzshik assigning to you as you expressed an interest in this (https://github.com/npgsql/npgsql/pull/3142#issuecomment-692289051)

[2020-09-17 13:47] roji commented on #2437
@vonzshik assigning to you as you expressed an interest in this (#3142 (comment))

[2020-09-17 14:40] roji commented on #2548
Done this, rebasing all open PRs on the new main branch.

[2020-09-17 14:40] #2548 closed

[2020-09-17 15:25] Alexbogss opened #3164 "Randomly breaking connector"
**Project context**

ASP NET Core 3.1 Web Api + EF Core 3.1 + PostgreSql using NpgSql provider
Sometimes with something like high load _(up to 1k rps to db)_

**Issue**

Hi! Sometimes in "high load" period i got `Unknown message code: 0 _(sometimes other number)_` NpgSql exception (scr. 1) in different cases like controllers/background tasks/parallel queues with simple/complex queries

![image](ht

[2020-09-17 18:26] roji commented on #1130
Consider passing in the async flag parameter to ConfigureAwait. This may allow us to switch to ConfigureAwait without any code duplication.

[2020-09-17 18:29] roji commented on #1162
A bit less important now that async cancellation will be implemented.

[2020-09-17 18:30] roji commented on #1328
Ideally we do both sync and async here. It would be a nice part of the new timeout story, /cc @vonzshik in case you're interested.

[2020-09-17 18:32] roji commented on #1344
Duplicate of #3130

[2020-09-17 18:32] #1344 closed

[2020-09-17 18:35] roji commented on #1474
Obsolete for 5.0.

[2020-09-17 18:37] realityexists commented on #1344
Wow, fixed almost 4 years later! Thank you.

[2020-09-17 18:37] vonzshik commented on #1328
@roji sure, it should be easy to implement

[2020-09-17 18:50] roji commented on #2495
Probably mostly done, but review all exceptions thrown to make sure.

[2020-09-17 18:52] roji commented on #2463
Triage decision: leave the parameter as a no-op, because we may need to have it again in the future.

[2020-09-17 18:52] #2463 closed

[2020-09-17 18:58] roji commented on #2404
Rediscuss for 6.0 whether we want to do this or not.

[2020-09-17 19:03] roji commented on #2307
Highly probable that perf-wise this doesn't work - multithreading sync related to the pooling typically outweighs the perf benefits from pooling small objects.

[2020-09-17 19:06] roji commented on #2263
Less important now that the NodaTime plugin supports the BCL types (thanks @davidroth)

[2020-09-17 19:07] roji commented on #2252
At least do the investigation for 5.0.

[2020-09-17 19:17] roji commented on #2035
Assigning to @YohDeadfall who is working on similar ideas as part of the type handler redo for 6.0.

[2020-09-17 19:31] roji commented on #2009
Triage decision: obsolete all math operations, leave only types exposing raw PostgreSQL data so that people can at least serialize/deserialize.

[2020-09-17 19:36] roji commented on #1965
@YohDeadfall ping

[2020-09-17 19:48] roji commented on #2860
@vonzshik another timeout-related issue just in case you're interested :)

[2020-09-17 19:50] roji commented on #2813
@NinoFloris any chance you can take a look at this and tell us what you think?

[2020-09-17 19:58] roji commented on #2695
Triage decision: verify exactly what order libpq uses.

[2020-09-17 19:59] roji commented on #2662
@NinoFloris interested in doing this?

[2020-09-17 20:01] roji commented on #2598
@YohDeadfall: blocked by NetTopologySuite. Check for tracking issue on their side.

[2020-09-17 20:11] Brar opened #3150 "Look at the current mapping of SQLSTATEs to the new IsTransient property of PostgresException"
Per comment in https://github.com/npgsql/npgsql/pull/3148#discussion_r490132856

[2020-09-17 20:14] vonzshik commented on #2860
@roji while I don't mind taking this one, it might take a little more effort than just setting the timeout for the connection, as we're also missing it for the authentication part. But I'll do my best to get it done for the 5.0 release.

[2020-09-18 09:58] YohDeadfall commented on #2695
PostgreSQL utilities use an environment variable if the corresponding parameter from the connection string isn't set which means that the order is:

1. Password in connection string
2. Password callback
3. Password in environment variable
4. Passfile in connection string
5. Passfile in environment variable
6. Default passfile

At the same time we are not sure (me and @roji) that having the callbac

[2020-09-18 12:21] roji commented on #3058
Done as part of #3148

[2020-09-18 12:21] #3058 closed

[2020-09-18 12:27] roji commented on #2931
Done as part of the multiplexing work in 4bd4115d9605ddf12d63b927def67c8812cf74c8

[2020-09-18 12:27] #2931 closed

[2020-09-18 12:34] roji commented on #2860
No problem @vonzshik! I'll clear the assignee, if you see you're not getting around to it for 5.0, I can try to work on it too. Let's see later.

[2020-09-18 13:09] roji opened #3154 "Document the EventCounters"
Link to https://docs.microsoft.com/en-us/dotnet/core/diagnostics/event-counters

[2020-09-18 13:14] #2436 closed

[2020-09-18 13:36] #1810 closed

[2020-09-18 14:24] #1567 closed

[2020-09-18 14:44] roji commented on #3135
The error is still there, filed issue with mono: https://github.com/mono/mono/issues/20381.

[2020-09-18 14:49] roji commented on #2231
Duplicate of #1965

[2020-09-18 14:49] #2231 closed

[2020-09-18 14:51] roji commented on #1344
Better (really) late than never :rofl:

[2020-09-18 16:42] #2864 closed

[2020-09-18 17:13] mbashov commented on #2928
This bug is still present in 4.1.4 if the numeric value has valid scale, but causes overflows in `DecimalRaw.Multiply` [here](https://github.com/npgsql/npgsql/blob/v4.1.4/src/Npgsql/TypeHandlers/NumericHandlers/NumericHandler.cs#L68). For example,

[code]

This leaves `reader` and the whole `NpgsqlConnection` in an invalid state, and `reader.Dispose()` and all the following attempts to use the con

[2020-09-18 17:19] YohDeadfall opened #3156 "Reading numeric causing overflow breaks connection"
This bug is still present in 4.1.4 if the numeric value has valid scale, but causes overflows in `DecimalRaw.Multiply` [here](https://github.com/npgsql/npgsql/blob/v4.1.4/src/Npgsql/TypeHandlers/NumericHandlers/NumericHandler.cs#L68). For example,

[code]

This leaves `reader` and the whole `NpgsqlConnection` in an invalid state, and `reader.Dispose()` and all the following attempts to use the con

[2020-09-18 17:42] Brar commented on #2695
I don't really see, what's the problem with having the callback precedence between he connection string parameter and the environment variable. It is a hook that you hard-code into your program and as such should have a pretty high priority. If you start such a program you probably wouldn't want the environment to influence its behavior (and if you want to, you can do whatever you want in the code

[2020-09-18 21:51] YohDeadfall commented on #2695
#2500 was made because:

It adds some logic into the driver which actually can be done outside of it by excluding the password from the pool key (and maybe other options too).

[2020-09-18 22:11] YohDeadfall opened #3157 "Stream returned from NpgsqlReadBuffer throws EndOfStreamException"
The documentation states that read methods of the `Stream` class should not throw `EndOfStreamException`, but `ColumnStream` does this because internally it uses `NpgsqlReadBuffer.ReadAsync` which throws.

[2020-09-19 05:50] Brar commented on #2695
I personally like empty or very short connection strings, where my environment sets up most things.

[2020-09-19 10:30] YohDeadfall opened #3160 "Target netcoreapp3.1 instead of netcoreapp3.0"
Lifecycle of .NET Core 3.0 ended on March 3, so it won't receive any updates. Should we retarget our packages to 3.1?

[2020-09-19 11:05] YohDeadfall commented on #3156
Duplicate of #2621 which was fixed by @manandre for 5.0. The next major release is planned on November.

[2020-09-19 11:05] #3156 closed

[2020-09-19 12:13] YohDeadfall commented on #2598
Dependency tracked by NetTopologySuite/NetTopologySuite.IO.PostGis#13.

[2020-09-19 13:35] roji opened #3162 "Enable code quality analyzers"
* Microsoft.CodeAnalysis.NetAnalyzers - consider opting into everything as error. Specifically see discussion on CA2016 in #3158
* Other analyzers under https://github.com/dotnet/roslyn-analyzers

Decide between .editorconfig and XML ruleset config. Info page on configuration: https://docs.microsoft.com/en-us/visualstudio/code-quality/configure-fxcop-analyzers?view=vs-2019#predefined-editorconfig-

[2020-09-19 13:48] roji commented on #3160
It's true that targeting netcoreapp3.0 now generates an annoying end-of-life warning with the latest SDKs... I think it's OK to change it to netcoreapp3.1...

[2020-09-19 21:46] roji commented on #3164
@Alexbogss this could indeed indicate an issue with Npgsql, but more frequently this is a result of user code accidentally using the same NpgsqlConnection instance concurrently from multiple threads - that isn't supported.

Unfortunately there's not much I can do without some sort of code sample which reproduces it. The way forward in this kind of case, would be to try to narrow down the scenario

[2020-09-20 06:51] roji commented on #3160
Note that users can still target netcoreapp3.0 because we still target netstandard2.1 (and netstandard2.0).

[2020-09-20 07:35] Brar commented on #3162
I really want to see this happen before we release 5.0.
I find it incredibly hard, not to overlook some of the places where you are supposed to hand over a cancellation token with the current implementation.

[2020-09-20 07:35] Brar commented on #3162
Sorry

[2020-09-20 07:53] roji commented on #3162
Working on it :)

[2020-09-20 09:32] #3160 closed

[2020-09-20 09:46] Alexbogss commented on #3164
@roji Thank you for the answer!

Honestly, the main problem is that I cannot reproduce that connector behaviour in debug mode and that problem appear only for one of many clients on their prod server (it has cpu with only two 2ghz cores) with high load which i mentioned above. Сould poor performance be the cause?

I saw this statement in others issues but there is no any cases in my logs: connecti

[2020-09-20 10:04] YohDeadfall commented on #3157
Not an issue because there is a protection in the `ColumnStream`.

[2020-09-20 10:04] #3157 closed

[2020-09-20 13:12] roji commented on #2860
Note: thanks to https://github.com/dotnet/runtime/pull/40750, we can do both cancellation and timeout (via cancellation) in Socket.ConnectAsync.

[2020-09-20 13:14] vonzshik commented on #2860
Woohoo!

[2020-09-20 13:20] roji opened #3166 "Cancellation / timeout epic for 5.0"
- [x] Implement async cancellation (#2437)
- [x] Frontend timeouts for async methods (#607)
- [x] Trigger backend cancellation when a (frontend) timeout occurs (#1567)
- [x] Timeouts not fully applied when opening connections (#3227)
- [x] Throw OperationCanceledException for cancellation instead of PostgresException (#1567)
- [x] Make an exception for a timeout of a sync query the same way as for

[2020-09-20 13:20] roji commented on #2860
@vonzshik I'm adding support for this, a PR will be up shortly. I'm going to scope this issue to track specifically ConnectAsync, and have opened #3166 to track any remaining cancellation-related tasks (which you're welcome to take a look at).

[2020-09-20 13:37] vonzshik commented on #3166
Multiplexing write loop - there are places, where we're ignoring the timeout cancellation token.

[2020-09-20 13:43] roji commented on #3162
Cancellation flow rule enabled as part of #3167, will leave this open to track adding more rules.

[2020-09-20 14:09] roji commented on #3166
Good point @vonzshik. Though IMHO getting cancellation (and timeout) working for multiplexing in general is low-priority, as a new, experimental feature.

[2020-09-20 15:57] manandre commented on #3057
Issue reproduced on local dev setup.
Fixed by replacing in `TestService.cs`
[code]
by
[code]

[2020-09-20 16:07] #2756 closed

[2020-09-20 16:33] #2860 closed

[2020-09-20 19:57] Alexbogss commented on #3164
And can you please tell me how npgsql connector attach to dbContext? Could context pooling or RetryOnFailure query execution strategy help to protect business logic processes in my app?

[2020-09-20 22:16] roji commented on #3164
@Alexbogss I do believe you that your code is doing things right - this may indeed be a bug inside Npgsql. But unfortunately there's nothing I can do to investigate this issue without some sort of a repro, there's simply not enough to go on...

Assuming you're code is OK, then no - this error can only happen when protocol sync is somehow lost between Npgsql and PostgreSQL. That's either a bug or a

[2020-09-20 22:18] roji commented on #3164
Try to see if you can emulate the load conditions in some way - reproducing the exception in any way (including in Release, Debug isn't important here) is a very significant step towards fixing the bug. A reliable 100% repro isn't necessary (and likely isn't possible) - something that concurrently and continuously loops and executes the relevant workload is usually the way to go.

[2020-09-21 07:26] #3057 closed

[2020-09-21 08:52] roji commented on #3057
Ah, nothing like sync-over-async bugs...

[2020-09-21 09:21] roji commented on #1323
See discussion under https://github.com/npgsql/npgsql/pull/3163#discussion_r491720603

[2020-09-21 09:55] #2446 closed

[2020-09-21 09:59] YohDeadfall commented on #2367
Fixed by #3139. Thanks, @vonzshik!

[2020-09-21 09:59] #2367 closed

[2020-09-21 10:13] YohDeadfall commented on #2964
@vonzshik, your example shows incorrect usage of the driver because of it internals. At the same time, the scenario is correct because the user should not know internals of the driver. I think the proper fix is to stop caching `NpgsqlDataReader` because it's cheap enough to allocate a small chunk of memory.

@roji, your opinions here?

[2020-09-21 10:19] YohDeadfall commented on #1776
@rudi-bruchez, any chance to post the repro?

[2020-09-21 12:06] igorzhilin commented on #2618
I have downloaded the most recent version as of today 2020.09.21. I plan to use it in Power BI. NB: I am not a .NET programmer, just a PBI user.

Installed in GAC.

Gives error:

[2020-09-21 12:07] YohDeadfall opened #3170 "Could not load file or assembly Unsafe"
I have downloaded the most recent version as of today 2020.09.21. I plan to use it in Power BI. NB: I am not a .NET programmer, just a PBI user.

Installed in GAC.

Gives error:

_Originally posted by @igorzhilin in https://github.com/npgsql/npgsql/issues/2618#issuecomment-696071401_

[2020-09-21 12:09] YohDeadfall commented on #3170
@igorzhilin, please don't post off topic comments. If you have an issue which isn't presented in the list, open a new one.

[2020-09-21 12:24] bonesoul opened #3171 "strange now() issue"
Having a very strange now() issue going with my code that uses npgsql - and for the most part I tracked it down to npgsql.

First I've a very simple table;

[code]

note that all my time fields are timestamp (without a timezone).

---

I've a transaction which basically processes buffer table and then deletes the rows from buffer table which are older then current hour with;

`delete from buffer_s

[2020-09-21 12:47] YohDeadfall commented on #2695
There is only one issue with the password callback removal. What should happen when a new connection string specified with a different password? Should we open a new physical connection to check that the provided password is correct and later cleanup old connections in the pool? Or should we cleanup the pool from the start?

[2020-09-21 13:09] roji commented on #3171
Have not gone deeply into your code sample above, but are you aware that PostgreSQL `now()` returns a timestamptz, which then undergoes timezone conversions? If everything in your database in UTC (and I hope it is), maybe you need to use `now() AT TIME ZONE 'utc'`, which will return a timestamp (without time zone). [This doc page](https://www.postgresql.org/docs/current/functions-datetime.html#FUN

[2020-09-21 13:11] roji commented on #3170
Duplicate of ##2677

[2020-09-21 13:11] #3170 closed

[2020-09-21 13:27] bonesoul commented on #3171
Yes i'm aware of it.

I actually tried all the variants of;

[code]

And yes everything in my database is UTC and every time field I use is just vanilla timestamp.

Seems a strange conversion is ongoing.

One thing i did not try yet is setting Timezone parameter with npgsql connection string.

[2020-09-21 13:30] roji commented on #3171
Unless I'm mistaken, casting simply a timestamptz to timestamp (via `::timestamp`) is not the same as applying `AT TIME ZONE `utc`. Have you tried the latter?

[2020-09-21 13:32] roji commented on #3171
Setting Timezone in the connection string should not be necessary if you're using regular timestamp (without timezone) across the board, which is what I'd recommend. As long as you're with regular timestamp, no timezone conversions need to happen so the session's Timezone parameter isn't consulted.

[2020-09-21 13:53] bonesoul commented on #3171
I remember trying `date_trunc('hour', now() AT TIME ZONE utc)` also, so yes, but will give it another try.

[2020-09-21 14:38] vonzshik commented on #1323
Let's imagine a case, when one thread (send task) is stuck writing to the WriteBuffer, and a second thread (read task) is stuck reading from the ReadBuffer. From here, there are 2 possible ways it can go, in case of some IO problems:
a) Send task was the first to fail
b) Read task was the first to fail

In case of the send task, it's pretty simple - the connection is always broken, which leads to

[2020-09-21 15:25] roji commented on #1323
I may be missing something, but I think there are two problems here:
1. The exception seen on the read side isn't necessarily the same as the (original) one seen on the write side. For example, if cancellation is triggered, the write side sees OperationCanceledException, but as the connection is broken, the read side will now get something different because the socket isn't open (some IOException)

[2020-09-21 15:37] vonzshik commented on #1323
Nope, you're entirely correct - although, I don't know if it's possible for the send task to still send something even when the reader is already returned to the user. But if you're correct about the second one, then it's even worse than I've thought.

[2020-09-21 16:20] roji commented on #1323
Definitely, this could even be very normal... The user sends a big batched command. The writing doesn't complete synchronously because there's lots of data, so ExecuteReader returns immediately and the user starts reading.

But yeah, a wrong exception isn't the end of the world; but a reader that is just suddenly closed is really bad. I'm moving this to 5.0 so we try to fix it.

[2020-09-21 17:07] YohDeadfall commented on #2504
`jsonpath` is a version prefixed C string, so to support it we could use the same code as the `jsonb' handler has. There is no need in inventing a provider specific type since it's too complex. Better to move the idea to the .NET runtime and have the true full featured type shared across all code and projects.

[2020-09-21 18:28] roji commented on #2504
Definitely agree that we shouldn't do anything complex here beyond allowing the user to read and write strings.

[2020-09-22 07:52] fharr opened #3176 "Code First from Database generation fails"
I am trying to generate from my existing PostgreSQL Database (9.6) all the mapping and context classes, using Entity Framework 6. I am targeting the `.NET Framework 4.6.1`.

To do so, I:
* installed the `Npgsql PostgreSQL Integration` [extension](https://marketplace.visualstudio.com/items?itemName=RojanskyS.NpgsqlPostgreSQLIntegration) for Visual Studio (2019) in version `4.1.3.1`
* installed the

[2020-09-22 09:34] YohDeadfall commented on #2504
The type proposal in .NET is tracked by dotnet/runtime#31068.

[2020-09-22 13:46] Alexbogss commented on #3164
I'll try to collect more logs with issue and investigate them but at now i can't find any consistent pattern for that in my code - every case look different. Reopen if find something significant.
Anyway, thanks!

[2020-09-22 14:43] roji commented on #3164
Good luck and don't hesitate to get in touch again if you have something we can work with. As I said, I really hope we'll be able to make Npgsql more resilient/informative in the face of accidental concurrent use - that would at least help eliminate that.

[2020-09-22 17:24] loop-evgeny opened #3179 ""database ... is being accessed by other users" error trying to drop database even after disposing of the connection"
I create an NpgsqlConnection and do some stuff in a database, then try to drop that database. This fails with

[code]

This happens even if I call `NpgsqlConnection.ChangeDatabase() `to change to another database and even if I call `NpgsqlConnection.Dispose()` and open a new connection (to the "postgres" database) and try to drop my database through that.

It seems like Npgsql is still holding the

[2020-09-22 17:29] loop-evgeny commented on #3179
Confirmed that disabling connection pooling works around this, but that's not ideal

[2020-09-22 18:16] YohDeadfall commented on #3179
This is expected and by design, so closing the issue. To stop other users from accessing the database without cleaning the pool use `pg_terminate_backend` from the script.

[2020-09-22 18:16] #3179 closed

[2020-09-22 22:12] roji commented on #1344
Duplicate of #1567

[2020-09-23 02:15] vlad-wallit opened #3180 "Npgsql.NpgsqlException (0x80004005): Unknown message code: 47"
### The issue

I'm using Ef.Core + Npgsql 3.1.4.

Code example:

[code]

Randomly I see the following exception:

[code]

### Further technical details

After that further queries just hang when awaited.

How can I fix that?

Npgsql version: 3.1.4
PostgreSQL version: 11
Operating system: Docker (Ubuntu bionic) hosted in Windows

[2020-09-23 06:56] loop-evgeny commented on #3179
The design of Npgsql calls for the user being unable to drop a database nobody is using?

[2020-09-23 07:43] YohDeadfall commented on #3179
It's the design of any pooling. If you use `pg_bouncer` or any other external pool which keeps physical connections open, you will have the same behavior. The same applies even to other databases, including SQL Server.

[2020-09-23 08:04] YohDeadfall commented on #3179
If dropping a database is more important than performance, then disable `Pooling` in the connection string, but each time you open a connection the driver will open a new physical connection which isn't so fast as getting already opened connection from the pool.

Another option is connection lifetime in the pool and minimum number of non-closable connections in pool. This way you can limit how lon

[2020-09-23 08:06] loop-evgeny commented on #3179
This sounds like a side-effect, though, rather than the intended effect.

I think in this case disabling pooling is going to be my best option, but is there any reason a method can't be added that actually closes all unused pool connections to the specified DB (and ideally tells the user if any used ones are left)?

[2020-09-23 08:13] YohDeadfall commented on #3179
It exists, take a look at `NpgsqlConnection.ClearPool` which closes all idle connections in the pool.

Consider the `ChangeDatabase` method. It just closes the connection, detaches it from the pool and opens it again with the replaced value of the `Database` connection string parameter. Other connections in the pool won't be affected.

[2020-09-23 08:50] loop-evgeny commented on #3179
I was already using `ChangeDatabase()` and that didn't seem to close the connection, but `NpgsqlConnection.ClearPool` works and is exactly what I want - thank you! I must have missed it because i was looking for an instance method, but it's static.

[2020-09-23 08:54] YohDeadfall commented on #3179
`ChangeDatabase()` closes the current connection only. You may have others in the pool which won't be affected.

https://github.com/npgsql/npgsql/blob/92b88bfe9eb4cd7b1d766caf91cecfbbbbcdef20/src/Npgsql/NpgsqlConnection.cs#L1633-L1649

[2020-09-23 09:05] loop-evgeny commented on #3179
I don't - it's a database I just cloned and there are no other connections to it. I can try to create a repro for that if it seems like something worth investigating.

[2020-09-23 09:07] YohDeadfall commented on #3179
If there's an issue, then yes, please report it and provide a minimal repro.

[2020-09-23 09:31] loop-evgeny commented on #3179
Here you go:

[code]

[2020-09-23 09:32] YohDeadfall commented on #3179
Thanks! Will take a look.

[2020-09-23 10:23] YohDeadfall commented on #3179
Ah, I see your confusion. The `NpgsqlConnection` doesn't represent the actual connection, but it's representation for the user. It's a kind of virtual connection when pooling enabled (:

So `Close` you're seeing just puts a physical connection represented by `NpgsqlConnector` into the pool and detaches the command from the pool. Now it looks like a newly created `NpgsqlConnection`.

When pooling i

[2020-09-23 13:48] loop-evgeny commented on #3179
So then ChangeDatabase is *not* expected to really close the connection?

[2020-09-23 15:27] YohDeadfall commented on #3179
It closes the physical connection only if there's no pooling. Otherwise, it puts it into the pool.

[2020-09-23 15:43] vonzshik commented on #1323
You're talking about multiple result sets, right? For example "SELECT 1; SELECT 2; SELECT 3;". So, the send task might send the first and the second part of the query, but not the third one. And in this case, the data reader will return true for NextResult 2 times, and will be stuck waiting for the third one, correct?

[2020-09-23 15:55] roji commented on #1323
I think this problem can happen even with just one statement (and resultset). For example:

* Users calls ExecuteReader on a very big command, so sending can't complete synchronously (i.e. execution continues after [this line](https://github.com/npgsql/npgsql/blob/765ddeffb53e7de643a1ae03c69418cb80396fff/src/Npgsql/NpgsqlCommand.cs#L1230)
* Before the ExecuteReader thread even reaches the [NpgsqlD

[2020-09-23 16:07] vonzshik commented on #1323
It does makes sense - I was thinking in the same direction.
Although, it's only a half of the solution as the connection can be broken just moments before the data reader does some IO. And then, NullReferenceException and ObjectDisposedException are pretty much expected. So, some kind of locking mechanism, which prevents connection breaking?

[2020-09-23 16:08] loop-evgeny commented on #3179
OK, well that's consistent with what closing/disposing the connection does, I guess, which is good.

Still, I'm not the first one to run into this gotcha: https://stackoverflow.com/questions/9033356/connection-still-idle-after-close

Maybe it's worth adding something to the docs for https://www.npgsql.org/doc/api/Npgsql.NpgsqlConnection.html#Npgsql_NpgsqlConnection_Close about this? It already say

[2020-09-23 19:22] loop-evgeny opened #3182 ""The CLR enum type ... must be registered with Npgsql before usage" error after ChangeDatabase"
When passing an enum parameter to a command after calling ChangeDatabase on the connection an error is thrown, even though the enum was mapped on the connection before and exists in the new database as well.

### Steps to reproduce

[code]

### The issue
An exception is thrown the second  TestEnum is called (after ChangeDatabase).

[code]

### Further technical details

Npgsql version: 4.1.4
Postg

[2020-09-23 20:36] roji commented on #1323
It's possible that some sort of synchronization between writing and reading would be needed to fully solve this (but it's important for this not to affect perf).

However, it may be possible to solve this another way... When the connector is broken during async write, we could leave the reader fully functional state-wise (i.e. touch nothing). When the reader is next used in a way that requires I/O

[2020-09-23 20:43] roji commented on #3179
I think the Close docs are already pretty clear on this point:

It follows pretty clearly that if pooling is on, the physical connection isn't closed etc.

But I agree that ClearPool and ClearAllPools could benefit from better docs - [I've added some](https://www.npgsql.org/doc/api/Npgsql.NpgsqlConnection.html#Npgsql_NpgsqlConnection_ClearPool_Npgsql_NpgsqlConnection_).

[2020-09-24 05:30] chris1248 commented on #2050
I have this problem too.
I noticed that if I use SqlElectron version 1.30.0 that it works. It will handle my upper case column names.

[2020-09-24 07:30] #2504 closed

[2020-09-24 09:40] YohDeadfall commented on #2326
Could be done for 5.0 to improve perf a bit. Are you okay if I take it?

[2020-09-24 09:44] YohDeadfall commented on #1501
@vonzshik since you're working with timeouts, you cant take a look at this. Otherwise, I could take this a bit later since already did some SSL stuff.

[2020-09-24 10:01] vonzshik commented on #1501
@YohDeadfall sure I can take a look - but doesn't it mean, that ReadBuffer has the same problem?

[2020-09-24 10:19] YohDeadfall commented on #1501
Yes, it has. The buffer is just a wrapper around the stream.

[2020-09-24 10:56] fharr commented on #3176
Looks like the issue was due to my company VPN. When I tried the first time, I was working remotely. I try from the office, it works like a charm ...

[2020-09-24 10:56] #3176 closed

[2020-09-24 12:56] vonzshik commented on #1501
Interestingly enough, it seems to work fine for .net 5, but not for .net 4.6.1

[2020-09-24 13:00] YohDeadfall commented on #1501
Oh, very good! If it also works for .NET 3.1 we could just close this issue because .NET Framework is on the way to a graveyard.

[2020-09-24 13:14] roji commented on #2326
Sure!

FWIW I think reading huge rows is probably rare, and I'm assuming that your type handler redo will make this go away in 6.0 anyway - so I'm not sure sure it's so important to do it now. But if you feel like it, go ahead (it's very easy).

[2020-09-24 13:20] roji commented on #1501
You mean that SslStream actually works well with timeouts now? BTW I assume we're discussing sync timeouts, I wonder if async ones (via cancellation tokens) work?

Related (but the outcome of that issue isn't clear): https://github.com/dotnet/runtime/issues/22496

[2020-09-24 13:20] roji commented on #1501
I think we can just conditional-compile the check to only throw for TFMs where the timeout doesn't work (i.e. net461).

[2020-09-24 13:21] roji commented on #1501
I would also assume that it doesn't work on .NET Core 3.1 because of dotnet/runtime#22496

[2020-09-24 13:30] vonzshik commented on #1501
It actually does work - [results](https://github.com/vonzshik/npgsql/actions/runs/270646727).

[code]

[2020-09-24 13:39] roji commented on #1501
Well then... great! So I guess just conditionally-compile the check for net461?

[2020-09-24 13:39] roji commented on #1501
(Technically there's also 2.x, with 2.1 being still supported. We can check what's going on there if we want to be complete)

[2020-09-24 13:40] Brar commented on #2326
Famous last words from software developers :rofl:

[2020-09-24 13:44] vonzshik commented on #1501
Nope for async ones, as .net 4.6.1 doesn't support the cancellation on the socket level through the cancellation token.

[2020-09-24 13:44] roji commented on #2326
Note that I am not the guy who is going to implement :rofl: I can say what I want!

[2020-09-24 13:46] roji commented on #1501
Right, but maybe SslStream does support cancellation tokens in .NET 5.0, just like they improved NetworkStream to do it?

[2020-09-24 13:56] roji commented on #3180
This kind of error could be because of of accidental usage of the same NpgsqlConnection concurrently from different threads - connections (and DbContexts) are not thread-safe.

Can you provide a full code sample (e.g. runnable console app) which reproduces this?

[2020-09-24 14:04] vonzshik commented on #1501
I'm not sure how it would help. The problem is, `SslStream` (and maybe `NetworkStream`, have not checked yet) uses default implementation from Stream for async methods. And this implementation flatly ignores the cancellation token you supply ([.net 4.8](https://referencesource.microsoft.com/#mscorlib/system/io/stream.cs,417)).

[2020-09-24 14:23] roji commented on #1501
NetworkStream definitely does honor cancellation tokens (see https://github.com/dotnet/corefx/pull/36516), otherwise this whole work we're doing would have been for nothing :)

SslStream also seems to flow cancellation tokens, and so maybe honors them too (see [ReadAsync](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Net.Security/src/System/Net/Security/SslStream.cs#L811), and

[2020-09-24 14:34] roji commented on #2964
I've been wanting to look into this for a while now - will do so very soon.

[2020-09-24 14:36] vonzshik commented on #1501
@roji I'm talking about .net 4.6.1, not .net core. AFAIK, it still uses the same libraries from .net 4.6.1.

[2020-09-24 14:37] vonzshik commented on #1501
And that is why every test with the cancellation token is disabled for .net 4.6.1 - they would be stuck forever.

[2020-09-24 15:17] #2695 closed

[2020-09-24 17:38] vonzshik commented on #1501
Also, wouldn't in case of ,net standard 2.0 and 2.1 it be entirely dependent on runtime?

[2020-09-24 21:05] #2437 closed

[2020-09-24 21:14] #2834 closed

[2020-09-24 22:17] roji commented on #1501
Ah OK, I misunderstood.

For sync Wait, we've been throwing up to now if a timeout is specified but the connection is secure. I was proposing that if we keep that behavior but only for .NET 4.6.1, the test could test it (i.e. that we throw in those conditions). In other words, instead of not have the test at all for NET461, we could have a version that asserts that we throw the right exception. If

[2020-09-24 22:22] warcha commented on #2964
My apologies for not looking into this yet. I've got some really urgent things on my plate at the moment and just haven't had a chance to look into anything else, i'm hoping to be able to soon but I think it won't be for another couple of weeks.

[2020-09-25 04:32] vonzshik commented on #1501
And I've also misunderstood 😄. The only problem I see is .net standard 2.0, which can be used together with .net 4.6.1 and .net core 2.0. I suppose, there is nothing really we can do.

[2020-09-25 11:03] roji commented on #1501
I agree. We can just let it do the timeout on netstandard2.0 (i.e. not block it), and if the user is on .NET Framework it's their problem...

[2020-09-25 11:16] #2976 closed

[2020-09-25 12:16] KrisPetkov opened #3186 "Duplicate key value violates unique constraint"
Hello guys,

When I insert a new row in my table **manually** (without specifying explicitly id) the row is inserted without any problems and an id is assigned to this row (automatically incremented). After this if I call a method from my code to insert a row in the same table I'm getting the following error:

`Npgsql.PostgresException (0x80004005): 23505: duplicate key value violates unique const

[2020-09-25 12:19] YohDeadfall commented on #3186
It's hard to say what's happening without your code, so please post it.

Since the issue isn't Npgsql related, am closing it, but feel free to continue posting.

[2020-09-25 12:19] #3186 closed

[2020-09-25 13:12] KrisPetkov commented on #3186
@YohDeadfall Thank you for the quick response. I found the problem it was related to the Linq2db library. I was using an old version and it seems that this issue was resolved in the newest version.

[2020-09-25 18:14] roji opened #3187 "Break the connection when sync cancellation fails"
With our new cancellation logic, when the user triggers a cancellation token (or CommandTimeout is reached), we attempt a PG cancellation. In async, if the PG cancellation itself fails (e.g. failure to connect because of a network partition), we immediately break the (main command's) connection.

We should look into doing the same for sync cancellation. We can't trigger a cancellation token, but I

[2020-09-25 18:25] roji commented on #1146
Continuing the discussion in https://github.com/npgsql/npgsql/pull/3173#discussion_r494059288, it actually does make sense to me to have PostgresException as an inner exception on the OperationCancelledException - it would allow users to tell which kind of cancellation actually occurred. A soft, server-side cancellation would bubble up as OperationCancelledException with an inner PostgresException

[2020-09-25 19:20] vonzshik commented on #1146
It actually does make sense. Although, 4 things I don't like:
1. If the cancellation is not successful, the connection would be broken. And in this case, as a user I don't really care if the cancellation was successful or not.
2. Yes, when the cancellation token is cancelled, we will attempt to cancel the query on PG side. But it's the details of the implementation, it's not something user should

[2020-09-25 19:27] vonzshik commented on #3187
As of right now, it does seem reasonable for me. But there would be the same problem we've discussed at #1323.

[2020-09-25 20:58] mhosman opened #3188 "Collations and Case Sensitivity not working with EF 5.0"
Using:

[code]

I get:

`
Npgsql.PostgresException (0x80004005): 0A000: non-deterministic sorts are not supported for sub-string searches
`

[2020-09-25 22:00] roji commented on #3188
The PostgreSQL support for collations currently has various limitations, and PostgreSQL is telling you that what you're trying to do isn't supported. This isn't related to Entity Framework or to the Npgsql provider, but rather to PostgreSQL. I'm not sure what exact operation you're trying to do (you haven't included that in the issue).

PS Issues related specifically to EF Core on PostgreSQL shoul

[2020-09-25 22:00] #3188 closed

[2020-09-25 22:08] roji commented on #3187
You're right, this is another instance of some concurrent/unrelated thing that suddenly breaks the connector as reading is taking place. Good to note this scenario in #1323 as well.

[2020-09-26 07:58] roji commented on #1146
I assume that by "cancellation is not successful", you mean that PG cancellation timed out and we do a socket cancellation, right? If so, the point is how the user is supposed to know which of these happened. Sure - they can check the state of the connection after each OperationCanceledException (is it broken?), but it seems better to expose that information via the exception (for example, it woul

[2020-09-26 09:50] YohDeadfall commented on #3182
Not sure that we will fix in the nearest future because it requires a lot of time. Plus you are using the provider specific API which type mapping and enums are, so should be aware that it has some limitations. You already know that `ChangeDatabase` closes the connection and should know that connection level mappins works only on the opened connection. Therefore, changing the database resets regis

[2020-09-26 11:53] WrongBit opened #3189 "Where are files?"
Hi!
I installed .NET driver thru *.msi package (started from Admin). First, installer gave me NO CHOICE where to install files. It's not the thing which can sit wherever it wants! It's mistake of setup developer to skip this selection.
And second problem is... where are files?? I search a whole drive and all I found is:

    "c:\Windows\inf\.NET Data Provider for PostgreSQL (Npgsql)"

And no even

[2020-09-26 12:57] roji commented on #3189
@WrongBit please read the [installation page](http://www.npgsql.org/doc/installation.html).

What do you want to use Npgsql for? Do you want to use it in your .NET project, or install it as a provider for use with an application such as PowerBI or Excel?

If you want to use it in your .NET project, then like normal .NET packages you should reference the nuget package from your csproj - don't insta

[2020-09-26 13:29] #3140 closed

[2020-09-26 13:39] roji commented on #2404
@YohDeadfall although this issue isn't for 5.0, I think we should be clear about what we're discussing here... If this is just about an internal refactor between the mapped/unmapped type handlers - with no impact on the user - then I personally have no problem problem with anything. This is what it seems like from your [code sample above](https://github.com/npgsql/npgsql/issues/2404#issuecomment-4

[2020-09-26 13:40] roji commented on #3182
Agree with everything @YohDeadfall wrote above - I'd say this doesn't work by design.

It's true that ChangeDatabase maintains the same NpgsqlConnection instance, but connection-specific mapping (connection.TypeMapper.MapEnum) as opposed to global mapping is inherently database-specific. Also, as @YohDeadfall pointed out, there's no disadvantage in calling ChangeDatabase over simply creating a new

[2020-09-26 13:40] #3182 closed

[2020-09-26 16:59] vonzshik commented on #3166
Also, something that came to my mind:
1. Send task from NpgsqlCommand can be cancelled only while NpgsqlDataReader has not been returned to the user.
2. Same thing with NpgslCommand.Cancel.

[2020-09-27 06:43] MikeBeaton commented on #1785
The complexity of the changes needed to add this back correctly surprised me. The reason the previous support in Npgsl was so much simpler was that it just issued `FETCH ALL` (which is inappropriate for large result sets) instead of fetching in batches; the other changes I offered (e.g. improved consistency as to what patterns of cursors are dereferenced) could have fitted within that previous, mu

[2020-09-27 12:31] vonzshik commented on #1146
I'm talking about a case, when we send a sync query, and cancel it with `NpgsqlCommand.Cancel`. Essentially, we have 3 different cancellation cases:

- Sync query, cancel through `NpgsqlCommand.Cancel`.
- Async query, cancel through `NpgsqlCommand.Cancel`.
- Async query, cancel through the cancellation token.

While I'm still not sure that we should always throw an OperationCancelledException for

[2020-09-27 12:47] roji commented on #1146
I'm definitely interested in hearing other opinions on this! I think it's good for sync and async to be consistent on this, and it would allow the sync OCE to contain the same triggering inner exception as the async OCE (assuming we agree to do that). The only disadvantage I can see, is that it would be a breaking change since today a PostgresException is thrown.

Do you have other arguments again

[2020-09-27 13:11] vonzshik commented on #1146
Nope, not really.

[2020-09-27 16:42] roji commented on #1146
I guess one last thought, is that I've always disliked cancellation being represented in Npgsql by just another PG error code. After all, cancellation isn't an error - it's a user-triggered, desireable outcome, that just happens to be represented by an exception, because that's the mechanism for signalling that an operation could be completed. Just like in .NET, failed Tasks have a different state

[2020-09-27 16:46] vonzshik commented on #3187
Just checked for for .net core 3.1 - we get `IOException` with a message "A blocking operation was interrupted by a call to WSACancelBlockingCall.", and with an inner exception `SocketException` with the same message.

[2020-09-27 19:01] Brar opened #3192 "Debug.Assert failure in Npgsql.NpgsqlReadBuffer.ReadAsync()"
While doing my coding regarding the planned replication feature I ran into a `Debug.Assert` failure in `Npgsql.NpgsqlReadBuffer.ReadAsync()` precisely in [`ReadAsyncLong()`](https://github.com/npgsql/npgsql/blob/19b87e885d45d61a0652e68e04864fb9c39f8fd5/src/Npgsql/NpgsqlReadBuffer.cs#L487)

I'm pretty sure that the assertion is wrong here and should in fact mean `Debug.Assert(ReadBytesLeft == 0);`

[2020-09-27 19:11] roji commented on #3192
Weird... Yeah, everything you say makes sense to me. If ReadAsyncLong gets called, that means we shouldn't have any more bytes left to read (otherwise we should return them). But there's indeed no reason to assume we'd be at position 0...! Strange that no test triggers this.

Am definitely OK with a fix direct to main - can also backport to 4.1.5 since the bug is also there.

[2020-09-27 19:16] #3192 closed

[2020-09-27 19:56] Brar commented on #3192
Perhaps we should test situations where the data don't fit into the buffer (smaller buffers and/or more data) more regularly.
So that we'd trigger second iteration issues.

[2020-09-27 20:02] Brar commented on #3192
BTW: I see that we have [`NpgsqlReadBuffer.MinimumSize`](https://github.com/npgsql/npgsql/blob/19b87e885d45d61a0652e68e04864fb9c39f8fd5/src/Npgsql/NpgsqlReadBuffer.cs#L86).

Is the value of 4096 based on evidence or is it just an arbitrary value that we chose to be on the safe side.

I'm thinking about a test where I run the whole test suite with decreasing buffer sizes to see where and how things

[2020-09-27 21:54] WrongBit commented on #3189
@roji : I found what's the problem, but I so regret my spent time...
Point is npgsql should NOT force user to use any specific technologies, especially so clumsy like 'nuget'. Simple ZIP with all necessary libs could be OK. Also there is no any need to install to the GAC - it's strictly optional thing.

What I did is I downloaded all necessary nuget libs, unpacked their FW651 content and assembled

[2020-09-28 06:16] ch-asimakopoulos commented on #2282
Can someone provide any guidelines on how to approach this? I am using npgsql and would like to congratulate you on the great work and I would like to take a crack at this.

[2020-09-28 08:00] loop-evgeny commented on #3182
I don't know the code, obviously, but doesn't Npgsql internally keep the mapping in a format it could just copy to the new connection? Perhaps it's too hard to fix, but "by design"? It's definitely user-surprising behaviour!

[2020-09-28 08:15] vonzshik commented on #2282
Hello!

Essentially, you should start a `Stopwatch` somewhere around here:
https://github.com/npgsql/npgsql/blob/becd301adabcfafb59f6fa1323d843a6c231fb23/src/Npgsql/NpgsqlCommand.cs#L1249

And it should be stopped just before a reader is returned. And after that, you log how much time has elapsed.

[2020-09-28 08:56] roji commented on #2282
One other important thing, is to try to make this have zero perf impact, i.e. only start and stop the StopWatch if statement logging is actually enabled.

[2020-09-28 09:00] roji commented on #3189
Oh dear. nuget is the standard .NET packaging system - this is how all .NET packages get distributed, not just npgsql. I don't know what you find clumsy about it, but it's really discouraged to reference DLLs directly for many reasons (no update support, no dependency resolution, requires putting DLLs in your source control...). I'd spend some time getting a bit more familiar with nuget and why it

[2020-09-28 09:00] #3189 closed

[2020-09-28 09:14] roji opened #3193 "Mock PostgreSQL for better testing"
This would mean making Npgsql connect to a very minimal PostgreSQLmock, which we could control manually within the tests, and which would send exact messages. This would allow us to test various scenarios which we can't today, especially around concurrency/race conditions.

For example, we'd be able to simulate network breaks at precise moments, and test how Npgsql reacts to them. This isn't a tri

[2020-09-28 09:21] roji commented on #3192
@Brar it's pretty arbitrary - the point is to prevent users from doing silly things like setting the buffer to a value that's too low.

That's a good idea - I think that a single test sending/receiving some variable-length data type (e.g. bytea) with increasing lengths might do the trick.

I think we can also invest in more real unit tests for type handlers and possibly other components. This woul

[2020-09-28 11:29] roji commented on #2282
One more design question here - this feature is a bit problematic with batched commands. The implementation in #3194 stops measuring the moment the first NextResult completes - but that's only when the resultset for the *first* statement is returned, not for the entire command.

An alternative would be to stop measuring when the reader is fully consumed - this would make the duration cover the ent

[2020-09-28 11:32] YohDeadfall commented on #2282
FYI there is `ValueStopwatch` in ASP.NET Core, but it's internal. It uses `Stopwatch` static methods and do the same things, but without allocations.

[2020-09-28 11:48] roji commented on #2282
Yeah, I saw that once - always wondered why it wasn't made part of the BCL. But in any case, if we switch to measuring the entire command, this has to be heap-allocated.

[2020-09-28 12:02] roji commented on #3182
I understand that it's surprising, but when you think of ChangeDatabase as Close and Open, maybe it makes a bit more sense. And since this API doesn't provide any value over Close/Open, there seems to be little value in a mechanism to make connection-specific persist just for this (problematic) API.

[2020-09-28 14:42] vonzshik commented on #2282
Agreed.

Is it really so? So, if I send a query
"SELECT * FROM pg_sleep(10); SELECT * FROM pg_sleep(10); SELECT * FROM pg_sleep(10);"
I would wait for 10 seconds for every NextResult? I'll have to check that.

[2020-09-28 14:47] roji commented on #2282
I'm pretty sure that's the case. PostgreSQL reads and processes wire protocol message in the order in which they arrive, and a batch is nothing more than several "Parse/Bind/Describe/Execute" tuples sent one after the other, followed by a Sync. The moment PG sees the first Execute, it executes that query (hanging for 10 seconds), before continuing to process later messages.

At least that's how I

[2020-09-28 14:47] vonzshik commented on #2282
Checked - at the very least for that query, I've been waiting at `NpgsqlCommandExecuteReader` for 30 seconds, and after that every  NextResult was instant.

[2020-09-28 14:49] vonzshik commented on #2282
Also the same thing if there is something in between of pg_sleep (for example, `SELECT 1`).

[2020-09-28 14:55] roji commented on #2282
OK, thanks for checking. However, unless I'm mistaken, if the first query in the batch produces lots of data, PG blocks when sending that data to the client until the client actually consumes the results. PG should only turn to process the second query once unblocked when writing the results of the first. I wonder exactly what goes on behind the scenes for pg_sleep. Let me know if you want my help

[2020-09-28 15:00] vonzshik commented on #2282
Can confirm - in case of
`SELECT * from generate_series(1, 1000000); SELECT 1; SELECT * FROM pg_sleep(5); SELECT * FROM pg_sleep(5)`
the first NextResult is pretty fast (about 1 second), and after that 10 seconds of waiting.

[2020-09-28 15:01] vonzshik commented on #2282
So, a StopWatch, which starts then NextResult is called, and stops when NextResult returns something?

[2020-09-28 15:39] roji commented on #2282
Thanks for confirming.

I personally thing that what most people need is a simple duration for the entire command (start when sending the command, stop when the reader is consumed/disposed). Doing a separate duration for each command in the batch introduces some complications, such as identifying/distinguishing the different batched statements in the logs (since there are several per command, we'd

[2020-09-28 15:42] vonzshik commented on #2282
Makes sense.

[2020-09-28 16:29] jaamison commented on #3171
I don't think now() is your problem. Try explicitly specifying the timezone for your time column as well, ie `where date_trunc('hour', time at time zone 'utc') < date_trunc('hour', now() at time zone 'utc')`

[2020-09-28 16:34] roji commented on #3171
Am going to close this as 7 days have passed (to keep the open issues list clean), but if you still encounter problems please post back and I can reopen.

[2020-09-28 16:34] #3171 closed

[2020-09-28 21:33] YohDeadfall commented on #2670
Moved to backlog too to avoid jump between milestones.

[2020-09-28 21:35] YohDeadfall commented on #1776
Closing since no repro was posted back.

[2020-09-29 10:34] Keerthikan opened #3197 "How to execute list of npgsqlcommand with different parameter values for the same parameter?"
I am trying to insert many single rows to a temp_table in a postgresql database.
Ideally i want to be able to this

[code]

and then using `insertEntry.Statements` to see which query returned an error and why?

but it only seem to be possible to execute, with only one param, value  set - and not param, list of values.
Is this intended?

am I using it incorrectly?
### Further technical details

Npg

[2020-09-29 10:44] YohDeadfall commented on #3197
The parameter is already added, just change it value each iteration and call `ExecuteNonQuery`. There are other ways, you can find in https://github.com/npgsql/npgsql/issues/2779#issuecomment-573439342.

[2020-09-29 10:44] #3197 closed

[2020-09-29 10:58] roji opened #3198 "Use PublicApiAnalyzers"
[See the docs](https://github.com/dotnet/roslyn-analyzers/blob/master/src/PublicApiAnalyzers/PublicApiAnalyzers.Help.md).

Use this to snapshot the current situation in stable, and see the diff with main - this would give a clear overview of public API changes between 4.1 and 5.0.

[2020-09-29 12:01] ch-asimakopoulos commented on #2282
So, should I proceed with an implementation that measures the duration of an entire command's execution?

[2020-09-29 15:42] Keerthikan commented on #3197
@YohDeadfall  but the individual value set does not appear as seperate statement,
It only appear as a single statement? -  I would wanted it to be in seperate statement, to which parameter set caused an issue..
or am I again misreading the setup?

[2020-09-29 15:47] YohDeadfall commented on #3197
What are you trying to do is to execute multiple inserts which happens in `InsertPrepared` on the provided comment:

[code]

This way you execute the query for each parameter value.

[2020-09-29 16:25] Keerthikan commented on #3197
So there is no way to have some sort of NpgsqlCommandCollection which contain each individual statement with its own parameter, value set, and then execute one ExecuteNonQuery(), which can return each error returned from each NpgsqlCommand?

Sort of like an line by line error?

[2020-09-29 16:28] YohDeadfall commented on #3197
There is no such a thing, but something like that should be in the future. First the batching API design should settle in .NET and later implemented by providers.

[2020-09-29 17:32] Keerthikan commented on #3197
what about batch insertion?
Would it not state error related to one specific batch?

[2020-09-29 17:53] YohDeadfall commented on #3197
Here is an issue which tracks batching API: https://github.com/dotnet/runtime/issues/28633

[2020-09-30 21:25] benaadams opened #3200 "Reusing NpgsqlCommand should skip parsing if cmdText/params not changed"
### Steps to reproduce

If the `NpgsqlCommand` is reused (e.g. Multiquery in TechEmpower or manual pooling https://github.com/aspnet/Benchmarks/pull/1590) and the command and parameters are unchanged then `ParseRawQuery` os called for each execution.

### The issue

If the parameters (types) and command are unchanged then the query doesn't need to be reparsed again?

[2020-10-01 05:33] roji opened #3201 "Remove the Npgsql.RawPostgis plugin"
With #3152 allowing any type to be read as binary, the Npgsql.RawPostgis plugin is no longer necessary.

[2020-10-01 06:28] roji commented on #1041
@vonzshik you may be interested in this. I am really not sure we should actually implement this - there are pros and cons of both the aggregate and non-aggregate timeout behaviors. But as you've been working and thinking about timeouts recently, it would be good to have your thoughts.

[2020-10-01 06:29] roji commented on #1041
Also /cc @YohDeadfall and @Brar. Since we're redoing the timeout/cancellation story for 5.0, it may be a good idea to at least think about this a bit.

[2020-10-01 07:09] roji commented on #1041
Note that I'm not completely sold on the general idea of a cumulative timeout.

The two main uses I see for the timeout in general are to cancel a never-ending query (deadlocked, or simply taking too long because of perf issues), and to handle network partitions; in both those cases, no data arrives at all. As long as data does keep arriving for a query, I'm not sure users would want us to cancel

[2020-10-01 07:22] vonzshik commented on #1041
That is the only case I see right now, when our current implementation doesn't work very well. The data is trickling down very-very slowly, but not slow enough for the timeout. If we have a 30 seconds timeout and 5 TCP reads per `DataReader.Read`, it might take 145 seconds (29 seconds per one TCP read) until something is returned to a user.

[2020-10-01 07:24] vonzshik commented on #2282
@ch-asimakopoulos yeah, go for it.

[2020-10-01 07:28] roji commented on #1041
@vonzshik yes, that's the argument in favor of applying CommandTimeout cumulatively (to all TCP reads in Read). But I'm still not convinced users really want to cancel a "trickling" query - we've never really received any feedback on this mechanism; the main use of CommandTimeout is definitely for cases where no data comes at all.

[2020-10-01 07:34] vonzshik commented on #1041
As long as that corner case is documented, I see no reason to make timeouts aggregated.

[2020-10-01 08:08] roji commented on #1041
I've added a note in https://github.com/npgsql/doc/issues/47 re documentation. Let's see if @YohDeadfall and/or @Brar have other thoughts on aggregation, otherwise I think it's fine to leave this open in the backlog for users to comment on it.

[2020-10-01 11:19] Brar commented on #1041
If there is some sort of standard or guidance on the ADO.NET level I'd generally vote to adhere to it but I'm not convinced that everything `SqlClient` does should automatically be assumed as the standard.

Well, they could be. Who knows?
OTOH, if they want to, I'd consider it unsupported on the sync API and really easy on the async API.
Just create your own `CancellationTokenSource` set your time

[2020-10-01 11:27] vonzshik commented on #1041
Right now, it could be emulated with `NpgsqlCommand.Cancel`. But with #3191, it also should be possible by cancelling the cancellation token.

[2020-10-01 11:33] vonzshik commented on #1041
But `NpgsqlDataReader.ReadAsync()` is a curios case, as most of the time it returns the data from the buffer, and doesn't do any IO.

[2020-10-01 12:37] Keerthikan opened #3203 "Is bool?[] not supported?"
### The issue
I am currently using nullable booleans in Postgres, but cannot seem to use bool?[] using npgsql for some reason?
Is this not supported?

Example:

[code]

[code]
### Further technical details

Npgsql version:  4.1.3.0
PostgreSQL version:
Operating system:

Other details about my project setup:

[2020-10-01 12:41] Brar commented on #1041
Are you sure?
IIRC we buffer (at most, only in non-sequential mode) one row at a time, so `ReadAsync()` is supposed to do IO on every request.

[2020-10-01 12:54] vonzshik commented on #1041
For a query `"SELECT * from generate_series(1, 1000000)"`, it takes around 542 reads (where we do FastRead), until there is some IO.

[2020-10-01 12:59] Brar commented on #1041
Ah, yes.
We buffer as much as possible (as much we get sent from the server in one request and fits in our buffer) but **at least** one complete row in non-sequential mode.
Thanks!

[2020-10-01 13:07] Brar commented on #1041
Anyways, as our consumers shouldn't make any assumptions when `ReadAsync()` does IO (and for big rows it could happen once per row) they probably should assume it happens on every call (as opposed to `GetFieldValue<T>()` et al. where you can rely on the fact that no IO happens in non-sequential mode).

[2020-10-01 13:09] bgrainger commented on #1041
FWIW, MySqlConnector tries to implement the same behaviour (aggregate timeouts) as SqlClient. MySQL sends each row in a result set as a single "MySQL packet" (may be bundled up into a single TCP packet). So unless the rows are huge, the data is usually already there, or retrieved with a single Receive from the Socket. If the rows are very large, multiple socket reads will be required, and the time

[2020-10-02 09:13] roji commented on #1567
FYI @vonzshik and others, here is the plan for timeouts in MySqlConnector by @bgrainger, which is similar to what we've done: https://github.com/mysql-net/MySqlConnector/issues/455#issuecomment-702424012. It's good to have validation from another database driver expert that most of the decisions/arguments here are valid.

[2020-10-02 09:15] roji commented on #3193
Guys, unless anyone wants to work on this, I'll probably work on something soon. Assigning to myself for now but post here if you're on it.

[2020-10-02 15:30] loop-evgeny opened #3204 "PostgresException Message is wrong when serialized to JSON using Newtonsoft.Json"
When an Npgsql.PostgresException is serialized to JSON using JSON.NET (Newtonsoft.Json) the message property is serialized as "External component has thrown an exception." (the default message of ExternalException) instead of the real message returned by PostgresException.Message.

I'm not really sure why this happens and it could be a JSON.NET bug, but it doesn't happen on the simple `MyDbExcepti

[2020-10-02 15:31] loop-evgeny commented on #3204
This can be fixed by not overriding the `Message` property and instead passing the message to the base exception constructor:

[code]

Even if this is a JSON.NET bug, it seems cleaner to have only one exception message in the object, rather than Message and _message returning different things, which can also be confusing when inspecting it in Visual Studio.

[2020-10-02 15:39] ch-asimakopoulos commented on #2282
OK, I'll tackle it over the weekend!

[2020-10-03 08:02] roji commented on #3204
@loop-evgeny thanks, what you propose does make sense to me. Please go ahead and submit a PR.

[2020-10-03 08:14] roji commented on #1041
Re ReadAsync, note that we check the cancellation token up-front regardless of if we already have a buffered row or not, so @Brar's note above is correct - users can always manage a cancellation token themselves and pass it to all operations.

But the main question here is what we think the driver behavior should actually be - I'm honestly not sure. Ignoring the SqlClient behavior for second, Comm

[2020-10-03 08:28] vonzshik commented on #1041
I personally prefer our current implementation, as it's actually more flexible. If you don't have any problems with the network, you won't see any difference. If you do have them, we've also got you here.

[2020-10-03 08:45] roji commented on #1041
You're right that if there *are* network problems, there's no difference.

But if there *aren't* network problems, I do think there's the question of "trickling" queries, where results come in little by little. Does an average user want to cancel such a query after X seconds, even though data is still coming? We have no data here to answer the question, but my gut tells me the average user would *

[2020-10-03 08:52] vonzshik commented on #1041
Isn't that the definition of the issues with the network? AFAIK, this isn't PG's behavior.

I'm talking about the case, when a query takes too long to complete on a PG side. We will still be stuck, waiting for a response from the PG, and eventually fail with a timeout.

[2020-10-03 09:00] roji commented on #1041
Depending on exactly what the query does, I'm pretty sure it's possible to receive a single row, then wait, then receive another row, then wait, etc. - with perfect network conditions. See Robert Haas's answer [here](https://www.postgresql.org/message-id/CA%2BTgmoafyv8ObYiGYBoJJoevcvgbBxiWNyc3unGG%3DZ2GvqkNhQ%40mail.gmail.com).

I think this is the only relevant scenario for discussion on whether

[2020-10-03 09:06] roji commented on #3203
Duplicate of #443

[2020-10-03 09:07] roji commented on #3203
This has been implemented for the upcoming 5.0 release. Can you give [5.0.0-alpha1](https://www.nuget.org/packages/Npgsql/5.0.0-alpha1) a try and confirm that it works?

[2020-10-03 09:07] #3203 closed

[2020-10-03 09:10] vonzshik commented on #1041
Wouldn't it happen during `DataReader.Read`?

[2020-10-03 09:14] roji commented on #1041
Yes, that's a very good point. That probably means that within a single Read (or any other single operation), it's not important whether we aggregate or not. The distinction would have been important had we applied CommandTimeout to the entire command, but we don't do that.

I'd like to wait for @bgrainger's input on this - am interested if things are somehow different MySQL. But otherwise it seem

[2020-10-03 09:23] Keerthikan commented on #3203
Hmm.. I later noticed that, but since i have a dependency to EF,  and it cannot be used with version 5... I seem to be unable to find a proper soæution to this issue...

[2020-10-03 09:46] roji commented on #3203
@Keerthikan that's indeed also in progress. I'm working to make sure that when 5.0.0-rc2 comes out, it will use a 5.0.0 version of Npgsql - this will hopefully happen in the next few days. There's also https://github.com/npgsql/efcore.pg/issues/1025 for support of nullable arrays in the EF provider too.

In the meantime, if you could test things work well for you with 5.0 at the ADO.NET level, tha

[2020-10-03 10:01] vonzshik opened #3208 "Disable cancellation on timeouts, if CancellationTimeout is -1"
From [mysql](https://github.com/mysql-net/MySqlConnector/issues/455) discussion.

The behavior should be:

- `-1` - cancellation is disabled, the connection is broken immediately.
- `0` - cancellation is enabled, there is no timeout.
- 1+ - cancellation is enabled, use `CancellationTimeout` as a timeout value.

Also, #3191 redesigns the cancellation - should also be taken care of.

[2020-10-03 10:15] roji commented on #3197
What may be missing from the above, is that batch insertion is possible today by concatenating multiple statements into a single command's CommandText, and providing the parameters for all statements on the command. The batch API proposed in dotnet/runtime#28633 would make that perform more efficiently and cleanly, but it's already possible to do multiple statements in a single roundtrip.

[2020-10-03 10:27] YohDeadfall commented on #3197
This was in the first linked issue (:

[2020-10-03 10:28] roji commented on #3197
Ah sorry, I missed it...!

[2020-10-03 15:56] roji opened #3209 "Connection state is incorrect after double close"

[2020-10-03 16:27] bgrainger commented on #1041
"the 2nd ... the second may also" is confusing; not sure which one you meant.

I agree with this.

It's hard for me to speak in broad generalities since there are so many varieties of MySQL Server (MySQL, MariaDB, Amazon RDS, Aurora, etc.; v5.6, v5.7, v8.0) but what I've observed is that MySQL tends to take a long time to compute the first row in a result set (this is time in `ExecuteReader`) then

[2020-10-03 16:34] bgrainger commented on #1041
MySqlConnector does implement the aggregate timeout approach but IIRC it's more out of worry that that _might_ be necessary in extreme situations, rather than knowing of particular cases where it's necessary for correctness.

[2020-10-03 16:55] roji commented on #1041
@bgrainger thanks for your input.

On the PG side, we do know that rows may have long delays in between them (https://github.com/npgsql/npgsql/issues/1041#issuecomment-703072087). However, as @vonzshik correctly pointed out, aggregated timeouts only matter if we think that are going to be delays *within data for a single row*, which really does seem very unlikely.

I'm going to close this issue as

[2020-10-03 16:55] #1041 closed

[2020-10-03 17:02] #3209 closed

[2020-10-04 07:44] #2326 closed

[2020-10-04 16:38] vonzshik opened #3212 "A timeout while calling NpgsqlReader.Read can re-read from the buffer"
If there was a timeout here
https://github.com/npgsql/npgsql/blob/33e6ac0d2b39cf55dfe02183e88001d6618a5345/src/Npgsql/NpgsqlConnector.cs#L1104-L1115
we would re-read from the buffer, which leads to an undefined behavior.

[2020-10-05 09:02] loop-evgeny commented on #3204
Alright, will do. Could this go into v4.1.6? It seems like a pretty safe change and if this is only released in 5.0.0 we'd still need to have some workaround for it in our code meanwhile.

[2020-10-05 09:03] YohDeadfall commented on #3204
I think it could. Just submit a PR to `main` and we will backport it on merge.

[2020-10-05 11:32] Keerthikan commented on #3203
i seem to be running into a similar issue with arrays with nullable longs. @roji

[2020-10-05 12:09] roji commented on #3203
@Keerthikan nullable longs are the same case as nullable bools (or any other nullable value type). Have you given 5.0.0-alpha1 a try?

[2020-10-05 12:16] loop-evgeny commented on #3204
Interestingly, this happens only if the PostgresException is thrown and caught, not when serializing `new PostgresException(...)`. However, it does not happen when throwing/catching MyDbException. Definitely something weird going on in JSON.NET.

[2020-10-05 12:39] roji commented on #3204
I wouldn't spend too much time figuring it out - it's more correct for us to pass the message the the base constructor as you've suggested regardless of what JSON.NET is doing etc.

[2020-10-05 12:54] Keerthikan commented on #3203
It works without any issue with the 5.0.0-alpha1, but since I also use Npgsql.EntityFrameworkCore.PostgreSQL
I cannot use the newest version of the the npgsql.

[2020-10-05 12:58] roji commented on #3203
I've just merged the EFCore.PG support for nullable arrays as well (#1025). Can you please try version 5.0.0-rc1-ci.20201005T102925 (add https://www.myget.org/gallery/npgsql-unstable to your NuGet.Config)? This should provide full support for nullable value arrays all the way up the stack.

[2020-10-05 13:20] Keerthikan commented on #3203
I am using the

Npgsql: 5.0.0-alpha1
Npgsql.EntityFrameworkCore.PostgreSQL: 5.0.0-rc1

and a getting this error when i do a dbcontext.commit using EfCore

[code]

[2020-10-05 13:25] #3204 closed

[2020-10-05 14:40] roji commented on #3203
Can you please send a code sample? There isn't much I can do with just a stack trace...

[2020-10-05 14:54] #3193 closed

[2020-10-05 15:04] loop-evgeny commented on #3204
I tracked it down anyway: this happens because PostgresException implements ISerializable and JSON.NET then uses the values from ISerializable.GetObjectData, where System.Exception does this:

[code]

So it's kind of uncertain where the bug was - .NET BCL, JSON.NET or Npgsql, but the other two are unlikely to change.

[2020-10-05 15:06] roji commented on #3204
Thanks for the extra digging. It would be nice to redo the JSON.NET test by simply serializing and deserializing the exception - not just to remove the reference but also to clearly show what we're testing. In case you have the time.

[2020-10-05 15:25] loop-evgeny commented on #3204
Well, there is already ExceptionTests.Serialization(), but it manually populates a SerializationInfo. I could change that one to do serialization, too, or do you want to keep that and add another test?

[2020-10-05 15:28] roji commented on #3204
Yeah, that test is somewhat useless - we should just change it to create a PostgresException with all the expected values, serialize it, deserialize it, and assert that all the values are still correct. This old test is from a time when it wasn't possible to simply instantiate a PostgresException with arbitrary values.

[2020-10-06 18:28] mhosman opened #3218 "Use of Unaccent"
Good Morning! I wanted to know if there is a possibility to use unaccent with EFCore since I have not found unaccent within NpgsqlDbFunctionsExtensions. If possible, could you provide a small example?

Right now I'm trying to query dynamically using ILIKE (to query case insensitive) using this expresion:

[code]

How could I register the unaccent function and add that to the expression?

Thank you

[2020-10-06 18:54] #3218 closed

[2020-10-07 07:41] mattgenious opened #3219 "Received backend message ParseComplete while expecting CommandCompleteMessage"
Hi,

### The issue
Got this exception:
[code]
It happens as I try to save a not of newly added records all at once (approximatly 18.000 complex objects).
I feel like the amount of data should not be the problem as enterprise applications probably often save much more data in single operations routinely.

### Further technical details

Npgsql version: Npgsql.EntityFrameworkCore.PostreSQL 5.0.0-rc1

[2020-10-07 15:26] roji commented on #699
@NinoFloris just a reminder that this still needs you, and 5.0 is approaching fast :) If you don't think you'll get around to it, let me know and I'll see about completing it.

[2020-10-07 15:33] roji commented on #2444
This was already done for 4.1 in 951dc83d2007a6e13862614c590e8c9be467eeae

[2020-10-07 15:33] #2444 closed

[2020-10-07 15:38] YohDeadfall commented on #699
If @NinoFloris won't touch this I may take this on the weekend.

[2020-10-08 07:50] #3201 closed

[2020-10-08 13:08] cjlotz opened #3224 "Global Type Mapper recommendations"
We are looking for some further guidance around the use of the Global Type Mapper for enumerations as [described in the documentation](https://www.npgsql.org/efcore/mapping/enum.html?tabs=tabid-1)

We have a multi-tenant setup with a db per tenant strategy.  The enumerations used across db'es for the different tenants are the same and we register these enumerations with the GlobalTypeMapper on app

[2020-10-08 13:17] roji commented on #3224
The issue you're seeing mostly likely isn't related to GlobalTypeMapper - the mappings contained there don't know anything about any specific databases, or about type OIDs.

When Npgsql first connects to a database, it loads all the types from that databases and caches that. If a PostgreSQL type (e.g. the enumeration) has been added (or changed in some way), and Npgsql is still using a cached view

[2020-10-08 13:24] cjlotz commented on #3224
Thanks for the fast feedback.  Will this happen even if we do not create/change any enumerations?  If we take a tenant down and bring it back up again without changing any database structures, will we still get this exception?

[2020-10-08 13:27] roji commented on #3224
Not as far as I know - as long as no types are getting created/altered/dropped, the PG catalogs shouldn't change and you should be OK.

[2020-10-08 18:52] #2282 closed

[2020-10-08 22:27] roji commented on #3224
@cjlotz am going to close this issue since there's nothing indicating an Npgsql problem (and we prefer to keep the issue list clean). But please feel free to continue posting here, and if you can show problematic Npgsql behavior I can reopen.

[2020-10-08 22:27] #3224 closed

[2020-10-09 08:32] anishv3 commented on #1721
I'm using the NpgSqlConnection for .net core web api project. Current PostgreSQL server has been move to another one and need to connect using the client certificates. We are provided with 3 certificate files named client-cert.pem, client-key.pem and server-ca.pem. I was able to connect to the server using the client cert & key files through the pgAdmin from browser. But, I'm not able to connect f

[2020-10-09 10:20] rstander commented on #3224
Maybe just a question on the loading of the nums/composites. Is this cache per connection or per unique connection string and or pool

[2020-10-09 14:51] roji commented on #3224
The type cache is per connection string, but in 5.0 we're changing it to be per host/port/database tuple (#3183).

[2020-10-09 15:44] ablancag commented on #1721
Hi @anishv3 !

I think part of the problem that you're having is that you need to convert the certs format.

Please refer to the link https://www.cockroachlabs.com/docs/stable/build-a-csharp-app-with-cockroachdb.html, Steps 4 and 5. After you generate and convert the format (probably you only need to do step 5), then you apply the code snippet I mentioned above.

Give it a shot and lets discuss fu

[2020-10-09 16:26] frameworker2019 commented on #2925
Fell exactly in the same problem today, Postgres 11.3, NpgSql 4.1.4.
I can simple  reproduce the problem whenever I stop the postgres server processs while my code is running.
There's no chance to catch the exception outside.

[2020-10-09 20:26] vonzshik commented on #2925
I'm pretty sure the problem is with the write side. It breaks the connection, and after that we get an `NRE` while attempting to set the timeout for the socket. @YohDeadfall @roji what would you say?

[2020-10-09 21:31] roji commented on #2925
Definitely could be. It should be possible to repro this in a test with the mock, right?

What I'm not understanding, is exactly how the connection ends up in a bad state - in the code sample above it's being disposed, and then a new connection gets opened for the retry, no?

[2020-10-10 06:19] vonzshik commented on #2925
Here:
https://github.com/npgsql/npgsql/blob/bd5dea8c56f563e734c98aeaf2aaabd0d0f1f2cd/src/Npgsql/NpgsqlCommand.cs#L594-L598
There is no check, if the send task failed while sending synchronously, which is something we do while executing the reader here:
https://github.com/npgsql/npgsql/blob/bd5dea8c56f563e734c98aeaf2aaabd0d0f1f2cd/src/Npgsql/NpgsqlCommand.cs#L1262-L1268

Yeah, I was able to replica

[2020-10-10 06:56] roji commented on #2925
Thansk @vonzshik!

[2020-10-10 07:18] anishv3 commented on #1721
Hi @ablancag ,

Yes, you are right. It worked when I converted the certs format to pfx file as suggested in the link provided by you.

`openssl pkcs12 -inkey C:\Certs\client-key.pem -in C:\Certs\client-cert.pem -export -out C:\Certs\client-cert.pfx`

So, this will not work with .pem files instead it needs a .pfx file itself, rt ? Thanks a lot for your support.

regards,
Anish

[2020-10-10 07:31] roji commented on #1378
For anyone looking at this, we're not going to do any work on distributed transactions since they aren't supported in .NET Core (https://github.com/dotnet/runtime/issues/715).

[2020-10-10 07:34] roji opened #3227 "Timeouts not fully applied when opening connections"
When opening a connection, the socket connection process (Connect) is covered by timeouts, but all subsequent I/O isn't (e.g. authentication).

See #3226, /cc @russellfoster @vonzshik

[2020-10-10 08:40] roji commented on #3227
@russellfoster can you please post a comment here so I can co-assign you for contribution credit?

[2020-10-10 12:37] Zhitkiy commented on #1721
I don't think the format is what caused your error. The pfx file is like a bundle that contains both the client certificate and its key. In order to access the database you need both of those.

[2020-10-11 00:18] ablancag commented on #1721
@Zhitkiy is correct. @anishv3 Maybe I used the wrong terms. Basically, for the code to work, you need to bundle the parts in a pfx file, rather than using them separately, as @Zhitkiy already explained. The parts remain unmodified. I guess this derives from the NPgSQL and the security framework design (the one dealing with the certs). Good luck with your code!

[2020-10-11 14:11] #2925 closed

[2020-10-11 14:33] russellfoster commented on #3227
Hi, Thanks for this. So does this mean you no longer need me to redo the pull request?

[2020-10-12 05:05] anishv3 commented on #1721
Thanks for your reply. Is there any option to bundle those files through code ? Our client may be providing those as two separate files.

[2020-10-12 10:01] roji commented on #3227
Yeah, that's right - I'm sorry your PR didn't make it in, but a more significant redo was needed (including for the test mocking infrastructure)... And raising an issue is just as important as fixing it. In any case, I'm co-assigning you for credit on this issue.

[2020-10-12 10:28] #3227 closed

[2020-10-12 12:25] russellfoster commented on #3227
No problem, just glad it is fixed. So, will this be backported? We are on 3.2.7 and I see several breaking changes in 4.x (timezones, numeric data types) that may mean we can't migrate at this time.

Thanks for all of the attention to this issue!

[2020-10-12 14:24] roji commented on #3227
#3229 definitely can't be backported as-is, but specifically the part that sets the timeout might be. But I'm curious - this is supposed to be a rather rare issue - with read hanging specifically during connection/authentication. I'm curious - is this recurring on your case? If so, any idea why?

[2020-10-12 14:54] halilozanakgul opened #3230 "Tsquery data is reversed in GetValue"
Tsquery data in a Postgres table is reversed when it is read with the GetValue function.

This table:
[code]
Gives an output like this:
[code]
```SELECT 'a <-> b'::tsquery = 'b <-> a'::tsquery``` returns false in Postgres this might cause an application fail.
### Steps to reproduce

In Postgres
[code]

In C#
[code]

### Further technical details

Npgsql version: 4.1.5
PostgreSQL version: 13.0
Oper

[2020-10-12 15:09] roji commented on #3230
I can confirm that I can see the reversal.

@Emill it's been a long while, but any chance you'd like to look at this again :sweat_smile:?

[2020-10-12 15:11] roji commented on #3230
Or was it @rwasef1830 who worked on this originally? :rofl:

[2020-10-12 15:31] ablancag commented on #1721
Well, the most basic way to automate this would be to add a step to
manually bundle the files using the command line.

You would trigger that from your program.

I'm no expert on the PFX file format, but if the certs are not modified
themselves, and just bundled, you can check how that is done (Google is
your friend) and you could replicate the process.

It sounds like just appending the file form

[2020-10-12 15:51] russellfoster commented on #3227
No, I really hope it is rare. It's a customer issue. Not sure how they got into this situation, could be some bad VM settings on the database server, but will need to figure that out as well. There is a fallback mechanism for the database going offline, but this was never reached. Probably need to add a watchdog for this as well.

[2020-10-12 15:57] Emill commented on #3230
Hm I hardly remember what a tsquery is :)
But I'll see what I can find...

[2020-10-12 15:59] Emill commented on #3230
Is it correct if you create the TsQuery inside C#?

[2020-10-12 15:59] rwasef1830 commented on #3230
I implemented it for the EF provider, don't remember adding it to npgsql itself, but unfortunately, I really don't have the time to work on it this :-(

[2020-10-12 16:12] russellfoster commented on #3227
You may get a kick out of this. I did one time consider this helper to class to hack around this issue:

[code]

Still needed work to cache more of the reflection stuff. Anyways, not easy to use with Entity Framework and very ugly ha!

[2020-10-12 16:37] anishv3 commented on #1721
Instead of creating the physical pfx file, I was able to bundle the two pem files via code and got it worked. Code snippet is given below for someone for reference in future.

`public X509Certificate2 GetCombinedCertificateAndKey(string certificatePath, string privateKeyPath)
    {
        using var publicKey = new X509Certificate2(certificatePath);

        var privateKeyText = System.IO.File.Rea

[2020-10-12 17:42] Emill commented on #3230
Can anyone test if it's differing between different PostgreSQL server versions? (from 9.4 and onwards)

[2020-10-12 18:23] YohDeadfall commented on #2404
On handlers am working on and which had no time to publish (again), there is no way to support this feature because of lack of generic dispatch.

[2020-10-12 18:45] roji commented on #3230
I think so - [this passing test](https://github.com/npgsql/npgsql/blob/main/test/Npgsql.Tests/Types/FullTextSearchTests.cs#L28) constructs a TsQuery in code and roundtrips it.

I just tried this on PG 9.6, and the same error happens (see below). 9.4 doesn't seem to support the `<->` operator.

[code]

Failure:

[code]

[2020-10-12 18:46] roji commented on #3230
Let me know if there's anything help I can help with.

[2020-10-12 19:47] Methuselah96 opened #3232 "Connection forcibly closed when using Npgsql in an Azure Function with heavy CPU usage"
### Steps to reproduce

Repository: https://github.com/Methuselah96/NpgsqlHeavyCpu

### The issue
I'm using Azure Functions to run some code that does a CPU-heavy operation and accesses Postgres before and after the operation. Azure Functions run on a single core under the consumption plan. I'm connecting to Postgres with `MaxPoolSize=5;Timeout=300;`.

When I call `OpenAsync`, Npgsql sometimes thr

[2020-10-12 19:51] Emill commented on #3230
FYI here is the history https://github.com/postgres/postgres/commits/master/src/backend/utils/adt/tsquery.c

[2020-10-13 05:37] harishbatchu commented on #2897
Same issue here with VS2017

[2020-10-13 06:32] osya opened #3233 "Is is possible to use both - target database in NLog.config and NLogLogger : NpgsqlLogger?"
# Steps to reproduce

Is it possible to use both `<target xsi:type="Database"` in NLog.config to logging to database and `NLogLoggingProvider` (from https://www.npgsql.org/doc/logging.html#nlogloggingprovider-or-implementing-your-own) to logging database queries? It seems works only one of each, but not both.

### Further technical details

Npgsql version: 4.1.4
PostgreSQL version: 12
Operating sy

[2020-10-13 07:54] roji commented on #3233
@osya I'm not sure I understand what you're asking... NLogLoggingProvider is just a way to sent Npgsql's logging to the NLog logging library (you can modify that code if you need to). What NLog actually does with it is completely external to Npgsql.

Maybe a code sample from you and an exact error message would help explain what's going on.

[2020-10-13 08:17] roji commented on #1721
Note: have open https://github.com/npgsql/doc/issues/60 to track adding some guidance to the docs on this.

[2020-10-13 12:05] roji commented on #2282
@ch-asimakopoulos assigned you for credit, thanks again!

[2020-10-13 12:09] ch-asimakopoulos commented on #2282
You are welcome! I will try to grab another free issue on this repo
whenever I get the chance!

Στις Τρί, 13 Οκτ 2020, 15:05 ο χρήστης Shay Rojansky <
notifications@github.com> έγραψε:

[2020-10-13 12:21] roji commented on #3232
I don't really know what we can do about this... The Npgsql errors are clearly showing the socket being closed by the server side (PostgreSQL), whereas the PostgreSQL log shows a close on the client side. How long do you wait before this error message occurs? There could be some sort of timeout mechanism on network infrastructure in between which causes this after a certain period of inactivity.

[2020-10-13 12:23] Methuselah96 commented on #3232
It varies quite a bit, but it can be anywhere from 15-60 seconds. Any ideas why a `SqlConnection` would work, but not a `NpgsqlConnection`?

[2020-10-13 12:32] roji commented on #3232
I can't imagine why the connection would be broken after 5 seconds (or why the timeout would vary from 5-60 seconds). In any case, from the Npgsql side it is waiting to write or read data, and the underlying socket implementation reports the error...

Not really... I have no idea if the Azure infrastructure is different for SQL Server and for PostgreSQL...

[2020-10-13 13:54] atrauzzi opened #3235 "Unable to install Npgsql.NodaTime for 5.0.0-rc1"
I'm noticing that there's a `5.0.0-preview1` version, but it doesn't appear able to install to my project?

[code]

[2020-10-13 13:57] roji commented on #3227
Ha, your helper resembles [this hack](https://github.com/npgsql/npgsql/blob/6ec6e3385073a8f5cb294879defd290f4d79023d/src/Npgsql/NpgsqlConnector.cs#L789) we use to fake a timeout in older .NET TFMs where sockets don't support cancellations or timeouts on async operations...

Regardless, your helper does suffer from a concurrency issue - depending on when Break gets called, it may cause undefined be

[2020-10-13 13:58] roji commented on #3235
Npgsql.NodaTime 5.0.0-preview1 [seems up](https://www.nuget.org/packages/Npgsql.NodaTime/5.0.0-preview1) on nuget.org, and [so is Npgsql 5.0.0-preview1](https://www.nuget.org/packages/Npgsql/5.0.0-preview1). This may be a nuget.org caching issue, as these have just been published by @YohDeadfall.

[2020-10-13 14:02] atrauzzi commented on #3235
I'm pretty sure I can see them, but for some reason it's not installing it?

[2020-10-13 14:04] roji opened #3236 "Depend on NodaTime 3.0"

[2020-10-13 14:07] roji commented on #3235
Try passing --no-cache to dotnet restore

[2020-10-13 14:10] atrauzzi commented on #3235
Hmm, no dice, here's what I have configured for Npgsql in my project:

[code]

And here's the output:
[code]

[2020-10-13 14:11] YohDeadfall commented on #3235
Ah, I see what's the problem. Forgot to fix dependencies.

[2020-10-13 14:13] #3236 closed

[2020-10-13 14:50] atrauzzi commented on #3235
No problem, let me know if you want me to try anything again. :smile:

[2020-10-13 15:06] YohDeadfall commented on #3235
Should be fine right now, preview 1.1 is out for the plugin.

[2020-10-13 15:40] atrauzzi commented on #3235
Up and running, thanks so much guys!

[2020-10-13 15:40] #3235 closed

[2020-10-14 03:16] daz10000 commented on #2404
I'm sorry I haven't had a chance to test this assumption or comment, but from reading the thread, I think there's a good chance this will completely break enum support in https://github.com/demetrixbio/FSharp.Data.Npgsql because we handle enums generically.

[2020-10-14 05:01] Brar commented on #2404
@daz10000 I think you can try https://github.com/YohDeadfall/npgsql/tree/drop-unmapped-enum now to verify your assumptions.

I'm still not convinced that this is going to happen.
Especially if it breaks existing features in dependent code without providing a workaround.

The only reason pro this that we've heard yet is from
 @YohDeadfall:

We haven't seen the new handler design yet but in my opini

[2020-10-14 07:54] YohDeadfall commented on #2404
You had a chance, I published an archive in our private channel (: But to be short, new handlers are strongly typed and optimized to have only one virtual call without generic dispatch, so each pair of CLR and PostgreSQL types has their own handler produced by a factory.

@dmitry-a-morozov and @daz10000, do I correctly understand that the library uses unmapped enums and there is no way to the user

[2020-10-14 08:28] melanore commented on #2404
@YohDeadfall, correct. The purpose of the type provider is to generate strongly typed access to db based on schema definitions. Users do not know enums that exist in db beforehand.

[2020-10-14 08:33] YohDeadfall commented on #2404
Does it generates wrappers around Npgsql or is it a proxy? Or would be better to ask how does it work?

[2020-10-14 17:48] FernandoRibeiro42Q opened #3238 "Numeric value does not fit in a System.Decimal (value higher than decimal.MaxValue)"
First of all, I've already looked into these issues:

- [Numeric value does not fit in a System.Decimal](https://github.com/npgsql/efcore.pg/issues/438)

- [Cannot retrieve entries with decimal.MaxValue from database](https://github.com/npgsql/efcore.pg/issues/1378)

- [Reading a numeric that would overflow leads to hanging](https://github.com/npgsql/npgsql/issues/2928)

And while they seem at fir

[2020-10-15 06:18] roji commented on #3238
Duplicate of #448

[2020-10-15 06:23] roji commented on #3238
As you've written, the number you're trying to read cannot be represented with a .NET decimal. Trying to read it as a decimal may be a good idea, but calling `GetFieldValue<double>` indeed doesn't help, as you've noticed - PostgreSQL is still sending a PostgreSQL decimal back to Npgsql over the wire, and Npgsql tries to decode that as a decimal, which it can't. In theory Npgsql could have a whole

[2020-10-15 06:23] #3238 closed

[2020-10-15 06:43] roji commented on #3200
Some thoughts:

1. The typical scenario of reexecuting the same command with the same SQL also does it on the same connection, in which case explicit preparation is the right choice and bypasses everything.
2. What you're trying in TE is a bit of a weird hybrid, where the SQL stays the same but the connection potentially changes, so preparation isn't relevant but caching the SQL parsing outputs po

[2020-10-15 19:25] yusrakazmi commented on #1721
Hi @anishv3
I am working on a similar NpgSqlConnection (Google cloud) for .net core web api project and need to figure out a secure db connection. I have the three Client certificate files. One question that I have is where are you keeping these files? are you adding them to your solution files?

[2020-10-19 08:29] osya commented on #3233
In the Nlog.config
[code]

[2020-10-19 20:08] kae opened #3241 "Exception "In multiplexing mode, transactions must be started with BeginTransaction" without Multiplexing with 5.0.0-preview1"
### Steps to reproduce

[code]

[code]

### The issue

[code]

Count of exception is floating, so it looks like some race condition bug.

### Further technical details

Npgsql version: 5.0.0-preview1
PostgreSQL version: 12.4 on x86_64-pc-linux-gnu
Operating system: Windows 10 (Build 19041.572)

There is another exception at actual system that wasn't reproduced still.
But it was mixed with reproduc

[2020-10-20 05:53] kae commented on #3241
Interestingly, when adding "Multiplexing=true" to connection string then for Enumerable.Range(0, 100) it's throwing in 1 out of 5-6 runs

[code]

And for Enumerable.Range(0, 1000) it hangs for a minutes and than gets multiple pool exhaustion exceptions like

[code]

followed with

[code]
and

[code]

and

[code]

[2020-10-20 08:45] #1146 closed

[2020-10-20 09:03] vonzshik commented on #3241
Hello!

I was able to reproduce the first error. It seems to be because the connector is returned to the pool, and only after that we clear the reference to the connection.
https://github.com/npgsql/npgsql/blob/ec6746fbc92be59adab3b12bbe58c1b8a5d7ea2b/src/Npgsql/NpgsqlConnection.cs#L784-L795

The second error (Multiplexing with `Enumerable.Range(0, 100)`), I was unable to reproduce.

The third err

[2020-10-20 09:09] mattgenious opened #3243 "Cancelled task throws PostgreException instead of OperationCanceledException or Exception that has inherited it"
### Steps to reproduce

Cancel a request to the database in many different ways using a CancellationToken.

### The issue
Mostly I get OperationCanceledException as expected but sometimes I get this PostgresException but I am assuming that since this is a reaction on cancelling a request and I want to be able to trust that catching TaskCanceledException catches all exceptions related to the cancel

[2020-10-20 10:13] roji opened #3245 "Cancel should not throw on pseudo-PostgreSQL servers which don't support it"
There are some PostgreSQL-compatible databases (CockroachDB, CrateDB) which do not support cancellation. We currently have a check for that and throw; but as cancellation is best-effort in any case, and this makes it difficult to use the same code against regular PG and these databases, we should instead ignore the cancel request.

[2020-10-20 10:35] roji commented on #3243
Duplicate of #1146

[2020-10-20 10:36] roji commented on #3243
This is just now being fixed for 5.0.

Note that you should catch OperationCanceledException rather than TaskCanceledException which is a subclass of the former.

[2020-10-20 10:36] #3243 closed

[2020-10-20 10:38] mattgenious commented on #3243
Thank you and yeah you're right, I flipped the inheritance upside down by mistake

[2020-10-20 11:36] #3245 closed

[2020-10-20 13:41] roji commented on #1785
Relevant discussion: https://www.postgresql.org/message-id/flat/6e747f98-835f-2e05-cde5-86ee444a7140%402ndquadrant.com

[2020-10-20 15:15] roji commented on #3106
@mm3141 thanks for flagging this, working on it and providing testing - I've marked you as co-author for the fix in #3145!

Hope to see more stuff from you in the future :)

[2020-10-20 15:15] #3106 closed

[2020-10-21 00:23] rlightner opened #3246 "Failure on accessing a non-existing default root certificate"
TLDR: Cert can't be found?
No code is changed between RC1-RC2 nuget package upgrade.

IDE: `Microsoft Visual Studio Professional 2019 Version 16.7.6`

Connection string:
`Server={server};Database={your_database};Port=5432;User Id={userid};Password={your_password};Ssl Mode=Require;`

Exception thrown:
[code]

[2020-10-21 05:35] roji commented on #3246
@YohDeadfall didn't you work on some SSL changes? EFCore.PG rc2 is the first released version that depends on Npgsql 5.0 (preview1), so this is probably some regression we introduced.

[2020-10-21 06:49] YohDeadfall commented on #3246
Worked, will take a look.

[2020-10-21 09:26] roji commented on #3241
For the first error, good analysis @vonzshik. I actually missed your comment and just tracked it down myself... :facepalm: Should learn to read all the way to the bottom...

So #3247 fixes this, adds various assertions to tighten things and simplifies a bit too. The PR has a test for reproducing the bug too. @vonzshik do you want to take a look to see if this bug also exists in 4.1?

[2020-10-21 09:36] roji commented on #3241
The timeout exception is likely to be a totally unrelated environmental thing. @kae if you manage to put some sort of repro together, can you open another issue and we'll take a look?

@vonzshik why do you say that multiplexing bootstrap isn't threadsafe? I agree it doesn't make sense to run it concurrently (we should put a simple lock there), but where do you see errors coming from it? Either way

[2020-10-21 09:38] roji commented on #3241
One last thing... @kae can you please open a separate issue for the error when Multiplexing=true? We'll use this issue to track the original problem.

[2020-10-21 09:43] vonzshik commented on #3241
Just checked - nope, it should be fine. It only happens if there is an open transaction.
https://github.com/npgsql/npgsql/blob/b149e1e42b1d71a3b0057cd9512c4f9ffb20fe7e/src/Npgsql/NpgsqlConnection.cs#L669-L681

[2020-10-21 10:06] kae opened #3248 "Race conditions with Multiplexing=true in 5.0.0-preview1"
### Steps to reproduce

[code]

[code]

### The issue

for Enumerable.Range(0, 100) it's throwing in 1 out of 5-6 runs

[code]

And for Enumerable.Range(0, 1000) it hangs for a minutes and than gets multiple pool exhaustion exceptions like

[code]

followed with

[code]
and

[code]

and

[code]

[2020-10-21 10:07] kae commented on #3241
@roji #3248

[2020-10-21 10:27] vonzshik commented on #3241
This is a tricky one. I'm still investigating the exact problem, but I do have a fix for the bootstrap. Also found a few other problems.

[2020-10-21 10:41] roji commented on #3241
I'd still fix that in 4.1. It's definitely much more of a corner case than the 5.0 bug discussed here, but we still should never be touching a connector after returning it to the pool in any way - it's very likely possible to trigger a similar bug with ambient transactions. Let me know if you want to submit a PR.

[2020-10-21 10:53] vonzshik commented on #3241
Sure, why not.

[2020-10-21 10:57] roji commented on #1328
Notes for cancellation:

For exporting (COPY OUT), things work similar to how they work with regular commands, when results are already being streamed back. In other words, when the cancellation token is triggered we can do the same thing - attempt PG cancellation, and close the socket after CancellationTimeout.

For importing things are different. Since the server is waiting for us to send stuff,

[2020-10-21 11:48] vonzshik opened #3249 "NpgsqlTransaction attempts to do a rollback after commit"
The problem is, after the transaction is commited, the connection is returned to the pool immediatelly
https://github.com/npgsql/npgsql/blob/ceb8e4f9180546d730394a42071a233f927d40bb/src/Npgsql/NpgsqlConnector.cs#L1330-L1334

Which is fine (I guess), but `NpgsqlTransaction` still holds the reference to the connector, which is already in the pool.

[2020-10-21 11:50] vonzshik opened #3250 "ResettableCancellationTokenSource.Cancel (and CancelAfter) aren't threadsafe"
And can call the cts while it's disposed.

[2020-10-21 11:51] roji commented on #3250
Any specific scenario in mind?

[2020-10-21 11:52] vonzshik commented on #3250
Cancellation, while the ReadBuffer resets the ResettableCancellationTokenSource.

[2020-10-21 11:53] vonzshik commented on #3250
Got it, while dealing with #3241

[2020-10-21 11:59] vonzshik commented on #3248
The first error is most likely due to #3249.

While I do have a pr ready for the other errors, I still would like to take a closer look at the exact reason.

[2020-10-21 13:37] #3241 closed

[2020-10-21 13:43] #3250 closed

[2020-10-21 14:04] roji opened #3252 "Populate the originating cancellation token in our OperationCanceledExceptions"
Following conversation with @Brar in https://github.com/npgsql/npgsql/pull/3214#discussion_r499574372. I'm not sure to what extent it's required behavior to do this, but it certainly seems we should try to do this.

/cc @vonzshik

[2020-10-21 14:14] vonzshik commented on #3252
Interesting, and what about `COPY` operations and `WaitAsync`?

[2020-10-21 14:16] roji commented on #3252
I've left those out for now since they have their own full-blown work items (e.g. #1328) - but we'd presumably use the same mechanism. I'll add a note to those issues, and let's keep this open as well so we don't forget.

[2020-10-21 14:17] roji commented on #3208
Done as part of ec6746fbc92be59adab3b12bbe58c1b8a5d7ea2b

[2020-10-21 14:17] #3208 closed

[2020-10-21 16:58] vonzshik commented on #3249
Also, almost the same thing happens with the COPY operations.

[2020-10-21 17:36] Methuselah96 commented on #3232
Closing since I believe I have seen it happen with other async and CPU-heavy interactions and is thus an Azure Functions issue.

[2020-10-21 17:36] #3232 closed

[2020-10-22 06:43] roji opened #3255 "Review/redo concurrency detection strategy"
Npgsql has some best-effort concurrency detection, which is meant to throw a meaningful exception (NpgsqlOperationInProgressException) if users accidentally use the same connection concurrently, rather than producing totally undefined behavior.

We know that this mechanism is imperfect:
* Opening/closing specifically is not protected at all (#1127, #1162)
* Multiplexing probably introduced even mo

[2020-10-22 09:28] robertovaldesperez opened #3256 "IGeometry error"
### Before submitting

### The issue
Position = NetTopologySuite.Geometries.Geometry.DefaultFactory.CreatePoint(new Coordinate(w.Longitud, w.Latitud))
Position is a IGeometry. My database have a postgis extension installed.

Exception message:
Stack trace:
[code]

### Further technical details

Npgsql version:4.1.3.1
PostgreSQL version:13
Operating system:  Windows 10 x64

[2020-10-22 09:37] YohDeadfall commented on #3256
`geomerty` and `geography` are PostGIS types and not built-in into PostgreSQL. Have you installed PostGIS?

[2020-10-22 09:42] YohDeadfall commented on #3256
Does you connection string contains `Server Compatibility Mode=NoTypeLoading`? If so, the driver won't load `geometry` and `geography` types and handlers for them since they are not built-in.

[2020-10-22 10:09] robertovaldesperez commented on #3256
connectionString="SERVER=localhost;PORT=5433;DATABASE=....;USER ID=....;PASSWORD=....;Server Compatibility Mode=NoTypeLoading

[2020-10-22 10:12] YohDeadfall commented on #3256
That's the issue. The driver knows nothing about the type when `NoTypeLoading` is specified. You should remove that option from the connection string or provide your own `NpgsqlDatabaseInfo` which will return `geomerty`.

[2020-10-22 10:28] robertovaldesperez commented on #3256
I am using NHibernate

Map(x => x.Position).Column("POSITION").CustomSqlType("GEOGRAPHY").CustomType(typeof(NHibernate.Spatial.Type.GeometryType)).Index("IX_ESTATE_POSITION").Nullable();

[2020-10-22 10:30] YohDeadfall commented on #3256
NHibernate is an abstraction over Npgsql, so if there is `NoTypeLoading` the error appears.

[2020-10-22 11:05] #3212 closed

[2020-10-22 11:19] vonzshik commented on #3166
I'm pretty sure the first one (#3187) isn't yet completed.
But the second one (#3142) is.
Also, the third one (#2860) is also done.

[2020-10-22 11:40] vonzshik commented on #3248
@roji so, I've managed to locate the issue. The problem is with the `idleChanel` in the `ConnectorPool`.
For some reason, if there are too many parallel threads, it's performance is degrading to the floor. So there comes a time, when we have 100 idle connectors, and there is nothing in the channel reader. And it takes around 0.5 seconds to read something from the channel.

[2020-10-22 12:01] robertovaldesperez commented on #3256
I have found this: The problem is NHibernate with Npgsql 3. Npgsql 3 change the way it return value of geometry. Switch to Npgsql 2.2.7 and everything will just work.

[2020-10-22 12:03] #3256 closed

[2020-10-22 12:05] robertovaldesperez commented on #3256
But I am using a new version of NHibernate which requires a higher version of Npgsql 2.2.7

[2020-10-22 12:06] YohDeadfall commented on #3256
Could you post the full code to reproduce the error?

[2020-10-22 12:09] robertovaldesperez commented on #3256
the full project?

[2020-10-22 12:10] YohDeadfall commented on #3256
Just a trimmed part which can be used to reproduce the error. A minimal repro, to be correct.

[2020-10-22 12:16] robertovaldesperez commented on #3256
[Code.zip](https://github.com/npgsql/npgsql/files/5422647/Code.zip)

[2020-10-22 12:44] roji commented on #3166
For WaitAsync, I still want to explore not passing down the cancellation token through all the layers, but to simply cancel the read buffer's token directly when the user token is triggered - this is a bit similar to auth cancellation.

The 3rd item can track remaining work on auth cancellation (as discussed in https://github.com/npgsql/npgsql/pull/3253#issuecomment-714425813).

[2020-10-22 12:46] roji commented on #3256
Please note that we're not supporting Npgsql 2.2.7 anymore - that version is extremely old. If NHibernate has issues working with modern versions of Npgsql, it should be fixed on their side...

[2020-10-22 13:00] robertovaldesperez commented on #3256
ok, thank you very much, i will write to nhibernate community

[2020-10-22 13:16] JA-AmbosImmo opened #3259 "System.MissingMethodException: Method not found: 'System.Threading.Tasks.ValueTask' when upgrading to .NET 5 rc2"
### Steps to reproduce

Call any Method (ToListAsync, FirstOrDefaultAsync, ...) and await it to get results from the database, such as:

var myEntities = context.Set<MyEntity>.ToListAsync();

### The issue

I receive the following exception:

[code]

### Further technical details

Npgsql version: 5.0.0-rc2
PostgreSQL version: 11.9
Operating system: Mac OSX

Other details about my project setup:

I

[2020-10-22 13:30] roji commented on #3259
I can't reproduce this with a simple, minimal repro (you are definitely not supposed to need System.Threading.Tasks.Extensions for .NET 5.0). My guess is that something in your project environment is problematic - a good clean may fix the issue. Also try targeting net5.0 rather than netcoreapp5.0.

If nothing helps, try to strip down your application and remove unrelated things until the error dis

[2020-10-22 13:45] roji opened #3260 "Look into merging or linking connector binding scopes and user actions"
We currently have two separate mechanisms that encompass entire "operations":

* User action. This is old, and was mainly about having a concurrency detection mechanism, to throw meaningful exceptions when users accidentally use a connection in an un-safe way. It also makes sure we don't perform an application keepalive while a user operation is in progress.
* Connector binding scope. This is new

[2020-10-22 13:49] #3249 closed

[2020-10-22 13:58] russellfoster commented on #1076
Sorry to resurrect. Just to clarify, because the red scary text from the 4.0 release notes frightened me:

`When reading timestamptz as a DateTimeOffset, the machine local offset will be used. Previously a DateTimeOffset in UTC was returned.`

So I know DateTimeOffset has a time zone component, and timestamptz is stored as UTC no matter what. So did you change the point in time described by timest

[2020-10-22 14:00] roji commented on #1076
IIRC the change was only to the timezone - definitely not to the actual point in time. This matches the PostgreSQL behavior of returning textual representations of timetstamptz in the user's local timezone (as configured in the PG Timezone parameter).

[2020-10-22 14:08] YohDeadfall commented on #1076
The driver reads a value of the `timestamptz` as is (in UTC) and uses the current time zone like:

[code]

Therefore, the date time part is read unchanged. The behavior is aligned with `psql` and PostgreSQL.

[2020-10-22 14:09] #3246 closed

[2020-10-22 14:17] roji commented on #3246
@YohDeadfall backport?

[2020-10-22 14:17] roji commented on #3246
Or is the whole feature new in 5.0 :sweat_smile:

[2020-10-22 14:18] YohDeadfall commented on #3246
It's a new feature, no need to cherry pick (:

[2020-10-22 15:57] roji commented on #3246
OK. And thanks for fixing :)

[2020-10-22 18:31] roji commented on #3233
Thanks, that makes sense now - Npgsql logs to NLog, but you're configuring NLog to send log messages to Npgsql. I'm not sure how this can be made to work, I'll give it some thought.

[2020-10-23 00:55] JA-AmbosImmo commented on #3259
@roji
Thank you for your response.

I looked at the code in https://github.com/npgsql/npgsql/blob/v5.0.0-preview1/src/Npgsql/NpgsqlConnector.cs#L786, and there is a note saying, that the async support for opening the connection has been added in .net 5.

I downloaded the npgsql and npgsql ef core project and integrated them into my project, and I receive a compile error, that the method in line 78

[2020-10-23 06:04] roji commented on #3259
Right, and that method is indeed called only when using .NET 5.0 (that's the `#if NET` you're seeing).

Can you please try to attach some sort of code sample or project which reproduces this? It's likely that while attempting to do this you will find some issue in your own project - because it's highly unlikely that this is actually a problem on the Npgsql side.

[2020-10-23 06:35] mcdis opened #3261 "System.NullReferenceException at Npgsql.NpgsqlConnector.Cleanup"
### Steps to reproduce

Unfortunately, it accidentally took off

### The issue
#### StackTrace

[code]

#### Screenshot
![image](https://user-images.githubusercontent.com/29626318/96964171-ae222500-1512-11eb-9bb0-00b032752006.png)

#### Package ver
```<PackageReference Include="Npgsql" Version="4.1.5" />```

[2020-10-23 08:30] roji opened #3262 "Properly quote savepoint names"
Savepoint names are regular identifiers (like table names), and need to be properly quoted and escaped.

[2020-10-23 09:05] Alexbogss commented on #3164
Caught an npgsql exception while connector was broken. Usually there are just an unknown errors with random (for me) code like in the first post, so this might be a clue:

`An unhandled exception has occurred while executing the request
System.InvalidOperationException: Internal Npgsql bug: unexpected value PasswordPacket of enum BackendMessageCode. Please file a bug.
   at Npgsql.NpgsqlConnector.

[2020-10-23 09:40] roji commented on #2892
As we have a pack of work on savepoints that's happening for 5.0, am including this as well.

[2020-10-23 12:40] JA-AmbosImmo commented on #3259
Since this is a huge project it is really difficult for me to strip the project down or provide a code sample. I will try to do it over the weekend. Meanwhile: How can it be that such an error occurs?

[2020-10-23 15:06] roji commented on #3259
@JA-AmbosImmo another approach is to work bottom-up - start a blank new project, where presumably things should work. Then go from there.

I'm honestly not sure how this can happen, but it's really likely that this is some sort of version mismatch somewhere, where the Npgsql assembly being used it the one targeting .NET 5.0, but you're somehow ending up running on an earlier runtime which doesn't

[2020-10-23 15:09] roji commented on #3164
@Alexbogss there's still not much I can do to help without some sort of repro/code sample. The only way I can imagine this happening at the moment is incorrect concurrent usage.

[2020-10-23 15:09] JA-AmbosImmo commented on #3259
Ok, thank you.

Do you have any idea how to solve such a version mismatch? It is especially weird  that this happens, since my  "MasterDatabaseContext" works fine (I can retrieve e.g. a tenant from the database), but only the "DatabaseContext" runs into such an issue.

[2020-10-23 15:09] roji commented on #3261
@mcdis can you please post a runnable code sample that makes it happen?

[2020-10-23 15:13] vonzshik commented on #3233
You can be clever and use `AsyncLocal<bool>`. You check if before logging - if it's true, we're in a recursion, so no logging. Else, set to true and log.

[2020-10-23 15:47] roji commented on #3259
No idea about the two contexts - if they're in the same application it's indeed weird for one to work and the other not to. Unless you happen to not use async in one.

[2020-10-23 15:50] roji commented on #3233
Yeah, that's probably the way to do it - though it's important to be aware of the possible perf consequences.

@osya do you want to give this a try in your NLogLogger implementation? Since Npgsql itself doesn't include this logger there's nothing really for us to do here.

[2020-10-23 15:51] roji commented on #3233
(... and don't forget to set to false before existing the method, in a finally clause...)

[2020-10-24 17:50] SamuelJohnsonMedia opened #3267 "Trying to set provider and get "logging provider must be set" exception"
### Steps to reproduce

Create a console app and attempt to set the logging provider and a "The logging provider must be set before any Npgsql action is taken" exception is thrown

Attached project displays the issue:
[PostgresLoggerTest.zip](https://github.com/npgsql/npgsql/files/5433450/PostgresLoggerTest.zip)

Basic implementation below:

[code]

### The issue
An exception is thrown when no Npg

[2020-10-24 18:34] SamuelJohnsonMedia commented on #3267
Additional info: sometimes when I debug the app, the `static NpgsqlLogManager() => Provider = new NoOpLoggingProvider();` is called before my `Provider` is set (and so fails), sometimes it does not (and so it works).

This is a bit mad.

[2020-10-25 05:42] roji commented on #3267
Yeah, any reading of the property before it is set - by the debugger or otherwise - will cause the setter to throw. This is by-design, and is intended to prevent incorrect application configuration of the logging system. Unfortunately I don't think there's anything to be done here for the debugging issue...

[2020-10-25 05:42] #3267 closed

[2020-10-25 06:12] roji opened #3269 "Remove support for .NET Framework 4.6.1 (and MSI/VSIX)"
Npgsql has targeted the `net461` until now - this issue is about dropping support for that.

* Npgsql would continue targeting `netstandard2.0`, meaning that Npgsql would still be usable by .NET Framework applications (although it is recommended to use at least net471  when consuming netstandard2.0 libraries).
* We would stop running tests on .NET Framework, and treat any bugs specific to that pla

[2020-10-25 06:18] gvsrini commented on #3164
@roji We are facing a similar problem in a high traffic production environment. Will try to reproduce it for you. But the immediate concern is that when a connection ends with "Breaking connector" issue and even though "Closes connection" subsequently. That connection is rendered unusable subsequently in the connection pool. If such problem occurs 100 times over a period of several hours, the appl

[2020-10-25 10:03] vonzshik commented on #3269
One day it has to be done. I think today is that day 😈

[2020-10-25 10:09] Brar commented on #3269
I can't wait to rebase on top of this 🤣.

[2020-10-25 10:11] vonzshik commented on #3164
This is the point of breaking the connector. The idea is, if the connector is no longer usable (network issues for example), it's broken and returned to the pool. Then, the pool removes it altogether. After that, a new connector is created.

This is definitely something that shouldn't happen. Could you please provide more information:
- Npgsql version
- Any ORM you're using
- What kind of errors b

[2020-10-25 11:52] roji commented on #3164
One more suggestion... Can you please give 5.0.0-preview1 a try? The pool has been largely rewritten there, so if there's a bug in the pool there's a good chance it would be gone. The actual release of 5.0.0 will happen in a few weeks.

[2020-10-25 12:05] roji commented on #3260
Note that after #3266, this is no longer a source of bugs, but we should still consider doing it to clean up the design. Moving out of 5.0.0.

[2020-10-25 12:54] YohDeadfall commented on #3267
In case when it happens, use the debugger to set the static backing field to `null`.

[2020-10-25 13:12] #3248 closed

[2020-10-25 13:27] #3269 closed

[2020-10-25 13:38] roji commented on #3252
Still have to do this for NpgsqlDataReader.{GetFieldValueAsync,IsDBNullAsync} (sequential mode only).

There's also WaitAsync and COPY, but these are covered by other issues.

[2020-10-25 13:46] #3252 closed

[2020-10-25 14:04] roji commented on #2942
@Brar, I've just reenabled testing against PG13 on Windows, and the UnixDomainSocket test fails ([this is an example build](https://github.com/npgsql/npgsql/pull/3272/checks?check_run_id=1305012296)). The error is "The system detected an invalid pointer address in attempting to use a pointer argument in a call".

I'm going to disable that test for now (for Windows), if you have a spare moment you

[2020-10-25 18:53] roji commented on #3129
We're discontinuing net461 and therefore the MSI as well.

[2020-10-25 18:53] #3129 closed

[2020-10-25 18:53] roji commented on #3128
We're discontinuing net461 and therefore the VSIX as well.

[2020-10-25 18:53] #3128 closed

[2020-10-25 18:55] roji commented on #2805
@Brar am moving this to the backlog. While it's good for us to proactively do this at some point, we can also decide to close this and react to any error reports as they come, your call.

[2020-10-25 19:37] roji commented on #2237
@YohDeadfall do you still intend to do this for 5.0? If not, can we please move this to the backlog (or 6.0)?

[2020-10-25 19:39] roji commented on #2026
Duplicate of #3106

[2020-10-25 19:39] #2026 closed

[2020-10-25 19:40] roji commented on #1323
Moving this out of 5.0.

[2020-10-25 19:42] roji commented on #1474
There's also WriteRow which we would have to rethink.

Moving this out of 5.0, we haven't seen that many reports about trouble.

[2020-10-25 19:43] roji commented on #699
@YohDeadfall we're getting close to the 5.0 release - are you or @NinoFloris intending to do this? It would certainly be a shame to have done the work on the PG side (thanks @NinoFloris) but not add support on our side. Please let me know.

[2020-10-25 19:51] roji commented on #3095
@vonzshik recently implemented similar locking for multiplexing boostrap in #3257, this could be similar. But note that here there's a dependency on #3069 which is still waiting for @YohDeadfall.

[2020-10-25 19:52] roji commented on #3187
@vonzshik this is done, right?

[2020-10-25 19:58] roji commented on #2813
@NinoFloris pinging you again here, 5.0 will be released in a few weeks so the window on this is closing fast. Can you let me know if you think you'll have time to look at it?

[2020-10-25 22:23] nickwilliams-codynamic opened #3274 "Connections fail after Connection Idle Timeout reached."
Once the Connection Idle Timeout value has been reached future connections while my app is under load all seem to failed with this exception

[code]

The application is a aspnet core 3.1 web api. The DbContext is registered like thie

[code]

Initially I saw this failure after running a load test for 30 minutes. The API became unresponsive with the above error after 5 minutes. After some trial and

[2020-10-26 01:01] JA-AmbosImmo commented on #3259
@roji
I noticed a very weird behavior, which I cannot explain, but maybe you can (with internal knowledge):

1) I run the API server
2) I call a route which executes an asynchronous ef core operation (e.g. ToListAsync()) and awaits the call
3) I receive the exception mentioned above
4) Now I call a route which executes a synchronous ef core operation (e.g. ToList())
5) I don't receive an exception

[2020-10-26 04:13] vonzshik commented on #2813
@roji I took a look, and, well, it seems to work as intended (more like the documentation isn't entirely correct).
The idea is, we check from time to time to see, how many idle connectors we have. After we've checked enough times, we take a median from the samples, and attempt to prune that much.

As an example, with the `ConnectionIdleLifetime` equal to 10, and the `ConnectionPruningInterval` equ

[2020-10-26 04:14] vonzshik commented on #3187
@roji nope, not yet.

[2020-10-26 07:22] Kharos commented on #2813
I **very strongly** disagree that this should be considered correct behavior. As my test above shows, I am using the connection and returning it to the pool, and two seconds later the provider kills my pooled connection "because it is not in use". This is a synthetic test, but I am seeing in our real-world logs that the pool is closing connections that are in frequent use, causing new connection t

[2020-10-26 08:47] roji commented on #2813
Without disagreeing with your general argument, this is inaccurate - we do not track or examine individual connections in any way, we only sample the aggregate number of connection in use at a given time. If, from multiple samples over a period of time, we see that there are a lot of idle connections, we decide to prune - regardless if the same specific connections are consistently idle or not. Th

[2020-10-26 08:58] roji commented on #3274
@nickwilliams-codynamic as this error seems to be deterministic, any chance you can submit a runnable code sample that reproduces the issue? You can configure Connection Idle Timeout to a much lower value to make it happen quicker.

[2020-10-26 09:01] roji commented on #3259
@JA-AmbosImmo I really don't know... But there's not much I can do without some sort of code sample here. You're going to have to isolate this in a test project of some sort. From past experience, if there's an issue in your code, the process of trying to create the test project may lead you to locate the issue too.

[2020-10-26 09:08] #2495 closed

[2020-10-26 09:18] Kharos commented on #2813
Yes, I over simplified, sorry. And to add, my idea of having a last used timestamp per connection will only work "correctly" if there is a hard guarantee that the connection pool works as a stack (FIFO). If this is not the case, we can end up in the situation where every connection was used in the last period even though only one connection was used at a time, and the connection pool will keep ope

[2020-10-26 09:47] roji opened #3275 "Cancellation/timeout for NpgsqlDataReader.{GetFieldValueAsync,GetIsDBNull}"
This needs to be done for sequential mode only (CommandBehavior.SequentialAccess), since in normal mode entire rows are always buffered in memory.

Also, this is about cancellation/timeout while we are in the *middle* of a DataRow message. Unless I'm missing something, I don't think it is not possible or meaningful to do PostgreSQL cancellation - the DataRow message must be fully read to its end,

[2020-10-26 09:59] Toxantron commented on #2813
MinPoolSize would only be a driveby. The main idea is, to configure a margin of idle connections, that should be maintained. Say you currently use 5 and configure a margin of 2, then 7 remain open. If you request a sixth connection while you receive a margin connection, another one is opened in the background to maintain the margin of two. If load drops and 4 connections become idle, only 2 would

[2020-10-26 09:59] roji commented on #2892
Crazy idea: what if we prepended not just savepoint *creation*, but also rolling back and even releasing?

We can't do this optimization for transactions (i.e. prepend commit/rollback to the next command), since that would defer the end of the transaction by an indeterminate delay. And open transactions keep various resources and locks open. However, the same probably doesn't apply to savepoints (

[2020-10-26 10:13] Kharos commented on #2813
I assume it would result in the same behavior as `MinPoolSize` in case the pool determines that all connections are "idle"? This sounds like a nice generalization of `MinPoolSize` and could result in faster response times at the start of bursts for us, too,

The main drawback that I can see is that if you get into a situation where you have suddenly have a large sustained load, you are putting add

[2020-10-26 11:08] mingazhev commented on #3259
Hello @roji I'm facing the same issue, here's a sample project to reproduce.
Just need to run to get an error:

[https://github.com/mingazhev/efconnectionerror](url)

[2020-10-26 11:18] Toxantron commented on #2813
Yes, it must definitely reespect the MaxPoolSize. I would assume the rules are the following in descending priority:

1. PoolSize >= MinPoolSize **AND** provide MinPoolSize as fast as possible
2. PoolSize <= MaxPoolSize
3. PoolSize = CurrentLoad (Pool Observation) + Margin
4. When idle connections increase, prune while maintaining margin
4. When margin connection is used, create a new one in paral

[2020-10-26 12:14] roji commented on #2813
But have you tried reducing the Connection Pruning Interval as suggested above? The long 10 second default may be a large part of your problem... See the [doc page on connection strings](http://www.npgsql.org/doc/connection-string-parameters.html#pooling).

[2020-10-26 12:30] Kharos commented on #2813
Yes, and I did not see a difference. My current interpretation about the why is that a faster sampling rate cannot help me. Statistically speaking, my connections are idle more often than busy, so usually the median of the samples will see many "idle" connections (they are used quite regularly but the "breaks" where they are in the pool are longer than the time where they are used, often by a fact

[2020-10-26 14:05] roji commented on #2813
@Kharos do you have a concrete proposal in mind for changing the pruning algorithm? We chose a sampling-based approach because we didn't want pruning to impact the hot paths of opening and closing pooled connections. That indeed will always have the disadvantage of missing activity that happens between the samples (like any sampling-based approach), but the alternative seems like it would slow dow

[2020-10-26 14:06] mingazhev commented on #3259
Looks like updating .NET SDK to the latest version fixed that issue for me

[2020-10-26 14:08] mingazhev commented on #3259
I've updated to the latest .NET SDK version and problem was gone

[2020-10-26 14:08] roji commented on #3259
@mingazhev makes sense - that could indeed cause this (targeting net5.0, but using an older SDK where the new method wasn't introduced yet).

@JA-AmbosImmo can you please make sure to use the 5.0.0-rc2 .NET SDK and report back?

[2020-10-26 14:30] JA-AmbosImmo commented on #3259
@roji
This seems to be fixing the issue. I will run some more tests and will get back to you.

[2020-10-26 15:17] Toxantron commented on #2813
@roji what is the timeline on **5.0**? The [milestone](https://github.com/npgsql/npgsql/milestone/62) does not have a due date in Github?

I might have some personal time mid December to mid January to take a look at #2929, given I get some pointers in the right direction. More consistent response times in manufacturing could be my Christmas present to myself.

[2020-10-26 15:21] Kharos commented on #2813
@roji I don't have a concrete proposal yet. I agree with your points, especially that #2929 could be generally useful. That feature would probably be useful for me even if if the pool was fully optimized for my "sparse usage" case, as it will improve the behavior when load suddenly increases.

[2020-10-26 15:29] roji commented on #2813
@Toxantron Npgsql 5.0 will be released at the same time as .NET 5.0, which means November 10th (two weeks away!). This is why I'm pushing out issues out of the release :) I've also updated the milestone with the date, thanks.

However, nothing is stopping us from making a 5.1 release at some point after 5.0, without waiting for .NET 6.0.

[2020-10-26 17:18] patmigliaccio commented on #3095
We had this issue with AWS EB and RDS. The following suggestion worked well initially but noticed that if the app server unexpectedly restarts, the load balancer wouldn't perform the health check prior to delivering incoming requests.

Ultimately, we introduced a very simple query on application start to load the types prior to any traffic being handled as a additional fail-safe.

[2020-10-26 20:22] nickwilliams-codynamic commented on #3274
I'll certainly try to get a minimal example running. It's been tricky as it only seems to occur under load. After looking into it a little more I'm pretty sure I'm hitting these issues:
#3013
#2813

In essense the connections are nearly always in idle - as the API processes quickly. This is causing all connections to get prunned due to the sampling. However, there are a lot of parrallel requests,

[2020-10-27 09:38] vonzshik opened #3277 "Improve connector's cancellation request"
- Make an asynchronous option
- Add a timeout for the whole request

[2020-10-28 13:57] ppilev opened #3280 "TransactionScope not taken into account"
Hello,

I'm struggling with getting transaction scope taken into account. I have a very simple code where my db transaction is wrapped with transaction scope:

[code]

Notice that even the `scope.Complete()` is not called I can still see the changes applied into database.

[2020-10-28 14:53] #3275 closed

[2020-10-28 14:57] roji commented on #3280
You are supposed to either use TransactionScope, or BeginTransaction - but not both. If you want to use TransactionScope, any connection you open within it's block is implicitly "enlisted" in it (i.e. part of the transaction). Or you can call NpgsqlConnection.Enlist and pass the scope. Any operations done via enlisted connections is automatically part of the transaction.

[2020-10-29 02:02] erikmartinessanches opened #3282 "Unable to query beyond a few tenths of rows"
I'm in an .NET Core MVC 3.1 project, using Npgsql.EntityFrameWorkCore.PostgreSQL (3.1.4) and have configured the connection string to a remote postgreSQL DB server. I'm not using a DBContext because I need to write SQL queries. I have a regular action method inside HomeConroller:

[code]

I get countries using
[code]
The error is

[code]
Despite no columns being null in the DB.
However, it works i

[2020-10-29 13:58] roji commented on #3282
Are you 100% sure that you don't have a null value in your database? It looks like you do, and the LIMIT 20 happens to leave out the offending row out of the result set.

If you're positive you don't have any nulls, can you put together a code sample with some table data that reproduces the problem?

[2020-10-29 16:41] loe-lobo opened #3284 "Connection objects on a Pool are not being released/pruned after Idle timeout."
### Steps to reproduce

Update pg_hba.conf to trust the connection.
`host all all all trust`

[code]

### The issue
All objects related to every opened connection are being kept in memory, even after executing GC and waiting a couple of minutes.

As you can verify below, the objects are kept in memory, most of them are moved to GC GEN 2.
![image](https://user-images.githubusercontent.com/36975286/

[2020-10-29 16:58] roji commented on #3284
Thanks for the profiling and the data, I'll look into it.

[2020-10-29 18:04] vonzshik commented on #3284
@roji why do you think something is wrong here? We load `DatabaseInfo` for every different connection string, and keep it forever. It's not really a part of the connection, more of the something like pool.

[2020-10-29 18:51] roji commented on #3284
@vonzshik thanks - you're absolutely right, I missed that the connection string different every time.

@loe-lobo is this behavior a problem for you in an actual, real-world scenario? Because it is very rare to see people using such a large number of different connection strings.

@vonzshik if we want to improve this, we could clear the appropriate NpgsqlDatabaseInfo cache entry when a pool is clea

[2020-10-29 18:57] loe-lobo commented on #3284
Hi @roji, this behavior is a problem in our current real-world scenario.

We are connecting with AWS RDS PostgreSQL using IAM role authentication, which generates a token to be used as the password for the connection. This token has an expiration time of 15 minutes, so, the memory consumption of the system grows over time. Now it's a slow process, it's taking about 3 weeks to reach 80% of memory c

[2020-10-29 18:58] vonzshik commented on #3284
You're talking about pruning, right? Sure, why not.

[2020-10-29 19:05] loe-lobo commented on #3284
I'm not sure if only the NpgsqlDatabaseInfo is enough, there are a few objects that are kept (I don't know the intrinsic of the implementation), like List<Npgsql.PostgresTypes.PostgresTypes>, or Dictionary<String, Npgsql.PostgresTypes.PostgresTypes> that are cached as well. Now if all these objects are referenced by the NpgsqlDatabaseInfo, then it will solve everything.

[2020-10-29 19:06] YohDeadfall commented on #3284
It looks like #3069 which I want to finish for 5.0.0.

[2020-10-29 19:09] vonzshik commented on #3284
While it does fix this exact case, where is still a problem when using multiple databases. Although I'm pretty sure that would be even rarer case.

[2020-10-29 19:11] loe-lobo commented on #3284
@YohDeadfall that is exactly what I was looking for.

[2020-10-29 19:26] roji commented on #3284
Yeah, they are.

@YohDeadfall great point - #3069 will indeed fix this on the type loading side. Users would still have to clear the pools, but the APIs exist for this (as in the code sample above). @vonzshik agree that multiple databases really sounds rare here.

BTW I've been thinking a lot recently about rotating access tokens (for SQL Server). At some point we should think about this more in-d

[2020-10-29 19:26] roji commented on #3284
Duplicate of #3069

[2020-10-29 19:27] roji commented on #3284
Am closing this as a dup of #3069 until we get evidence that people need something beyond that.

[2020-10-29 19:27] #3284 closed

[2020-10-29 19:57] #3095 closed

[2020-10-30 00:15] OleksandrKrutykh opened #3285 "Exception when order of fields in a composite type does not match the order of constructor parameters in CLR type"
### Description
Npgsql [documentation about composite types](https://www.npgsql.org/doc/types/enums_and_composites.html) does not say anything about the requirements to the CLR types that are mapped to Postgres composite types. The problem is that if a CLR type has a constructor, Npgsql seems to assume that the order of constructor parameters is the same as the order of fields in the Postgres comp

[2020-10-30 12:59] roji commented on #3282
Note: cross-posted as https://stackoverflow.com/questions/64583941/unable-to-query-beyond-a-few-rows-with-npgsql-entityframeworkcore-postgresql-3

[2020-10-30 22:40] dstj opened #3287 "JSON interface serialization fails on JSONB column with `TypeHandling.All` if base class has property"
### Steps to reproduce
Project to reproduce the error:  [EFCoreTest5.zip](https://github.com/npgsql/npgsql/files/5467967/EFCoreTest5.zip)

The "key" is here:

[code]
### The issue

Using `jsonb` as column type for an Interface serialization (with JSON.NET's `TypeHandling.All`) fails **if** the class being serialized inherits from a base class containing properties. The cause is that the `$type` is

[2020-10-31 00:53] GoFightNguyen opened #3288 "Connection-level CommandTimeout ignored when async"
### Steps to reproduce

Refer to this [repo](https://github.com/GoFightNguyen/npgsql-timeouts-ignored).

### The issue
When using async methods, the `CommandTimeout` on the connection is not respected.
I expected an exception, but there is not one.

An exception does occur when using the synchronous methods.

### Further technical details

Npgsql version: 4.1.5
PostgreSQL version: 13
Operating sys

[2020-10-31 01:51] erikmartinessanches commented on #3282
I am using the famous mondial sample database, so no nulls there, I've checked in pgAdmin. I was able to get it working and retrieve all rows by making the changes below. Not completely sure why they worked better that the code before, as the my faulty code was pretty close to the sample provided in the docs. As I side note, I encountered a similar problem in a .NET Core WPF project that was also

[2020-10-31 06:42] vonzshik commented on #3282
"Gaza Strip" row has null values.

[2020-10-31 07:59] #3282 closed

[2020-10-31 08:54] ppilev commented on #3280
@roji thank you for your comments.
The real scenario in my case is not so simple - the code where the transaction is created lives in a third-party library, so I intentionally provided a simplistic example of how to reproduce the problem.

What you're saying about the enlisted transactions seems correct but the issue I'm pointing to is quite different.
I've downloaded and debugged the sample with

[2020-10-31 10:30] vonzshik commented on #3280
I just checked, and it seems to be work fine (`Transaction.Current` is not null). While there are multiple `await`s, where is always an `async` flag, which determines if the awaited method executes synchronously or not. And if it does executes synchronously, there should not be any thread context changes.

Could you please post a repro?

[2020-10-31 10:32] vonzshik commented on #3288
Hello!

This will be fixed with the 5.0 release. Could you please check, that everything is working as expected for a preview version?

[2020-10-31 12:32] ppilev commented on #3280
@vonzshik you're right - when looked at the `async` flag it was `true` and it turned out that the third-party code was opening the connection with `OpenAsync`.  In my attempt to repro the issue with the simplified example I missed `Enlisted=true` from the connection string so I ended with false results.

many thanks and apologies for the false alarm.

[2020-10-31 12:46] vonzshik commented on #3280
@ppilev this is something that happens with all of us 😃

Glad we were able to help.

[2020-10-31 12:46] #3280 closed

[2020-10-31 12:54] vonzshik opened #3289 "ExecuteNonQuery with multiplexing on might close the reader multiple times"

[2020-10-31 15:25] roji commented on #3288
Duplicate of #607

[2020-10-31 21:56] GoFightNguyen commented on #3288
@vonzshik I verified that this is functioning correctly in v5.0.0-preview1.
Thanks

[2020-10-31 21:56] #3288 closed

[2020-11-01 09:12] roji opened #3294 "Allow executing a query and consuming the results via the simple protocol"
Npgsql uses the extended protocol almost everywhere, which is fine. However, there are some internal scenarios where we must use the simple protocol, but still consume a resultset (https://github.com/npgsql/npgsql/pull/3281/files#r515468420).

/cc @Brar

[2020-11-01 16:04] #2892 closed

[2020-11-01 16:04] #3262 closed

[2020-11-01 16:05] roji commented on #732
Unfortunately we just didn't have enough time to look into this for 5.0. I think this will be one of the major features for the next version (5.1 or 6.0).

[2020-11-01 16:06] roji commented on #2237
@YohDeadfall I'm going to move this out to vNext. If you get around to doing this for 5.0 we can always move it back.

[2020-11-01 16:25] YohDeadfall commented on #2237
Am fine with it.

[2020-11-01 21:35] Brar commented on #3294
We could even add an API to execute simple protocol queries on logical replication connections.

See the following test that describes the problem:
https://github.com/npgsql/npgsql/blob/c64cbf7b9587d15a51631cedc5c556e9a8bb9686/test/Npgsql.Tests/Replication/CommonLogicalReplicationTests.cs#L120

[2020-11-03 15:47] gagop opened #3295 "NpgsqlConnection and OpenAsync() method causing NullReferenceExeption"
### The issue
Recently I stumbled upon certain problem while communicating with PostgreSQL 13 database hosted on CentOS 8. I cannot use the method OpenAsync() from NpgsqlConnection class to open a connection. Synchronous Open() method works without problems and allows me to create and use the connection Moreover, I don't have any problems with connecting to the database using clients like IntelliJ

[2020-11-04 16:27] #2070 closed

[2020-11-05 10:30] roji commented on #3294
Note: if we do this, then NpgsqlReplicationConnection can inherit from DbConnection - it does support arbitrary simple queries, even if that may not be that useful.

[2020-11-05 10:36] vonzshik commented on #3295
Hello!

The original error seems to be that Npgsql was unable to connect to the server. This behavior should be the same for the synchronous and asynchronous Open.

While it is possible for nre to happen, it should have been swallowed. And in the end, you should have recieved `TimeoutException`.

Could you please test the same error (timeout while connecting to the server) with the synchronous Ope

[2020-11-05 13:30] NAJ8ry commented on #2411
Hi @roji
I have a problem with this. I follow the code from your [link](http://www.npgsql.org/doc/types/nts.html) and inserted:
[code]
It required me to load GeoApi.Core The GeometryServiceProvider requires an interface and the NtsGeometryServices, by definition does not have one:
[code]
The error is:
Cannot convert type 'NetTopologySuite.NtsGeometryServices' to 'GeoAPI.IGeometryServices'

There s

[2020-11-05 13:49] YohDeadfall commented on #2411
We're using the latest available version of `NetTopologySuite.IO.PostGis` which is `2.0.0` and do not reference any other `NetTopologySuite` packages. Makes sense to ask that package maintainers.

/cc @airbreather

[2020-11-05 14:03] airbreather commented on #2411
I'll respond to just the following block, assuming that this is the reason why I'm being tagged:

@NAJ8ry This situation is unsupported.  Specifically, Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite 3.1.4 and NetTopologySuite 2.1.0 should be compatible with one another, but they **should not** be used with GeoAPI or NetTopologySuite.IO.

The NetTopologySuite.IO package also **really** shou

[2020-11-05 14:13] NAJ8ry commented on #2411
Thank you both for your replies. I will start digging into them.
All I am wanting to do is read a shape file and import it into postgis using code first EF .net core.
I need the NetTopologySuite.IO for the ShapefileDataReader. I cannot see a better approach. If this is not to be used what do you recommend?

[2020-11-05 14:16] airbreather commented on #2411
ShapefileDataReader is now in the NetTopologySuite.IO.ShapeFile package.

[2020-11-05 14:16] NAJ8ry commented on #2411
Brilliant I have away ahead.
Thank you.

[2020-11-05 14:37] NAJ8ry commented on #2411
I am not sure I have this right
[code]
I get the error:
The NpgsqlDbType 'Geometry' isn't present in your database. You may need to install an extension or upgrade to a newer version.

[2020-11-05 14:39] YohDeadfall commented on #2411
It means that you disabled type loading in the connection string or PostGIS isn't installed.

[2020-11-05 14:44] NAJ8ry commented on #2411
Connection Sting:
`User ID = postgres;Password = *****;Server = xps;port = 5432;Database=client_upload;Integrated Security=true;Pooling = true;Trust Server Certificate=true;Timeout=60;Keepalive=60`
My migration uses:
`            migrationBuilder.Sql("CREATE EXTENSION IF NOT EXISTS \"postgis\";");`
I use the GIS functions with other db's hosted
Within this db this does not fail:
[code]

[2020-11-05 14:46] NAJ8ry commented on #2411
I also use this:
[code]

[2020-11-05 14:52] NAJ8ry commented on #2411
By removing the UseNpgsql from the builder it all works!
Brilliant.
Thank you all for your quick responses. I really appreciate it.

[2020-11-05 15:30] agworkscode commented on #2897
Same issue here with VS2017.

[2020-11-05 20:08] gagop commented on #3295
Thank you for your answer.
When I use the Open() method connection is established, but in logs we can see the following information:
[code]

[2020-11-05 23:18] JA-AmbosImmo commented on #3259
Updating to the latest .NET SDK and Visual Studio Preview version fixed the issue. Thank you for your time.

[2020-11-05 23:18] #3259 closed

[2020-11-06 11:31] vonzshik commented on #3295
These are the internal exceptions, and they're not really important as long as you do not get them (that is, catch them in your code, not logging them).

2 questions:
1. How long does it take between an attempt to open a connection and catching an exception (for async) or successfully opening it (for sync)?
2. If you change the connection string's `Timeout` property (for example, to 60 seconds), d

[2020-11-06 17:01] gagop commented on #3295
This is true. In the case of the Open() method, they do not interfere with the application.

1. For async on average around 8-9 seconds.
    For sync around 8 seconds.
2. Thank you. It works, however acquiring the connection is quite long - around 21 seconds. It's clear anyway that the fault is somehow related to the connectivity with the VPS.

Thank you for the comment. We can continue the develo

[2020-11-06 18:03] #3285 closed

[2020-11-06 19:48] vonzshik commented on #1519
Fixed by @roji with 88629fd

[2020-11-06 19:48] #1519 closed

[2020-11-07 09:09] roji commented on #3295
@YohDeadfall @vonzshik am I understanding correctly that we're logging an NRE as part of a connection timeout? If so, that should not be happening... We also shouldn't be having an NRE happening even internally...

[2020-11-07 09:13] vonzshik commented on #3295
It's happening here, and was fixed for 5.0.

https://github.com/npgsql/npgsql/blob/981089ba2cf2a91f4e307dc26ae874ede026fb92/src/Npgsql/NpgsqlConnector.cs#L1350-L1358

[2020-11-07 09:17] roji commented on #3295
Thanks @vonzshik.

[2020-11-07 09:52] #3295 closed

[2020-11-07 17:47] roji opened #3300 "Trimming/AOT friendliness in 6.0"
This is a general "epic" tracking issue for making Npgsql more compatible with trimming/AOT. A lot of this is about getting rid of runtime code generation (e.g. via source generators), general reflection use, etc. See also https://github.com/dotnet/efcore/issues/21894 for some general comments on what that means and what needs to be done.

* [x] #3513
* [x] #3507
* [x] #3815
* [x] #3814
* [x] #381

[2020-11-07 22:31] IB38 opened #3301 "Unknown hostname for postgres machine in my LAN"
Hi there,

Im having a trouble connecting to my postgres server hosted on my raspberry pi in my home network.
My development machine is win 10 2004 and raspberry pi is running raspbian with postgres installed via docker.
Usually there is no problems at all, ssh client and postgres clients (pgadmin and beekeeper studio) connect just fine by hostname (pi).

But when i try running my very simple migr

[2020-11-08 14:44] roji opened #3302 "Minor replication test cleanup tasks"
This tracks various minor test tasks scoped out from #3281 in the initial replication implementation.

* [ ] Possible cleanup of tests to remove genericity (https://github.com/npgsql/npgsql/pull/3281#discussion_r515465145)
* [ ] Better identifier management in tests (https://github.com/npgsql/npgsql/pull/3281#discussion_r515465145)
* [ ] Remove useless CancellationToken.None in tests (https://gith

[2020-11-08 15:54] roji commented on #3301
There's not much I can do to help - Npgsql simply calls GetHostAddresses as you can see from the stack trace... There are sometimes some subtle DNS caching issues and stuff like that...

[2020-11-08 19:16] #1520 closed

[2020-11-08 19:47] roji opened #3303 "Consider allowing unmapped enums to be written as int/string"
@mikependon did a lot of comparative work on enum coercion across ADO.NET providers (thanks @mikependon!) - the results can be seen here: https://twitter.com/mike_pendon/status/1325442299862659074.

Bottom line:

* When DbType.String or DbType.Integer are set, enums are properly coerced by all providers except Npgsql
* When DbType isn't set, some inconsistent behavior occurs, e.g. the int value wo

[2020-11-08 21:55] Brar opened #3304 "Replication cancellation doesn't work on pre-10 PostgreSQL"
When testing the new replication implementation against backends older than 10.0 I stumbled upon a bug in our current cancellation implementation where the hard cancellation timeout that we set in `NpgsqlConnector.CancelRequest()` via `ReadBuffer.Cts.CancelAfter(Settings.CancellationTimeout)` gets reset in `NpgsqlReadBuffer.EnsureLong()` because `Cts.Start(cancellationToken)` resets it.

I've temp

[2020-11-08 22:15] roji commented on #3304
I haven't looked into this (it's late), but it sounds like this could be affecting normal non-replication operations as well - it's perfectly possible (and even normal) to receive regular data messages from PG after sending a PG cancellation. Although if that's the case (i.e. no network partition), then there's really no reason not to receive a PG cancellation response and avoid the hard timeout.

[2020-11-08 22:16] roji commented on #3304
(@vonzshik you're of course also welcome to look if you have a good understanding here)

[2020-11-08 22:31] Brar commented on #3304
If you want to reproduce the problem just run my https://github.com/Brar/npgsql/tree/ReplicationForPre10Versions branch against a backend with version <= 9.6.
It'll even output `Debug.WriteLine()` to make clear what's happening.
Mind you that this branch already contains a temporary fix in https://github.com/Brar/npgsql/blob/ReplicationForPre10Versions/src/Npgsql/Util/ResettableCancellationTokenSo

[2020-11-09 00:26] IB38 commented on #3301
Im starting to think there is some evil magic at work.
When i debug migration, set breakpoints in System.Net.Dns.GetHostAddresses and InternalGetHostByName, it resolves just fine and migration finishes successfully, but when i just run the migration it doesnt work.

Real mystery.
Its true that this problem goes beyond npgsql and ef core, weird that it surfaced here. I guess i will just close this

[2020-11-09 05:25] vonzshik commented on #3304
@Brar I'm pretty sure I know that you're talking about. But it is kind of designed this way - it's a safety net against of a network partition. If we did request a cancellation and after that got a response, than network is fine and there is no reason to break the connection.

[2020-11-09 06:31] Brar commented on #3304
Yeah, I agree. At some point the cancellation will come into effect and we'll receive the according message.
The problem is really more that old backends don't honor the server ide cancellation request for replication connections.
In any case we at least need a solution for that case then.

[2020-11-09 06:59] vonzshik commented on #3304
In this case, we can just add another flag to the cancellation request, so if we're working with pg 10-, we immediately cancel the read. I'll be in a few hours at work and will take a look.

[2020-11-09 07:22] koheatel opened #3306 "Npgsql 5 randomly throws exceptions in concurrent scenarios"
### Quick note
I got this issue while working with EF Core but it seems to be related to Npgsql so I decided to create issue in this repository.

### Steps to reproduce
https://gist.github.com/koheatel/32723ac144d002ee8d3bfd07188a00ec

with
[code]

In my case it throws randomly after 1-20 outer loop iterations.

### The issue
Hi! I tried to use preview version of Npgsql with EF Core but bumped int

[2020-11-09 07:24] roji commented on #2009
Punting this to vNext as per discussion, we're out of time.

[2020-11-09 07:25] roji commented on #3060
Moving this out of 5.0

[2020-11-09 07:35] Brar commented on #3304
This probably only needs to be set for replication connections.

[2020-11-09 08:39] roji commented on #3304
Rather than adding another flag, we can deal with this by simply not doing PG cancellation in replication when the backend is old. This is the same as what we already do in various scenario where cancellation simply isn't supported (e.g. authentication).

We already expose NpgsqlConnector.ReadMessageWithoutCancellation for this, in the case of replication we could also expose the currently private

[2020-11-09 08:52] vonzshik commented on #3306
Hello, and thank you for raising this issue! Can confirm.

@roji - when efcore commits the transaction, after that it forcefuly closes the connection. And after that, it disposes the transaction (which connector is already in the pool). Ideas?

[2020-11-09 09:20] roji opened #3307 "Consider disabling localsinit where it makes sense for perf"
https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-9#performance-and-interop

[2020-11-09 10:14] roji commented on #3306
@vonzshik can you point to the EF code you're looking at? If this is indeed the behavior, it seems impossible to solve without dropping the recycling.

[2020-11-09 10:19] vonzshik commented on #3306
[Here, it's called after a successful commit and rollback](https://github.com/dotnet/efcore/blob/29f50d6a764de590e97838a0e6382bf97ee3939d/src/EFCore.Relational/Storage/RelationalTransaction.cs#L587-L601)

[2020-11-09 10:44] roji commented on #3306
Yeah, seems so...

I have one last trick. If a connection is closed/disposed and there's an undisposed transaction, at that point only we could "detach" that instance from the connector, since it's now owned by the user (who will dispose at some later point). But in the normal situation, where the transaction is disposed, there's no need to allocate. This would mean that we make NpgsqlConnector.Tr

[2020-11-09 10:53] roji commented on #3304
The problem isn't with ReadMessage/ReadMessageWithoutCancellation, it's that replication registers to call NpgsqlConnector.CancelRequest which always does PG cancellation, and that has no effect on replication in older DBs.

We can register only for PG >= 10 and pass the token down for PG < 10, but this is quite a hacky solution. Will think a bit about it.

[2020-11-09 11:06] roji opened #3309 "Make COPY fully async"
#1632 made most of COPY async, but there are some corners left, e.g. when calling BeginBinaryExport, sync I/O is performed.

[2020-11-09 11:18] Brar commented on #3304
We could add a `dontReset' flag to `NpgsqlConnector.CancelRequest()` which we'd then pass on to `ResettableCancellationTokenSource.CancelAfter()` and then do something similar to my initial ugly hack.

IMO this would only be worthwhile if there are use cases beyond replication.

[2020-11-09 11:35] vonzshik commented on #3306
@roji it does work. I've submited a pr #3310

[2020-11-09 12:32] #3304 closed

[2020-11-09 13:39] BiggyOC commented on #992
I'm facing the same issue right now. I'm trying to use the ADO.NET Destination in SSIS with the npgsql driver. But there's always the issue @anushka-pg described. I'm getting the following error:

"[ADO NET Destination [2]] Error: ERROR: 42703: column "p1" does not exist"

But there is no column p1, not in the source, not in the destination, nor in the derived column.

@anushka-pg did you resolve

[2020-11-09 18:00] fabienDaou opened #3515 "Error when inserting a row in a table with a jsonb column and Npgsql.Json.Net."
Hello!

___
Package versions:
[code]
This issue only happens in specific circumstances with specific inputs.

As you can see in the test, I have a table with one Id column and one jsonb column.
I configure Npgsql to use the JsonNet serializer.

When running the test with "Enable just my code" unchecked and all CLR expections checked, you'll notice an exception being raised with this error message

[2020-11-09 19:50] roji commented on #992
There is most likely a *parameter* placeholder called p1, e.g. `SELECT * FROM blogs WHERE name=@p1`, with the parameter not getting set in code somehow. But it's impossible to be sure without some sort of code sample.

[2020-11-09 20:56] Brar commented on #2942
Ok, at least I can tell that I can reproduce the problem locally at my machine for now.
I'll have to do further investigations.
This used to work with prereleases so there might have been change at the backend side.

[2020-11-09 21:36] Brar commented on #2942
It turns out that this seems to be a problem with our own `UnixEndpoint` implementation.
The problem disappears if I switch to using [UnixDomainSocketEndPoint](https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.unixdomainsocketendpoint?view=netstandard-2.1) which exists in .NET Standard 2.1 and above.

I think at some point we should get rid of our own implementation `UnixEndpoint` any

[2020-11-09 21:52] Brar commented on #2942
I've created https://github.com/npgsql/npgsql/pull/3314 to show how the solution I proposed above could look like.

[2020-11-09 22:46] roji opened #3315 "Make lambdas static to reduce allocations"
We have various capturing lambdas in the codebase, including some via the Defer pattern. Go over these and convert to C# 9 static lambdas where it makes sense, to reduce allocations.

[2020-11-09 22:59] roji commented on #2942
I'm totally fine with #3314. If we get a complaint from someone trying to use Unix domain sockets on Windows with netstandard2.0 we can address it then.

Another option is to do as you propose, and simply declare Unix domain sockets unsupported on netstandard2.0, though things seem to work just fine with Linux - so not sure there's a good reason to take this away.

[2020-11-10 05:56] Brar commented on #3102
Closed  via #3313

[2020-11-10 05:56] #3102 closed

[2020-11-10 06:06] ahofman opened #3316 "Unsupported pkt type 80 when querying pool metrics from pgBouncer"
### Steps to reproduce

Connect to a pgbouncer instance, connect to the pgbouncer psuedo database exposed by pgbouncer.
Execute "SHOW POOLS;" against the pgbouncer database using an Npgsql command.

### The issue

pgbouncer returns Unsupported pkt type 80.
It should return the results of the SHOW POOLS command.

Pkt type 80 is 'P', or Parse.
It seems that pgbouncer simply does not implement the Pa

[2020-11-10 06:12] #1328 closed

[2020-11-10 06:33] #3306 closed

[2020-11-10 06:36] YohDeadfall commented on #3316
The driver doesn't support the simple protocol, so there's no way to achieve what you want. The feature may be available in the next major release.

Closing as duplicate of #3294.

[2020-11-10 06:36] #3316 closed

[2020-11-10 06:36] roji commented on #3316
Duplicate of #3294

[2020-11-10 06:46] ahofman commented on #3316
Thankyou @roji and @YohDeadfall .
Can you recommend another postgres client for .net core that does what I want?
Or do I need to look outside of the .net core ecosystem?

[2020-11-10 07:00] roji commented on #3316
I think that if you use Npgsql 2.2 (which is really ancient and unsupported), unprepared commands will run using the simple protocol, so maybe that's a way to do it. You may also want to take a look at the [Devart providers](https://www.devart.com/).

[2020-11-10 13:06] #699 closed

[2020-11-10 14:20] roji opened #3320 "Supporting mapping NodaTime Duration to PostgreSQL interval"
Completes EF Core support in https://github.com/npgsql/efcore.pg/issues/1565

Note that reading PostgreSQL intervals with months or years into a NodaTime Duration is not supported - the Period type is there for that.

[2020-11-10 16:51] #2942 closed

[2020-11-10 17:14] monty241 commented on #3261
Same here on 4.1.5. Not reproducible, but have logged first chance exceptions and data on exceptions.

First open a connection (not reproducible, once out of every so many hundred connection it goes wrong):
[code]
An exception occurs:
[code]
Data on exception:
[code]

[2020-11-10 17:15] monty241 commented on #3261
The socket exception bubbles up and a `NullReference` happens:
[code]
with supplemental data:
[code]

The ultimate result is:
[code]

[2020-11-10 17:19] monty241 commented on #3261
Looking at the source code, most code in Cleanup of NpgsqlConnector handles null references already. Given that it occurs in a highly parallel environment, for our scenario we can not exclude another thread sharing state somewhere. But (without looking a definitions), for instance `CurrentReader.Command.State` might fail (or not, again, I did not look at source of `Command`).

[2020-11-10 17:26] vonzshik commented on #3261
@monty241 there was a possible nre, if there was an error while opening a connection. Was fixed for 4.1.6 with 7c37700

[2020-11-10 17:28] YohDeadfall commented on #3261
And 4.1.6 should be at the same time as 5.0.0. Both versions are around the corner (final fixes and preparations).

[2020-11-10 17:28] monty241 commented on #3261
Great!

[2020-11-11 11:07] roji commented on #3277
Thinking about this again after refactoring cancellation...

PerformPostgresCancellation should probably always return immediately. Since PG cancellation isn't guaranteed to work, is completely out-of-band (on a different connection), and isn't support to throw any exceptions, there is no reason to wait for the send to complete. We can simply perform the operation asynchronously and not await it.

[2020-11-11 11:12] roji commented on #3277
One note on the above: not waiting for the cancellation attempt to complete could mean that we miss a write exception, which does affect our flow a bit. However, that doesn't seem important - in the worse case, we'll think a cancellation attempt succeeded when it hasn't, and wait two seconds before doing hard cancellation; that seems reasonable.

[2020-11-11 11:12] vonzshik commented on #3277
Wouldn't it lead to possible concurency issue, when the request is send at the end of a query, and it cancels something else?

[2020-11-11 11:14] roji commented on #3277
This can always happen regardless of this, no?

[2020-11-11 11:14] roji commented on #3277
https://www.postgresql.org/message-id/CADT4RqD2h199isLd7wDVm_ogBnWn0FgKtYBqLEdn-QZh3bGP6A%40mail.gmail.com

[2020-11-11 11:16] vonzshik commented on #3277
Yeah, I saw this.

Not really - we wait, until pg closes the cancellation connection.

[2020-11-11 11:17] vonzshik commented on #3277
But it can happen for the `NpgsqlCommand.Cancel`.

[2020-11-11 11:24] roji commented on #3277
But how does that prevent race conditions? The cancellation token (or NpgsqlCommand.Cancel) can be called at any time, from any thread, and nothing guarantees when the cancel packet arrives at PG or when it applies it... Also, it's the user's responsibility to properly wait for the 1st command to finish (either normally or with a cancellation exception), before a second command is sent, no?

(I kn

[2020-11-11 11:25] roji commented on #3277
OK, yeah - I forgot that we wait for PG to actually close the connection, so it's reasonable to expect that the cancellation has already been applied. I will scope this out of my refactor for now.

[2020-11-11 15:34] calexander3 commented on #443
I could use some advice on how to deal with this change. I am calling the GetValues method on NpgsqlDataReader with an array of object. I am accessing the method through the IDataReader interface so I only have access to the methods on that interface. What do I need to change?

[code]

[2020-11-11 15:36] YohDeadfall commented on #443
Are you using the preview version of the driver?

[2020-11-11 15:42] calexander3 commented on #443
@YohDeadfall yes

[2020-11-11 16:18] Brar commented on #443
If I remeber things correctly, there's little you can do about it if your array contains null values and you have to use `GetValues()`.
You've become a victim of our most recent change to the nullable array logic which happened in https://github.com/npgsql/npgsql/pull/2914 as a consequence of https://github.com/npgsql/npgsql/issues/443#issuecomment-608142251.
While what you do was supported in the

[2020-11-11 16:31] Brar commented on #443
@roji, in https://github.com/npgsql/npgsql/issues/443#issuecomment-346830037 you wrote that you hate adding connection string parameters to tweak behavior. We recently added connection string parameters like `CancellationTimeout` that have some theoretical value but we don't think will ever get used.
I think we should revisit this question because it looks like there actually are users who run int

[2020-11-11 18:32] calexander3 commented on #443
I like the idea of this change but I think the implementation of  `NpgsqlDataReader.GetValues` should be updated so that it uses `GetFieldValue<T>()`

[2020-11-11 18:35] YohDeadfall commented on #443
Don't like connection string parameters especially for type handling. The most preferrable way in my opinion is to return an array of the right type when `GetValue` is called.

[2020-11-11 18:38] Brar commented on #443
Can you elaborate?
What would `T` be in that case?
Or do you mean adding a non-standard `GetFieldValues<T>()`?

[2020-11-11 18:47] calexander3 commented on #443
What would T be in that case?
Or do you mean adding a non-standard GetFieldValues<T>()?

Yeah I guess it would have to be something like
[code]

I think @YohDeadfall 's suggestion was better though.

[2020-11-11 18:47] Brar commented on #443
You mean to determine the right type at runtime and return `int[]` or `int?[]` depending on the question whether the array actually does contain `null` values or not?
That was the very initial implementation and we discard it because of the somewhat unpredictable/surprising runtime behavior.
I'm on my phone but the discussion must be somewhere upthread.
It really feels like we're circling here bec

[2020-11-11 18:53] YohDeadfall commented on #443
Unpredictable and breaks the current behavior, but the user haven't specified the required type. Therefore, it's fine to determine the right one. Anyway, we won't be able to finish it for 5.0. To late for such changes.

[2020-11-11 19:09] Brar commented on #443
Since all those variants have already been implemented and I already know how where to do that I wouldn't necessarily say so.
The major obstacle seems do be to agree on what's the correct implementation here.

[2020-11-11 19:14] YohDeadfall commented on #443
Previously we broke a lot of code having good intentions and reverted changes back. Right now while the release is around the corner changing something isn't a good idea, but what we can do is to keep `GetValue` behavior untouched. Can make a fix in a few hours.

[2020-11-11 19:27] #3320 closed

[2020-11-11 20:51] roji commented on #443
Here's my view...

First of all, assuming we leave things as they are, it's pretty trivial to work around this by writing a MyGetValues extension method which checks the type and calls `GetFieldValue<T>` as appropriate.

I tend to agree with @YohDeadfall here; it's true that we recently added CancellationTimeout, but that's a very different case. I do think we could consider a connection string pa

[2020-11-11 21:05] calexander3 commented on #443
Our product can connect to anyone's database so any type is possible. If I understand this correctly, I would need a case statement for every possible postgres type? Also to give more context on why we are using IDataReader methods, we are using the IDataReader as an abstraction so we can use the same code on multiple database types.

[2020-11-11 21:07] YohDeadfall commented on #443
Interfaces in ADO.NET is a dead abstraction (the first version), while abstract classes is the second generation and they are more preferrable. All providers inherit from classes.

[2020-11-11 21:52] Brar commented on #443
I'd say the scenario I predicted in https://github.com/npgsql/npgsql/issues/443#issuecomment-347032383 is manifesting here.
There are actual users out there that use the abstractions and as long as we implement them (why do we implement the interfaces and derive from the base classes after all?) we shouldn't tell them not to do so.

I understand that what I described in https://github.com/npgsql/n

[2020-11-11 22:11] roji commented on #443
@Brar I agree with everything you're saying, but what are our options here? To recapitulate:

* Make `int?[]` the default again. This would work for any database value, but would break all existing code, and is probably not what most users want (as in https://github.com/npgsql/npgsql/issues/443#issuecomment-608142251).
* Return `int[]` or `int?[]` based on the database value - I wrote above why I

[2020-11-12 07:57] YohDeadfall opened #3324 "Registering and resetting database info factories don't prune cached info"
It isn't a critical problem since factories should be registered only on application startup, but in case when it happens somewhere later it causes problems since a new connection reuses an existing info when a new factory registered or they are reset.

Discovered during work on #3069.

[2020-11-12 11:41] #3324 closed

[2020-11-12 12:54] AndiRudi opened #3328 "Exception using EventCounters"
I am currently implementing EventCounters and while doing so noticed an Exception related to EventCounters

[code]

I think the cause could be related to this comment https://github.com/microsoft/service-fabric-issues/issues/72#issuecomment-253859810

I am using Npgsql.EntityFrameworkCore.PostgreSQ:5.0.0-rc2

Not sure if this is the correct place to post this, if not let me know...

[2020-11-12 14:09] YohDeadfall opened #3326 "Keep alive doesn't work for new physical connections when no query executed on it"
The timer is scheduled only on ended user actions, but for new connections when the database info exists (previously cached or it's a minimal info when no types loaded) it's not started.

[2020-11-12 16:53] roji commented on #3328
@vonzshik you recently looked at the event counters... Any ideas?

[2020-11-12 17:07] vonzshik commented on #3328
@roji pretty sure it was fixed with #3297 (this is the error I was getting while event source methods were static).

[2020-11-12 17:10] roji commented on #3328
OK cool, will close it as a duplicate of that then.

[2020-11-12 17:10] roji commented on #3328
Duplicate of #3297

[2020-11-12 17:10] #3328 closed

[2020-11-12 17:11] roji commented on #3328
@AndiRudi the fix will be out with the final release of EFCore.PG 5.0.0 in a few days. In the meantime you can try out the latest CI build to confirm that it works well ([see the instructions](http://www.npgsql.org/doc/installation.html#unstable-packages)).

[2020-11-13 12:30] vonzshik opened #3331 "NpgsqlDatabaseInfo.RegisterFactory can break the concurrent NpgsqlDatabaseInfo.Load"

[2020-11-13 14:13] #3331 closed

[2020-11-13 14:21] #3326 closed

[2020-11-13 14:44] #2372 closed

[2020-11-13 14:45] roji commented on #3187
@vonzshik I propose we leave this for 6.0 - we will have cancellation-related leftovers in any way, does that sound OK?

[2020-11-13 14:45] roji commented on #3277
@vonzshik I propose we leave this for 6.0 - we will have cancellation-related leftovers in any way, does that sound OK?

[2020-11-13 14:50] vonzshik commented on #3187
ok